[2019-11-06 15:48] jeffredodd commented on #4723
@jordanlapointe Is your modal not existing outside of the React Root in a Portal? Also upon looking I see this issue is also present on the docs site. @jquense I can try to tackle this bug. 🐛.

I'm guessing its an issue in the Overlays repository.

[2019-11-06 15:56] jquense commented on #4723
I don't think this is still a bug: https://react-bootstrap.netlify.com/components/modal/ shows that the modal content is not hidden, nor is any of it's ancestors. I think this was fixed upstream already

[2019-11-06 17:06] taion commented on #4732
tricky on our end, though – we can't necessarily tell how many buttons are in a group

[2019-11-06 17:17] #3967 closed

[2019-11-06 17:17] taion commented on #4446
we updated #4194 to include carousel, so this is now a dupe

[2019-11-06 17:17] #4446 closed

[2019-11-06 17:18] taion commented on #4781
dupe of https://github.com/react-bootstrap/react-bootstrap/issues/3654

[2019-11-06 17:18] #4781 closed

[2019-11-06 17:50] ri8ika commented on #4781
What's the solution for this? I read linked and related links but not able to fix this issue.

[2019-11-06 17:53] jeffredodd commented on #4723
Looks good! Thanks for clarifying @jquense

[2019-11-06 18:25] jordanlapointe commented on #4723
@jquense Could you validate/sanity check the sandbox example below? It's the same react-bootstrap version and same code as the example in the docs, but it has the aria-hidden bug behavior. The one in the docs works as expected.

https://codesandbox.io/s/code-sandbox-examples-jvf8v

Tested using MacOS Safari and VoiceOver

[2019-11-06 23:16] jquense commented on #4723
The netlify docs is actually from master so it's not the same as beta 14 we need to push a new release

[2019-11-07 06:12] gricey432 commented on #2446
I'm with @crobinson42 on this one, afaik this isn't a requirement of bootstrap, and "meaningful group of users" is very subjective; my current use-case for example is a small, known group of users who don't need this.

Is there a recommended way to create unique IDs for react-bootstrap? The example in the docs will quickly fail if you're making reusable components.

[2019-11-07 06:16] gricey432 commented on #2446
Linking to #1426

[2019-11-07 06:21] gricey432 opened #4786 "Make assistive technologies ids optional"
There have been past issues: #1426, #2446 about an old warning which encouraged you to use the `id` property on components to allow for accessibility. However, now using typescript and the included types, this becomes a compile blocker.

I've personally run into this upgrading from 0.32 to 1.0 (going from the types on definitelytyped to the provided ones here) on a site which I know the user base

[2019-11-07 14:09] indranil-tiwary commented on #4764
Hey @mxschmitt. I would love to contribute starting with this. Please assign the task and let me know what to write in place of `direction={direction}` and any other changes you need me to do.
I will setup the repo and start working on it, shall create a PR as soon as I get the suggested changes.

[2019-11-07 14:34] jokklan opened #4787 "Allow custom transitions for modals"
## Is your feature request related to a problem? Please describe

I'm trying to make a custom transition for the modal, which is possible with the Modal component from react-overlay (react-overlay/Modal), but not the bootstrap specific implementation in react-bootstrap (react-bootstrap/Modal).

## Describe the solution you'd like

I think that the best solution would be to forward props like trans

[2019-11-07 15:27] taion commented on #4786
Can you locally override the props interfaces to make `id` non-required?

[2019-11-07 15:29] taion commented on #4787
We do still want the `animation` boolean prop to work, though.

That said I wouldn't be opposed to also allow customizing the transitions here. @jquense wdyt?

[2019-11-07 20:26] praxiz commented on #3944
Old post but for the search engine visitors:
`import { Link } from 'react-router-dom'`
Then change
`<Nav.Link href="/"> `
to
`<Nav.Link as={Link} to="/">`

[2019-11-08 01:10] crscaballero commented on #2091
it's just me or this issue is still happening?

[2019-11-08 01:48] gricey432 commented on #4786
Yeah, you can override them like this:

[code]

I guess the issue is that I think this was OK as a warning but seems a bit much to make it an exception if not needed.

[2019-11-08 04:12] taion commented on #4786
That seems like a semantically appropriate way to state in your project that the `id`s aren't required, then.

[2019-11-08 04:12] #4786 closed

[2019-11-08 04:19] gricey432 commented on #4786
So to confirm - not using accessibility *should* be an exception rather than just a warning like it used to be?

[2019-11-08 05:44] hsluoyz opened #4788 "Progress bar is very slow"
[code]

`this.state.events` is an array which will be appended based on mouse move event. But I found there's a huge delay for progress bar to grow. Any way to make it faster?

[2019-11-08 08:53] LucaDallavalleMazzocchi commented on #2398
Year: 2019.
Still no solution.

[2019-11-08 14:00] taion commented on #4786
It _was_ a `propTypes` failure before: https://github.com/react-bootstrap/prop-types-extra/blob/779984a9c5a6b3650e70f545017616723592d48c/src/isRequiredForA11y.js#L8-L14

[2019-11-08 14:02] taion commented on #4788
This is purely in your code... the progress bar is just a simple component that takes in those numbers

[2019-11-08 14:02] #4788 closed

[2019-11-08 18:14] ddelrio1986 commented on #3154
Hitting enter, space, and many other tested keys do not get it to open or close.

[2019-11-08 18:37] bennymeier commented on #4131
I also had trouble with integrating NextJS Link within the Navbar.
My approach was:
`<Nav.Link as="span"><Link href="/index"><a>Home</a></Link></Nav.Link>`

[2019-11-08 19:42] taion commented on #4131
You'd probably want `<Nav.Link as={Link}>`

[2019-11-09 17:08] jeffredodd commented on #4767
Would it be worth perhaps automatically generating an id attribute on a `<Switch>` when it is not provided by a consumer so that this is no longer an issue? Perhaps using a library like `nanoid` to set a random id as a default would allow this to be a non-issue in the long run while enhancing accessibility?

[2019-11-09 17:52] alex789 commented on #3965
I was stuck on this issue for ages but figured out if I installed react (gatsby) using cmd instead of git bash I didn't have the problem.

I was also getting some weird errors that 'There are multiple modules with names that only differ in casing' so I think maybe bash was installing react more than once with different casing in the path.

This thread tipped me off to it: https://github.com/creati

[2019-11-10 08:43] Romanior opened #4790 "0.33.0 version, aria-hidden=true is applied to modal (role="dialog") on open state."
## Describe the bug

0.33 introduced critical a11y error, when opening dialog(modal) `aria-hidden=true` is applied to it.

## To Reproduce

Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/serene-chaplygin-xdstw?fontsize=14
2. Click on 'Launch demo modal'
3. Inspect DOM, and find div with role=modal and aria-hidden=true

## Reproducible Example

Minimal example by using [CodeSan

[2019-11-11 02:58] zhangyu0218 opened #4791 "'useAccordionToggle' only refers to a type, but is being used as a value here."
I found this problem by introducing the example given by the official website
![image](https://user-images.githubusercontent.com/33249149/68557783-d8014980-0471-11ea-9c2c-539aedc0cc28.png)
I checked the source code and found that it was indeed a type
![image](https://user-images.githubusercontent.com/33249149/68557839-0f6ff600-0472-11ea-87fe-3a2c26b07d37.png)
我引入的版本是"react-bootstrap": "1.0.0-beta.

[2019-11-11 02:59] #4791 closed

[2019-11-11 03:02] zhangyu0218 opened #4792 "'useAccordionToggle' only refers to a type, but is being used as a value here"
I found a problem when I introduced the example from the official website
![image](https://user-images.githubusercontent.com/33249149/68557968-83120300-0472-11ea-9619-ee65972c379b.png)

I checked the source code and found that it was indeed a type
![image](https://user-images.githubusercontent.com/33249149/68557992-9c1ab400-0472-11ea-9441-f983e7bdec2a.png)
The version I introduced was "react-boots

[2019-11-11 09:51] epavan opened #4805 "UNSAFE_componentWillReceiveProps and UNSAFE_componentWillMount (0.32.4)"
Hi guys, is there any plan to fix this in 0.32.4 (Bootstrap 3)?
Thanks.

[2019-11-11 15:44] taion commented on #4805
Can you clarify?

[2019-11-11 16:09] taion commented on #4792
Ah, we probably shouldn't have declared that as an interface. Feel free to send in a PR to fix.

[2019-11-11 17:00] WilsonCWong opened #4806 "Getting state of Navbar.Toggle?"
Hi,

Is there a way to detect if the toggle is opened or not? Attaching a listener to `onClick` works fine for opening it, but when closing it, the collapse has a bit of a transition before it fully closes so it stops working.

I'm trying to hide my dropdown when it is collapsed. The only other way I can think of is using media queries, but I wanted to know if there's another method I can use beca

[2019-11-11 17:39] epavan commented on #4805
After upgrading to react 16.8.X, there's a warning in devTools console which says that some lifecycle methods are deprecated (componentWillReceiveProps and componentWillMount). I was wondering if there's a plan to upgrade 0.32.4 to avoid them.

[2019-11-11 18:40] taion commented on #4805
They're fixed in v0.33.x.

[2019-11-11 18:40] #4805 closed

[2019-11-11 18:47] epavan commented on #4805
Which will be released when?

[2019-11-11 20:13] taion commented on #4805
it's been out for nearly 2 weeks now... https://www.npmjs.com/package/react-bootstrap/v/0.33.0

[2019-11-12 12:15] H-a-w-k opened #4809 "Form.Check should have title attribute"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Ad

[2019-11-12 16:27] amannv2 commented on #2320
Assign a unique key to each element.

[2019-11-12 16:58] taion commented on #4809
it does

[2019-11-12 16:58] #4809 closed

[2019-11-12 17:29] H-a-w-k commented on #4809
Title is only on label, not on input

[2019-11-13 11:36] mackbrowne commented on #2490
+ 1.  Just came here looking for this too

[2019-11-13 17:50] rrriki commented on #4792
I left a PR with a fix for this issue: https://github.com/react-bootstrap/react-bootstrap/pull/4814

[2019-11-14 14:03] fbessou opened #4819 "`Dropdown.Toggle` incorrectly expects `onClick` prop when using a custom element."
## Describe the bug

When using a custom component in a `Dropdown.Toggle`, if the custom element takes an onClick property (which should be the case), the type checker emits an error telling that an `onClick` prop must be provided to `Dropdown.Toggle`. This message is incorrect since it is the responsibility of `Dropdown.Toggle` to call our custom component with the `onClick` prop.

## To Reproduc

[2019-11-14 14:58] shu-bham commented on #4806
You can define a state variable as `showDropdown : false`. Attach a `toggleHandler` method to the Toggle button that will toggle the value of `showDropdown`. Pass `showDropdown` as props to your Dropdown Component and conditionally render it based on value of `showDropdown`.

[2019-11-14 20:46] AAlvarez90 commented on #2091
Still happening.

[2019-11-14 20:50] AAlvarez90 commented on #2091
@crscaballero It's not happening any more. Set the `defaultValue` property on the `FormControl` element and make sure the property actually gets there. I had this issue and turns out the property was not getting down to the actual component. In addition, make also sure that the default value is compatible with the value in the `value` property of the `option` element

[2019-11-15 06:02] anujsinghwd opened #4822 "UNMET PEER DEPENDENCY jquery@1.9.1 - 3"
+-- bootstrap@4.3.1  extraneous
+-- deck.gl@7.3.4
+-- UNMET PEER DEPENDENCY jquery@1.9.1 - 3
+-- nebula.gl@0.16.0
+-- react-bootstrap@1.0.0-beta.14  extraneous
`-- react-map-gl-draw@0.16.1

npm WARN optional Skipping failed optional dependency /jest-haste-map/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.2.9
npm WARN optional Skipping failed option

[2019-11-15 06:05] taion commented on #4822
there's no direct dependency of any sort on jquery here

[2019-11-15 06:05] #4822 closed

[2019-11-15 17:31] atsolberg opened #4828 "NavDropdown does not pass `id` or other props to DropdownToggle"
## Describe the bug

Trying to add an id prop to top level navs items.  The 'id' prop and other data attributes are ignored.

## To Reproduce

You can see this on the documentation examples for the Navbar component.
1. Go to https://react-bootstrap.github.io/components/navbar/#navbars-mobile-friendly
2. Notice the `<NavDropdown>` in the example code has an 'id' attribute.
3. Inspect the example ui

[2019-11-15 19:27] taion commented on #4828
dupe of https://github.com/react-bootstrap/react-bootstrap/issues/3940

[2019-11-15 19:27] #4828 closed

[2019-11-17 16:21] poveilleux commented on #3310
I does not seem to be fixed, however, I was able to make it work with the following piece of code. The `as={NavLink}` gives the proper styling to the Dropdown.Toggle.
[code]

[2019-11-17 17:03] normanrz opened #4830 "New beta release"
Thanks for all the great work on v1!
There have been many fixes since v1.0.0-beta.14. Are you planning on releasing a new beta release anytime soon?

[2019-11-18 03:13] taion commented on #4830
taking a look now

[2019-11-18 03:19] taion commented on #4830
published beta 15

[2019-11-18 03:19] #4830 closed

[2019-11-18 09:32] fbessou commented on #4819
Would be nice to have a way to declare which properties are passed to the custom element by the DropdownToggle.

Currently, the DropdownToggle has the following type:

[code]

Maybe a solution could be to add a third parameter to `BsPrefixComponent` to specify which props of the custom element should NOT be passed to `Dropdown.Toggle` (as they are already passed by the `DropdownToggle` component).

[2019-11-18 10:42] adizka commented on #4819
Have the same issue:

[2019-11-18 14:03] flolege commented on #4819
Same here. We basically followed the guide under https://react-bootstrap.github.io/components/dropdowns/#custom-dropdown-components.

We get the same error:
**Uncaught Invariant Violation: DropdownToggle injected a ref to a provided as component that resolved to a component instance instead of a DOM element. Use React.forwardRef to provide the injected ref to the class component as a prop in order

[2019-11-18 15:44] fbessou commented on #4819
@adizka, @flolege :  :thinking:  I don't think that your problems are related to this issue.
I suppose that your error occurs at run time, while the error I am mentioning is happening at transpile time during static type checking by typescript. :slightly_smiling_face:

[2019-11-18 16:01] flolege commented on #4819
@fbessou You are probably right :)

[2019-11-18 16:03] flolege opened #4841 "Uncaught Invariant Violation: DropdownToggle injected a ref to a provided as component"
We basically followed the guide under https://react-bootstrap.github.io/components/dropdowns/#custom-dropdown-components.

We get the this error:
Uncaught Invariant Violation: DropdownToggle injected a ref to a provided as component that resolved to a component instance instead of a DOM element. Use React.forwardRef to provide the injected ref to the class component as a prop in order to pass it d

[2019-11-18 17:34] taion opened #4842 "Switch to Renovate"
Tired of all the Dependabot spam. Trying to set up Renovate now.

[2019-11-19 16:50] eG-dev commented on #4841
We are running into the same issue at the moment. It came up with the newly released version '1.0.0-beta.15'

[2019-11-19 17:33] jquense commented on #4841
The error is fairly clear i think folks? Dropdown Toggle and a few others require that their refs resolve to DOM nodes, not component instances. We've not fixed the RB docs ourselves yet to adjust for the change, but it's straightforward. Use `forwardRef()` to put the ref on the DOM node

[2019-11-19 20:17] gino8080 commented on #3464
it is possible to show Toast calling it by code ?

I mean something like Toast.show({...options}) ?

[2019-11-19 23:15] mxschmitt commented on #3464
@gino8080 currently not, but a simple wrapper for showing and automatically timing out them would be kinda useful for some users.

[2019-11-20 15:39] flolege commented on #4841
It is really not clear for a React/Javascript Beginner. Could you please provide an example?

[2019-11-20 16:40] jquense commented on #4841
The docs have been updated to reflect the right way to use custom components: https://react-bootstrap.github.io/components/dropdowns/#custom-dropdown-components

[2019-11-20 16:40] #4841 closed

[2019-11-20 18:27] fuzzbomb commented on #1300
WHY do you want to prevent focus when a mouse user clicks? No-one has mentioned a use case here.

@jquense is correct. This is hostile to users.

Programatically preventing a button from gaining focus when clicked, likely qualifies as a failure of WCAG success criterion [2.5.6 Concurrent Input Mechanisms](https://www.w3.org/WAI/WCAG21/Understanding/concurrent-input-mechanisms). _"Users should be a

[2019-11-20 20:00] rosensteinsamuel1 opened #4849 "Add CardColumns to API documentation"
This is merely a documentation suggestion. The CardColoumns component isn't mentioned in the API documentation at the bottom of the Cards page (https://react-bootstrap.netlify.com/components/cards/). I would love to add this if it's needed.

[2019-11-20 20:17] taion commented on #4849
We'd be happy to take a PR adding this!

[2019-11-20 23:12] procarrera opened #4850 "Container margins"
Hello guys,
How can I remove the margins of Container component?
I am trying like this, but didnt work:

[code]

Would be happy if anyone could help me. thanks

[2019-11-21 01:17] taion commented on #4850
`<Container>` passes through its `style` component to the underlying `<div>`. Check with the React debugger and the inspector to see which styles get applied, and which don't. What you end up rendering there is the same as something like `<div className="container-fluid" style={{ ... }}>` with `style` as specified.

[2019-11-21 01:17] #4850 closed

[2019-11-21 03:46] rebeccacoltaire opened #4851 "TextArea does not get defaultValue"
## Describe the bug

When rendering a `Form.Control` as a textarea - `defaultValue` does not insert the value into the textarea control on the screen.

## To Reproduce

I load an object {job} for edit from my database in `useEffect()`. The object is loaded correctly.
1. Any form control on the page that is **not** a textarea gets their details populated correctly by using `defaultValue={job.<field

[2019-11-21 08:38] liorbentov commented on #4461
@MichaelSchwabDev , did you manage solving it?

[2019-11-21 21:52] taion commented on #4851
I'm not sure what your `<FormControl>` (instead of `<Form.Control>`) there is. In our example playgrounds, using e.g.

[code]

behaves exactly as expected.

[2019-11-21 21:52] #4851 closed

[2019-11-22 03:15] rebeccacoltaire commented on #4851
This was a typo. I am sorry. My code has `<Form.Control...`

The example you gave above works for me as well, when I enter the defaultValue as an immediate string, but in my case I am loading an object before rendering the form, and I use `defaultValue={job.description}`

The textarea that gets rendered does not display the content of `job.description` in my case.
If I change the `Form.Control` fr

[2019-11-22 03:29] taion commented on #4851
That's just how `defaultValue` works. Changing it after mounting isn't going to do anything.

[2019-11-22 04:22] rebeccacoltaire commented on #4851
Thanks. I know that. But it works for all of the other inputs on the screen - the textarea is the only one where it doesn't. All the other input elements use `defaultValue` too

[2019-11-22 05:47] MaciejKus opened #4855 "warning when passing `show` to Tooltip"
## Describe the bug

The second example on https://react-bootstrap.netlify.com/components/overlays/ throws a `Received true for a non-boolean attribute show` warning. Looks like OverlayTrigger is passing down a boolean `show` prop down to Tooltip.

## To Reproduce

Attempt to implement that code in a project of codesandbox. I don't see the warning in the console on the examples page linked above t

[2019-11-22 12:04] taion commented on #4855
We'd be happy to take a PR to address this.

[2019-11-22 16:55] apenab opened #4856 "Clarifying doubts"
Hello @jquense, what is your opinion about this [Descendants](https://gist.github.com/ryanflorence/10e9387f633f9d2e6f444a9bddaabf6e).
Do you think this could be an improvement in our component.

[2019-11-22 16:55] MaciejKus commented on #4855
@taion Would you suggest a PR that changes the example code?

I took a look at OverlayTrigger.js and Tooltip.js and am not sure what a good change in either of those files would be.

[2019-11-22 18:15] jquense commented on #4856
opinion on what specifically? Some of my thoughts, in tweet size, are here: https://twitter.com/monasticpanic/status/1197684053010518016 In general Ryan has robustly describe the problem. We don't have to do aria-activedescendant preferring roving tab indexes, fo the use-cases in RB and I think we're in a good place for that. It'd be nice if we could avoid `eventKey` but it's a simple enough solut

[2019-11-22 21:47] taion commented on #4855
I think `<Tooltip>` just needs to strip off the `show` prop instead of passing it to the underlying `<div>`.

[2019-11-23 12:34] leabum opened #4859 "Access to form values inside functional component"
I can't find a way to use refs to access the forms values. In the doc I can't find a description for doing that either. I am sure this works somehow and it's not a bug. In the example-code I took the class approach as an example for handling the refs, but how would I do that with e.g. useRef?

[code]

[2019-11-23 14:16] jquense commented on #4859
The form component is only a presentational component over the native HTML form element, it's not a fully fledged form library. To get form values you can use the appropriate HTML API such as form elements and check each inputs value, control each input yourself tracking its value, or use something like formik if you've more complex cases and don't want to write a lot of boilerplate

[2019-11-24 13:17] #4855 closed

[2019-11-26 08:46] #4806 closed

[2019-11-26 11:59] mustangore opened #4862 "Missing Property `horizontal` in ListGroup.d.ts"
## Describe the bug

ListGroup with property `horizontal` throws exception in TypeScript.
Seems like property `horizontal` is missing in `ListGroup.d.ts` properties.

## To Reproduce

Steps to reproduce the behavior:

1. `npx create-react-app app --typescript`
2. `npm install react-bootstrap bootstrap`
3. Add ListGroup in App.js

[code]

4. See error

[code]

## Expected behavior

Property `horizo

[2019-11-26 12:16] bgorati opened #4863 "If 'card-header' next div has this class 'collapse show', Please add show/active class for 'card-header' div"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Ad

[2019-11-26 19:30] taion commented on #4863
Please clarify your issue here.

[2019-11-26 19:30] taion commented on #4862
We'd be happy to take a PR that adds this.

[2019-11-26 23:11] bpas247 commented on #4792
Looks like the PR to fix this was merged, so I'll be closing this issue now 😄

[2019-11-26 23:11] #4792 closed

[2019-11-27 15:41] m4r71n commented on #4723
Only as note, 0.33.0 is also affected.
Tested on Windows with Firefox and NVDA.

[2019-11-27 18:17] bgorati commented on #4863
If 'card-header' next div has this class 'collapse show', Please add show/active class for 'card-header' div

[2019-11-27 18:35] taion commented on #4863
huh?

[2019-11-27 18:51] #4764 closed

[2019-11-27 18:55] bgorati commented on #4863
Did you go it? :)

[2019-11-27 19:08] #4863 closed

[2019-11-27 20:32] bpas247 commented on #4842
is this considered done now? 😛

[2019-11-27 20:38] #4849 closed

[2019-11-27 21:39] taion commented on #4842
yup! thanks

[2019-11-27 21:39] #4842 closed

[2019-11-27 22:58] jebarjonet commented on #4472
What we could be doing here is:
[code]
The problem is [adding a `SafeAnchor`](https://github.com/react-bootstrap/react-bootstrap/blob/master/src/BreadcrumbItem.js#L55) anytime the `Breadcrumb.Item` is not `active`, which feels like a shortcut to putting explicitly a link as child of `Breadcrumb.Item`.

[2019-11-28 09:55] YurySolovyov commented on #2463
I'm getting almost the same warning but for `top` value when using Overlay/Popover:
[code]

[2019-11-30 09:17] kirenpillay opened #4867 "Unable to load CSS in Expo App"
## Describe the bug

import 'bootstrap/dist/css/bootstrap.min.css'; in my App.js results in

` Failed building JavaScript bundle.
Unable to resolve "bootstrap/dist/css/bootstrap.min.css" from  "App.js"`

## To Reproduce

1. Go to 'App.js'
2. Add import 'bootstrap/dist/css/bootstrap.min.css'
3. See error

## Expected behavior
Import should work.
## Environment (please complete the following informa

[2019-11-30 15:09] Rillian-Grant opened #4868 "Make documentation about the as prop easy to find"
I am a new user and as soon as I found out about what this does it opened up a whole new set of things I could do with react-bootstrap.

[2019-11-30 22:49] taion commented on #4867
This is a web layout library. It's not meant to work with React Native.

[2019-11-30 22:49] #4867 closed

[2019-12-02 04:01] jpca999 opened #4871 "why does it show mobile view on full screen on my laptop ?"
I just copy pasted the code from :
https://react-bootstrap.netlify.com/components/navbar/#navbars-overview

![image](https://user-images.githubusercontent.com/1026325/69929811-459f0500-1475-11ea-9b74-c4031aa3fdcf.png)

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '...

[2019-12-02 04:42] jpca999 commented on #4871
resolved by changing the code.
lg to md.
<Navbar bg="light" expand="md">

[2019-12-02 04:42] #4871 closed

[2019-12-02 08:58] laviro opened #4872 "Warning: Unknown event handler property"
After #4865 got in,
my tests started to fail with the following error:
[code]
and the warning:
`Warning: Unknown event handler property `%s`. It will be ignored.%s`
maybe it is something about a naming convention, see: https://github.com/styled-components/styled-components/issues/2218#issuecomment-489661463

[2019-12-02 12:47] bohdanz1997 opened #4873 "Element Form.Label doesn't have required attribute column"
## Describe the bug

Webstorm shows the warning when I use Form.Label in my components without `column` attribute, despite the `column` is optional.

## Expected behavior

IDE shouldn't show the warning.

## Screenshots

![d4ff01ace3](https://user-images.githubusercontent.com/16783277/69960107-569d5400-1511-11ea-914a-fdc41cc8a988.jpg)

## Environment (please complete the following information)

-

[2019-12-02 13:30] LWronka opened #4874 "Accordion after click Toggler do not close others"
I'm wondering if it's now possible to not close others items if they are open and clikc another one ?
At this moment is when I'm clicking another `Toggler` then `Accordion` close others.

[2019-12-02 14:34] taion commented on #4873
Well, it's not actually required, and the type checking passes, so this is a bug in your IDE. We can't do anything about that.

[2019-12-02 14:34] #4873 closed

[2019-12-02 14:40] nbjorling commented on #4140
Have anyone found a solution or maybe a workaround?

I would like to be able to toggle a css class on the accordion header when a accordion is open/closed so I can flip the arrow on the right hand of the text.

<img width="406" alt="Screenshot 2019-12-02 at 15 01 45" src="https://user-images.githubusercontent.com/31563031/69968058-ef37d200-1519-11ea-9a1e-149270f4d947.png">

[2019-12-02 15:01] taion commented on #4874
Don't use Accordion then, and just use a panel group. The point of accordions is to not do that.

[2019-12-02 15:01] #4874 closed

[2019-12-04 13:16] Inayat-C opened #4877 "Styled Component overwriting bootstrap class names"
## Describe the bug

When using `styled-components` to style a Bootstrap component, it overwrites all default class names. For example:

if i write:
`<Col sm="6"> <h1> Hello World </h1> </Col>`

It will render:
`<div class="col-sm-6"> <h1> Hello World </h1> </div>"`

Which is perfect.

However, if i want to add custom styled to the component via `styled-components`, it will overwrite the bootstrap

[2019-12-04 14:17] taion commented on #4877
the issue here is you're doing `<StyledCol as="section">`, so it's rendering a `<section>` instead of rendering a `<Col as="section">`. so this is an issue with your code – the R-B component is not getting rendered at all here.

[2019-12-04 14:17] #4877 closed

[2019-12-04 14:22] Inayat-C commented on #4877
Thanks for the reply.

I understand where you're coming from, but shouldn't that still work? The `as` prop is documented in R-B to allow me to use a custom element type for this component.

[2019-12-04 14:44] Inayat-C commented on #4877
Ok i've figured out the solution. This is what i needed: https://www.styled-components.com/docs/api#forwardedas-prop

Thanks for your time!

[2019-12-04 19:54] colinmanuel opened #4878 "Accessibility - NavDropdown created empty aria-labelledby="" attribute"
When testing accessibility with the browser plugin "SiteImprove", I see a number of errors related to the <NavDropdown> element generating an empty aria-labelledby attr. This error also appears on the react-bootstrap <NavDropdown> documentation page.

One specific error that appears is: **"Aria-labelledby" has incorrect (ID) reference 1.3.1 Info and Relationships**

The generated code on the page

[2019-12-04 20:02] jquense commented on #4878
are you providing an ID to the toggle? It may be the NavDropdown isn't passthing `id` through correctly as well

[2019-12-04 23:12] colinmanuel commented on #4878
Yes, I've tried passing an ID and aria-labelledby value through NavDropdown and neither one populates aria-labelledby in the <div class="dropdown-menu"> element.

Here's the react-bootstrap markup I'm using for NavDropdown:
[code]

[2019-12-05 06:27] zhangyu0218 opened #4879 "When I manually swipe from the first slide to the left to the last slide, the animation of the slide switch is not to the left but to the right"
When I manually swipe from the first slide to the left to the last slide, the animation of the slide switch is not to the left but to the right。

I think the direction of the slides should be the same as the gesture。

[2019-12-05 06:33] zhangyu0218 commented on #4879
In Carousel

[2019-12-05 08:06] deepsuthar opened #4880 "Layout Grid Responsive Issue"
Following is my Code

![Group 46](https://user-images.githubusercontent.com/39213130/70215766-33b6ae00-1764-11ea-822c-4c26c4db3068.png)

[2019-12-05 13:28] goxr3plus opened #4881 "Dropdown [ Bootstrap 4 ] onSelect is always returning '#'"
[code]

![image](https://user-images.githubusercontent.com/20374208/70239308-beeb7000-1773-11ea-994c-a68498adfd73.png)

![chrome_2019-12-05_15-27-18](https://user-images.githubusercontent.com/20374208/70239319-c27ef700-1773-11ea-98ed-4b7208984273.png)

[2019-12-05 14:01] taion commented on #4881
See the docs. You need to set e.g. `eventKey` or some other attribute to identify the items.

[2019-12-05 14:01] #4881 closed

[2019-12-05 14:03] taion commented on #4880
This is not a bug with the library. Your debug settings are causing the media query in the browser to not properly apply. The correct classes are getting applied to the DOM.

[2019-12-05 14:03] #4880 closed

[2019-12-05 14:03] taion commented on #4879
dupe https://github.com/react-bootstrap/react-bootstrap/issues/3654

[2019-12-05 14:03] #4879 closed

[2019-12-05 14:20] goxr3plus commented on #4881
@taion

I finished up doing :

[code]

[2019-12-05 14:22] goxr3plus commented on #4881
![0](https://user-images.githubusercontent.com/20374208/70243547-759f1e80-177b-11ea-9b21-26c99fed4af0.jpeg)

[2019-12-05 17:54] bpas247 commented on #4868
Just to clarify the action items for this issue:
Add a new section to the "Getting Started" page that explains the `as` prop API, why it's useful, and how it can be used (give a basic usage example).

[2019-12-06 14:50] Rillian-Grant commented on #4868
Yes, it would also be good to see some examples of the HTML that the react components are transformed into for people who have past experience of bootstrap but not using react. I have found it invaluable to be able to transfer my existing bootstrap knowledge to react-bootstrap.

[2019-12-06 19:06] bpas247 commented on #4868
That sounds like an entirely separate feature than what this issue describes. You should open a new issue to document that separate feature.

[2019-12-07 18:44] ossiggy opened #4882 "Carousel: Unable to wrap controllable Carousel in Link due to SafeAnchor component"
## Describe the bug

When you are trying to wrap a Carousel with controls in a `<Link/>` component, it throws an error since anchor tags can't be children of anchor tags. Could probably be fixed by changing the SafeAnchor to a Button.

## To Reproduce

Steps to reproduce the behavior:

1. Create a Carousel Component
2. Wrap it in a `<Link/>` component from `react-router-dom`
3. Render the page
4.

[2019-12-07 22:35] taion commented on #4882
Why are you rendering the entire carousel under an `<a>` anyway?

[2019-12-08 01:37] ossiggy commented on #4882
I want it to link to a gallery page.

[2019-12-08 05:13] hguiney opened #4883 "Form.Label[as="legend"] does not create a legend element"
## To Reproduce

1. `import Form from "react-bootstrap/Form";`
2. Render `<Form.Label as="legend" />`

## Reproducible Example

[CodeSandbox](https://codesandbox.io/s/code-sandbox-examples-78kv4?fontsize=14&hidenavigation=1&theme=dark)

## Expected behavior

Renders a `<legend>`.

## Actual behavior

Renders a `<label>`.

## Environment

- Operating System: macOS Catalina 10.15
- Browser, Version:

[2019-12-09 11:27] Romanior commented on #4790
@taion @AlexKVal @jquense Any reaction on this? Or you stopped maintaining this project? thanks.

[2019-12-09 19:42] taion commented on #4790
Active development is on the 1.x branch right now. We'd be happy to take PRs to fix any bugs, though.

[2019-12-09 19:48] taion commented on #4882
You should link the individual carousel items, then. The carousel items are supposed to render as `<a>`s, and it's ill-defined to have nested controls within what's already a link.

[2019-12-09 19:48] #4882 closed

[2019-12-09 19:49] taion commented on #4883
Looks like `<FormLabel>` doesn't support the `as` prop at all. We'd be happy to take a PR adding support, analogous to how it's done on other components.

[2019-12-09 22:39] bpas247 commented on #4856
Is there any action items for this issue? or is it okay to go ahead and close?

[2019-12-10 06:53] davidjb opened #4884 "Support for Responsive Containers (Bootstrap 4.4)"
## Is your feature request related to a problem? Please describe

Bootstrap 4.4 added responsive containers (https://getbootstrap.com/docs/4.4/layout/overview/#responsive),  with the syntax `.container-{breakpoint}`.

## Describe the solution you'd like

Add support for setting a breakpoint prop on `Container` components, which then sets the resultant `className`.

## Describe alternatives you've

[2019-12-10 12:00] AndreyKuleb commented on #4461
Try <Button variant={''something" as any} />

[2019-12-10 13:40] taion commented on #4884
We'd be happy to take a PR for this!

[2019-12-10 17:44] #4856 closed

[2019-12-11 08:08] vammu920 opened #4885 "how to use props for carousel"
## Is your feature request related to a problem? Please describe
iam always frustated when using props to use carousal items it is not showing up .
## Describe the solution you'd like

i want to know how to use props on a carousal item
## Describe alternatives you've considered
i used all the ways of using props in carousal but it havent showed anything out .

[2019-12-11 14:32] taion commented on #4885
please see the demo on the components section of our docs site

[2019-12-11 14:32] #4885 closed

[2019-12-12 03:17] songthamtung commented on #1510
I was getting e is undefined.

`onClick={e => {e.preventDefault(); this.handleSubmit()}}`

worked for me

[2019-12-12 08:20] raghavi92 opened #4886 "Form.Label does not have size prop"
## Describe the bug
I would like to set the size for Form.Control and its corresponding Form.Label components.
While its working as expected for Form.Control prop, Form.Label component does not have a similar size prop.

## Reproducible Example

Minimal example by using [CodeSandbox](https://codesandbox.io/s/react-bootstrap-3kswo).

## Expected behavior

The size of the label should be applied acc

[2019-12-12 09:06] kosmiq opened #4887 "Support for row-cols in <Row>"
## Is your feature request related to a problem? Please describe
Bootstrap 4.4 added .row-cols-x classes to the row class (https://getbootstrap.com/docs/4.4/layout/grid/#row-columns)

This would be an awesome addition to react-bootstrap.

## Describe the solution you'd like
I'd imagine something like
`<Row xs={[number]}></Row>`

Thus having a similar usage as <Col> does when defining widths of col

[2019-12-12 14:51] whyseman opened #4889 "OnCloseRef.current() is not a function"
## Describe the bug

Tried to use the toast with autohide prop, it **doesn't** hide after the specified **delay** and it throws `onCloseRef.current is not a function > Toast.js:45` in the browser console.

## To Reproduce

Steps to reproduce the behavior:

1. Create a Toast component
2. Add the `autohide` prop with `delay` prop
3. Watch the browser console.

## Reproducible Example

[code]

## Exp

[2019-12-12 15:10] whyseman commented on #4889
Nevermind, it needs the `onClose` attribute on the `<Toast />` component.

[2019-12-12 15:16] taion commented on #4886
The `column` prop for `Form.Label` should probably take a size per https://getbootstrap.com/docs/4.3/components/forms/#horizontal-form-label-sizing.

We'd be happy to take a PR for this.

[2019-12-12 15:17] taion commented on #4887
We'd be happy to take a PR for this. I think e.g. a `colsXs` prop would be pretty reasonable, actually. It'd match what we have for `<Col>`.

[2019-12-12 15:19] taion commented on #4889
Okay, so this is resolved, then?

[2019-12-12 15:38] whyseman commented on #4889
@taion I guess it is. I managed to make it work by adding the `onClose` prop and the `onClose` prop changes the state of the `show` prop.

[2019-12-12 15:56] #4889 closed

[2019-12-12 20:59] jamesmfriedman opened #4890 "Dropdown Immediately Closes"
## Describe the bug

As of beta 15 / 16, the dropdown immediately closes when being opened.

## To Reproduce

Create a dropdown

[code]
## Environment (please complete the following information)

- Operating System: macOS
- Browser, Version Chrome Latset
- React-Bootstrap Version 1.0.0-beta.15

[2019-12-12 22:50] taion commented on #4890
works fine on https://react-bootstrap.github.io/components/dropdowns/ – something weird with your setup, perhaps?

[2019-12-12 22:58] jamesmfriedman commented on #4890
I can work on making a full repro. It is definitely not an issue with beta 14, only happens with 15 and 16. I’ll check the commit history too.

[2019-12-13 08:38] denis-n commented on #3568
This worked for me:

`
private commentRef = React.createRef<
        FormControl<"textarea"> & HTMLTextAreaElement

    public componentDidMount() {
        if (this.commentRef.current) {
            this.commentRef.current.focus();
        }
    }`

Also had to change `rows` in `Form.Component as='textarea'` from string to number.

[2019-12-13 08:47] denis-n commented on #3568
Does anyone know if `innerRef` is working?

https://github.com/react-bootstrap/react-bootstrap/blob/master/types/simple.test.tsx#L211

When I'm usin `innerRef` I get this error:

[2019-12-13 08:56] alkafaiz opened #4891 "Navbar becomes sidebar on large screen error"
## Insert Navbar component into plain react app, it immediately behaves as sidebar

found this css:

[code]

## code
[code]
## screenshot
![image](https://user-images.githubusercontent.com/23336030/70787112-005dca00-1dc9-11ea-938b-dbe1d4109514.png)

## Environment

- Operating System: Windows 10
- Browser, Version: Chrome 78
- React-Bootstrap Version : 1.0.0-beta.16

[2019-12-13 09:35] raghavi92 commented on #4886
Thank you. I'll make a PR

[2019-12-13 10:04] hhoang-be commented on #3132
I wonder if validationState has been removed in Bootstrap 4? If yes, how can I validate a FormGroup?

[2019-12-13 10:25] AHorak opened #4892 "Missing property target for Button"
Because Button can act as a link, Button has a href property.
But target is missing.

<Button variant="secondary" href="/relativepath/mydoc.pdf", target="_blank">

[2019-12-13 15:47] taion commented on #4892
<Button> forwards all props to the underlying component, so what you have already works.

[2019-12-13 15:47] #4892 closed

[2019-12-13 15:48] taion commented on #4891
This looks like a bug with your CSS. React-Bootstrap only controls the overall HTML markup and JS behavior.

[2019-12-13 15:48] #4891 closed

[2019-12-13 23:21] mturley commented on #4872
Note: I figured out the source of this issue, and it's not actually caused by react-bootstrap. Explanation here: https://github.com/patternfly/patternfly-react/issues/3364#issuecomment-565645973

This issue can be closed.

[2019-12-14 13:00] aakashtm commented on #2081
And To style the arrow, we have to over ride the default styling by **reactstrap** in the css file

.bs-tooltip-right .arrow::before {
  border-right-color: #4a7efa;
}`

[2019-12-14 13:54] Jonofat opened #4894 "next.js jsx css does not work with components"
I have been trying to style a list group item and couldn't figure out why the styles weren't applying. This is the code:

[code]

But I found that the css works if I just type the list group item out normally like this:

[code]

Is there a way to get the jsx styles to work with the components? If not then there isn't really a point in using React Bootstrap since I am going to have to type out all

[2019-12-14 17:15] jquense commented on #4894
I don't think any of us know anything about Next's css solution here, but guessing. Next almost certainly hashes the class names in the style tags. In your first example the style that is added is not on `.list-group-item` it ends up being something like `.dgasg0rt32` when compiled. You need to do something like:

<ListGroup variant="flush">
            <ListGroup.Item className="item">

[2019-12-14 17:15] #4894 closed

[2019-12-14 18:58] taion commented on #4872
Thanks!

[2019-12-14 18:58] #4872 closed

[2019-12-15 04:29] joeadcock opened #4895 "TypeError: can't convert undefined to object Modal.js:22:41"
Hi,
   I am running into a weird problem, and I was curious if it was a known issue.  I am trying to use the Modal in V1.00-beta.16, and it is working perfectly in my dev environment.  When it is compiled and running on a server, it is getting a `TypeError: can't convert undefined to object Modal.js:22:41`.  I was able to reproduce it on the server with the sample in the docs as well as a minimal

[2019-12-15 23:27] guruwanabe commented on #850
Seems rather odd to me that a simple use case like this is not supported. Yes we can achieve it with custom overlays, but it should be easier to just integrate as a prop to OverlayTrigger something like 'persistShow' instead of building a custom component.

[2019-12-16 08:01] AHorak commented on #4892
Does not work for me :-(
(TS) No overload matches this call.
  Overload 1 of 2, '(props: Readonly<ReplaceProps<"button", BsPrefixProps<"button"> & ButtonProps>>): Button<"button">', gave the following error.
    Type '{ href: string; target: string; }' is not assignable to type 'IntrinsicAttributes & IntrinsicClassAttributes<Button<"button">> & Readonly<ReplaceProps<"button", BsPrefixProps<"button

[2019-12-16 16:37] blueshark226124 commented on #4131
[code]
You can use the "passHref" prop fo the "Link" component.

[2019-12-16 19:28] taion commented on #4892
This looks like a bug in the type definitions, then. The default `as` doesn't account for `<SafeAnchor>`. We'd be happy to take a PR here.

[2019-12-16 20:37] filipkis commented on #4790
Actually, this is an issue of `react-overlays` that's been addressed on 2.x branch, but not on 0.9 branch which is the one used here.

[2019-12-16 21:19] Aaronik commented on #3568
@denis-n, how did you import that `FormControl` type from

[code]

??

I think if I had that I'd be able to type this correctly, but I can't find where that's exported.

[2019-12-16 23:26] taion commented on #4895
Hmm, is that coming from https://unpkg.com/browse/react-bootstrap@1.0.0-beta.16/cjs/Modal.js ? In which case could you be resolving to a bad version of dom-helpers somewhere?

[2019-12-17 00:41] joeadcock commented on #4895
Hi @taion, now that you mention it, it is actually coming from https://unpkg.com/browse/react-overlays@2.1.0/esm/Modal.js.

[2019-12-17 01:32] taion commented on #4895
Node LTS doesn't have ESM support yet, so you wouldn't be running the ESM version on server, would you?

[2019-12-17 06:13] waynecw opened #4901 "Set size in <Form.Control> will resolve duplicated 'form-control` classes."
## Describe the bug

`<Form.Control size='sm'>` will resolve to two `form-control` and `form-control-sm` classes.
[code]

`form-control` will overwrite `form-control-sm` settings in Bootstrap.

## To Reproduce

Set `size` in `<Form.Control>`

## Reproducible Example

A quick example in [CodeSandbox](https://codesandbox.io/s/charming-liskov-ulpf7).

## Expected behavior

Only `form-control-sm` is s

[2019-12-17 06:24] taion commented on #4901
The TWBS examples show using e.g. both `.form-control` and `.form-control-sm`: https://getbootstrap.com/docs/4.4/components/forms/#sizing. If you're having issues, then it's more likely with your CSS specifically.

[2019-12-17 06:24] #4901 closed

[2019-12-17 08:16] AHorak commented on #4892
Thank you!
It works, if i do it like that:

<Button as="a" href="https://www.google.com" target="_blank" variant="secondary">

[2019-12-17 19:42] joeadcock commented on #4895
Oh, actually that was Ubuntu LTS.  It is being compiled with Webpack 4, which does support ESM though if that helps.  Thanks again for any thoughts you have!

I think for the time being I will just remove the modals.  I haven't been able to reproduce it in a code sandbox, so I think it is something with the webpack setup and react-bootstrap/react-overlay.  I will try to get a sample project set up

[2019-12-18 04:21] texonidas commented on #3645
Any word on when this is going to be merged into latest? This is a pretty major issue given it completely breaks any project without any indication of why it is breaking.

[2019-12-18 10:15] sirajtahrawashmen commented on #4176
having the same issue here

[2019-12-19 12:31] zhangyu0218 commented on #3654
if (
   (nextIndex === 0 && previousActiveIndex >= lastPossibleIndex) ||
   ( previousActiveIndex !== 0 && previousActiveIndex <= nextIndex)
 )

[2019-12-19 14:58] solankirohan opened #4904 "Toggle Accordion through a button on the Card body"
I would like to know if there is a way to expand the next card on click of a button which is present in the card. e.g. If there is a 3 steps process that a user needs to do - we will have 3 cards in the accordion, there will be a button in the body of card 1, when clicked will expand card 2 and collapse card 1.

[2019-12-19 15:51] taion commented on #4904
control the `activeKey` prop on the accordion

[2019-12-19 15:51] #4904 closed

[2019-12-20 02:59] camleng commented on #2239
You can just write
[code]

[2019-12-21 18:38] toddobryan commented on #2490
Me, also. I want to change between long and short versions of text in the Navbar depending on how big the viewport is.

[2019-12-23 16:18] anthonylamark opened #4909 "Cannot scroll thru the components list in the documentation/website"
## Describe the bug

The list of components does not have a scroll bar so you cannot view all the components..

## To Reproduce

Steps to reproduce the behavior:

1. Go to https://react-bootstrap.github.io/components/alerts
2. The left side of the page has all the components but you cannot scroll to the bottom of the components list.

## Reproducible Example

N/A

## Expected behavior

Be able to

[2019-12-23 16:18] dareedyone commented on #3421
i am having this same kind of error and i did not use componentWillUpdate or componentDidUpdate what i use is componentDidMount. Any help or insights about this ?

[2019-12-23 17:32] taion commented on #4909
dupe https://github.com/react-bootstrap/react-bootstrap/issues/3765

[2019-12-23 17:32] #4909 closed

[2019-12-24 01:41] petkovic43 opened #4910 "CSS-in-JS styling (styled-jsx)?"

[2019-12-24 02:14] jquense commented on #4910
?

[2019-12-26 09:17] skariel commented on #4910
it seems to have no effect, for e.g.:
[code]

will have no effect on the container

[2019-12-26 18:26] garrett-gottlieb opened #4911 "Inactive <ListGroup.Item> nested in active <ListGroup.Item> is invisible"
Nesting `<ListGroup>`s inside of a `<ListGroup.Item>` isn't supported if the outer item is `active` and the inner item is not.

<img width="274" alt="Screen Shot 2019-12-26 at 1 24 58 PM" src="https://user-images.githubusercontent.com/1219054/71486204-36e10f00-27e3-11ea-92c7-2b2697d6f91c.png">
<img width="260" alt="Screen Shot 2019-12-26 at 1 25 04 PM" src="https://user-images.githubusercontent.co

[2019-12-27 12:44] webface commented on #4910
`.container {
    background-color: #333;
}`

Its just bootstrap

[2019-12-27 12:47] norlin opened #4912 "No spacing when wrapped in ButtonToolBar"
## Describe the bug

There is no spacing between buttons when using ButtonToolbar.
According to [the documentation](https://react-bootstrap.github.io/components/buttons/) it should be enough to get spacing, there is the css rule seen in the inspector:

`.btn-toolbar > * + * { margin-left: .5em; }`

However, when using the ButtonToolbar from the react-bootstrap npm module, there is no such rule and

[2019-12-28 09:10] dali0023 commented on #3944
@praxiz  Thanks! You are correct

[2019-12-28 09:49] kishan143-jaiswal commented on #3351
Facing with the same problem ,cant able to dismiss popover on button click
  <OverlayTrigger
                trigger="click"
                key='top'
                placement='top'
                container={this}
                target={i + 1}
                ref="trigger"
                rootClose
                overlay={<Popover id={`popover-positioned-top`} className={'comment-pophover'}>

[2019-12-28 10:37] taion commented on #4911
Does this work in upstream TWBS?

[2019-12-28 11:24] taion commented on #3351
We don't currently support specifying `show` for `<OverlayTrigger>`. If you need to directly control shown state, use `<Overlay>` directly.

[2019-12-28 11:24] #3351 closed

[2019-12-28 11:24] taion opened #4913 "Actually support defaultChecked in <ToggleButton>"
https://react-bootstrap.github.io/components/buttons/#checkbox--radio is broken.

[2019-12-28 11:25] taion commented on #4912
The solution posted there stands. The example should be more like:

[code]

[2019-12-28 11:25] #4912 closed

[2019-12-28 11:42] norlin commented on #4912
@taion I'm sorry probably my English is not enough to explain the issue.
I'll try once more:

In the docs example, there is no spaces. There is the style rule used (and it's a proper solution, instead of the manually-added spaces).

In the library, the rule is missing and so there is no space between buttons.

The proper way is to add the css rule to the library.
The workaround solution is to upda

[2019-12-28 18:47] taion commented on #4912
It's the examples that were wrong. That CSS should not have been there. See https://github.com/react-bootstrap/react-bootstrap/pull/4914.

[2019-12-28 18:48] #4910 closed

[2019-12-28 18:51] taion commented on #3421
We're going to need a more self-contained repro to do anything here. None of these components are doing much of anything that should cause this.

[2019-12-28 18:51] taion opened #4915 "Use or remove the PopoverPositionedScrolling and PopoverTriggerBehaviors examples"
cc @jquense

In https://github.com/react-bootstrap/react-bootstrap/pull/3215, the references to these examples got removed. They thus no longer show up in our docs. We should either use them or remove them entirely.

[2019-12-28 19:04] norlin commented on #4912
Lol, ok, so enforce the bad practice via the official docs…

сб, 28 дек. 2019 г. в 21:47, Jimmy Jia <notifications@github.com>:

--
Have a great day!
Alexey

[2019-12-28 19:08] taion commented on #4912
The point here isn’t for us to enforce our own convention, desirable or otherwise. React-Bootstrap just provides React wrappers for Bootstrap functionality. This is the way things are done with Bootstrap, so we’re obligated to demonstrate the same.

[2019-12-29 08:06] faeghe-hajiabadi commented on #2002
What if we want to use conditions here?
like this -> <div class='row' > ---> if boolean true class= bordered else class = unbordered

[2019-12-30 18:41] LuuisPortugal commented on #2091
I had this error with me when passing a String value to `option.value` and in `select.defaultValue` I passed a variable with the same string gave error. but when I used a boolean value instead of string it worked.

code with error:
`<Form.Control
                  as="select"
                  name="sg_sexo"
                  isInvalid={handleMessageError("sg_sexo")}
                  defaultValue

[2019-12-31 01:07] timtucker-dte commented on #4140
Have half a workaround, but it seems to break the animations:

Define with the elements backwards:
`
<Accordion className="faq-accordion">
  <Card>
    <Accordion.Collapse eventKey="1" className="faq-answer"><Card.Body>Answer 1</Card.Body></Accordion.Collapse>
    <Accordion.Toggle as={Card.Header} eventKey="1" className="faq-question">Question 1</Accordion.Toggle>
  </Card>
  <Card>
    <Accordio

[2020-01-02 22:14] awatansa commented on #1650
Is this even a problem or just a feature of react-bootstrap?

[2020-01-03 00:30] taion commented on #1650
This is intentional. If you have an `href`, it's an anchor, not a button.

[2020-01-05 05:03] borodean commented on #629
It's impossible to pass `className` and `style` to the anchor thought. I'd be happy to make a PR, but I'm not sure about the preferable implementation approach.

[2020-01-05 06:14] ShunyaWatanabe commented on #3889
Hello. I would love to work on the rest of the test cases. Please let me know if someone else is already working on them!

[2020-01-05 14:14] taion commented on #629
Why do you need to? Just use a nested selector on `.foo a` or `.foo > a`.

[2020-01-05 14:27] borodean commented on #629
@taion in my particular case there is a third-party Bootstrap theme that relies on `.page-link` elements having an additional special class when they contain an icon. Right now to provide it, I have to either modify that theme (which will become a mess when updates to it are published) or do the render hijacking of the `PageItem` component to allow anchor classes to be set.

[2020-01-06 11:56] ephracis commented on #1300
One use case would be when you have an editable element with a selection, and you have a button to toggle formatting, for example bold. Then the clicking of the "Toggle Bold" button steals focus and removes the selected text inside the editable element, so the function `document.execCommand` does nothing.

This is what I'm struggling with, but maybe I am missing something here?

[2020-01-06 14:44] taion commented on #629
If you want to add some sort of `anchorProps` PR, we'd accept it per the original issue spec.

Note that the current (TWBS v4 compatible) API no longer has these issues because of the way the components are laid out.

[2020-01-06 19:18] with-shrey commented on #4194
@mxschmitt Any component remaining to be migrated ?

[2020-01-07 10:50] refayathaque opened #4924 "Enzyme simulate button click not working on Nav.Link"
Hi guys, I'm trying to use Enzyme's [simulate](https://airbnb.io/enzyme/docs/api/ShallowWrapper/simulate.html) function to be able to click on a `Nav.Link` component but can't. I've used this function on the standard html `button` before with the attribute `data-test...` I'm guessing since the `Nav.Link` component is essentially a React component, enzyme will need access to a 'clickable' element w

[2020-01-07 16:00] taion commented on #4924
This doesn't look to be specific to us – the same would apply to any component that indirectly renders a link. Make sure you're properly specifying an `href` or an `onClick` handler as appropriate.

[2020-01-07 16:00] #4924 closed

[2020-01-07 23:05] garrett-gottlieb commented on #4911
Not sure what that is but I only used this package.

[2020-01-07 23:07] kevinsullivan opened #4925 "Dropdown broken in production"
## Describe the bug

I'm using dropdown behavior in my app's main menu. It works fine on my dev machine, both when I run it under "yarn develop" and "yarn build". But when I deploy the built app to, and then run it from, S3, there is no dropdown behavior to be had. The "bug" might simply be that I don't know how to do what I'm trying to do, but I'm not bad at this stuff and I've been at this all d

[2020-01-08 03:21] refayathaque commented on #4924
@taion thank you so much for the guidance. Yes, this wasn't really a bug issue, it was more of a help request. I'll need to poke around more to figure out how to `simulate` a 'click' on what are clearly clickable React-Bootstrap components. I'll look into figuring out if I can access child components of my component rendering the `Nav.Link` component, that way I might be able to access the actual

[2020-01-08 14:50] #4925 closed

[2020-01-08 16:55] taion commented on #4925
For reference, what was the issue here? Might help people in the future.

[2020-01-08 18:40] avispeng commented on #648
Sorry to comment on such an old post, but I hope my finding would help others. I have three stacked checkboxes that wouldn't fire onChange event. But they start to work properly after I assigned an id to each of them.

[2020-01-08 22:05] fxckdead commented on #4895
I have this same issue on production enviroment after a `yarn upgrade`, it was on beta9 working good, but when upgraded to beta16 it started the issue, in my case i just did a downgrade to continue having the production site.

<img width="684" alt="Captura de Pantalla 2020-01-08 a la(s) 19 03 51" src="https://user-images.githubusercontent.com/116668/72020052-ab876500-3249-11ea-8201-bb754df2cb5e.pn

[2020-01-09 09:38] ryanneary commented on #4056
@jquense If you wrap a checkbox with a label, you don't need the for/id association.

[2020-01-10 09:44] Alexwrj opened #4927 "<Nav.Link> forces to update React Component"
I noticed a problem when I try to use <Nav.Link> for navigation panel. If I use it for routing, my header component rerenderes, but it's ok if I use simple <Link> from react-router-dom.

Here is my code:

[code]

And this version works fine:

[code]

[2020-01-10 13:31] sergioadimedia opened #4928 "Overlays' target is no longer correctly selected"
## Describe the bug
https://github.com/react-bootstrap/react-bootstrap/commit/50a37146cb372fe708efe11815d3ee9f468518ca#r36745060

Due to the change of version of the "react-overlays" package the target is no longer correctly selected.

Apparently they used to use something like this to get the target html element:
` _reactDom.default.findDOMNode(target)`
Now they use:
`useWaitForDOMRef(props.targe

[2020-01-10 16:30] taion commented on #4928
This was an intentional breaking change. You need to specify an actual DOM node now, not a React node. See the docs.

[2020-01-10 16:30] #4928 closed

[2020-01-10 16:34] taion commented on #4927
You need to use something like React-Router-Bootstrap to integrate router links with DOM links.

[2020-01-10 16:34] #4927 closed

[2020-01-11 05:42] aamirkhan-91 commented on #2151
This is still happening in 2020.

[2020-01-11 16:47] bcm commented on #4895
Same issue in production on beta16.

[2020-01-11 19:13] jaccon commented on #1517
maxLength="200" work fine with input type="text".

[2020-01-11 23:58] billkabanga commented on #4913
I would like to take up this issue and raise a PR for it. @taion

[2020-01-12 12:31] taion commented on #4913
We'd appreciate it. Thanks!

[2020-01-12 14:59] jcreixell commented on #4895
same issue here, only happening in production

[2020-01-12 21:39] billkabanga commented on #4913
@taion I've finished working on this but I am unable to push my branch as permission is denied. Your help on this would be much appreciated. Thank You.

[2020-01-12 22:43] taion commented on #4913
Fork the repo and send a PR from your fork

[2020-01-13 20:07] #4890 closed

[2020-01-15 01:28] texonidas commented on #648
@avispeng this fix also worked for me, absolute lifesaver.

[2020-01-15 12:04] amsterdamharu opened #4932 "Open NavDropdown on mouse over"
## Is your feature request related to a problem? Please describe
Would like to open NavDropdown on mouse over but can't because there is [no prop](https://github.com/react-bootstrap/react-bootstrap/blob/master/src/NavDropdown.js#L8-L40) controlling the open state of the NavDropdown

## Describe the solution you'd like

Tried the following

[code]

A clear and concise description of what you want t

[2020-01-15 16:36] #4886 closed

[2020-01-15 17:09] taion commented on #4932
The prop is `show`, and it works just fine. Though we'd be happy to take a PR to update the docs, perhaps by including NavDropdown's props table somewhere.

[2020-01-15 21:13] JoshuaWarejko opened #4933 "Carousel 'onSlideEnd' not triggered in IE"
## Describe the bug

When using onSlideEnd on the `<Carousel>` component in Internet Explorer 11, the onSlideEnd method passed through the props is not called.

## To Reproduce

Steps to reproduce the behavior:

1. Add onSlideEnd handler to `<Carousel>`
2. Click arrow and see that method is never called.

## Expected behavior

The onSlideEnd method should be fired once the carousel finishes transi

[2020-01-15 21:41] tragessere opened #4934 "Broken aria-describedby reference on OverlayTrigger to tooltip element"
## Describe the bug

The OverlayTrigger adds an `aria-desribedby` attribute to it's target when showing (if the popper has a tooltip role). When the tooltip is no longer showing the `aria-describedby` attribute is left

## To Reproduce

Steps to reproduce the behavior:

1. Create an OverlayTrigger with an overlay that has the 'tooltip' role and and id. Add an element inside the OverlayTrigger to a

[2020-01-16 02:51] taion commented on #4934
Looks like we're missing a cleanup function for the ARIA modifier. We'd be happy to take a PR to address this.

[2020-01-16 02:51] taion commented on #4933
We'd be happy to take a PR to address this.

[2020-01-16 08:46] amsterdamharu commented on #4932
@taion  I can make a pull request with`show` added to the [proptypes](https://github.com/react-bootstrap/react-bootstrap/blob/master/src/NavDropdown.js#L8-L40)

[2020-01-16 16:29] Q8root opened #4936 "Attempted import error: 'Glyphicon' is not exported from 'react-bootstrap'."
Trying to use Glyphicon on my project but giving error :-

Here is my code:-
import React, { Component } from 'react';
import { Glyphicon } from 'react-bootstrap';

[code]

- Operating System: macOS
- Browser, Chrome
- React-Bootstrap Version : 0.33.1

[2020-01-16 16:56] taion commented on #4936
Are you sure you don't have one of the v1 betas installed?

[2020-01-16 18:29] JoshuaWarejko commented on #4933
@taion So do you guys not intend on fully supporting Internet Explorer then?

[2020-01-16 19:01] JoshuaWarejko commented on #4933
@taion after further investigation, this issue isn't with react-bootstrap. The issue is in the dom-helpers package. Their `transitionEnd` function is the issue. Thanks anyway.

[2020-01-17 07:23] aravikumar-mdsol opened #4937 "Inconsistent disabled button with Popover behaviour"
## Describe the bug

A disabled button with popover behaves differently in Chrome and Firefox browser.

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

Code:
const popoverLeft = (
  <Popover id="popover-positioned-left" title="Popover left">
    <strong>Holy guacamole!</strong> Check this info.
  </Popover>
);

render(
  <

[2020-01-17 13:25] kosmiq commented on #4937
This is a Firefox thing. More info here: https://www.fxsitecompat.dev/en-CA/docs/2016/disabled-form-controls-now-trigger-mouseover-and-similar-mouse-events/

A bit more info here as well: https://github.com/twbs/bootstrap/issues/21233

But it seems as if regular Bootstrap has a recently merged commit regarding this: https://github.com/twbs/bootstrap/commit/4387038421bc52d0b7c579c134e682ac8a22f50a

[2020-01-17 14:20] taion commented on #4194
I removed Collapse and OverlayTrigger from the list above; they shouldn't actually forward, given that they're wrapping containers.

[2020-01-17 19:30] bpas247 commented on #4194
Should we even migrate the Modal component? It just seems like a very costly migration, and I'm not sure if there's a lot of value we can get out of it.

[2020-01-18 00:18] taion commented on #4194
hmm, arguably not... what would the ref even be to?

[2020-01-19 03:02] ckot opened #4939 "documentation website left nav pane scrollbar not visible"
I'm trying to look at the various components on documentation website, but 'Figures' is at the horizon, and I can seem to scroll down below that.  I'm think it might need some sort of css overflow property setup or something.

[2020-01-19 11:05] Q8root commented on #4936
Here is my package.json content :-
[code]

[2020-01-19 11:30] ocBruno commented on #4934
A little new to this environement but i'm going to give this one a shot, if anyone already working on this give me a heads up!

[2020-01-20 08:35] kosmiq commented on #4884
@taion this can be closed since the PR has been merged.

[2020-01-20 13:47] #4884 closed

[2020-01-20 15:55] #4939 closed

[2020-01-20 16:14] taion commented on #4936
looks like something wrong with your setup. the export is definitely there: https://unpkg.com/browse/react-bootstrap@0.33.1/lib/index.js#L100

[2020-01-20 16:14] #4936 closed

[2020-01-21 18:55] rjray opened #4946 "Missing documentation for NavDropdown on website"
While some of the sample code for <Navbar> utilizes the <NavDropdown> component (and related sub-components), there is no documentation for this component on the main site.

[2020-01-21 19:00] taion commented on #4932
let's track this in https://github.com/react-bootstrap/react-bootstrap/issues/4946 instead, as that issue more clearly states the problem

[2020-01-21 19:00] #4932 closed

[2020-01-22 07:45] kosmiq opened #4947 "New release with PRs?"
## Is your feature request related to a problem? Please describe
Not really a problem per se. Just a question of when we can expect the next release and what will be included.

## Describe the solution you'd like
Merging of a few PR's and a new release published.

## Describe alternatives you've considered
A new release with less PR's merged.

## Additional context
About to migrate a project to re

[2020-01-22 13:31] jquense commented on #4947
Yup we are waiting for a 1 or two more PRs to get in first

[2020-01-23 01:24] DougSherlock opened #4948 "Dismissable alert is always invisible due to 'fade' class"
## Describe the bug

I created an Alert component with the "dismissible" attribute.  The render function returned the correct HTML but the Alert was invisible.  When I inspected the elements I discovered that my Alert had the "hide" class.  When I removed this class, it became visible.

I originally copied my code from here:

https://react-bootstrap.github.io/components/alerts/#dismissing

## To R

[2020-01-23 09:46] DumasOlivier commented on #2081
I've tried all the answers, I was able to change the bg color of the tooltip but not the arrow's bg color. The only solution that worked was the one of @aakashtm !
I guess you have to edit the code according to the placement of your Tooltip (top, right, left ...).
Thanks :) !

[2020-01-23 15:53] taion commented on #4948
`.fade` is only supposed to control what the transition is here. You need `.show` to make the transition visible.

This is just matching upstream TWBS semantics.

[2020-01-23 15:53] #4948 closed

[2020-01-23 15:54] taion commented on #4948
See https://getbootstrap.com/docs/4.4/components/alerts/#dismissing

[2020-01-23 19:54] #4947 closed

[2020-01-23 21:55] DougSherlock commented on #4948
Thanks for your prompt reply, taion.  I used the Chrome Dev Tool to examined the CSS that was being applied.  It turned out I was using an old Bootstrap stylesheet that required the class "in" to display an alert.  When I updated my stylesheet the Alert displayed correctly.
![react-boostrap-alert-in](https://user-images.githubusercontent.com/32078578/73027276-f5468280-3de7-11ea-96d0-d10f1a9f9323.p

[2020-01-24 19:33] JoeMattie commented on #4895
Same issue here, anyone find a workaround?

[2020-01-24 20:50] JoeMattie commented on #4895
We managed to fix this bug by removing `babel-plugin-transform-react-remove-prop-types` from our production babel config.

Looks like this function:
[code]
was the culprit, as it using propTypes in a nonstandard way, breaking when the production build pipeline mangled propTypes into `undefined`

[2020-01-26 12:00] JennifferCrystine commented on #1684
having this problem and can't solve it, can someone please help me?
./src/containers/Home.js
Attempted import error: 'Container' is not exported from 'react-bootstrap/Container'.
i took it from here https://react-bootstrap.github.io/layout/grid/
've read all tips mentioned above but none of them helped me to solve this

[2020-01-26 17:39] anki247 opened #4950 "Unnecessary repainting of custom Dropdown.Toggle"
## Describe the bug

Custom dropdown toggler gets repainted on each state render, even if the state change has no relation to dropdown

## To Reproduce

1. create simple component with custom dropdown toggler (demo example)
2. add a test state `const [state, setState] = React.useState(true);`
3. `useEffect` in order to toggle the `state` each 1 sec.
4. open dev-tool > more tool > rendering > paint

[2020-01-26 17:57] anki247 commented on #4950
Ok...  `CustomToggle` has be declared outside ^^

[2020-01-26 17:57] #4950 closed

[2020-01-27 07:20] joeldom opened #4952 "Update Documentation to include imports & constants in code examples"
## Describe the bug

When attemtping to add features, copying code shown, you then have to see if you missed and element because a list isn't shown of what is imported

## To Reproduce

Steps to reproduce the behavior:

1. copy code example
2. paste in app
3. run
4. error: `Line ?: 'Component' is not defined react/jsx-no-undef`

## Reproducible Example

 [Navbars](https://react-bootstrap.github.io

[2020-01-27 23:54] bpas247 commented on #4194
Good question, I'm not sure if it would be a reference to anything useful.

I'm going to go ahead and cross that out from the list, which would mark this issue as complete 🎉

Thank you to everyone who contributed their time for this major migration 😄 all of your continuing support is what makes this library as great as it is!

[2020-01-27 23:54] #4194 closed

[2020-01-28 15:52] #4862 closed

[2020-01-28 19:40] pavankanth6 commented on #1684
@JennifferCrystine By default, when you do `npm install react-bootstrap bootstrap` as mentioned in the docs @ https://react-bootstrap.github.io/getting-started/introduction/, the version of react-bootstrap in packagee.json is pointing towards the Bootstrapv3 version. Manually edit the package.json and use `"react-bootstrap": "^1.0.0-beta.16" `. This resolved the same error I had.

[2020-01-29 14:08] jpreynat opened #4954 "NavDropdown doesn't render its children as HTML before being clicked once"
## Describe the bug

When using a `NavDropdown` in a `NavBar`, its children don't render as HTML before being clicked.
This is very impeding for website crawlability since all links in the dropdown won't be parsed in the page.

## To Reproduce

[code]

## Reproducible Example

https://codesandbox.io/s/friendly-davinci-82ws6
Inspect the rendered HTML in the frame **before** clicking on the dropdown

[2020-01-29 22:31] agrakhov commented on #1588
@tmcf thanks a lot, spent a couple of hours on this problem.

[2020-01-30 00:45] Menghongli opened #4955 "Nav navbarBsPrefix is ignored even when 'navbar' is true"
## navbarBsPrefix in Nav is being ignored even when 'navbar' is true

I was expecting:
[code]
to generate html:
[code]

But it generates HTML:
[code]

This happens when `Nav` is not being used in a `Navbar`, the `navbarBsPrefix` prop will be ignored when `navbar={true}`

## Expected behavior
the component should try to use `navbarBsPrefix` prop first without looking up for context.

[2020-01-30 00:48] Menghongli commented on #4955
my current workaround is to wrap it with a `NavbarContext`:
[code]

[2020-01-30 11:01] 0xc0d3r commented on #3797
@bpas247 I think, adding this `onClick: (event: React.MouseEvent) => void` to `ButtonProps` will resolve the typescript error.

Shall I create a PR?

[2020-01-30 11:55] pdhung197 opened #4956 "React-bootstrap carousel don't start inside react-visibility-sensor when change interval value dynamically"
I have a problem with React-Bootstrap Carousel component that i am not sure if it is a bug on the library.
I'm using `React-Bootstrap Carousel` component inside `react-visibility-sensor` component, like this:

[code]
When `VisibilitySensor` component's changed, `isVisible` will be changed and interval value will be changed to null (for stop carousel) or 3000.
But, currently, when VisibilitySensor

[2020-01-30 14:13] taion commented on #4956
Looks like a bug here where we don't support changes to `interval` in that manner.

[2020-01-31 09:46] francoisrouault opened #4958 "Missing border-radius for `Form.Control` when preceded with `InputGroup.Prepend`"
## Describe the bug

Missing border-radius for `Form.Control` when preceded with `InputGroup.Prepend`

## To Reproduce

Go and see `Username` input field in https://react-bootstrap.netlify.com/components/forms/#forms-validation-native

## Reproducible Example

https://codesandbox.io/s/mystifying-shape-0vuhy

## Expected behavior

We should see a right border radius (top and bottom).

## Screenshot

[2020-01-31 09:51] Shuhui11 opened #4959 "Variables access inside map loop cannot be shown in tab horizontally"
Hi, I want to have my variables displayed in a horizontal tabs. When I mapped my state variables to a tab each, it automatically set the tab in a vertical column. How can I circumvent around this?

![Screenshot 2020-01-31 at 5 46 30 PM](https://user-images.githubusercontent.com/47220371/73529450-adf86b80-4451-11ea-82b7-e0ba16280894.png)

This is the output:
![Screenshot 2020-01-31 at 5 49 31 PM](h

[2020-01-31 10:20] edvincandon commented on #4958
This is due to the `<Form.Control.Feedback>` colliding with the `.input-group>.form-control:not(:first-child)` css rule.

[2020-01-31 16:06] taion commented on #4959
This looks like a CSS issue on your side. Note that things look fine here: https://react-bootstrap.github.io/components/tabs/

Make sure that you have the right CSS loaded, and that the version of the CSS you're using matches the version of React-Bootstrap that you have.

[2020-02-01 00:42] bpas247 commented on #3797
That was my initial thought for a possible solution, yeah. I'd say go for it 😃

[2020-02-01 01:33] dharkness commented on #372
Passing `autoComplete="username"` ends up with `autocomplete="off"` which is not what I want. Using `autocomplete` displays a console error that it's an invalid property.

[code]

produces

[code]

[2020-02-01 03:22] Shuhui11 commented on #4959
@taion I'm not quite sure if I get you.

If I were to hard-code it in, it works.

![Screenshot 2020-02-01 at 11 06 13 AM](https://user-images.githubusercontent.com/47220371/73586214-cf566780-44e4-11ea-915a-bd34edf890c2.png)

I manage to get the tabs in horizontal, so I would think that my CSS is loaded correctly:

![Screenshot 2020-02-01 at 11 05 59 AM](https://user-images.githubusercontent.com/47

[2020-02-01 04:19] 0xc0d3r commented on #3797
@bpas247 I'm unable to push the code. Please add me as a contributor.

[2020-02-01 04:46] jonnysengage opened #4960 "'justify' prop for Nav no longer works"
Was using the Nav component and saw that justify nor fill work when set to true on the component? Was this removed?

`<Nav className="mr-auto text-center" justify={true} variant="pills" activeKey={ this.state.activeKey } defaultActiveKey="/" onSelect={ this.handleSelect }>`

[2020-02-01 04:54] #4960 closed

[2020-02-01 05:26] taion commented on #3797
Please fork the repo and submit a PR from your fork. That's the typical contributor flow for most OSS projects on GitHub.

[2020-02-01 05:26] taion commented on #4959
You need to have a single `<Tabs>` and then use the map to populate each individual `<Tab>`.

[2020-02-01 05:26] #4959 closed

[2020-02-01 10:22] francoisrouault commented on #4958
You are right, it is indeed a bootstrap 4.4  CSS issue when adding a `<div class="invalid-feedback">`.

We have the same issue in bootstrap documentation : https://getbootstrap.com/docs/4.4/components/forms/?#custom-styles

<img width="1440" alt="Capture d’écran 2020-02-01 à 11 10 57" src="https://user-images.githubusercontent.com/2499356/73590617-cebdd100-44e4-11ea-8c2d-46f747238946.png">
<img

[2020-02-01 10:50] ajdumanhug commented on #1517
@jaccon try this.

[code]

[2020-02-01 11:11] francoisrouault commented on #4958
So I close this issue to open another one in bootstrap repo https://github.com/twbs/bootstrap/issues/30116

[2020-02-01 11:11] #4958 closed

[2020-02-01 13:38] derwaldgeist commented on #4841
Is there an upgrade guide for different versions of this package? These kind of changes are pretty hard to detect. I stumbled upon it only after a while working with my app, as I needed the dropdown only at a single place.

[2020-02-01 17:40] paulsmithkc commented on #648
Same for me, when id is not set, onChange is not called.

[2020-02-01 20:06] TashTenner commented on #3525
Hi there, having the same issue that I cannot make <NavDropdown> clickable. Any idea how I can do that?

see: title="Link2" as={Link} to="/link2"

Thanks!

`<Navbar collapseOnSelect expand="lg" fixed="top">
      <Navbar.Brand as={Link} to="/">Name</Navbar.Brand>
      <Navbar.Toggle aria-controls="responsive-navbar-nav" />
      <Navbar.Collapse id="responsive-navbar-nav">
        <Nav className=

[2020-02-01 20:08] TashTenner commented on #3525
Hi there, having the same issue that I cannot make <NavDropdown> clickable. Any idea how I can do that?

see: title="Link2" as={Link} to="/link2"

Thanks!

<Navbar collapseOnSelect expand="lg" fixed="top">
      <Navbar.Brand as={Link} to="/">Name</Navbar.Brand>
      <Navbar.Toggle aria-controls="responsive-navbar-nav" />
      <Navbar.Collapse id="responsive-navbar-nav">
        <Nav className="

[2020-02-01 20:10] TashTenner commented on #3525
Hi there, having the same issue that I cannot make <NavDropdown> clickable. Any idea how I can do that?

see: title="Link2" as={Link} to="/link2"

Thanks!

[code]

[2020-02-02 00:01] taion commented on #3797
Is this a limitation to our type inference then? It works if you do `<Button<'button'> onClick={...}>`

[2020-02-02 12:45] TashTenner commented on #3525
solved with <SplitButton>

[2020-02-02 17:15] EthanDRaymond opened #4962 "Dead links in documentation."
## Describe the bug

Links in the documentation to the source of sub-components lead to a 404 error.

## To Reproduce

Steps to reproduce the behavior:

1. Go to https://react-bootstrap.github.io/components/forms/
2. Scroll down to **Form.Row**
3. Click the 'View Source File' link icon to the right of the header.
4. See 404 error.

## Reproducible Example

https://react-bootstrap.github.io/compone

[2020-02-02 18:18] joshcoast commented on #4042
@jquense stop being obtuse. You know exactly what they are after.

[2020-02-03 02:18] jotacervan commented on #3645
Any updates about this issue guys? I agree with @texonidas. This is a pretty major issue.

[2020-02-03 14:43] jquense commented on #4042
@joshcoast If you continue to interact with folks here with that attitude you'll be banned. Maintainers, here do their best to meet a wide variety of use-cases with a lot of constraints you may not be aware of. If you are unhappy with the level of service you are receiving we'll give you a full refund, fork and move on if you've nothing constructive to add

[2020-02-03 14:51] taion commented on #4962
I'm not sure what you mean. Clicking on the "#" link works fine for me. https://react-bootstrap.github.io/components/forms/#form-row-props works fine for me too.

[2020-02-03 14:57] taion commented on #4954
@jquense should we make this configurable?

[2020-02-03 19:49] zinovev commented on #4176
I have the same issue. PR by @BenStadnick isn't merged. Any solution?

[2020-02-03 21:24] eweitz commented on #3645
Hi @taion, thanks for developing this fantastic library.

It seems @billychan fixed this issue in react-bootstrap/react-overlays#297, which you [merged](https://github.com/react-bootstrap/react-overlays/commit/e022e9c2b66fb7a0f8ef0c172a1b12c986dbcc75) into `react-bootstrap/react-overlays:master` on 2019-10-19.

However, I just encountered this bug in [react-bootstrap v1.0.0-beta.16](https://github

[2020-02-03 22:54] taion commented on #3645
@eweitz @billychan oh, my bad. i just released 2.1.1 of react-overlays.

i think i lazied out on releasing that earlier because we hadn't upgraded R-B to use R-O v2 yet

[2020-02-04 08:35] barmaley443-sfdev commented on #2463
+1

[2020-02-04 12:25] jt4000 opened #4965 "How to display cell's content in Bootstrap's Modal Body"
Goal:
When pressing one of the cell in column Country, the data from the cell shall be displayed in the modal body (`<div id="test" />`).

Problem:
The code don't work and what part am I missing in order to achieve the goal.

Info:
*Newbie in reactjs.
*Using react-bootstrap

Code Sandbox:
https://codesandbox.io/s/silly-pine-1fs37
https://codesandbox.io/embed/silly-pine-1fs37

`import React, { useS

[2020-02-04 12:27] jt4000 opened #4966 "How to display cell's content in Bootstrap's Modal Body"
Goal:
When pressing one of the cell in column Country, the data from the cell shall be displayed in the modal body (`<div id="test" />`).

Problem:
The code don't work and what part am I missing in order to achieve the goal.

Info:
*Newbie in reactjs.
*Using react-bootstrap

Code Sandbox:
https://codesandbox.io/s/silly-pine-1fs37
https://codesandbox.io/embed/silly-pine-1fs37

`import React, { useS

[2020-02-04 14:09] jquense commented on #4966
Here is a more React-y way to do what you want. It may not be the exact right thing for your project, but it demonstrates the pattern for how to do this sort of thing. Think int terms of data not moving DOM nodes around

https://codesandbox.io/s/crimson-wildflower-wsl0l

[2020-02-04 14:10] #4966 closed

[2020-02-04 14:10] jquense commented on #4965
Here is a more React-y way to do what you want. It may not be the exact right thing for your project, but it demonstrates the pattern for how to do this sort of thing. Think int terms of data not moving DOM nodes around

https://codesandbox.io/s/crimson-wildflower-wsl0l

[2020-02-04 14:10] #4965 closed

[2020-02-04 18:55] rockchalkwushock commented on #4607
@taion

This seems to still be an issue. I pulled down the repository and was looking at the source and as you state about at the moment the library is just forwarding props on to the component. Adding `autoFocus` causes the following  `<input autofocus="" />`. You mentioned above that in practice it is working for you. May I ask what versions you are running?

Since the library is not handling th

[2020-02-04 19:41] taion commented on #4607
It's a boolean attribute, so that's actually how it works: https://developer.mozilla.org/en-US/docs/Web/API/HTMLSelectElement/autofocus

Your issue may be more around when the input itself gets mounted.

[2020-02-04 19:58] jquense commented on #4607
React doesn't/shouldn't pass through autoFocus, b/c it provides it's own implementation of it

[2020-02-04 22:27] rockchalkwushock commented on #4607
@taion thank you for the speedy response. I think you are on to something with the mounting. We are doing something different there that could be effecting it. Thank you for idea!

[2020-02-05 00:59] EthanDRaymond commented on #4962
@taion I wan't clear about which link I meant. I updated my description.

[2020-02-05 20:28] stevehanson commented on #2748
I haven't been able to find where this was fixed. I just upgraded to the latest pre-1.0 (Bootstrap 3) release, v0.33.1, which was released November 2019, and am still seeing this issue. I'm also seeing the same tabindex behavior as described by @AhmedFat7y.

[2020-02-05 21:30] taion commented on #4962
gotcha, fixing in https://github.com/react-bootstrap/react-bootstrap/pull/4969

[2020-02-06 00:28] BenMorel opened #4971 "Does the Dropdown.Toggle id property need to be globally unique?"
First of all I apologize for the support request, but the docs are unclear to me.

The [Dropdown.Toggle](https://react-bootstrap.github.io/components/dropdowns/#dropdown-toggle-props) docs mention that the `id` property is required:

What the doc doesn't say is, **does the `id` property need to be globally unique?**

As far as I can tell, only one dropdown instance can appear on the page at any gi

[2020-02-06 01:38] taion commented on #4971
This just gets passed through to https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/id. The `id`, however, gets passed to the toggle component itself, and you can have more than one dropdown toggle on the screen at a time, though it would be unusual to have multiple open dropdowns. However, that does mean that you'd want each rendered dropdown toggle to have a different `id`.

[2020-02-06 01:38] #4971 closed

[2020-02-06 02:55] #4962 closed

[2020-02-06 10:32] jpreynat commented on #4954
Friendly ping on this issue, since it affects the rendered HTML of our homepage.

[2020-02-06 16:22] taion commented on #4954
unfortunately i can't really comment on what to do here because i'm not familiar with why we originally did dropdown menus this way. i guess the idea is that we want them e.g. hidden for screen readers, but still rendered such that crawlers see them? it sounds reasonable to me but i can't really comment further as i don't know why we're hiding the menus to start with

[2020-02-06 16:24] BenMorel commented on #4971
Thank you for the clarification. The fact that it's required has cascading consequences, forcing every instance of Dropdown to have a context from which we can build an id.

Is this a requirement that Bootstrap itself enforces?

[2020-02-06 16:25] taion commented on #4971
no; as noted, it's required for pages to satisfy a11y best practices. things will "work" (but not be accessible) even if you don't specify an `id` at all.

[2020-02-06 16:33] BenMorel opened #4972 "Dropdown.Toggle forces the onClick attribute"
I'm trying to use a custom dropdown toggle, as per the [docs](https://react-bootstrap.github.io/components/dropdowns/#custom-dropdown-components). Using the same code as in the docs, I get an error:

![image](https://user-images.githubusercontent.com/1952838/73956783-ba733d00-4905-11ea-851f-6acb5934abd7.png)

Notes:

- if I remove the `as={}`, the error disappears, and so does my customization
- i

[2020-02-06 16:41] BenMorel commented on #4971
Thank you. But then why does react-bootstrap enforce the `id`?

[2020-02-06 17:01] taion commented on #4972
dupe of https://github.com/react-bootstrap/react-bootstrap/issues/4819; the answer is that our types are probably set up wrong, and we'd be happy to take a PR to fix them

[2020-02-06 17:01] #4972 closed

[2020-02-06 17:01] taion commented on #4971
it's not strictly "enforced". we log a dev error if it's not present, but it's not otherwise enforced.

[2020-02-06 21:14] kamivrpg opened #4973 "Personalize close Modal in ModalHeader"
Hi!

I was asking in Discord because i couldn't find the "x" that appears to close the modal element. It appears in DOM but i couldn't find it in the project or the API:
![image](https://user-images.githubusercontent.com/47991397/73978943-edf89c00-48f2-11ea-9ff5-eb296c1516fe.png)
but in the modal is like a prop:
![image](https://user-images.githubusercontent.com/47991397/73979017-0a94d400-48f3-11e

[2020-02-06 22:31] hardnold opened #4974 "<Container fluid="[breakpoint]"> not working"
## Describe the bug

The documentation states

see [https://react-bootstrap.netlify.com/layout/grid/#container-fluid](https://react-bootstrap.netlify.com/layout/grid/#container-fluid)

But it doesn't actually take care of the breakpoints, it just decides whether the container will be fluid or not and therfor does not stop "growing" when viewport is larger than the breakpoint

The Problem lies (pro

[2020-02-06 23:19] taion commented on #4974
this isn't released yet in beta.16

[2020-02-06 23:19] #4974 closed

[2020-02-07 11:18] jpreynat commented on #4954
@taion, indeed, this is what I had in mind.
Maybe they were implemented this way to prevent extra-rendering at the initial render, since the elements are always rendered after the initial click.
I understand the logic behind this, but it would be great to at least make this configurable as opt-in.

[2020-02-07 17:44] tragessere opened #4977 "Empty aria-labelledby Attribute on Dropdown Menu. No aria-controls attribute on the DropdownToggle."
## Describe the bug

The `NavLink` in a `NavDropdown` does not get the Id passed to it, leaving an empty `aria-labelledby` attribute on the `DropdownMenu`. The `NavLink` does not have an `aria-controls` attribute.

## To Reproduce

Create a `NavDropdown` element with an id. and some `NavDropdownItems` in it. The resulting `DropdownToggle` button does not have an id on it for the menu to refer to.

[2020-02-07 21:22] jquense commented on #4954
we can make it configurable. We originally did it as an optimization I believe.

[2020-02-07 21:39] taion commented on #4954
cool! @jpreynat feel free to send in a PR that adds the config option, then

[2020-02-07 21:42] taion commented on #4973
Enabling the `closeButton` prop just renders a `<CloseButton>`, per https://github.com/react-bootstrap/react-bootstrap/blob/89693c7967594d4713149a17aca0993b45373cc0/src/ModalHeader.js#L64-L66

If you need a non-default close button, then pass that as a child into `<Modal.Header>`.

[2020-02-07 21:42] #4973 closed

[2020-02-10 09:54] seladb opened #4981 "ProgressBar - apply transition effect only when increasing progress"
As per my understanding, in the current implementation transition works both when increasing and decreasing the progress. I have a use-case where I slowly increase the progress from 0 to 100, and then I reset the progress back to 0 and increase it slowly again. When resetting from 100 to 0 the progress transitions backwards which is very confusing for my users.

The desired behavior is: transition

[2020-02-10 17:34] charlieman commented on #4981
Here's a trick I use, add this to your css:
[code]
When the `now` value changes to 0 the transition is set to none and it immediately disappears. Only works with zero though, if you go from 80 to 30 you still see the transition.

[2020-02-10 18:37] taion commented on #4981
This isn't really a matter of the JS we offer here, anyway. The animation is implemented with the upstream Bootstrap CSS.

[2020-02-10 18:37] #4981 closed

[2020-02-11 07:46] seladb commented on #4981
Thanks @charlieman that does the trick!

@taion maybe it'd be nice to add this as a prop for the `ProgressBar` component, please let me know what you think

[2020-02-11 14:41] flyon opened #4984 "importing react-bootstrap components with typescript for nodejs doesn't work"
## Describe the bug

According to the documentation we should use

    import Form from "react-bootstrap/Form";

However this gets transformed by typescript to

    const Form_1 = require("react-bootstrap/Form");

This causes problems when I try to access Form.Group or Form.Label:

    <Form><Form.Group></Form.Group></Form>

Which compiles to

     React.createElement(Form_1.default,{},React.creat

[2020-02-11 15:00] flyon opened #4985 "Error: Invalid Hook call - but pretty sure I don't have 2 react instances"
Im facing this issue and don't get anywhere with solutions given by https://github.com/facebook/react/issues/13991

In short: I am very certain I have only one react version running, and I get this error whenever I use react-bootstrap, so I'm posting here to see if it can be related to react-bootstrap in any way?

This error occurs on a node.js backend for me.

__What I checked around react versio

[2020-02-12 01:21] Xeoncross commented on #3944
Thanks @praxiz, I'll try this `Link.tsx` Component:

[code]

[2020-02-12 01:36] flyon commented on #4985
resolved by removing a package called react-tree-walker that I was using to prefetch data on the server-side. See this comment for info https://github.com/facebook/react/issues/13991#issuecomment-584761836

[2020-02-12 01:36] #4985 closed

[2020-02-12 13:21] kosmiq opened #4986 "Why is className for <Tab> named tabClassName?"
## Describe the bug

Not sure if it really is a bug. But here goes.
I recently used the the tab functionality and had a need of adding a custom class to a tab. Happily confident that I could use className I set a custom class using that like so:
`<Tab className="class"></Tab>`

But that did not work. So I looked at the code and discovered that tabs uses tabClassName instead of the regular classNam

[2020-02-12 14:10] jquense commented on #4986
It's sort of a weird reason. `Tab` isn't a normal component, it abstractly represents both the nav item "tab" and the content of that tab. In other words, `<Tab>` when used, results in _two_ components being rendered, the `NavItem` in the tab list and the `TabPane`. `className` goes to the `TabPane`, and `tabClassName` goes to the NavItem. It's a little weird, and maybe should have been inverted b

[2020-02-12 14:16] kosmiq commented on #4986
Ah, thanks for clarifying that. All is good then. :)

[2020-02-12 14:16] #4986 closed

[2020-02-13 11:43] onichandame commented on #3568
I used `import FormControl from 'react-bootstrap/FormControl'` to import the type FormControl. @denis-n 's solution works for me.

FYI, the version of react-bootstrap I am using is 4.4.1

[2020-02-14 20:04] rodrigoyoshida commented on #3505
I am facing the same issue here. Since this issue has been opened for about a year and nobody answered, I guess they do not have plans to solve it.

[2020-02-14 21:36] ORESoftware opened #4987 "Cannot get values from the Form"
I have this code:

[code]

the docs [here](https://react-bootstrap.github.io/components/forms/) do not make it clear how to retrieve the values from the form - how can I get the values of each form field? thanks

[2020-02-14 21:40] ORESoftware commented on #3579
I have the same problem:  https://github.com/react-bootstrap/react-bootstrap/issues/4987

[2020-02-14 22:55] jquense commented on #4987
You can get them any way you would without react bootstrap, in react. We generally recommend you control the value of each input by storing it in state and passing it to the control via the `value` and listen for changes with `onChange` your mileage with vary tho.

[2020-02-14 22:55] #4987 closed

[2020-02-15 12:48] Crossmax14 opened #4989 "Mutli carousel"
Please create the opportunity to show several slides, thereby creating the ability to use the carousel as a multi carousel.

[2020-02-15 14:15] taion commented on #4989
We only handle React bindings for Bootstrap. This isn't a component in Bootstrap, so it's out of scope here.

[2020-02-15 14:15] #4989 closed

[2020-02-15 17:00] webcoderkz commented on #3568
Doesn't work with `useRef`:

[code]

And markup:

[code]

As workaround.

[2020-02-16 13:58] onichandame commented on #3568
@webcoderkz please try `const inputLogin = useRef<HTMLInputElement & FormControl>(null);` and JSX `<Form.Control ref={inputLogin}`

[2020-02-16 15:35] webcoderkz commented on #3568
@onichandame thanks, it does work. I think react-bootstrap should have some kind of README or guidance on how to type refs with TS.

[2020-02-16 23:26] ozairi121 commented on #3533
I was getting the same error but for a different file in `react-bootstrap`
[code]

I tried removing the `node_modules` folder and doing a fresh `npm install`, but I kept getting the error.
Then, after I tried restarting the react app with `npm start`, NPM gave me a nice reminder to **also** remove the `package-lock.json`
[code]
Then you should be good to go.

[2020-02-18 06:17] ccornici opened #4991 "Toast uses opacity 0 instead of display none"
## Describe the bug

The React Bootstrap Toast is rendered on the page as hidden, whereas the Actual Bootstrap Toast has display none. This is not only not conforming with the actual bootstrap implementation (of actually having display none when a toast is not displayed, by using the "hide" class on the toast root), but is also very annoying and breaking layouts.

## To Reproduce

Steps to reprodu

[2020-02-18 08:57] denis-n commented on #4771
I have also noticed that.

[2020-02-18 14:18] taion commented on #4991
We'd be happy to take a PR here.

[2020-02-18 19:55] dsound-zz opened #4992 "React-Bootstrap Modal fails in webpacker Production"
I'm building a Rails 6 app tha uses Webpacker. I'm using React and React-bootstrap.

In development mode on my local server without a webpacker precompile, everything works fine. When I compile Webpacker for production, I get a failure on clicking 'create' which is supposed to open a modal.

Steps to reproduce the behavior:

I'm using:

rails 6.0.2
react@16.12.0
 babel-loader@8.0.6
 webpack@4.41.6

[2020-02-18 23:04] taion commented on #4992
I don't think any of us here have any familiarity with Rails or Webpacker, so it's not clear what we can do to help you. Can you isolate this to something that can be reproduced with just JS?

[2020-02-19 09:04] kennysmith12 opened #4993 "Can't open a new popup window"
## Describe the bug

Problem opening a new modal

## To Reproduce

Steps to reproduce the behavior:

I copied the code to open a new popup window from here:
https://react-bootstrap.netlify.com/components/modal/
And when I press the button, it is not opening a new window

## Reproducible Example
1.Create react project
2. copy this code:
[code]

3. run the program and press the button

## Expected b

[2020-02-19 12:23] jquense commented on #4993
You also need to include the bootstrap css

[2020-02-19 14:36] dsound-zz commented on #4992
Ok I thought since the error is happening on the JS side that there might be a known issue with <Modal>. I'm baffled as to why it works in dev but not production.

[2020-02-19 14:36] #4993 closed

[2020-02-19 16:08] dsound-zz commented on #4992
I think my issue might be related to this issue: https://github.com/react-bootstrap/react-bootstrap/issues/4895

[2020-02-19 16:12] dsound-zz commented on #4895
I'm still having this exact same issue where clicking on <Modal> causes a crash and has the same error as listed above.

[2020-02-19 17:59] taion commented on #4895
You should not run "remove prop types" on library code in your build, BTW. There's no guarantee that it will "just work".

[2020-02-19 20:36] bgeels opened #4994 "Apply dropdown-menu-right class to NavDropdown component."
I am trying to have a `NavDropdown` apply the `dropdown-menu-right` class to the `div.dropdown-menu` element created within the component.

I would have expected this to work but it doesn't.

[code]

Could be I'm just not applying it correctly, if not could support for this be added?

Thanks!

**What's happening.**
![reality](https://user-images.githubusercontent.com/4997487/74873512-569d3b00-532d

[2020-02-19 20:43] jquense commented on #4994
you wouldn't apply the class yourself, add the 'alignRight' class instead

[2020-02-19 20:43] #4994 closed

[2020-02-19 20:53] bgeels commented on #4994
You're quick and correct, thanks!

**Working .jsx:**
[code]

[2020-02-19 21:45] dsound-zz commented on #4895
I'm not sure what the above means and even if I modify the esm <Modal> code, it will rebuild unless I fork it. Sorry, node libraries are new for me. Just recognizing that this OP was the closest to my situation and I'm getting the same error.

[2020-02-20 04:33] WilliamMena commented on #4761
Hey, it seems as if this issue was completed in [this commit](https://github.com/react-bootstrap/react-bootstrap/commit/4444bb7623930e9a5bb5c1d4cfc95c28201fa745). It also includes v1.0.0-beta.15

[2020-02-20 04:34] taion commented on #4761
Thanks!

[2020-02-20 04:34] #4761 closed

[2020-02-20 09:17] FullStackForger opened #4997 "Warning: `NaN` is an invalid value for the `left` css style property."
## Describe the bug

Unexpected warning error.

## Reproducible Example

Here is a TS example of self contained test that can reproduce the issue.

[code]

Test passes ok but generates following error.

[code]
_CodeSandbox_ not applicable

## Expected behaviour

No error or warning should occur.

## Environment (please complete the following information)

- Operating System: [e.g. macOS]
- React-B

[2020-02-20 09:21] FullStackForger commented on #2463
Similar error for 'left' when testing Tooltip with OverlayTrigger.
[code]
Since it is different component, reported as separate issue [4997](https://github.com/react-bootstrap/react-bootstrap/issues/4997) but there seem to be a pattern here.

[2020-02-20 16:27] BenMorel commented on #4819
Any update here? This blocks our build and prevents us from deploying.

[2020-02-20 16:34] taion commented on #4819
I think something like @fbessou's proposed solution is the right one here. We need to include "what gets passed down" in the types somehow. We'd be happy to take a PR to fix this issue.

[2020-02-20 16:38] BenMorel commented on #4819
@taion I'm not proficient enough with TS to be able to fix this bug, I'm afraid. Any chance you or another contributor can work on this one?

[2020-02-20 16:54] jquense commented on #4819
its a type issue, if it's blocking you override the type in your code or cast to `any`, we will get to this eventually but type def issues are low on the priority list, since they are advisory and do not affect the actual code behavior

[2020-02-20 17:00] BenMorel commented on #4819
Pardon my ignorance, I'm getting started with TypeScript. Could you please explain how you do that in this case?

[2020-02-20 17:19] AparnaPrasad opened #4998 "Basic toast without onClose callback causes type error"
## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

1. Go to official [page](https://react-bootstrap.github.io/components/toasts/)
2. Under Basic Click on 'X' in the header
3. Open console
4. Displays a type error

## Reproducible Example

Minimal example by using [CodeSandbox](https://codesandbox.io/s/github/react-bootstrap/

[2020-02-20 17:20] BenMorel commented on #4819
OK I managed to fix it by making the `onClick` property of my `CustomDropdownToggle` props optional:

Before:

[code]

After:

[code]

[2020-02-20 18:01] taion commented on #4998
Toasts are always closable, no? What _should_ happen if the user clicks on the "X"? If it's "nothing", then it seems like passing in a no-op callback would be most appropriate?

Is the issue that we haven't marked the prop required?

[2020-02-20 18:12] alekpentchev commented on #4998
@taion It might be the case. The example provided by @AparnaPrasad shows that ```onClose``` callback is optional. The same for ```show``` attribite. So whenever one is missing there is a problem. Deleting ```onClose``` causes this TypeError because probably the Toaster doesn't know how to behave.

So the question is - should it be required? Or maybe it can stay as optional but then it should close

[2020-02-20 20:08] kimyu92 opened #4999 "Dropdown in Tab is broken when wrapping NavDropdown as a separate functional component"
## Describe the bug

The dropdown in tab cannot be extracted as a separate functional component.

## To Reproduce
[code]
## Sandbox
https://codesandbox.io/s/react-bootstrap-tab-navbar-functional-component-85cfw

## Expected behavior
The second code snippet above should be equivalent as the first example
The `SnackDropdown` in the codesandbox should be working

If applicable, add screenshots to hel

[2020-02-20 20:13] Ismail-Vega commented on #1643
none talka bout setting the height this is a problem for me that don't work using that way

[2020-02-20 21:20] #4999 closed

[2020-02-20 21:54] taion commented on #4997
Can you check if it's the same thing as in https://github.com/react-bootstrap/dom-helpers/pull/22? If so, can you follow up there?

[2020-02-21 01:28] zhao-ji commented on #2239
Hi @camleng , can you adjust the rows when input in textarea? I tried to update rows dynamically, but it's failed, even set the style to `height: unset`.

[2020-02-21 02:48] digo09 opened #5000 "how about Image Component Name replace to "Img" ?"
Hi, Sorry, I am not good at English.

React-bootstrap Component Image is Web API Image Same Name
When using both together "Type Error" occur

Web API Image
https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement/Image

Error Example
https://codesandbox.io/s/confident-framework-q5xj1

[2020-02-21 04:22] taion commented on #5000
Well, you can import it with whatever name you want. I guess we could consider renaming it, though? I don't feel strongly.

[2020-02-21 07:34] gamalielwkr opened #5001 "Get Tab Container activeKey"
Hi, I have implemented a custom Tab Layout using Tab Container.
In some cases, I want to check which Tab is active.
Last time I am using `1.0.0-beta.3` version to get the `activeKey` by `ref` to access Tab Container `props`.
Below is the code:

[code]

But when I upgrade the version to `1.0.0-beta.16`, the `ref` contains `undefined` and it says `Warning: Function components cannot be given refs. A

[2020-02-21 10:22] rubimbura opened #5002 "Replace the Dropdown Title with cliked child element"
When a child element is clicked I am expecting to replace the Title, so that I see the selected child,
but with This Dropdown a title doesn't change regardless the clicked item.need some help please.

ex: <Dropdown>
         <Dropdown.Toggle>title </Dropdown.Toggle>
         <Dropdown.Menu>
              <Dropdown.Item>one </Dropdown.Item>
              <Dropdown.Item>two </Dropdown.Item>

[2020-02-21 10:24] mxschmitt commented on #5000
@digo09 for example: https://codesandbox.io/s/quizzical-herschel-7fweg

But I think this is not in the ReactBootstrap scope to provide a other naming for that element.

[2020-02-21 10:25] mxschmitt commented on #5002
Please provide us a full example on CodeSandbox what you are trying to accomplish.
https://codesandbox.io/s/github/react-bootstrap/code-sandbox-examples/tree/master/basic

[2020-02-21 10:28] AparnaPrasad commented on #4998
I agree with @alekpentchev to make onClose handler optional and handling default behavior by itself.  If close button is visible  then it it is expected to close, but we can accept an optional callback to allow customization. I don't think having the close button, without closing is a behavior expected/required. If its not intended to be closed, close button it can be hidden with optional prop clo

[2020-02-21 10:41] AparnaPrasad commented on #4998
So as I see it there are 3 possible ways to fix this error:
1. Handle closing within the component and allow optional callback
2. Make onClose call back required when closeButton props is set to true
3. Add an additional condition at this [line](https://github.com/react-bootstrap/react-bootstrap/blob/eca5373d7d3beaec6abe2a2d380f6d216cad5beb/src/ToastHeader.js#L41), so that if there is a callback i

[2020-02-21 10:50] rubimbura commented on #5002
@mxschmitt Thank you for responding..
What I want to accomplish is the same way select element uses drop-drown but I want to use react-bootstrap in my project.
ex:

<select>
    <option>one</option>
    <option>two</option>
   <option>three</option>
</select>

Here by default the page will display text one, and when a drop-drown is toggled and option two is clicked  text two will replace text one

[2020-02-21 14:43] taion commented on #4998
`<Modal>` and `<Alert>` both require the close handler to be defined when rendering a "close" button. We should thus do the same here.

[2020-02-21 15:01] taion commented on #5002
You can control the `<Dropdown>`'s open state and use the same state property to control the text on the toggle.

[2020-02-21 15:01] dangrabcad commented on #3175
Can I ask why this was closed? I'm sure it was for a good reason e.g. the error comes from using the library wrong; but it would be really helpful as a user of your library to know the reason. I have exactly the same error in 0.33.1, the latest version supporting Bootstrap 3. It looks like it's caused by some version incompatibility - it started when updating React to 16.8 - but there's no informa

[2020-02-21 15:01] taion commented on #5001
Manage the `activeKey` state yourself and pass it down to `<Tab.Container>` as the `activeKey` prop.

[2020-02-21 15:01] #5001 closed

[2020-02-21 15:01] #5002 closed

[2020-02-21 15:14] webcoderkz commented on #4472
Do you plan to fix this?

[2020-02-21 15:20] taion commented on #4472
we'd be happy to take a PR to fix this

[2020-02-21 15:25] jebarjonet commented on #4472
@webcoderkz you need to add `active` to `<Breadcrumb.Item>` so it renders a `span` instead of a `a`

[2020-02-21 15:33] webcoderkz commented on #4472
@jebarjonet sorry, didn't noticed it. Thanks.
@taion How can we improve this? Maybe just remove an `<a>` from `<Breadcrumb.Item>`, because i see no reason to use just a simple link, many people are using react-router-dom.

[2020-02-21 15:39] taion commented on #4472
as stated, we should accept a `linkAs` prop

[2020-02-21 16:13] FullStackForger commented on #4997
@taion Jimmy not sure what exactly are we after in that linked PR? It has been closed long time ago.

[2020-02-21 17:46] taion commented on #4997
Well, is the `NaN` coming from a jsdom bug? Seems like it's the same problem.

[2020-02-21 18:02] FullStackForger commented on #4997
I have done a bit of digging and it seems that the issue is caused by popper.js.
Their `getPopperOffsets()` function called from the `update()` returns invalid styling, eg:
[code]

Haven't worked out if it is jsdom related yet.

[2020-02-21 18:26] FullStackForger commented on #4997
Can't see why it breaks exactly but went through error stack trace and it would make sense to add simple validation to
https://github.com/react-bootstrap/react-overlays/blob/master/src/usePopper.js#L109

Perhaps destruct only valid props and throw away everything else, eg: `{ left: NaN, top: '' }` or `{ left: NaN, top: NaN}`. Hardcoded it locally to test it but happy to create PR if proposed solut

[2020-02-21 18:50] FullStackForger commented on #4997
Actually mocking popper solves the problem.
I have created `stc/__mock__/popper.js.js` file with following code:
[code]

Just for the reference, here is [link](https://github.com/popperjs/popper-core/issues/478#issuecomment-341494703) to a popper issue.

[2020-02-21 19:17] sirricode opened #5003 "Carousel onSlideEnd gets called more than once."
## Describe the bug

I'm trying to use onSlideEnd event of Carousel component but everytime Slide changes callback gets called more and more.

## To Reproduce

Steps to reproduce the behavior:

1. Create a Carousel
2. Click on previous or next button

## Reproducible Example

Minimal example by using [CodeSandbox](https://codesandbox.io/s/upbeat-mendel-fd97f?fontsize=14&hidenavigation=1&theme=dark

[2020-02-21 20:24] taion commented on #4997
Okay; is this issue resolved, then?

[2020-02-23 05:08] elfatherbrown commented on #4176
Fix by @BenStadnick works! Thank you!

[2020-02-23 22:02] AparnaPrasad commented on #4998
In the Modal example in the react-bootstrap offical [page ](https://react-bootstrap.github.io/components/modal/) also in this [codepen ](https://codepen.io/apbscodepenio/pen/xxGRNzJ), as you see here that there is no type error caused if I miss out onClose, after debugging a bit, I found the issue is in passing the context prop to the component, as you can see in the screenshot I am attaching; in

[2020-02-24 17:51] Rishika07 commented on #4991
Hey, Can I take this up?

[2020-02-24 18:03] jquense commented on #4991
ya go for it 👍

[2020-02-24 19:14] taion commented on #4998
That's odd. We _should_ require it, no? It shouldn't be possible to just have a broken "close" button...

[2020-02-25 00:19] taion commented on #5003
There's a chance this will get fixed by https://github.com/react-bootstrap/react-bootstrap/pull/4917

[2020-02-25 09:52] AparnaPrasad commented on #4998
Also, what I don't understand is, when is Modal getting its onHide function from even if I don't explicitly pass the callback function

[2020-02-26 02:40] logicallayer opened #5006 "disable <Row> of certain screen size"
Is there a way to disable Row for certain screen size?
Basically to emulate similar behaviour to display:inline vs display:block for the tag inside the row.

[2020-02-26 11:23] bcobra commented on #4887
When will this be released?

[2020-02-26 14:28] taion commented on #5006
Take a look at the Bootstrap utility classes: https://getbootstrap.com/docs/4.4/utilities/display/

[2020-02-26 14:28] #5006 closed

[2020-02-27 08:41] redimongo opened #5007 "How to get NavDropdown to show on hover?"
## Describe the bug

Can 't seem to get NavDropdown to show dropdown when a user hovers (desktop version).

## To Reproduce

`Steps to reproduce the behavior:
`
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Reproducible Example

[code]

[2020-02-27 09:42] WillJW opened #5008 "Allow `SplitButton` primary button `type` to be set"
## Is your feature request related to a problem? Please describe

Adding a SplitButton as the main submit button on a form, I noticed hitting 'enter' in the form wouldn't submit it. This is because the primary SplitButton button is `type="button"`.

## Describe the solution you'd like

I would like to be able to set the primary button's type.

Example:

[code]

[2020-02-27 15:37] taion commented on #5007
You need to control the `show` prop yourself. Pass in `show` and `onToggle` to manage the shown state, and use your own event handlers to determine when to show it.

[2020-02-27 15:37] #5007 closed

[2020-02-28 02:14] bsdis opened #5012 "react-hook-form"
Is there any plan to support integration with react-hook-form?

https://react-hook-form.com

[2020-02-28 03:10] garyking opened #5013 "Can't specify correct types for a wrapper component around `Button`, in TypeScript"
I've written a wrapper component for `Button`. Like this:

[code]

Since I'm using this in TypeScript, I'm trying to add types to `props`. In addition to allowing all attributes that `Button` accepts, I also want to accept all attributes that the underlying `button` accepts (like `style`).

The type definitions for `Button` in `react-bootstrap` is:

[code]

But if I set the type for `props` to `pr

[2020-02-28 03:12] taion commented on #5012
The form components are essentially just styled versions of basic HTML inputs. What sort of integration would even be relevant?

[2020-02-28 09:16] mxschmitt commented on #5008
Closed because it was implemented in #5009

[2020-02-28 09:16] #5008 closed

[2020-02-28 11:20] VinitSarvade commented on #4991
#5015

[2020-02-28 11:22] VinitSarvade commented on #4991
Hey, I've made the changes for the above issue in this PR: #5015
Please provide me with any necessary input to improve this and get this successfully merged.

[2020-02-28 12:02] shablenko-sednor opened #5016 "OverlayTrigger forward context"
## Describe the bug
I`m trying to display localized content inside tooltip using react-intl
It depends on some context and throws errors

code is simple, nothing special

[code]

![Selection_999(021)](https://user-images.githubusercontent.com/37369710/75546968-7ec62180-5a32-11ea-8b0e-51a8d7823274.png)

## To Reproduce

please see code fragment from above

## Expected behavior

context is forwarded

[2020-02-28 14:10] bichotll commented on #4946
Noticed the same. Thanks for reporting it.

[2020-02-28 15:59] jquense commented on #5013
`props: React.componentPropsFor<typeof Button>`

[2020-02-28 17:07] taion commented on #5016
This should not be an issue on any reasonably recent version of React. What version of React are you on?

[2020-02-28 19:32] garyking commented on #5013
Thanks. I got `React.ComponentProps<typeof Button>`. It seems like it accepts any prop, though. There's no way to restrict it to only props that Button and button accept?

[2020-02-29 02:41] dimitropoulos opened #5018 "This project has been added to the react-ui-roundup"
Hi!

I am making this issue just to let you know that I've included your amazing project in the [react-ui-roundup](https://github.com/dimitropoulos/react-ui-roundup).

For more information see https://github.com/dimitropoulos/react-ui-roundup/issues/2.

Please feel free to close this issue at will - I just wanted to let you know :smile:.

Thanks!

[2020-02-29 05:12] jquense commented on #5018
Thanks, tho you data seems incomplete or wrong in a few places. React bootstraps css is just normal bootstrap, you should judge it by those resources as well. E.g. bootstrap has an interactive theme builder.

Also the checkbox icon is customizable, via sass

[2020-02-29 05:12] #5018 closed

[2020-02-29 16:29] maxcww opened #5019 "DropdownItem preventDefault or stopPropagation does not stop the Dropdown from closing"
Hello, I am pretty new with react and react-bootstrap and am trying to use a Dropdown with DropdownItems or a DropdownButton with DropdownItems where if one clicks on an item inside, the drop down doesn't close itself. I have tried to place almost everywhere a onClick={(e) => e.preventDefault()} or with stopPropagation but to no avail. Is there someone who can help?

At the moment my code looks li

[2020-02-29 18:58] dimitropoulos commented on #5018
Thank you for taking a look.  My main concern is misrepresenting your project, for sure.

For a themer (where https://themer.orbit.kiwi/ is a great example), I need a link to one.  Would you mind showing me one you recommend? I don't have a lot of experience with bootstrap, as it turns out, so I'm not sure what you would otherwise recommend.

Re: checkbox icon, thanks for the clarification.  I upd

[2020-03-02 05:48] garyking commented on #3797
If we are using `onChange` on `Form.Control`, then how do we fix this error?

I tried `<Form.Control<'input'>` but then, for `onChange={(event): void => event.target.value}` I get `Property 'value' does not exist on type 'EventTarget'.`.

[2020-03-02 10:11] Tirzono opened #5023 "OverlayTrigger does not accept refs anymore and therefore doesn't expose the hide function"
## Describe the bug

Since #4938 it is not possible anymore to pass a `ref` to `OverlayTrigger`. This breaks implementations that uses this `ref` to hide or show the overlay, such as the example below.

## To Reproduce

Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/relaxed-faraday-u86ql
2. Click on 'Click me'
3. Click on 'Bar' in the popover (or anything else in the popover)

[2020-03-02 10:28] shablenko-sednor commented on #5016
@taion 16.13.0

[2020-03-02 14:30] taion commented on #5023
That wasn't intended as a public API. If you need to control shown state, use `<Overlay>` directly.

[2020-03-02 14:30] #5023 closed

[2020-03-02 14:33] Tirzono commented on #5023
I was already afraid that would be the case. Thank you for your feedback, I'll go for `<Overlay>` directly then.

Keep up the good work by the way, my compliments for the good work.

[2020-03-02 19:00] taion commented on #5019
You need to control the `show` state on the dropdown, and use the additional args to `onToggle` as described in https://react-bootstrap.github.io/components/dropdowns/#dropdown-props (esp. source) to control when to show or hide the dropdown.

[2020-03-02 19:00] #5019 closed

[2020-03-04 00:31] jonahparampara commented on #2614
I have run into this issue quite often. My workaround is to focus in the input from the Overlay `onEntered` event but yeah it's pretty annoying to need to do this

[2020-03-04 01:06] jonahparampara commented on #4997
I am also encountering this bug.

[2020-03-04 06:26] igorsantos07 opened #5025 "Is it possible to use collapses independently from accordions?"
## Is your feature request related to a problem? Please describe

I need multiple collapsible cards to stay open.

## Describe the solution you'd like

My suggestion would be simply to allow `Accordion.Toggle` to not depend on a parent `Accordion`, or maybe bake that behavior in a `Collapse` component.

## Describe alternatives you've considered

[code]
This causes an error as there's no `onSelect

[2020-03-04 15:52] #5025 closed

[2020-03-04 17:54] mehagar commented on #2969
I'm still seeing this using `react-bootstrap@0.33.1`.

[2020-03-04 18:27] OrionPro opened #5026 "how to make such notes, now they do not work - @include media-breakpoint-up()"
in cscc I tried to use such designs but they do not work ... maybe some additional mixin imports will be needed?

[2020-03-04 19:48] taion commented on #5026
this doesn’t seem to have anything to do with the react integration here.

[2020-03-04 19:48] #5026 closed

[2020-03-04 23:31] igorsantos07 commented on #5025
I knew it didn't make much sense, but where's the doc on this `Collapse` element? Not even the search showed it! :disappointed:

[2020-03-04 23:59] taion commented on #5025
https://react-bootstrap.netlify.com/utilities/transitions/#collapse

[2020-03-05 02:05] igorsantos07 commented on #5025
Unexpected place, at least for me. Nonetheless... no results in search :(

![image](https://user-images.githubusercontent.com/532299/75940734-97886a00-5e6c-11ea-93bc-6470ad9f44df.png)

[2020-03-05 13:02] bbenoist opened #5027 "Make optional or remove OverlayTrigger warning about only having the "hover" trigger"
## Describe the bug

I've declared an `OverlayTrigger` which should **only** show a video thumbnail tooltip when a mouse pointer is hovering an element.
I don't want it to show if the element (e.g. a button) has keyboard focus or if it receives any touch input.

When running with `NODE_ENV` different from `development`, the following warning appears in the console:

## To Reproduce

Just declare a

[2020-03-05 13:24] deriegle opened #5028 "Number support for Form.Control"
## Describe the bug

`Form.Control` does not support a number as a value. It is just a wrapper around `input` unless you change `as`.

An `input` element supports numbers as the value in the [React Typescript definition](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/index.d.ts#L2058)

## To Reproduce

Steps to reproduce the behavior:

Add a new `Form.Control` element a

[2020-03-05 14:26] jquense commented on #5027
I think the warning is fairly clear about the rationale here. hover only actions are user hostile enough that we feel they at least warrant a dev only warning. You are entitled to ignore it, but i don't think we will remove it, it's not wrong.

[2020-03-05 14:29] jquense commented on #5028
we'd happily accept a PR to fix the type!

[2020-03-05 14:45] #5027 closed

[2020-03-05 20:22] harsh6646 commented on #3589
My team and I would like to work on this issue.
@alexeicoreiba @KohilanMohanarajan @gagankbl @KostyaIliouk

[2020-03-06 04:03] dave-web commented on #3275
Hello,
Same problem here, literally tearing the hairs I don't have off.
I made sure React, React router, bootstrap and react-bootstrap are up to date, here is my package.json

[code]

The attempt of component :
[code]

And finally the output I am getting :
![image](https://user-images.githubusercontent.com/37895617/76050440-fac3ea80-5f99-11ea-9955-54942f12b6db.png)

Many thanks in advance guys, I

[2020-03-06 07:19] subbiah-xejic opened #5030 "Carousels nav not working in IE 11"
First slide nav working fine, but secong (next) slide nav not working

Check your examples in https://react-bootstrap.github.io/components/carousel/,

[2020-03-06 11:29] kosmiq commented on #3047
So I looked through this and have a few thoughts/questions.

First of the custom Select styling. Has there been any consensus on how such components should be created? It's currently simply a class added to whatever select you want to be custom and nothing more as far as I can tell (Bootstrap 4.4.1).

Would the correct way of doing it simply allow passing "custom" as a boolean to Form.Control when

[2020-03-06 13:20] developerpaddy commented on #4131
Hey Friends,

Came Late in the party, but I recently implemented Link in Nexjs as follows
may help someone. If any advancement happens I will post the new one.
Thanks Folks...

[code]

[2020-03-06 15:43] kieranbop opened #5031 "Forms - Multiselect with validation example"
## Is your feature request related to a problem? Please describe

By following the examples and documentation for forms. I cannot get the multi select to work with the formik and yup example.

Tried to trim it down to some basic implementation just get the values I have selected but I cannot access the values to pass it along to anything. Be it state or formik.

## Describe the solution you'd like

[2020-03-06 16:16] jquense commented on #5031
we can't really provide support for using Formik here. The example in the docs is not meant as a full integration guide just an illustration of how to you the programatic isValid props.

Otherwise the bootstrap form components are just native html elements with CSS classes, any approach for making this work with the normal `<select multiple>` will Just Work for the bootstrap components

[2020-03-06 16:16] #5031 closed

[2020-03-06 16:28] kieranbop commented on #5031
@jquense Even if we take an example without yup. I cannot even get the values I click on in any sort of object or to print out. It will look like it is visually selecting them but I cannot then doing anything with those values? How would you console.log after selecting a few for example?

[2020-03-06 16:45] jquense commented on #5031
Your question is how to use ` <select multiple>` with Formik, i'd google for that. Or for more basic form instructions with React, check out their documentation https://reactjs.org/docs/forms.html there is nothing different about the bootstrap components, they are JUST presentational wrappers around the native input components so behave in the exact same way

[2020-03-06 20:25] juan0087 commented on #3185
Having the same issue with Chrome Version 80.0.3987.132 (Official Build) (64-bit). Click and Hover work, but when set to trigger="focus" is does not trigger the popover.

This was working fine a few weeks back, but all of a sudden they no longer trigger.

Has anyone found aa solution yet?

[2020-03-06 22:11] deriegle commented on #5028
@jquense Great! I'll create a PR to fix this. I just wanted to double check that there wasn't a reason that it wasn't supported.

[2020-03-07 00:55] taion commented on #5030
root cause is https://github.com/react-bootstrap/dom-helpers/issues/70

fixing that would solve this problem

[2020-03-07 16:30] #5028 closed

[2020-03-07 16:52] taion commented on #3047
Looks like we should just add https://getbootstrap.com/docs/4.4/components/forms/#range ? It seems like it's just CSS...

[2020-03-07 16:55] taion commented on #3047
Given that `custom` is just a prop on `<Form.Check>`, and that we otherwise model `<select>`s as `<Form.Control>`s, I think it'd make the most sense to accept a `custom` prop on `<Form.Control>` to render a custom `<select>`?

[2020-03-08 00:46] jquense commented on #3047
I probably have a branch with some of these that I abandoned because once you get into it the API is ugly and weird. That said happy to have someone else take a stab at it

[2020-03-08 18:29] kosmiq commented on #3047
Regarding range. Part of my proposal for creating form.range instead of adding it to form.control (with as="range") is that it also allows for min, max and step (not required, will be 0, 100 and 1 if not set). And I think that form.control might suddenly allow a bit too many props and feel a bit convoluted. Do you agree or should we simply add it to form.control and allow min, max and step there?

[2020-03-10 08:10] taion commented on #5030
dupe #4933

[2020-03-10 08:10] #5030 closed

[2020-03-10 08:10] taion commented on #4933
as noted, root cause is https://github.com/react-bootstrap/dom-helpers/issues/70

[2020-03-10 10:46] kosmiq commented on #3047
Alright. Here we go again. Sorry for a lengthy comment.

This time with the custom file input. I made a quick test in a react-bootstrap project I have up and running.

tldr;
- The script linked in official bootstrap docs seem to be working fine
- The custom file re-orders label and control plus it changes the class of the containing element (.form-group -> .custom-file)
- This is probably enough t

[2020-03-10 14:40] kosmiq commented on #3029
Should this issue be closed? So it can be removed from the list for https://github.com/react-bootstrap/react-bootstrap/projects/1 :)

[2020-03-10 15:01] taion commented on #3029
Yup, I think so, thanks!

[2020-03-10 15:01] #3029 closed

[2020-03-10 22:44] harsh6646 commented on #3654
I've added the fix above and am in the process of adding tests for it. Will create a PR for it within the next day.

[2020-03-11 02:33] KohilanMohanarajan commented on #3589
Upon looking more into the issue, it seems that the issue is within react-overlays, and not the Dropdown module itself.  react-overlays deals directly with popper.js, which is obfuscated in the main react-bootstrap project.  If it hasn't been brought up in the react-overlays project yet, I would consider opening a ticket to deal with it there.

[2020-03-11 09:54] kosmiq commented on #2950
Closing since no feedback for a long time.

[2020-03-11 09:54] #2950 closed

[2020-03-11 09:59] kosmiq commented on #3141
Closing since no new feedback for a long time.

[2020-03-11 09:59] #3141 closed

[2020-03-11 10:12] kosmiq commented on #3185
I tested this as well.

- Chrome Version 80.0.3987.132 (Official Build) (64-bit) on MacOS I get the :focus version to work if I tab to it, but not if I set :focus in devtools.
- With Firefox 73.0.1 (64-bit) it is broken regardless of if I tab my way to it or set :focus using the devtools.
- After updating to Firefox 74.0 (64-bit) it seems to be working when I tab to it, but not when I set :focus.

[2020-03-11 10:16] kosmiq commented on #3300
Closing since no feedback has been given for a long time.

[2020-03-11 10:16] #3300 closed

[2020-03-11 10:17] kosmiq commented on #3335
Closing since no feedback has been given for a long time.

[2020-03-11 10:17] #3335 closed

[2020-03-11 10:26] kosmiq commented on #3408
DropdownMenu.js has been rewritten since this issue was posted. Closing.

[2020-03-11 10:26] #3408 closed

[2020-03-11 10:27] kosmiq commented on #3422
Closing since no new feedback.

[2020-03-11 10:27] #3422 closed

[2020-03-11 10:28] kosmiq commented on #3451
Closing since I assume this is not an issue any longer.

[2020-03-11 10:28] #3451 closed

[2020-03-11 10:30] kosmiq commented on #3475
This was touched upon in #3029. It has been decided that you should simply use the classes from Bootstrap in these cases.

[2020-03-11 10:30] #3475 closed

[2020-03-11 10:33] kosmiq commented on #3489
Types are included for v1 and DT handles types for v3. Further discussion about how it should be handled by DT is handled in their issue. Closing this.

[2020-03-11 10:33] #3489 closed

[2020-03-11 10:44] kosmiq commented on #3505
Is this bug caused by react-bootstrap or by Bootstrap itself? Can you set up a reduced test scenario where you reproduce the issue?

[2020-03-11 10:48] kosmiq commented on #3531
This is handled by the `<Dropdown>` component. Closing since the docs actually covers this (albeit not with an explicit example).

[2020-03-11 10:48] #3531 closed

[2020-03-11 10:48] kosmiq commented on #3538
Closing since no example has been given for a long time.

[2020-03-11 10:48] #3538 closed

[2020-03-11 10:52] kosmiq commented on #3583
@jquense can this be closed after the commit?

[2020-03-11 10:53] kosmiq commented on #3587
Is anyone still having issues here? Please produce a test case on codepen or similar.

Will close this in 7 days if no new feedback appears.

[2020-03-11 10:55] kosmiq commented on #3591
Closing since no new feedback has been posted for a long time.

[2020-03-11 10:55] #3591 closed

[2020-03-11 10:58] kosmiq commented on #3597
No new feedback. Closing.

[2020-03-11 10:58] #3597 closed

[2020-03-11 10:59] kosmiq commented on #3628
Closing this since no new feedback and the issue seem to be solved.

[2020-03-11 10:59] #3628 closed

[2020-03-11 11:01] kosmiq commented on #3645
@taion can we close this since a fix has been committed in react-overlays?

[2020-03-11 11:15] kosmiq commented on #3983
Is this still an issue in v.0.33.1?

[2020-03-11 11:17] kosmiq commented on #4138
Closing this since it has been answered.

[2020-03-11 11:17] #4138 closed

[2020-03-11 12:12] jquense commented on #3505
There is nothing to solve here. The selectors for native validation take precedence, or the manually ones. They aren't meant to be combined. The manual styles are for use _instead_ of native validation.

If this doesn't seem ideal please open an issue upstream with bootstrap since it's css specific.

[2020-03-11 12:12] #3505 closed

[2020-03-11 12:30] kosmiq commented on #4293
No feedback given after more than 7 days. Closing.

[2020-03-11 12:30] #4293 closed

[2020-03-11 12:40] kosmiq commented on #4667
No feedback for more than 7 days. Closing.

[2020-03-11 12:40] #4667 closed

[2020-03-11 12:50] kosmiq commented on #4706
This works for me when creating a ref for a button
`private button = React.createRef<HTMLButtonElement & Button>();`

And gives no errors. Tested it with
[code]

[code]

[2020-03-11 13:08] kosmiq commented on #4762
I think that the current behavior is correct. Not passing `props.type = type` when setting `as` makes it easier in a typescript project to not be forced to set all props.

Take this issue: https://github.com/react-bootstrap/react-bootstrap/issues/3596

By setting as to a you can send href etc without having to pass all the button props. Otherwise we would have to default to type="button" and provi

[2020-03-11 13:13] kosmiq commented on #4780
No new feedback after more than 7 days. Closing.

[2020-03-11 13:13] #4780 closed

[2020-03-11 13:17] kosmiq commented on #4859
This has been answered with no new feedback for more than 7 days. Closing.

[2020-03-11 13:17] #4859 closed

[2020-03-11 13:35] aaronbeall commented on #3489
@kosmiq What issue?

[2020-03-11 13:44] kosmiq commented on #3489
Sorry meant this PR https://github.com/DefinitelyTyped/DefinitelyTyped/pull/34025

[2020-03-11 13:48] taion commented on #3645
yup, thanks!

[2020-03-11 13:48] #3645 closed

[2020-03-11 14:06] jwmickey commented on #3393
Similar to what @vojty suggested, instead of disabling preventOverflow I set the boundariesElement to 'viewport'.  This prevented vertical scrolling when the placement was left/right and the position/height of the overlay would cause it to exceed the height of the viewport.  See https://popper.js.org/docs/v1/#modifiers..preventOverflow.boundariesElement

`popperConfig={{
     modifiers: {

[2020-03-11 15:03] kosmiq commented on #3403
Closing this. You can use `<Button>` without supplying the type.

[2020-03-11 15:03] #3403 closed

[2020-03-11 19:22] Brondahl commented on #3505
@jquense As per the original Issue:

The current tags/options give the appearance that they should be combinable. Naming them differently would solve this confusion.

[2020-03-11 19:28] justvovus commented on #4895
react-overlays 2.* is implementing an anti-pattern of using a PropTypes object directly in the code.
You can read more here https://github.com/oliviertassinari/babel-plugin-transform-react-remove-prop-types at "Is it safe?" section.
beta-14 is the last version of react-bootstrap that is using a react-overlay 1.2.0 version, that doesn't have that anti-pattern.

[2020-03-12 00:52] jeffreymeng opened #5037 "onSubmit and onChange prop typings are broken for form and form control elements"
## Describe the bug

If I create a form like below:
[code]
or a form control like below:
[code]
Typescript will not know the type of the parameter `e`, and thinks that it is implicitly `any`. This doesn't happen if you use a native HTML form e.g. &lt;form> without react bootstrap (see the screenshot below).
You get warned of this error if you enable `noImplicitAny` in the typescript settings.

##

[2020-03-12 04:46] Utsav170 opened #5038 "Disable toogle in accordion"
I want to know if it is possible to disable the specific accordion toogle.

[2020-03-12 07:25] taion commented on #5038
You can do this by controlling the accordion or else by directly rendering a panel group and controlling the open status of each element.

[2020-03-12 07:25] #5038 closed

[2020-03-12 09:40] kosmiq commented on #5000
I think that we should not rename it. As stated by @taion it is simple to import with another name.
Have we reached consensus on that and can close this?

[2020-03-12 10:05] #5000 closed

[2020-03-12 10:05] mxschmitt commented on #5000
Closed because workaround is pretty straightforward.

[2020-03-12 11:01] kosmiq opened #5039 "https://react-bootstrap.github.io/ displays beta16 as latest"
## Describe the bug

Visiting: https://react-bootstrap.github.io/ says that beta 16 is the latest release.
Visiting: https://react-bootstrap.netlify.com/ correctly says beta 17 is available

## To Reproduce

Visit https://react-bootstrap.github.io/

## Expected behavior

It should say beta 17.

[2020-03-12 11:36] mxschmitt commented on #5039
Unfortunately the https://github.com/react-bootstrap/react-bootstrap.github.io needs to be updated manually.
Maybe we should add auto deployment via GitHub Actions or add directly a redirect to the site from Netlify which will be automatically deployed once a change happens on master.

[2020-03-12 14:27] jquense commented on #5039
let me push an update

[2020-03-12 14:37] #5039 closed

[2020-03-12 16:07] aappddeevv commented on #3403
Thanks!

[2020-03-12 22:48] prossel commented on #3525
Since there is no solution here that I could use, at least for the linkable NavDropdown, here is the solution I found, inspired by the doc https://react-bootstrap.github.io/components/navs/#using-dropdowns

Please note that I think the click cannot be used both to open the dropdown menu and to navigate to a link. Therefore, this snippet displays a menu (top) with a submenu (Hi) that is always open

[2020-03-13 07:53] yeecai commented on #3525
Hi, I tried replace the bsStyle in <Nav> tag, but it didnt work, anyone with better solution?

[2020-03-13 09:25] ville-cap commented on #5016
Looks like when using the OverlayTrigger the actual Overlay component is created outside the main React component tree and so outside all Context.Providers. I don't see how this could work.

[2020-03-13 09:34] kosmiq commented on #5016
Does it work if you wrap the FormattedMessage in the tooltip with the IntlProvider component?

[code]

[2020-03-13 09:48] kosmiq commented on #4984
Could give some more info about your setup? I do not seem to face this issue in one of my projects.

A quick test on codesandbox seems to work as well: https://codesandbox.io/s/silent-dream-k8sgp

[2020-03-13 10:43] mhavelka commented on #4997
If this is possible to fix, it would be great.

[2020-03-13 10:49] kosmiq commented on #4997
So this issue is caused by popper when running jest as a test suite, neither of which are in our control. Am I getting this right? :) @taion should we close this?

It might be resolved anyway whenever poppers 2 is merged?

[2020-03-13 11:32] FullStackForger commented on #4997
@kosmiq  yes you are correct. There is no need to patch it right now. Simple mock I posted is easy enough to deal with this. Hopefully with next popper version we wont have that problem.

[2020-03-13 11:32] #4997 closed

[2020-03-13 13:45] kosmiq opened #5040 "docs: basic documentation for TypeScript"
## Is your feature request related to a problem? Please describe

There seems to be a bunch of questions regarding TypeScript in general with the library and more specifically how to type defs in a way that avoids going with any.

## Describe the solution you'd like

Adding a page or section to the docs that provides some getting started info for TypeScript users as well as some examples how to de

[2020-03-13 13:53] nbriannl commented on #4946
Working on it, would love a review

[2020-03-13 14:15] #4946 closed

[2020-03-13 14:24] jquense commented on #4984
That isn't true tho? https://github.com/react-bootstrap/react-bootstrap/blob/master/src/Form.js#L79-L87

[2020-03-13 15:00] softmastx opened #5042 "Open Modal with animation doesn't work"
## Describe the bug

I can't open modal with animation although animation props is set to true
It open and close the Modal the same effect as without animation.

## To Reproduce

Steps to reproduce the behavior:

<Modal size="md" show={this.state.show} onHide={this.handleClose} animation={true}>

## Expected behavior

Open and close the Modal with a slide and fade animation.

- Operating System: [

[2020-03-13 15:08] kenlu89 commented on #3525
This is what i did to make it work.

`      <Navbar color="light" light expand="lg">
          <NavbarToggler onClick={toggleNavbar} />
          <Collapse isOpen={!collapsed} navbar>
            <Nav className="ml-auto ynhti-nav" navbar>
              <UncontrolledDropdown nav inNavbar>
                <DropdownToggle href="/curriculum" caret>
                  Curricular Resources

[2020-03-13 15:10] taion commented on #3497
fixed in https://github.com/react-bootstrap/react-bootstrap/pull/4312

[2020-03-13 15:10] #3497 closed

[2020-03-13 15:14] taion commented on #5016
That doesn't seem totally right to me.

Overlays render in portals, so they're not in the component tree, but they're still in the _React_ tree.

Is it possible you somehow have multiple versions of React or React DOM installed?

[2020-03-13 15:27] taion commented on #5042
This works in our examples: https://react-bootstrap.github.io/components/modal/#modals-live

You may be missing some CSS.

[2020-03-13 15:27] #5042 closed

[2020-03-13 16:21] ville-cap commented on #5016
You mean DOM vs React tree? Here's how it shows up in Chrome's dev tools:

![Screenshot 2020-03-13 at 18 03 50](https://user-images.githubusercontent.com/49948297/76639057-26c10c00-6556-11ea-96ca-fc74dfed294f.png)

Re-installed all node modules and searched through the package-lock and did not find multiple versions of either.

[2020-03-13 22:53] #4472 closed

[2020-03-13 23:11] bpas247 commented on #5040
In an ideal world, it would be _really_ great if we could create a toggleable interface that allows the user to switch between the JS version of a component example, and its respective TS version. Material-UI has a great [example](https://material-ui.com/components/buttons/#contained-buttons) of what I'm talking about.

Of course this would be pretty difficult to implement, since it would require

[2020-03-14 01:58] taion commented on #5040
Can the JS docs just be the TS docs with the type stuff codemodded out? Might make life slightly easier.

[2020-03-14 08:35] nbriannl commented on #4883
Interested in taking this up 👍

[2020-03-14 10:44] nbriannl commented on #4952
If I understand correctly, for a given code-block sample, you would like to have all the necessary import statements of all the components used in that code-block copied as well?

[2020-03-14 15:20] softmastx commented on #5042
I didn't see any differences when I clicked the Launch Demo Modal Buttons, They just popping up without sliding animation!

[2020-03-14 15:25] kosmiq commented on #5042
Do you have any prefer reduced motion or other accessibility settings set in your browser?

They work for me on Chrome 80 on MacOS as well as in Safari on IOS.

[2020-03-14 15:27] #4883 closed

[2020-03-14 15:27] taion commented on #4883
thanks!

[2020-03-14 15:39] softmastx commented on #5042
I've tested on Safari, Chrome and Firefox as well they are the same!

[2020-03-14 15:42] kosmiq commented on #5042
Did you by any change disable animations in MacOS itself then?

[2020-03-14 15:53] softmastx commented on #5042
It's working now!
Turn out that the issue is macOS side.  The Reduce Motion was accidentally set!!
Uncheck reduce motion solved the problem.

Big thanks for you help!!

[2020-03-14 18:22] vctr90 opened #5045 "Keyboard arrows will not work before first click on slide arrows"
## Describe the bug

Keyboard arrows will not work on carousel before the first click on any of the slide arrows

## To Reproduce

Steps to reproduce the behavior:

1. Open the Carousel (Make sure `keyboard` prop y not set to false or not set)
2. Do not click on any arrow of the carousel for the first time
3. Try pressing the keyboard arrows
4. Nothing happens

## Reproducible Example

Minimal exa

[2020-03-14 18:24] taion commented on #5045
That's just how it works upstream. Otherwise what would happen if you rendered multiple carousels? If you need different keyboard behavior, you can disable the built-in behavior and add your own.

[2020-03-14 18:24] #5045 closed

[2020-03-14 18:31] vctr90 commented on #5045
@taion Thanks for the quick response. I agree and completely understand but there might be a use case where we might need it. What about having a prop to enable this? Of course it would be `false` by default. This way we could have the power to choose whether this might be convenient or not. I have a client (A user that does not know anything about computers) whose first reaction on a gallery was

[2020-03-14 18:32] vctr90 commented on #5045
We could add someting like: enableKeyboardInmediateFocus (default: false)

[2020-03-15 00:17] taion commented on #5045
Well, the semantics aren't quite well-defined. Do we focus the carousel immediately? Or do we listen to keyboard events globally?

I agree that this is useful, but given that it's not present upstream, there are enough questions that I don't think it's a good fit for the library.

[2020-03-15 03:28] #5012 closed

[2020-03-16 08:37] kosmiq opened #5047 "feat: Allow for custom variants when using Typescript"
## Is your feature request related to a problem? Please describe

It is currently not easily possible to use the built-in `<Button>` component with a custom `variant` when in a TypeScript environment. There are workarounds for creating your own `<Button>` component that extends the current one.

But with Bootstrap it is easy to create your own variants on things in SCSS by extending the $theme-col

[2020-03-16 08:56] flyon commented on #4984
@kosmiq the problem arises when running the compiled code **on nodejs**.

I've made an example setup. I'm not sure where to create a sandbox for nodejs, but its very simple:

index.tsx
[code]

tsconfig.json
[code]
package.json
[code]

run:
npm install
tsc
node index.js

output:
`TypeError: Cannot read property 'Check' of undefined    at Object.<anonymous> (C:\...\index.js:5:40)`

Compiled index.js

[2020-03-16 10:01] #3127 closed

[2020-03-16 10:01] #3169 closed

[2020-03-16 10:01] #3227 closed

[2020-03-16 10:01] #3401 closed

[2020-03-16 10:01] #3402 closed

[2020-03-16 10:01] #3495 closed

[2020-03-16 10:01] #3548 closed

[2020-03-16 10:08] shablenko-sednor commented on #5016
No it does not work, sometimes I have component which are connected to redux stores inside tooltips, I cannot just set another store provider for each tooltip, that won`t work I`ll have multiple store instances which are not connected to each other

[2020-03-16 10:17] lukezavrel opened #5048 "Support for mountOnEnter on TabContainer with transition={false}"
## Is your feature request related to a problem? Please describe
Currently when TabContainer has transition set to false, mountOnEnter does nothing. Only after removing transition, mountOnEnter starts to work. It would be nice, if both props could be used simultaneously

## Describe the solution you'd like
Add support for mountOnEnter even if transition={false}

Or if there is another solution to

[2020-03-16 11:52] enkuush-ca opened #5049 "`Dropdown.Toggle` expects `onClick` prop when using a custom element incorrectly"
## Describe the bug

When using a custom component in a Dropdown.Toggle, if the custom element takes an onClick property (which should be the case), the type checker emits an error telling that an onClick prop must be provided to Dropdown.Toggle. This message is incorrect since it is the responsibility of Dropdown.Toggle to call our custom component with the onClick prop.

[2020-03-16 14:03] jquense commented on #4984
I'm not sure what to say here, the compiled code you've got here is correct, and the compiled bootstrap code matches it: https://unpkg.com/browse/react-bootstrap@1.0.0-beta.17/cjs/Form.js

any chance you can put together little repository we can try out demonstrating this?

[2020-03-16 15:10] taion commented on #5049
dupe https://github.com/react-bootstrap/react-bootstrap/issues/4819

[2020-03-16 15:10] #5049 closed

[2020-03-16 18:55] kosmiq commented on #5048
This might be solved since #4312

[2020-03-16 18:59] taion commented on #5048
unfortunately not ): https://github.com/react-bootstrap/react-bootstrap/pull/4312#pullrequestreview-374036472

[2020-03-17 05:08] NavizDev commented on #4131
`<Link href="/">
          <NavbarBrand href="/">Reporte</NavbarBrand>
</Link>`
i use that.

[2020-03-17 08:31] kosmiq commented on #3047
Since #5036 and #5034 has been merged, should this be closed? :)

[2020-03-17 14:06] jquense commented on #3047
thanks for all the excellent work getting this finished @kosmiq !

[2020-03-17 14:06] #3047 closed

[2020-03-17 19:28] rwehresmann opened #5051 "Ho to use react-bootstrap with bootstrap v4.3.1?"
I have a layout built with bootstrap v4.3.1, and I'm implementing it in react now. I would like to use `react-bootstrap`, but there are some styles that aren't matching probably because the bootstrap version is higher.

 Is there any way I can use `react-bootstrap` with bootstrap v4.3.1?

[2020-03-17 19:47] taion commented on #5051
The v1 betas work just fine with Bootstrap v4

[2020-03-17 19:47] #5051 closed

[2020-03-18 00:25] kosmiq commented on #5047
@taion @bpas247 @jquense any input here? Do you think this would be a good idea or not?

[2020-03-18 01:35] taion commented on #5047
Adding a custom prop for just TS is a bit unfortunate \:

Bleh, can users not just, like... re-declare the Button typedef? It's a little clunky, but it does allow some level of type-safety there.

[2020-03-18 21:09] warunikar commented on #4138
@bpas247 Is there an ETA on the beta to public release?

[2020-03-19 07:15] bcobra opened #5052 "bug in the type definitions for new Row-Col addition"
## Describe the bug

   <Row sm={6}/>
Property 'sm' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<Row<"div">>

## To Reproduce

Steps to reproduce the behavior:

Try to define Row Col size

## Reproducible Example

Minimal example by using [CodeSandbox](https://codesandbox.io/s/github/react-bootstrap/code-sandbox-examples/tree/master/basic).

## Expected behavior

size pro

[2020-03-19 09:08] bcobra commented on #5052
i see this was added after last release

[2020-03-19 09:08] #5052 closed

[2020-03-19 15:22] kosmiq commented on #5040
I would appreciate some help here with how to setup some of this. I might have been a bit naive going into this :)

Currently `<ReactPlayground />` does not allow for import statements and of course does not perform typechecking. Importing a tsx file into it works so for as it displays the code but any CreateRefs with types errors out with unexpected chars and more.

What I'd like to do is the fol

[2020-03-19 17:09] taion commented on #5040
@jquense any thoughts here? does any of your docusaurus tooling deal with this?

[2020-03-20 07:39] agrawalj opened #5054 "Cannot pass microdata attribute to Breadcrumb.Item"
To add [schema microdata](https://schema.org/BreadcrumbList#itemlist-1) to breadcrumb, there is a option to pass custom attributes to `<ol>` via Breadcrumb & `listProps` but, there is no option to pass custom attributes to `<li>`  via Breadcrumb.Item

[2020-03-20 13:15] aquacalc commented on #3525
_Thanks_ @prossel. That works for me.

[2020-03-20 15:00] sylmarch opened #5056 "Form.Label - column="sm" or column="lg" generate an error with TypeScript in VSCode"
## Describe the bug

Attributes `column="sm"` and `column="lg"` on `<Form.Label>` generates the following error in VSCode when using TypeScript:

## To Reproduce

Copy the sample code from the documentation (https://react-bootstrap.netlify.com/components/forms/#horizontal-forms-label-sizing) :

[code]

## Expected behavior

`column` value can also be a string (`lg` or `sm`).

## Environment (pleas

[2020-03-20 15:10] taion commented on #5056
ah, we didn't update `FormLabel.d.ts`; care to send in a PR?

[2020-03-21 09:18] wombat86 opened #5057 "Form.File is missing in v1.0.0-beta.17"
## Describe the bug

`Form.File` is missing in both code and typings for package version `1.0.0-beta.17`. However, it is present in `master` branch and is mentioned in documentation for version `1.0.0-beta.17`.

## To Reproduce

1. Setup a React/TypeScript project
1. Install npm package `1.0.0-beta.17`
1. Add import: ```import Form from "react-bootstrap/Form";```
1. Create any react component and

[2020-03-21 09:58] kosmiq commented on #5057
Where is it mentioned in the current docs? I skimmed through what's published and can't seem to find it?

It is, just like you noticed, coming in the next version. The pr is not that old though and I guess a few more features/Prs will be merged/finished before it comes around.

[2020-03-21 10:03] wombat86 commented on #5057
My bad, I didn't provide a URL. Here it is: https://react-bootstrap.netlify.com/components/forms/#forms-custom.
Providing the screenshot as well:
<img width="1919" alt="https___react-bootstrap_netlify_com_components_forms__forms-custom" src="https://user-images.githubusercontent.com/5948134/77224202-e8d27200-6b6b-11ea-832a-bc79af1b4170.png">

[2020-03-21 10:24] kosmiq commented on #5057
Huh. I had to run incognito to see it. The docs were added in the same pr as the component itself.

@jquense are the docs automatically from master?

[2020-03-21 20:16] taion commented on #5057
Netlify auto-deploys from master. It's the "live" docs page, though, and not the "official" one, which is at https://react-bootstrap.github.io/, and correctly omits `<Form.File>` in https://react-bootstrap.github.io/components/forms/.

We should probably add something there indicating that the docs are for `master` and not for the latest release.

[2020-03-22 13:07] hp8wvvvgnj6asjm7 opened #5059 "Dropdown length and scroll"
If a dropdown has more items than the screen can show,
how can I make a dropdown scrollable?

[2020-03-23 15:29] jquense commented on #5059
add some css! You can target the classes there or add your own overflow class for conditionally enabling behavior. Functionally tho, set a `max-height` and `overflow-y: auto`

[2020-03-23 15:29] #5059 closed

[2020-03-23 18:00] #5054 closed

[2020-03-23 20:13] annecchini opened #5062 "d-sm-block doing the oposite"
## Describe the bug

If I try to include a className="d-sm-block" the component show normal on small screens and block on wide screens.

## To Reproduce

I'm using this piece of code:

[code]
Reduce the screen size and see the problem.

## Reproducible Example

https://codesandbox.io/s/react-bootstrap-d-sm-block-xu9dx

## Expected behavior

block on small screens
inline-block on other screens

[2020-03-23 20:20] taion commented on #5062
yes, that's what the utility class does: https://getbootstrap.com/docs/4.4/utilities/display/#hiding-elements

more broadly, we don't manage the CSS here. it's in upstream bootstrap.

[2020-03-23 20:20] #5062 closed

[2020-03-24 00:34] #5056 closed

[2020-03-24 07:24] wombat86 commented on #5057
@taion tbh I found this URL via Google, so you might get more developers like me who read that "unofficial" page. Perhaps you might want to restrict access to it for public users.

[2020-03-25 11:39] p0wl opened #5065 "Standalone Dropdown Menu is never visible"
## Describe the bug

Rendering only a Dropdown Menu is not possible, because it always gets 'opacity: 0'

## To Reproduce

Steps to reproduce the behavior:

1. Go to https://react-bootstrap.netlify.com/components/dropdowns/#menu-headers
2. See error

## Screenshots

![Bildschirmfoto 2020-03-25 um 12 36 58](https://user-images.githubusercontent.com/596578/77532574-6d3b3280-6e95-11ea-8fc1-07e83e793a

[2020-03-25 14:06] #3583 closed

[2020-03-25 14:16] bobsilverberg opened #5066 "Type mismatch for Popover"
## Describe the bug

When attempting to upgrade from 1.0.0-beta.16 -> 1.0.0 I am getting a Typescript compilation error on `Popover` which I do not understand.

## To Reproduce

Using the following code:

[code]

generates the following error:

[code]

## Additional context

I can see from the Typescript definition files in 1.0.0 that in `Overlay`, `OverlayInjectedProps` includes `arrowProps` with

[2020-03-25 14:54] taion commented on #5066
It looks like the typing for `arrowProps` is inconsistent between `<Overlay>` v. `<Popover>` and `<Tooltip>`. We'd be happy to take a PR to sync those up.

[2020-03-25 15:45] bobsilverberg commented on #5066
Thanks @taion. I opened https://github.com/react-bootstrap/react-bootstrap/pull/5068

[2020-03-25 17:44] #5066 closed

[2020-03-25 19:57] DecolipAkira commented on #3837
This problem still does not continue in the latest version.

When will it be corrected?

[2020-03-25 21:08] kosmiq commented on #5047
Alright. We'll add that to the TypeScript section of the docs whenever we get there.

[2020-03-25 21:08] #5047 closed

[2020-03-25 22:58] diceler commented on #4140
I found a workaround for you that might satisfy your need.

You need to create [custom toggle](https://react-bootstrap.github.io/components/accordion/#custom-toggle) and in it make use of Reacts `useContext` using `AccordionContext` in order to get the currently active `eventKey`.

Example:

[code]

You can use `useContext(AccordionContext);` in this case because `useAccordionToggle` hooks the com

[2020-03-26 12:04] melvinroest commented on #320
This is what I read in the current docs (March 2020).

Source: https://react-bootstrap.github.io/components/navbar/

[2020-03-26 14:09] Hakawa2 opened #5069 "Bug in OverlayTrigger placement=top"
- placement=top
![Screenshot_5](https://user-images.githubusercontent.com/18398868/77684623-fc6d4680-6f78-11ea-8d99-f60853e00617.png)

- placement=bottom
![Screenshot_6](https://user-images.githubusercontent.com/18398868/77684629-fd05dd00-6f78-11ea-91c5-219bc8054c0b.png)

- placement=left
![Screenshot_7](https://user-images.githubusercontent.com/18398868/77684630-fd9e7380-6f78-11ea-849c-1d7d120306

[2020-03-26 16:31] maidul98 opened #5070 "Alerts dismiss doesn't trigger hide"
<Alert variant="danger" onClose={() => false} dismissible>
        <Alert.Heading>Oh snap! You got an error!</Alert.Heading>
        <p>
          Change this and that and try again. Duis mollis, est non commodo
          luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
          Cras mattis consectetur purus sit amet fermentum.
        </p>
</Alert>

It says that onClose trigge

[2020-03-26 16:51] mxschmitt commented on #5070
Basically you have to use `onClose` in combination with the `show` attribute to make it [controlled](https://reactjs.org/docs/forms.html#controlled-components).

Example: https://react-bootstrap.netlify.com/components/alerts/#dismissing

[2020-03-26 16:51] #5070 closed

[2020-03-26 16:53] mxschmitt commented on #5057
Maybe we should add a "if URL ends with `netlify.com` then show a banner at the top right with the text: "current master branch and not guaranteed to be published" or something like that.

[2020-03-26 20:06] kosmiq commented on #5069
Please upgrade your react-bootstrap version. The latest version is 1.0.0 (not beta)

[2020-03-26 21:37] SpencerKaiser opened #5071 "Card <p> inside Card.Text throws console error"
## Describe the bug
Nesting a `<p>` within a `<Card.Text>` throws a runtime console error:
`Warning: validateDOMNesting(...): <p> cannot appear as a descendant of <p>.`

## To Reproduce
1. Create a Card
2. Add a Card.Text element
3. Add a `<p>` inside the `<Card.Text>`
4. Review console errors in the browser

## Reproducible Example

I tried creating an example on [CodeSandbox](https://codesandbox

[2020-03-26 22:14] Hakawa2 commented on #5069
- Updated but not resolved

![Screenshot_2](https://user-images.githubusercontent.com/18398868/77701736-bc688c80-6f95-11ea-94a2-3adc4ec310d6.png)

![Screenshot_1](https://user-images.githubusercontent.com/18398868/77701743-becae680-6f95-11ea-950e-e8dff6b8f0c0.png)

[2020-03-26 22:19] kosmiq commented on #5069
Are you using custom positioning of any elements? We'd probably need to see some code where the error occurs.

Can you create a testcase on https://codesandbox.io/ or similar? The placement works fine in the docs and in my local testing.

[2020-03-26 22:21] kosmiq commented on #5071
That is because the `<Card.Text>` outputs a `<p>` tag. So it's kind of expected.

From Card.js in the source:
`Card.Text = createWithBsPrefix('card-text', { Component: 'p' });`

You have however either use multitple `<Card.Text>` for each paragraph you need to output  or use <p className="card-text"> if you'd rather do it that way.

[2020-03-26 22:44] SpencerKaiser commented on #5071
Ah that's a great workaround! Maybe you guys can add an extra `<CardText>` to an example to show that it's possible? I wasn't sure about how to break apart two paragraphs without using a breaking space.

[2020-03-26 22:45] xSAVIKx opened #5072 "Accordion toggle/collapse submits the form"
## Describe the bug

If the `<Accordion>` component is used inside the form without customizations of the default component, the `button` component is used for both `<Accordion.Collapse>` and `<Accordion.Toggle>`. And by default, a `button` without a specific `type` is treated by the browser as a `submit` button which leads to unintentional submission of the form upon toggling/collapsing the form.

[2020-03-26 23:43] kosmiq commented on #5072
@taion @jquense should we default the `<Accordion.Toggle>` to `type="button"`? Should be safe and lets us avoid this.

[2020-03-27 00:14] Hakawa2 commented on #5069
Yeah, tested in https://codesandbox.io/s/bootstrap-5lxos it worked

Sorry for my terrible English, but i have doubts in some points

- First: Before this monday, this tooltip always worked, in this monday i run my job in jenkins for updated my ambient for testing and boom, this tooltip is broken

- Second: In my ambient of production i noted whe style inline for tooltip using translated3d, but in

[2020-03-27 00:50] mxschmitt commented on #5072
ok for me

[2020-03-27 01:39] taion commented on #5072
yeah, we should make all buttons default to type `button`

[2020-03-27 02:43] maidul98 opened #5073 "Unable to pass in data attribute from onClose dismissible alert"
Is there any way to trigger a function on close such that it is able to passes in a custom data attribute on the alert element? Right now, the onClose function can only return true or false.

For example:
`{submissionsError.map((ob, indexj) =><Alert  data-index-of-error ={index} onClose={fun1} show={show} dismissible variant={obj['type']}>{obj['message']}</Alert>)}
`

where fun1 has access to data

[2020-03-27 03:05] xubinshan opened #5074 "Tooltip has some error in typescript"
![image](https://user-images.githubusercontent.com/6842419/77717125-9fc26800-701a-11ea-8ad5-010d105bd56e.png)

![image](https://user-images.githubusercontent.com/6842419/77717140-a6e97600-701a-11ea-8196-f39dd751a032.png)

## Environment
- Operating System: [e.g. macOS]
- Browser, Version [e.g. Chrome 80]
- React-Bootstrap Version [e.g. 1.0.0]

[2020-03-27 03:36] taion commented on #5074
was resolved in https://github.com/react-bootstrap/react-bootstrap/pull/5068

[2020-03-27 03:36] #5074 closed

[2020-03-27 03:39] taion commented on #5073
If you need additional values, you should close over them in the `onClose` callback. You can also look at the second argument, which is the actual event that triggered the close.

[2020-03-27 03:39] #5073 closed

[2020-03-27 09:25] freemaths opened #5075 "Warning: findDOMNode is deprecated in StrictMode."
Error generated when using <OverlayTrigger >
Warning: findDOMNode is deprecated in StrictMode.

Tested with latest 1.0.0 release of recat-bootstrap

From what I can see this is a known issue with react-bootstrap but I am not clear on when it will be fixed or any workarounds in the meantime. Console errors are not helpful when developing. Turning off strict mode compromises other development.

see:

[2020-03-27 11:27] mxschmitt commented on #5075
https://github.com/react-bootstrap/react-bootstrap/blob/d983ec8897ff4b1dd52886f09dcae3417bed331d/src/Overlay.js#L114-L121

https://github.com/react-bootstrap/react-bootstrap/blob/d983ec8897ff4b1dd52886f09dcae3417bed331d/src/OverlayTrigger.js#L121-L124

seems like at these two places, hmmm. We already had this issue come up a few month ago if I remember correctly.

[2020-03-27 11:31] freemaths commented on #5075
Yes, many thanks. I found some references earlier but all were closed and I couldn't see any clear instructions on work-arounds or when it might be fixed.

[2020-03-27 13:06] #5072 closed

[2020-03-27 14:16] jquense commented on #5075
arg, we should have removed this probably, like we did for dropdowns.

What we can do tho is only call findDOMNode if required. that way users can avoid it themselves by not using class component refs

[2020-03-27 14:25] jquense commented on #5069
this does seem like a difference. probably due to the popper upgrade, which might have changed some assumptions...It'd be great if we could narrow down to a very minimal reproduction

[2020-03-27 19:46] piatkiewicz opened #5077 "RedirectButton - redirect on click without page reload"
Last time i needed to redirect user on button click. Existing `Button` has `href` property, but it causes page to reload after click. So I made `RedirectButton` - maybe somebody will look for it:

[code]

Usage:
[code]
Look:
![btn](https://user-images.githubusercontent.com/8793897/77794667-8e09b080-706c-11ea-984b-0eab0f80c27d.jpg)

Or maybe there is some other solution already implemented?

[2020-03-27 19:56] freemaths commented on #5075
Thanks. Happy to test any updated version.

[2020-03-27 20:05] mxschmitt commented on #5077
Maybe that fits for your use-case: https://github.com/react-bootstrap/react-router-bootstrap
Alternatively try out the Link component by react-router-dom.

[2020-03-27 20:08] #5077 closed

[2020-03-27 20:23] piatkiewicz commented on #5077
Right, there is `LinkContainer` element in react-router-bootstrap specially for that

[2020-03-27 21:33] jeffreymeng commented on #3654
I see that the fix above has been merged, but I'm still having this issue.

[2020-03-27 23:20] kosmiq commented on #3654
Closing this since a fix has been merged.

[2020-03-27 23:20] #3654 closed

[2020-03-28 00:45] kosmiq commented on #5037
@taion @jquense @bpas247 @mxschmitt  I'm not sure how to fix this, but changing the types in whatever ways I can think of does not remove the implicitly: any error.

Using it in a .tsx file reports what I see as the expected type (when I do not specify any type in the onChange):
![Screenshot 2020-03-28 at 01 44 48](https://user-images.githubusercontent.com/322759/77810634-bfe33d00-7095-11ea-81c6-9

[2020-03-28 00:47] kosmiq commented on #5016
Can you setup something at https://codesandbox.io/ or similar that reproduces the issue? I'm using react-i18next in a project and have no issues using OverlayTriggers :(

[2020-03-28 01:29] taion commented on #5037
This comes from how we have the `as` handling set up.

I think TypeScript is potentially inferring some weird type for `As` here. You can get around it by writing `Form<'form'>`.

I wonder if we can set up some overload here or do something to _force_ `As` there to be `'form'` when it's not explicitly specified.

[2020-03-30 10:56] webcoderkz commented on #5075
Just faced the same issue on a clean CRA app with react-bootstrap@1.0.0

[2020-03-30 11:02] webcoderkz opened #5081 "Popper: CSS "margin" styles cannot be used to apply padding"
## Describe the bug

When you click on `<OverlayTrigger>button here</OverlayTrigger>` it opens a popover, but an error appears in a console:

"Popper: CSS "margin" styles cannot be used to apply padding between the popper and its reference element or boundary. To replicate margin, use the `offset` modifier, as well as the `padding` option in the `preventOverflow` and `flip` modifiers."

## To Repr

[2020-03-30 14:13] jquense commented on #5075
PR's welcome if folks wanna get it fixed quicker, we will get to it but it's lower on the priority list since it's an opt in warning

[2020-03-30 14:40] taion commented on #5081
That's intentional. Please follow the instructions in the warning message.

[2020-03-30 14:44] webcoderkz commented on #5081
But i'm not using margin styles. Where could i have these margins?

[2020-03-30 15:21] taion commented on #5081
`<h1>` by default carries margins

[2020-03-30 20:25] dekhaus commented on #4895
Hi

I'm getting this error too - in production only.

I've updated my package.json to the following

"react-bootstrap": "^1.0.0",

re-deployed my app and am getting the same error ...

react_devtools_backend.js:6 TypeError: Cannot convert undefined or null to object
    at hasOwnProperty (<anonymous>)
    at Modal.js:21
    at Array.forEach (<anonymous>)
    at Modal.js:20

How do I fix this ?

Th

[2020-03-31 09:16] igorsantos07 opened #5082 "Dropdown.Item blocks inner onClick"
## Describe the bug

`Dropdown.Item` seems to have a forced `onClick` property that ignores what's set on the `as` component.

## Reproducible Example

[code]

Minimal example by using [CodeSandbox](https://codesandbox.io/s/dropdownitem-inner-onclick-bug-xnkz1).

## Expected behavior

The inner `onClick` should be fired, instead of being hidden by the `Dropdown.Item`'s "empty" `onClick`.

## Envir

[2020-03-31 11:27] kosmiq commented on #5082
Using onClick works though, haven't tested action honestly. Does that solve your short-term issue?
https://codesandbox.io/s/dropdownitem-inner-onclick-bug-2byi4

[2020-03-31 15:36] danielmackenzie commented on #4895
Just encountered this error today in production. Downgrading to the version @justvovus suggested fixed the issue for me (Node v13.12.0, Ubuntu 16.04.3 LTS).

Upgrading to stable 1.0.0 did not correct the issue.

[2020-03-31 15:38] taion commented on #5082
It's not "empty"; it needs to invoke various parent "select" callbacks.

You can look at the code – if you pass in an `onClick` prop to `Dropdown.Item`, it will merge that callback with the ones it adds.

[2020-03-31 15:38] #5082 closed

[2020-03-31 21:44] igorsantos07 commented on #5082
That's why I used quotes - it certainly has its use, but not for the immediate use of who's implementing :)

I understand it would solve if I passed the onClick directly, but if you look at the case I have shown, there's no way to pass that from the inner component - at least not that I can see. Any guidance?

[2020-03-31 21:55] smacha-atypon commented on #5081
I am not using any margin or padding, and i see same error every time popup opens, and it's happening for basic example. I don't think this ticket should be closed.

[code]

[2020-04-01 02:09] webcoderkz commented on #5081
@smacha-atypon yeah, i just found it out either, no components using margins, but still get warnings.

[2020-04-01 06:33] kosmiq commented on #5081
Not sure what you're getting here or why.

Setting up a test on codesandbox: https://codesandbox.io/s/pedantic-lichterman-htbbt

The expected error of findDomNode appears since strictMode is set for the app. Other than that I see no issues. I do not see any issues running it in a local project either.

Can you fill in with more of what conf you have, other libraries etc. Perhaps there is something

[2020-04-01 06:36] kosmiq commented on #4984
No feedback for more than 7 days. Closing.

[2020-04-01 06:36] #4984 closed

[2020-04-01 06:48] kosmiq commented on #5016
Still not sure what happens here @shablenko-sednor. This is how it looks for me using OverlayTrigger in a real app using react-bootstrap, react, react-dom, redux and more. We're using react-i18next though.

![overlaytrigger](https://user-images.githubusercontent.com/322759/78107311-85f79b00-73f5-11ea-95de-32f879d6eb8f.png)

[2020-04-01 08:00] madushann opened #5083 "OverlayTrigger - Property 'rootClose' does not exist on type 'IntrinsicAttributes"
We are experiencing a build failure at our Azure build pipeline due to below error. could you please help us to understand the possible issue we are having here.

Error message (build log):
 TypeScript error in /app/EFEnterprise.API.WebApp/Portal/src/components/Shared/NotificationPopover.tsx(15,6):
  Type '{ children: Element; rootClose: boolean; trigger: "click"; key: string; placement: string; o

[2020-04-01 09:00] NakedJavaScript opened #5084 "Modal Aria Label applied to the wrong element"
## Describe the bug

The modal component produces a document element inside a dialog element and the aria label gets applied to the former, rather than to the later.

## To Reproduce

Steps to reproduce the behavior:

1. Go to https://react-bootstrap.netlify.com/components/modal/#modal-vertically-centered
2. Click on 'Launch vertically centered modal'
3. Look at the pure HTML and you'll that the l

[2020-04-01 09:02] briansan opened #5085 "Expose onSubmit prop on Form"
## Is your feature request related to a problem? Please describe
I'd like to be able to bind a callback to `<form>.onSubmit` which is the `redux-form` way of dispatching the form fields to the callback.

[2020-04-01 09:35] mxschmitt commented on #5085
From my side this seems to be already working: https://codesandbox.io/s/twilight-pine-ezhsv

[2020-04-01 12:17] Korywon commented on #5075
I encountered this warning as well when using the navbar collapse. Here's the stacktrace:

[code]

Haven't found the reference in code just yet.

[2020-04-01 18:24] smacha-atypon commented on #5081
@kosmiq here: https://codesandbox.io/s/dawn-cherry-emzmh

[2020-04-01 19:37] kosmiq commented on #5081
Hmm, thanks. I changed to click here: https://codesandbox.io/s/tender-chaplygin-rnuy2

Inspecting the element reveals the following:
![Screenshot 2020-04-01 at 21 36 25](https://user-images.githubusercontent.com/322759/78179043-dce68a00-7460-11ea-8276-90d47e17b466.png)

Note:
[code]

Disabling that style makes the warning disappear. Not sure why it doesn't happen in the docs though. @taion @jquens

[2020-04-01 22:52] taion commented on #5084
We'd be happy to take a PR to address this.

[2020-04-02 02:17] talkingtab opened #5086 "I keep seeing this: TypeError: external_root_React_commonjs2_react_commonjs_react_amd_react_default.a is undefined"
I"m trying to  use the Accorion component with Parcel. This works in the development environment but fails in production. Don't know where to start.

[2020-04-02 06:52] taion commented on #5083
works fine for me: https://codesandbox.io/s/serene-taussig-pwvk6

please share a repro in a sandbox/&c. if you're still seeing problems

[2020-04-02 06:52] #5083 closed

[2020-04-02 10:12] mxschmitt commented on #5086
Hey, I've added two Parcel related examples to our CodeSandbox getting started. One with JavaScript and one with TypeScript, see this for a reference: https://github.com/react-bootstrap/code-sandbox-examples/pull/74

[2020-04-02 10:32] smithdwaynejes opened #5087 "Overlay Trigger is not coming out infront of Full Calendar"
Here is my question posted in [Stack Overflow.](https://stackoverflow.com/questions/60846899/react-bootstrap-popover-in-fullcalendar-react/60954568#60954568)

Its not coming out infront of the full calendar. So I tried working the same using jquery bootstrap. After using in Jquery, I found the difference between the generated div's by Jquery and React Bootstrap.

[code]

Here in the parent div, on

[2020-04-02 12:00] smacha-atypon commented on #5081
It doesn't happen for current version of BS Tooltip, due to solution with padding instead of margin.
I am not sure why it is inconsistent with Popover.
[code]
My suggestion would be file ticket and let it be handled by Popper.js or BS. It doesn't look like issue with react-bootstrap, but it's pretty annoying, i have to say, when you use Popups extensively. So i would appreciate some workaround on

[2020-04-02 12:41] talkingtab commented on #5086
Hey Max, thank you. I tried to open the examples on CodeSandBox and could not get access. I'm not why - I'm not an experienced sandbox user. I'm stuck on this, so if it is possible to see the example another way I would appreciate it. Best, Terry

[2020-04-02 12:53] mxschmitt commented on #5086
Yep there are not merged yet, thats the reason. I've linked it for code reference, so you can see how I did integrate it with Parcel.

Will be merged soon, then I'll send the interactive URL over.

[2020-04-02 14:12] taion commented on #5087
You're using the wrong version of React-Bootstrap, or else you have some other CSS/JS mismatch.

Bootstrap v4 uses `.show`. `.in` is a Bootstrap v3 thing.

[2020-04-02 14:12] #5087 closed

[2020-04-02 14:14] mhlmhl opened #5088 "The `Tab` component is not meant to be rendered!"
When using
[code]
I get this in the browser console:

I created an implementation directly based on the documented example at https://react-bootstrap.github.io/components/tabs/#tabs-no-animation.  I get the error shown above.

## Expected behavior

I expect that it should work as documented. The console error message clearly contradicts the example in the official documentation.

(Bitterly: I have

[2020-04-02 14:20] jquense commented on #5081
arg yeah, this stinks. I was fairly sure that there was no popper v2 incompatibility issues with bootstrap but that seems to be wrong, at least it's only a warning for now. @FezVrasta sorry to ping you but do you have any workarounds for this? The margin here is not used for distance for for the arrow offset  seems like it's an ok usage?

[2020-04-02 14:30] taion commented on #5088
Do you have a repro that demonstrates this? You can see that it works in our examples, so it's likely something particular to your setup.

[2020-04-02 14:30] #5088 closed

[2020-04-02 14:50] ratchapol-an commented on #5075
Modal also has this issue too.

    in div (created by Modal)
    in Transition (created by Fade)
    in Fade (created by BackdropTransition)
    in BackdropTransition (created by Modal)
    in Modal (created by ForwardRef)
    in ForwardRef (created by Modal)
    in Modal (created by Bootstrap(Modal))
    in Bootstrap(Modal) (at NewCustomerModal.tsx:13)
    in NewCustomerModal (at Customers.tsx:2

[2020-04-02 15:14] FezVrasta commented on #5081
I don't quite get where are margins being used, Popper disallows margins only if applied to the popper element.

[2020-04-02 16:03] mdenburger opened #5089 "Nav not rendered correctly in ParcelJs build: NavbarContext is removed by Nav.Collapse"
## Describe the bug

The `Nav` component is not rendered correctly in the dist output of a [ParcelJs](https://parceljs.org/) project.

## To Reproduce

1. Create a ParcelJs project with React, as described at https://blog.jakoblind.no/react-parcel/.
2. Create the following `App.jsx`:

[code]

## Reproducible Example

I pushed a minimal ParcelJs project to demonstrate the behavior. Build steps:

[2020-04-02 18:43] lopezdp opened #5090 "NavDropdown import documentation"
The documentation at this page for `NavDropdown` says to use an incorrect import statement on this page:

https://react-bootstrap.github.io/components/navs/

The incorrect import statement shown is `import Nav from 'react-bootstrap/Nav'`

The correct import statement should be:

`import NavDropdown from "react-bootstrap/NavDropdown";`

[2020-04-02 18:51] taion commented on #5090
Ah, I see we got rid of `<Nav.Dropdown>`. I'd be happy to take a PR to fix this.

[2020-04-02 18:57] jquense commented on #5081
There is margin on the popper element for `Popover`s but not tooltips. I see why this doesn't occur on the docs site, it's a dev only warning.

[2020-04-02 21:18] cduff commented on #5081
Note I'm getting same error message with default usage of Dropdown.Menu.

[2020-04-02 22:10] talkingtab commented on #5086
Thanks.
Steps to reproduce:
1. copy the parcel example to accordion (cp -r parcel accordion)
2. Edit package.json in accordion for parcel build so that you can open the build as a file
[code]
3. Edit src/index.js to have the following code from the Accordion Component Example
[code]
4. Open the file `open dist/index.html`

The modal is not open, and clicking on the "click me" buttons does nothing.

[2020-04-02 23:20] mxschmitt commented on #5086
Thank for for the example, it was really helpful. But unfortunately it semems like this is a upstream bug in Parcel: https://github.com/parcel-bundler/parcel/issues/3523

[2020-04-03 01:58] miliu99 commented on #5081
Is there any workaround before this gets fixed?

[2020-04-03 02:13] talkingtab commented on #5086
Thanks! I got this to work by using parcel@next. I appreciate the help!

[code]

[2020-04-03 02:57] cduff commented on #5081
FYI I'm working around with Dropdown.Menu by applying {margin: 0 !important;} for the time being.

[2020-04-03 03:40] miliu99 commented on #5081
I just tried on both Overlay and Popover with {margin: 0!important} but it doesn't work.

[2020-04-03 07:06] FezVrasta commented on #5081
You should replace the `[x-placement^=xxxx]` conditional margins with the Popper offset modifier, I'm not sure what you are asking me I'm sorry 😞

[2020-04-03 07:30] kosmiq commented on #5081
@jquense this is probably the way to go if we want to be rid of the warning.

A few drawbacks though as I see it:
- We need to override the margin set by the TWBS PopOver (I'm not that fond of overriding upstream styles)
- Set the margins using PopperJS Offsets, but those are in pixels as I understand it and thus the scaling support of em/rem will be lost :(

[2020-04-03 07:39] FezVrasta commented on #5081
Yeah unfortunately TWBS haven't yet migrated to Popper 2. I'm not sure about a way to preserve em/rem support, you could compute the value reading the font-size of the element, but it wouldn't be responsive in case of dynamic CSS changes.

[2020-04-03 09:44] overide opened #5092 "Documentation for older versions (1.0.0-beta.9)"
Hi All,

I'm using version **1.0.0-beta.9** and was trying this example https://react-bootstrap.github.io/components/overlays/#overlays-container but I'm getting errors. I'm not sure of the correct usage of Popover wrt beta.9, so I want beta.9 documentation to figure it out. Where can I find it?

Thanks

[2020-04-03 12:53] talkingtab commented on #5086
It appears that parcel@next is not far enough along to be feasible now. I'm wondering if someone could give me a one liner about this problem. It *appears* that the issue is simply that AccordianContext.js is a two line file that is "optimized" by  parcel because it is **exactly the same** CardContext.js and probably other files.

Is it possible to for me to clone the project and add some way dist

[2020-04-03 12:58] kosmiq commented on #5086
Reading the issue here: https://github.com/parcel-bundler/parcel/issues/3523

So if you fork and add comments within either one you should be fine for now.

[2020-04-03 13:04] talkingtab commented on #5086
Thanks, I missed that. After years of Create-React-App experience, I think parcel is well worth using. It would be nice to add something to the two Parcel examples that notes this problem?

[2020-04-03 13:05] kosmiq commented on #5092
You could clone to desktop and cehckout to the appropriate tag (beta-9 in this case) and run the docs locally.

[2020-04-03 13:05] #5092 closed

[2020-04-03 13:14] 0x29a commented on #5065
I've encountered the same issue.
@p0wl do you have any workaround?

[2020-04-03 13:36] jquense commented on #5081
We are unfortunately stuck with whatever the upstream styles are, overriding them isn't really an option since we don't include any css, and inline styles are gonna break customizations.

@FezVrasta nothing seems broken with the margins, which i would expect to happen. Do you have some sense as to why positioning still seems correct even tho Popper is saying that it won't be?

[2020-04-03 13:49] FezVrasta commented on #5081
margins mess with the popper box-model, producing visual glitches, especially when the popper gets close to a boundary edge.

[2020-04-03 15:20] FlaTutu commented on #5013
+1

I love the `Card` component and I use it in many ways. I often build components wrapped in a Card, and I should love to extend this components props to the `Card` component props so I juste have to pass the props.

It should be great if each component export his props interface (or type) which can be passed directly to the component. Actually `ButtonProps` and `CardProps` don't do the trick.

[2020-04-03 17:03] dekhaus commented on #4895
Downgrading to 1.0.0-beta.13 fixed the issue for me.

Dave

[2020-04-03 19:47] taion commented on #5065
cc @jquense – i think this is from the changes w/popper?

we should probably merge in `props.style` here. but we should fix the examples, at least

[2020-04-04 18:13] HunteRoi commented on #5075
Just got the issue with `Accordion.Collapse` :
[code]

[2020-04-05 14:58] darrylsepeda opened #5094 "NavDropdown Component - Add a title to tag a on navdropdown"
## Describe the bug
I found that tag a inside navdropdown doesn't have title attribute.
It's better to have control over what title we want to use on that tag a, I know any additional props will be passed down, but current prop title is being used for labeling the menu.

## To Reproduce
Inspect element to any navdropdown component, you will see the tag a doesn't have title attribute at all.

## Ex

[2020-04-05 19:30] taion commented on #5094
see https://github.com/react-bootstrap/react-bootstrap/issues/2104 – `<NavDropdown>` doesn't really do anything special. It's just a convenience class for rendering a `<Dropdown>` with a toggle that's a `<NavLink>`. Just use the lower-level components.

[2020-04-05 19:30] #5094 closed

[2020-04-06 06:52] kosmiq commented on #5089
Could be related to #5086 ?

[2020-04-06 08:04] kosmiq commented on #5084
I started looking into this...

@NakedJavaScript would this be the correct markup? I haven't had the time to really dig in to the specification, so any pointers would be appreciated.

![Screenshot 2020-04-06 at 10 03 06](https://user-images.githubusercontent.com/322759/78536285-e28bf900-77ed-11ea-9a97-91be4512e471.png)

I'm a bit unsure about how to set the role tags, I haven't fiddled with them.

[2020-04-06 12:09] GFBorelli commented on #2210
@mindhaq saved me, thank you!

[2020-04-06 13:23] mdenburger commented on #5089
Thanks for the link. It's indeed caused by ParcelJs issue [#3523](https://github.com/parcel-bundler/parcel/issues/3523). The files `esm/AccordionContext.js`, `esm/CardContext.js` and `esm/NavbarContext.js` are identical. Hence ParcelJs 1.x collapses them, which messes up the references. AFAICS there's no solution yet.

[2020-04-06 13:45] kosmiq commented on #5089
You could try https://github.com/react-bootstrap/react-bootstrap/issues/5086#issuecomment-608418798

[2020-04-06 13:46] jquense commented on #5089
Let's add a comment to these files to force Parcel to seem them as different? Would that work? anyone want to send a PR?

[2020-04-06 13:46] jquense commented on #5086
Yes lets just implement this here and avoid ppl having to fork

[2020-04-06 13:57] talkingtab commented on #5086
@jquense
Yes Please! I did the fork, but trying to do a build so I can npm install was too much. Right now every time I do a new install, I manually edit node_modules/react-bootstrap/*/NavbarContext, CardContext, and AccordionContext and add a line
[code]
or whatever.

[2020-04-06 17:42] Lahirutech commented on #3539
still not working

[2020-04-06 18:34] kosmiq commented on #3539
@Lahirutech what do you mean? They seem to be working fine on my end, both in the docs and in a project where I use them.

Can you set up an example at https://codesandbox.io/ and reproduce your issue?

[2020-04-06 18:34] kosmiq commented on #5090
Pr merged. Closing this.

[2020-04-06 18:34] #5090 closed

[2020-04-07 01:48] heroboy opened #5097 "In document, script tag can't be self close."
## Describe the bug

1.  `<script>` tag can't be self close'

## To Reproduce

Steps to reproduce the behavior:

open https://react-bootstrap.github.io/getting-started/introduction/#browser-globals

## Reproducible Example

nothing

## Expected behavior
should be
[code]

## Screenshots

nothing

## Environment (please complete the following information)

nothing

## Additional context

nothing

[2020-04-07 02:00] taion commented on #5097
We'd be happy to take a PR to fix the example.

[2020-04-07 03:03] armonkahil commented on #5097
I'd be happy to take it.

[2020-04-07 07:09] AlvinLaiPro commented on #2683
Just add `sideEffects: false` to package.json and it will do the trick.

[2020-04-07 08:50] SKKurz opened #5099 "The value of a select form can't be changed with ref after a defaultValue is set"
## Describe the bug

When using `<Form.Control as="select" ...>` with a default value and trying to use the  `ref` to change the value, it doesn't update/change the value

## To Reproduce
Steps to reproduce the behavior:

1. Create a react-bootstrap select-form with some options. Give it a default value and a ref to change the value later.
2. Create a react- bootstrap text-field with default value

[2020-04-07 09:52] atomiks commented on #5081
Conditional margins cause flicker glitch loops with flipping when the axis changes.

`remToPx` is quite simple:

[code]

[2020-04-07 10:11] kheide commented on #5075
Tab.Pane also has the same issue

[2020-04-07 11:56] tim-fi commented on #5084
Hi @kosmiq,

I'm a colleague of @NakedJavaScript and was pair-programming with hime when we stumbled upon this. The problem ist that the HTML that gets produce when using the `Modal`-component looks like this for use and in the docs that he referenced:
<img width="843" alt="Screen Shot 2020-04-07 at 13 48 10" src="https://user-images.githubusercontent.com/30415153/78665752-949ef000-78d6-11ea-8aa0-

[2020-04-07 13:28] kosmiq commented on #5084
@tim-fi thanks for clarifying that. That sheds some light on the issue.

[2020-04-07 13:33] #4977 closed

[2020-04-07 14:07] taion commented on #5099
Is this any different if you use a normal `<select>`?

[2020-04-07 14:36] harish444 commented on #4149
best answer lots of thanku @taion

[2020-04-07 14:45] SKKurz commented on #5099
Well... probably not. At least I can't get it to work. But I can't get the text input to change with normal `<input>` either.

[2020-04-07 15:20] taion commented on #5099
Sure – in this case, you probably want to use a controlled component, then. If it doesn't work there, it's not supposed to work in R-B.

[2020-04-07 15:20] #5099 closed

[2020-04-07 15:49] XaeroDegreaz opened #5100 "Form.Check does not fully respect "hidden" attribute"
## Describe the bug

The `Form.Check` component does not respect the `hidden` attribute. The checkbox component will go away, but the label remains.

## To Reproduce

Steps to reproduce the behavior:

Create a `Form.Check` component with a `label`, and with the `hidden` attribute set to `true`.

## Reproducible Example

https://codesandbox.io/s/code-sandbox-examples-h2ku6

## Expected behavior

Th

[2020-04-07 17:18] taion commented on #5100
I don't think it's supposed to? That's not a prop that we document, and it wouldn't work with the vanilla components either.

[2020-04-07 17:18] #5100 closed

[2020-04-07 22:32] sirajtahrawashmen opened #5102 "Modal Animation wont allow input to auto focus"
## Describe the bug

If you have any input with autoFocus property inside a Modal, the input wont be auto focused when the Modal is set to be shown, unless you set the Modal property `animation={false}`

## Reproducible Example

[code]

## Expected behavior
Autofocus should work on Inputs even if the animation is set to true on the Modal component

## Environment
- Operating System: macOS
- Browse

[2020-04-07 22:45] HunteRoi commented on #5075
I have quickly checked the repository to find all `findDOMNode` references and here are the places where it is currently used and/or referenced as documentation :
- [www/src/pages/components/forms.js](https://github.com/react-bootstrap/react-bootstrap/blob/724ea6f7cbc9fa34c60ff74d72f14bc42feab9f7/www/src/pages/components/forms.js)
- []()

[2020-04-08 01:58] harsh6646 commented on #4911
My team and I worked on a solution for this here:
https://github.com/react-bootstrap/react-bootstrap/pull/5104

[2020-04-08 02:25] taion commented on #5102
Right... looks like this broke at some point. Not sure when. It'd be a bug in https://github.com/react-bootstrap/react-overlays/blob/d0cdd9d5204ef0eaadaca8d616fa2ebd5449f4c1/src/Modal.js#L381-L390, which is supposed to handle this.

[2020-04-08 07:23] kosmiq commented on #4911
This is an issue in Bootstrap: https://codesandbox.io/s/nervous-turing-bruhx?file=/index.html

We should probably not solve this on our end

[2020-04-08 07:28] kosmiq commented on #5097
Fixed by #5101

[2020-04-08 07:28] #5097 closed

[2020-04-08 13:20] jquense commented on #5075
I'm in the process of fixing this upstream with: https://github.com/react-bootstrap/react-overlays/pull/794/files#diff-97a43659c6311e819ce665f4a3291f58 which we can use here as well once it's merged and upgraded

[2020-04-08 15:29] #5084 closed

[2020-04-09 00:21] joshuarize opened #5106 "Unable to test NavDropdown with Jest because it doesn't render menu items in the DOM"
## Describe the bug

If you have a `NavDropdown` menu, the DOM doesn't render the menu items on first load (`NavDropdown.Item`) so  they aren't available to test. Here  is what my menu looks likes:

[code]

## To Reproduce

Here is what my test looks like:

[code]

## Expected behavior

The test should pass if the user clicks on the proper DOM element to render the components in the DOM. If there

[2020-04-09 01:52] jquense commented on #5106
We test it in Jest, maybe reference our tests to see how you might alter yours? https://github.com/react-bootstrap/react-bootstrap/blob/master/test/NavDropdownSpec.js

[2020-04-09 02:09] joshuarize commented on #5106
@jquense thank you for the quick reply. i had previously looked to see if you were testing user actions but that doesn't seem to be the case. instead, everything is using the `defaultShow` prop in order to render the entire list elements. for my test case, the dropdown items shouldn't be visible when the user first loads the page, they should only be visible after a user clicks the dropdown. in th

[2020-04-09 13:27] jquense commented on #5106
have you tried adding a delay after the click? The positioning logic is async i believe

[2020-04-09 16:13] altwarg commented on #5057
@wombat86 just update react-bootstrap to version 1.0.0 (without beta). Works for me (I've used TS)

[2020-04-09 16:20] altwarg opened #5107 "Form.File multiple file upload?"
Can anyone explain how to download multiple files from Form.File?
At the moment I can only select 1 file

This aspect is not even mentioned in the  [documentation](https://react-bootstrap.github.io/components/forms/#form-file-props).

[2020-04-09 16:23] joshuarize commented on #5106
@jquense i did try that. but i think i found the issue. in order to test properly, you need to target the child `a` of the dropdown component. the event doesn't seem to bubble at the parent. so my fix is to query and the `a` element, then perform a click in the test on that element, which will update  the DOM. it sorta makes sense,  but just makes testing a pain in the butt.

[2020-04-09 16:50] taion commented on #5107
the file input is just a thin wrapper around a normal `<input type="file">`. you'd handle it the same way as there – probably with the `multiple` prop

[2020-04-09 16:50] #5107 closed

[2020-04-10 09:27] tai-flywire commented on #4140
Thanks so much for this, @diceler , it works great and isn't hacky at all

[2020-04-10 18:47] harsh6646 commented on #4911
Hey thanks for the feedback. While it may not be a part of bootstrap this is an opt-in kind of feature. It doesn't break any of the bootstrap stuff, just makes it easier for users as they don't have to explicitly mark every single item.
If this is fine with you I can change this to a class based implemented rather than using a new prop.

[2020-04-10 20:31] kosmiq commented on #4911
@taion @jquense your call here.

[2020-04-11 10:54] AdityaAnand1 opened #5109 "How to open a dropdown programmatically?"
Passing in `show` prop turns it permanently on.

What I want, is to trigger the dropdown to open up from some other event. Just a one time "open dropdown", that opens the dropdown, which can then be closed normally.

[2020-04-11 12:29] jquense commented on #5109
Pair show with onToggle. And store show in state. Some of our examples demonstrate the pattern

[2020-04-11 19:03] #5109 closed

[2020-04-12 00:17] igorsantos07 commented on #5082
@taion, check my question above please :)

[2020-04-12 17:13] taion commented on #5082
Okay, so the issue is more that your `SpecialButton` is just spreading `{...props}` over its own `onClick`, instead of combining the supplied `onClick` prop with its own click handler.

As in `Dropdown.Item`, you should define an `onClick` handler that both invokes the supplied `onClick` prop _and_ runs your own "handle click" logic: https://github.com/react-bootstrap/react-bootstrap/blob/23958025