[2021-02-12 20:24] perryf opened #5651 "Dropdown does not expand after opening/closing a modal in IE11"
## Describe the bug

I am having an issue with `react-bootstrap` Dropdowns/DropdownButtons in IE11.  Everything seems to work fine opening and closing Dropdown buttons and menus normally.  However, if you happen to have a Modal which you open and close, and then click on a Dropdown, the Dropdown will no longer open.

## To Reproduce

Open a Modal.  Close a Modal.  Then click on a Dropdown Menu.

#

[2021-02-12 20:47] kyletsang commented on #5651
Same as #5409.  Need to clear react-overlays from node_modules, delete package/yarn lock files, then reinstall packages.

[2021-02-12 21:14] perryf commented on #5651
Still does not work in IE11.

[2021-02-12 21:20] kyletsang commented on #5651
Can you check what version of react-overlays is being installed in your node_modules folder?  Should be 4.1.1

[2021-02-12 21:27] perryf commented on #5651
It is indeed 4.1.1.  Adding `onClick={(e) => e.stopPropagation(e)}` to all the dropdowns seems to work though.

[2021-02-12 21:31] kyletsang commented on #5651
Ugh... sounds like the workaround didn't work for ie

[2021-02-13 00:32] yangster23 opened #5652 "Accessibility - NVDA Screen Reader for Card + Accordion"
## Describe the bug

Using the Accordion Toggle as a card header component, screen readers like NVDA does not announce the state of the controls whether the control is in expanded or collapsed. This violates accessibility guidelines MAS 1.3.1 - Info and Relationship.

## To Reproduce

Steps to reproduce the behavior:

1) Turn on NVDA
2) Click/hit ENTER key on entire clickable card header of any ca

[2021-02-13 04:18] thepuzzlemaster commented on #5166
@Meryldominguez, I just ran into the same problem. In my case, my overlay, was pointing to a `React.FC`, and I had to change it to be `React.forwardRef` in order for the overlay to position correctly. But it worked after I made that change.

[2021-02-13 07:30] thepuzzlemaster opened #5653 "A `ref` set on `Overlay`'s child never gets a value"
## Describe the bug
It's entirely possible I'm just doing something completely wrong here, but I can't for the life of me figure out what it could be.
I'm creating a popover, and I'd like to get a ref to that element. But `ref.current` is always null. It works fine in a standalone `Popover` without an `OverlayTrigger`.

## To Reproduce
1. Create any element with `ref`, that is passed into an `Over

[2021-02-15 04:16] richdear opened #5654 "Dropdown menu full width of container"
## Is your feature request related to a problem? Please describe

 Dropdown have to contain many elements so its menu must occupy all available space

## Describe the solution you'd like

Responsive dropdown menu

## Describe alternatives you've considered

Custom dropdown

[2021-02-15 19:59] thepuzzlemaster commented on #5653
I took another look at this, this morning. It's the `<Overlay/>` itself, not the `<OverlayTrigger/>` which is causing the issue. Updated the codesandbox to match.

[2021-02-15 21:09] thepuzzlemaster commented on #5653
Okay, I believe I've tracked down what's happening here, but I haven't fully wrapped my head around it yet.

You can see in [this codesandbox link](https://codesandbox.io/s/elastic-wilson-rx9es?file=/src/App.js) that when you toggle the commented line which assigns the ref, it inversely toggles the component's ability to correctly render the child, and the value of the ref.
When the ref is set, th

[2021-02-16 06:40] kyletsang commented on #5653
You're correct, the overlay is overwriting the ref you have there.  Here are the props coming from `react-overlays` `Overlay`:

https://github.com/react-bootstrap/react-overlays/blob/30b8155cdf5987234dd8e8111cedb118fd053b5a/src/Overlay.tsx#L117-L130

[2021-02-16 09:16] edaqa-uncountable opened #5657 "OverlayTrigger appears to have the wrong type, should allow ReactNode"
## Describe the bug

The `OverlayTrigger` doesn't accept a `ReactNode`.

[code]

Since it accepts a function that returns a ReactNode I presume it actually means to accept a ReactNode itself?

The typical use-case will be a wrapping component that accepts `children: React.ReactNode` as an incoming property and wants to forward it to the `OverlayTrigger`.

[2021-02-16 09:47] edaqa-uncountable commented on #5657
The same appears to be true of the `overlay` attribute.

[2021-02-16 10:16] edaqa-uncountable opened #5658 "popperConfig appears to have an incorrect type definition"
If I create an `OverlayTrigger` with a `popperConfig` like this:

[code]

TypeScript will produce this error:

[code]

I can't figure out where this `Modifier` type is coming from, or how TypeScript has identified this type for `popperConfig`. But it appears to be wrong.

[2021-02-16 10:38] pavel-martynov commented on #5065
And it's still not working

[2021-02-16 16:25] ppanero commented on #5647
@kyletsang any tips or pointers?

[2021-02-16 18:07] kyletsang commented on #5647
Sorry for the delay here.  Unfortunately I'm not sure what's happening here.  The console log is in the bundle right?  We do know it's not a RB issue, since it also occurs with native elements.

Have you tried asking in the webpack project?

[2021-02-16 18:22] kyletsang commented on #5654
You can adjust the width of the dropdown menu as needed using css

[2021-02-16 18:27] kyletsang commented on #5657
It's specifically a `ReactElement` here because the OverlayTrigger/Overlay needs to pass a ref to it.

[2021-02-16 18:36] #5646 closed

[2021-02-16 18:46] #5336 closed

[2021-02-16 18:54] #5493 closed

[2021-02-16 20:40] kyletsang commented on #5650
1.5.0 has just been released with support for `InputGroup` `hasValidation` from bootstrap 4.6.0

[2021-02-16 20:40] #5650 closed

[2021-02-16 21:36] jeremygottfried opened #5659 "Accordion component doesn't work with collapsing specific rows in a table."
## Describe the bug
Accordion component doesn't work for collapsing specific rows in a table. `Accordion.Collapse` wraps everything in a div which messes up row styles.
## To Reproduce
[code]

The code above collapses the row, but the styling for the collapsed row is messed up because it's wrapped in a div. There should be an `as` prop for the `Accordion.Collapse` component.

## Expected behavior

[2021-02-17 07:01] edaqa-uncountable commented on #5657
But it also needs to support the `ReactNode` return from the function, so presumably it'd have a way of dealing with a child that is not a `ReactElement` ?

I don't think it's a big limitation, mainly it requires declaring a different `children` type in a higher level component, not the normal `ReactNode`.

[2021-02-17 20:48] anjunatl commented on #5651
@kyletsang This might be related to React 17's change to event delegation - https://reactjs.org/blog/2020/10/20/react-v17.html#changes-to-event-delegation

[2021-02-18 05:16] kyletsang commented on #5658
Modifiers follow the popper v2 format:
https://popper.js.org/docs/v2/modifiers/

Here's an example used in RB for the offset modifier:
https://github.com/react-bootstrap/react-bootstrap/blob/d9f139752ab05eefaf9af8745ccd493ad18d98dd/src/usePopperMarginModifiers.tsx#L51-L72

[2021-02-18 19:07] kyletsang commented on #5652
We can fix the aria-expanded bit here, but seems like NVDA still doesn't announce the collapsed state even with a role set to "button" on the toggle element.  Is this a bug in NVDA?

There are a couple suggestions I have for using a button as the toggle while still having the entire clickable header:

The upstream Bootstrap example has a block button toggle that spans the width of the card header

[2021-02-19 00:01] ccoulter-eaglemed commented on #5143
https://codesandbox.io/s/dry-shape-ee9l1

This is the codesandbox example he probably meant to put in...

[2021-02-19 08:11] thepuzzlemaster commented on #5653
Thanks for the confirmation. Is there any way to change this so the ref propagates through? It looks like doing something like this works? I'm not sure how appropriate it would be to include something like that inside the library, vs just doing something like this in my own code?
https://codesandbox.io/s/elastic-wilson-rx9es?file=/src/App.js

I am assuming that's kind of what `useMergedRefs` is do

[2021-02-19 12:13] Jammar opened #5664 "Search field in github.io docs leads to netlify.app docs"
## Describe the bug

Search results in documentation are linked to wrong documentation site (auto-generated netlify.app).

## To Reproduce

Visit https://react-bootstrap.github.io/components/alerts/

In the left sidebar, find the search input and search: "Modal".

All results in typeahead/input field leads to the netlify.app docs.

In the netlify.app docs, there is an alert banner which says:

**Y

[2021-02-19 17:39] kyletsang commented on #5653
What you did in that sandbox is the only way to get the ref at the moment.

It looks like we can change `Overlay` to use `forwardRef` here, but this is considered a breaking change. We can add this for the bootstrap 5 release that's currently in development.

[2021-02-19 18:05] kyletsang commented on #5143
I can see this on default carousel example with `fade=true`

[2021-02-19 19:36] ccoulter-eaglemed commented on #5143
This is how I fixed it:
`/* Fix for flickering carousel */
.carousel-inner .carousel-item {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
}
.carousel-inner .carousel-item:first-of-type {
  position: relative;
}
.carousel-inner .active {
  opacity: 1;
}
/* End of fix */
`

[2021-02-20 02:24] pwillart opened #5666 "Accordion.Toggle uses deprecated findDOMNode (React.StrictMode) and throws error"
## Describe the bug

When using React.StrictMode an error is triggered in the browser console when using Accordion to collapse Cards.

index.js:1 Warning: findDOMNode is deprecated in StrictMode. findDOMNode was passed an instance of Transition which is inside StrictMode. Instead, add a ref directly to the element you want to reference. Learn more about using refs safely here: https://reactjs.org/

[2021-02-20 06:22] thepuzzlemaster commented on #5653
Thanks very much for the help and insight. Although not the prettiest, this will unblock me.

Really appreciate all the help.

[2021-02-20 08:03] TyIsI commented on #5118
In case anyone finds this and is wondering. The correct ways to do this is:

[code]

Per OP's example:
[code]

[2021-02-20 19:58] AnechaS opened #5667 "error husky"
npm ERR! code ELIFECYCLE
npm ERR! syscall spawn
npm ERR! file sh
npm ERR! errno ENOENT
npm ERR! @popperjs/core@2.8.1 postinstall: `husky install .config/husky`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the @popperjs/core@2.8.1 postinstall script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR! A complete log of this run can be fo

[2021-02-21 01:22] blabtonic commented on #5667
I also get this error when I do an install for react-bootstrap it seems that something in the popperjs core might not be compatible

[2021-02-21 07:07] kyletsang commented on #5667
This was a problem with popper core 2.8.1, but it should be fixed now in 2.8.2

[2021-02-21 07:07] #5667 closed

[2021-02-21 07:11] kyletsang commented on #5666
Dupe of #5075

[2021-02-21 07:11] #5666 closed

[2021-02-21 07:12] kyletsang commented on #5634
Closed due to inactivity

[2021-02-21 07:12] #5634 closed

[2021-02-21 07:12] kyletsang commented on #5579
Closed due to inactivity

[2021-02-21 07:12] #5579 closed

[2021-02-22 01:36] FernandoH-G opened #5670 "ToggleButton double render and shallow click."
## Describe the bug

A `ToggleButton` component click will render a click twice, meaning any callback functions in `onClick` will run twice, potentially messing with values assigned/changed. In order to not render a click twice, you seem to need to click its input area, if not, it will be a shallow click. The label seems to cover the actual input zone.

## To Reproduce

Steps to reproduce the beha

[2021-02-22 14:52] ppanero commented on #5647
Webpack issue, managed to make a working example. Sorry for the noise. Closing...

[2021-02-22 14:52] #5647 closed

[2021-02-23 18:25] kyletsang commented on #5670
`ToggleButton` renders a label wrapping an input under the hood.  When you attach an `onClick` to the label, clicking it will also trigger a click on the input, which then bubbles up back to your label, triggering it a second time.

I would suggest passing an `onChange` here if you want to detect changes in the underlying input.

[2021-02-23 18:37] kyletsang commented on #5659
Are you able to render a working example using regular bootstrap?  I'm unsure if the collapse works for tables.

[2021-02-23 18:38] kyletsang commented on #5658
Closing as question has been answered

[2021-02-23 18:38] #5658 closed

[2021-02-23 18:38] kyletsang commented on #5654
Closing as question has been answered

[2021-02-23 18:38] #5654 closed

[2021-02-24 05:53] jeremygottfried commented on #5659
It seems like the basic show/hide behavior works, but not the animation.
https://codesandbox.io/s/bootstrap-4-react-hello-world-import-forked-pxwcf?file=/src/index.js

[2021-02-24 08:35] MCjores opened #5673 "Using <LinkContainer> with <Prompt>"
## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce
If i using <LinkContainer/> and want to ask user for confirmation with <Prompt/> or history.block(), i get 2 selected items
Steps to reproduce the behavior:

1. Go to 'Select any link ( in <LinkContainer/>) and you must add <Prompt/> in Component for this link.'
2. Click on 'another item'
3. If you confirm -

[2021-02-24 10:07] Nishant-Pall opened #5674 "sticky="top" not working in Navbar"
I'm new to react-bootstrap and I'm working on a react application. I want my navbar to stick to the top all the time while scrolling through the application, I passed the sticky attribute as "top" as well but that doesn't seem to change the behavior. I'll share the CSS and JSX

[code]

[code]

I do have a couple more issues, I hope I can clear them here as well

[2021-02-24 18:24] Jonofat opened #5675 "Container breakpoints don't seem to do anything?"
I need a different container size to the standard but but not 100% fluid. So, I saw in the docs I could do this:

`<Container fluid="md"></Container>`

But I have tried with md, sm, lg etc. and they all look exactly the same, nothing changes.

[2021-02-24 20:21] itschits commented on #5674
Try using <Navbar className="fixed-top" bg="light" expand="lg">

[2021-02-25 15:21] yangster23 commented on #5652
Microsoft's screen narrator with Edge gives us the same error here. Regardless, the alternative suggestion you provided should be sufficient! Thanks.

[2021-02-25 23:24] jaaneh opened #5678 "Newest CDN link from docs not working. (v4.6.0)"
## Describe the bug
Copy-pasting the latest CDN link from the react-bootstrap docs does not work. This is an issue with the CDN throwing `<Code>AccessDenied</Code>` XML error.

Seems like this might be an issue with Bootstrap link itself. Should probably be switched for the jsdelivr link from their v4.6 docs. [link](https://getbootstrap.com/docs/4.6/getting-started/introduction/#css)

## To Reprod

[2021-02-26 06:47] kyletsang commented on #5678
Let's use jsdelivr.  Interested in sending a PR?

[2021-02-26 06:54] kyletsang commented on #5675
Setting a breakpoint in `fluid` will make the container 100% width until the specified breakpoint.  If you need a custom width, you can change it via css.

[2021-02-26 06:54] #5675 closed

[2021-02-26 06:58] kyletsang commented on #5673
Probably easier to help if you provide a codesandbox

[2021-02-26 08:26] jaaneh commented on #5678
Sure thing. Opened #5680

[2021-02-26 17:49] #5678 closed

[2021-02-26 21:44] dnorrstrand opened #5681 "How to paginate a table"
I have to fetch more than 500 records of data into a table. I want my table to display a max of 20 records per page. How can I paginate my data using the Pagination component?

Sorry I cannot find any answer to this question in the Dox. Here is my component without pagination added:

[code]

[2021-02-28 07:39] Nishant-Pall commented on #5674
Hey, thanks a lot for the solution. I actually fixed it with simple CSS.

[2021-02-28 07:39] #5674 closed

[2021-02-28 09:06] burtek opened #5682 "[docs] Page for Popovers component returns 404"
Selecting Popovers from side menuy while in [components](https://react-bootstrap.github.io/components/alerts/) page, or going directly to the url https://react-bootstrap.github.io/components/popovers/ returns 404

[2021-02-28 15:03] Tanish2000 commented on #1601
If you are using react-bootstrap and want to change the next and previous icons on Carousel, then use the following CSS declarations.

![Screenshot (171)](https://user-images.githubusercontent.com/68784397/109423073-24c0b900-7a04-11eb-9470-3a7d266003c0.png)

[2021-03-01 13:44] bryandandan commented on #648
The id has to be unique

[2021-03-01 18:58] kyletsang commented on #5682
Same as #5214

Redirect isn't working properly.  Use this link:  https://react-bootstrap.github.io/components/overlays/#popovers

[2021-03-01 18:58] #5682 closed

[2021-03-02 22:36] slimandslam opened #5690 "CDN link on React-Bootstrap website does not load"
## Describe the bug

CDN link on website does not work

## To Reproduce

Go here:  https://react-bootstrap.github.io/getting-started/introduction

Add the suggested CDN link to your React index.html file:

[code]

It fails to load.

[2021-03-02 23:02] kyletsang commented on #5690
I updated the site with the new link:

https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css

[2021-03-02 23:02] #5690 closed

[2021-03-03 07:28] Nishant-Pall opened #5692 "Change size of dropdown button."
I'm using Dropdown.toggle for my project and I want to resize the button but I can't find any prop for such styling, please help me out here. Here is the snippet

[code]

[2021-03-03 07:43] ericvergnaud opened #5693 "propTypes stripped"
## Describe the bug

the propTypes static field of components is missing in production builds

## To Reproduce

create a project using react-bootstrap 1.0+
import a component
look at the component propTypes

## Reproducible Example

[code]

## Expected behavior

The source code for Button.tsx populates the static propTypes field:
line 141: Button.propTypes = propTypes;
I expect the propTypes stati

[2021-03-03 09:51] VerdonTrigance opened #5694 "Navbar.Toggle targeting does not work"
## Describe the bug

aria-controls and data-target does nothing to target collapsing elements

## To Reproduce

Steps to reproduce the behavior:

1. Open it with small screen to collapse navbar
2. Click user icon
3. It opens everything, but not only "navigation-account" control
4. Same with "navigation-links"

## Reproducible Example

https://codesandbox.io/s/sharp-grass-f8eo0?file=/src/App.js

##

[2021-03-04 06:44] ericvergnaud commented on #5693
Hi,
I managed to workaround the issue by setting removePropTypes: false in .babelrc (in a local build)
However, this is not sufficient apparently for components generated via createWithBsPrefix
examples: Alert.Heading, Alert.Link, Card.Header, Card.Body...
Any thoughts on how to fix this?

[2021-03-04 13:29] jquense commented on #5693
so your build was removing the propTypes? the `createWithBsPrefix` components just don't have prop-types, they are generally just wrappers over an HTML element and so have all the same props as them

[2021-03-04 13:41] ericvergnaud commented on #5693
the standard build removes the propTypes (due to
```const rmPropTypes = require('babel-plugin-transform-react-remove-prop-types');```
in @react-bootstrap/babel-preset)
I was able to avoid it by setting removePropTypes: false in .babelrc

the createWithBsPrefix components have "as" and "bsPrefix" as props, which are not standard html props
so propTypes should be there I believe
happy to fix the iss

[2021-03-04 15:05] jquense commented on #5693
our config is probably set to remove them (accidentally) then. The other components, do accept those props but they just don't also have propTypes defined for them, so perhaps should.

[2021-03-04 19:22] kyletsang commented on #5681
You'll need to determine how many page items you want to display based on your data, then attach an `onClick` or whatever you need to either fetch the data for the next page, or get the next subset of items from your array if you've downloaded all 500 items at once.

There are a bunch of convenience buttons you can use for your page items. See docs here:
https://react-bootstrap.github.io/component

[2021-03-04 19:22] #5681 closed

[2021-03-04 19:27] kyletsang commented on #5692
`Dropdown.Toggle` renders a `Button` under the hood so you can use the `size` prop.  This prop takes either `sm` or `lg`.  See https://react-bootstrap.github.io/components/buttons/#sizes

The docs could use some improvements here in the API section.

[2021-03-04 19:51] kyletsang commented on #5694
Unfortunately, the current implementation only supports a single `Navbar.Collapse` because the context is stored within the parent `Navbar`.  `aria-controls` is used for accessibility and `data-target` is only used for regular bootstrap, not react-bootstrap.

Maybe this is something we can improve for the bootstrap 5 release...

[2021-03-05 05:36] Nishant-Pall commented on #5692
Thank you for the doc, is there any way I can change it in CSS. I'm not really sure if I know how to change it in my jsx above.

[2021-03-05 07:11] hellow554 opened #5696 "Nested Progressbar total max is sum of children"
## Is your feature request related to a problem? Please describe

AFAIK, if you want to use a [stacked progress bar](https://react-bootstrap.netlify.app/components/progress/#progress-stacked) the total sum of all children needs to be 100, regardless of the max (or min) attribute of the "parent" progress bar. This means, that I have to manually calculate the progress of each child, instead of givin

[2021-03-06 06:48] VerdonTrigance commented on #5694
ooh, sad to hear that. anyway thanks for reply.

[2021-03-06 06:48] #5694 closed

[2021-03-06 10:49] ericvergnaud commented on #5693
btw, I'm not sure what the right approach should be re removing propTypes in a library
if the bundle is loaded via url in the webpage then you want propTypes removed
but if you're importing the module in your project, then you don't want them removed
not sure what is the right approach here...

[2021-03-06 15:24] smenshikov opened #5704 "Is there a library to mask input?"
I use `react-hook-form` and `react-bootstrap`. Also, I want to use a library to mask the input. Actually, I have tried using to use the `react-maskedinput` package, but it does not work well, and looks like this package is dead. Maybe someone can suggest a solution?

[2021-03-07 10:58] burtek commented on #5682
@kyletsang thanks. Sorry, I missed that issue while looking if it has been answered earlier

[2021-03-07 21:40] burtek opened #5705 "Broken TypeScript types for projects with `allowSyntheticDefaultImports: false`"
Since `react` has no default export, `import React from 'react'` is a no-op for TS projects with `allowSyntheticDefaultImports: false`. This breaks type declaration files making `React.*`, including `React.PropsWithChildren` types inaccessible:

![image](https://user-images.githubusercontent.com/2940958/110255477-42f26000-7f94-11eb-90e3-4cd9d25c153f.png)

![image](https://user-images.githubusercon

[2021-03-07 21:41] burtek commented on #5705
It works correctly with `import * as React`:

![image](https://user-images.githubusercontent.com/2940958/110255865-3c64e800-7f96-11eb-973a-81dd681c702c.png)

no error here:

![image](https://user-images.githubusercontent.com/2940958/110255872-44248c80-7f96-11eb-8a38-28b4a8e77490.png)

[2021-03-08 17:41] kyletsang commented on #5705
This will be fixed in v2 for the bootstrap 5 release

[2021-03-08 17:45] kyletsang commented on #5704
Maybe this?
https://www.npmjs.com/package/react-input-mask

This isn't really a react-bootstrap issue though, so you might have better luck asking in reddit or reactiflux discord.

[2021-03-08 17:45] #5704 closed

[2021-03-08 18:47] ladal1 opened #5709 "Form.Control validation both true and false"
## Is your feature request related to a problem? Please describe

(Simple Example code at the bottom)
I'm currently using a Form.Control that is validated on any input on change, and wanted to bring both valid and invalid css states to it. I have bound it to a state variable, however to have both vorking I have to bind both IsValid attribute and IsInvalid attribute, although one is just !(negation

[2021-03-08 19:05] slimandslam commented on #5608
I'm actually on a project right now and need to make a decision soon. Do you think you'll have React Bootstrap with V5 in 6 weeks or less?

[2021-03-08 19:16] kyletsang commented on #5608
@slimandslam, aiming to release a beta this week.

[2021-03-08 20:12] kyletsang commented on #5692
To change via props:
`<Dropdown.Toggle variant="secondary" id="dropdown-basic" size="sm">`

Or `style` prop:
`<Dropdown.Toggle style={{ padding: '2rem' }} />`

Or css targeting `.dropdown-toggle` or whatever selector you want.

[2021-03-08 20:42] burtek commented on #5705
@kyletsang is there ETA for that release?

[2021-03-08 21:29] kyletsang commented on #5705
Aiming to release a beta this week

[2021-03-08 21:50] adamayres opened #5711 "Incorrect arrow key handling inside of a modal opened from a Nav link."
## Describe the bug

Arrow keys are incorrectly handled in form inputs that opened inside of a `Modal` that is nested in a `Nav`.

## To Reproduce

Steps to reproduce the behavior:

1. Create a `Nav` that contains a `Nav.Link`.
2. Inside of the `Nav.Link` create a `Modal` that is triggered when the link is clicked.
3. Inside the `Modal` create a `Form` with a `Form.Control` of `type="text"`.
4. Cl

[2021-03-09 05:36] Nishant-Pall commented on #5692
Oh, that clears it up. Thank you for the demonstration.

[2021-03-09 05:36] #5692 closed

[2021-03-09 10:11] nfroidevaux commented on #5190
I had the same issue, thank you for the hints.
If anybody also should struggle with the interpretation:
1. remove the `validated` from `<Form>`
2. control the display of the invalid fields separately in the `<Form.Control>` using `isInvalid`, e.g. something like `isInvalid={validate && question.required && !answerIsPresent(question.id) ? true : false}` by using the `validate` hook, some property o

[2021-03-09 14:32] jquense commented on #5711
hmm that's unfortunate, this is more a consequence with how Portal event bubbling works in React, than a bug in RB, but your right that it's really confusing and unexpected.

[2021-03-09 20:23] kuldeepk commented on #3185
This looks like a FF issue where onFocus event doesn't get fired for buttons. You can test it here - https://jsfiddle.net/Lqype8sg/1/ (works in Chrome but not in FF or Safari). I fixed it by adding an `onClick` event which manually focuses the element,

[code]

[2021-03-09 20:43] adamayres commented on #5711
I saw the following two threads in the React repo regarding supporting an option to stop the propagation of events into a portal and the other thread to discuss the merits of event bubbling through the portal.

https://github.com/facebook/react/issues/11387
https://github.com/facebook/react/issues/19637

I will add this specific use case to the latter of the two threads.

[2021-03-10 13:31] richdear commented on #5654
I need dynamic width

[2021-03-10 14:44] chrys1110 commented on #5608
Will the migration path be easy from react bootstrap with bs4 to react bootstrap with bs5?

[2021-03-10 17:34] kyletsang commented on #5608
See https://github.com/react-bootstrap/react-bootstrap/blob/bs5-dev/www/src/pages/migrating.mdx for current list of breaking changes

[2021-03-11 10:10] SuneelGiri opened #5715 "Implementing advanced pagination to my react site using react-bootstrap"
There is no clear instruction in react-bootstrap site as to what to do with <Pagination.First />, <Pagination.Prev />, <Pagination.Ellipsis />, <Pagination.Next />, <Pagination.Last />

I have been trying to achieve it for a long time but can't find any support please help. My code:

Paginate.js:
[code]

productAction.js
[code]

HomeScreen.js:
[code]

Thank you!

[2021-03-11 10:58] kalashnikovisme commented on #4056
My solution according to previous answer

[code]

[2021-03-11 16:45] zuk22 opened #5716 "How to append Popover with OverlayTrigger to a specific div element?"
How to append Popover with OverlayTrigger to a specific div element instead of a body tag?
Is there any property for this?

Here is my piece of code:

[code]

[2021-03-11 17:58] kyletsang commented on #5716
Use the `container` prop in OverlayTrigger.  This will be forwarded to the underlying Overlay.

See https://react-bootstrap.github.io/components/overlays/#overlays-container

[2021-03-11 17:58] #5716 closed

[2021-03-11 18:03] kyletsang commented on #5715
Pagination buttons are just styled buttons - it's up to the user to come up with the logic on how they want to do pagination (like attaching an onClick, or router link etc).  It seems like you have the general idea of how to do page items in your code, so I'll just describe the others:

First = skip to page 1
Last = skip to last page
Prev = current page - 1
Next = current page + 1
Ellipsis just in

[2021-03-11 18:03] #5715 closed

[2021-03-11 18:17] #5143 closed

[2021-03-12 10:42] Gunthervg commented on #5228
+1 Bringing back to live

[2021-03-14 22:11] bduff9 commented on #5174
@jquense Any chance we can get this published as an alpha/beta version in npm?  Using the GitHub link as the version in package.json has caused me many headaches, but up to this point I was able to get it to work.  However, due to this issue, this no longer works for me since we are using Husky: https://github.com/typicode/husky/issues/851#issuecomment-777179899

I completely understand this is no

[2021-03-14 22:21] jquense commented on #5174
I believe there is an alpha published now

[2021-03-15 05:25] kyletsang commented on #5174
v2.0.0-alpha.0 is available on npm

See release notes here:
https://github.com/react-bootstrap/react-bootstrap/releases/tag/v2.0.0-alpha.0

[2021-03-15 19:52] kyletsang commented on #5705
Should be fixed in v2.0.0-alpha.0:
https://github.com/react-bootstrap/react-bootstrap/releases/tag/v2.0.0-alpha.0

[2021-03-15 19:52] #5705 closed

[2021-03-16 11:36] hyper1 commented on #5065
+1

[2021-03-16 17:30] #5625 closed

[2021-03-16 17:30] kyletsang commented on #5673
Closing due to inactivity

[2021-03-16 17:30] #5673 closed

[2021-03-16 17:30] #5670 closed

[2021-03-16 17:31] kyletsang commented on #5659
Yeah I think this is one of the limitations with table elements.  We can't do anything here for it.

[2021-03-16 17:32] #5623 closed

[2021-03-16 17:34] kyletsang commented on #5505
Should be able to handle this behavior with the method @jquense mentioned above using 1.5.2 now.

[2021-03-16 17:34] #5505 closed

[2021-03-16 17:35] #5492 closed

[2021-03-16 18:33] Sabrinovsky opened #5723 "Backdrop with a modal inside another modal"
## Describe the bug

When you has 2 modals, one inside the another. The second modal's backdrop does not appears.

## To Reproduce

Heres a example: https://codesandbox.io/s/react-bootstrap-modal-forked-y8s04?file=/ItemModal.js
just click on the Edit to see

## Expected behavior

The second modal backdrop to over the first modal.

## Screenshots

![image](https://user-images.githubusercontent.com/

[2021-03-16 19:23] jeremygottfried commented on #5659
Gotcha. I still think an `as` prop on the Collapse component would be helpful. Even if it doesn't include table elements.

[2021-03-16 19:29] TamimiGitHub commented on #5384
Bump - Any updates on this?

[2021-03-16 19:55] jquense commented on #5723
bootstrap doesn't support stacking modals. We are limited by what the vanilla css supports and this is one of those things we can't change. You can, however add your own CSS to move the backdrop up if you'd like, but your own your own there

[2021-03-16 19:55] #5723 closed

[2021-03-16 20:59] edemaine commented on #5384
Did you have an idea for how to reorganize or clarify or add to the documentation? While it was confusing, I wasn't sure how to make it better. If you have ideas, I could give a try.

[2021-03-17 09:27] nikunj-asimily commented on #5500
add this - "onClick={(e) => e.stopPropagation()}" in dropdown

[2021-03-17 14:05] stassilla commented on #5042
But it doesnt explain why animation is working in AngularJS for bootstrap modal with this setting turned off.

[2021-03-17 17:48] jeremygottfried commented on #5659
Yeah I can work on it this weekend

[2021-03-17 21:12] jklingen92 opened #5725 "Modal cannot appear inside form"
## Is your feature request related to a problem? Please describe
I'm attempting to build a react drop-in component that puts a modal confirmation dialogue into a form. My component has the following structure:

[code]
This doesn't work because the compiled Modal is moved to the bottom of the HTML document and no longer exists inside of the form. I'd like to be able to use this component without ha

[2021-03-18 12:06] fefrei opened #5726 "Toast.onClose: Type omits argument"
Using a `Toast` like this...

[code]

works absolutely fine, i.e. clicking the “×” triggers `onClose`, but not `onClick`, while clicking somewhere else on the toast only triggers `onClick`. For this behavior, the call `e.stopPropagation()` is needed.
However, this use requires the type assertion `as () => void` in there to type correctly, as the type of `onClose` omits the argument: `ToastProps.on

[2021-03-19 14:28] michaelhousman opened #5728 "React bootstrap carousel automatically grays out a white slide"
## Describe the bug

It's possible this is user error but I want to display a white slide in a React Bootstrap carousel and it's being automatically grayed out.

I think it grays out the active image because the default coloring for the previous / next buttons is white by default. But I'm changing those so I'd like the carousel to just render my images the way they appear.

## To Reproduce

Nothin

[2021-03-19 18:23] kyletsang commented on #5728
Can you post a reproducible example on CodeSandbox?

[2021-03-19 18:28] michaelhousman commented on #5728
Sure!  Just give me a day to pull that together.

[2021-03-19 18:37] kyletsang commented on #5726
`onClose` should probably take an optional event param.  It gets called with an event in `ToastHeader` and without an event in `Toast`'s autoclose functionality.

Interested in sending a PR?

[2021-03-19 18:40] fefrei commented on #5726
I actually briefly looked into the code, but didn't really find my way – that's why this is an issue, not a PR 🙈

[2021-03-19 18:47] kyletsang commented on #5725
Modal does take a `container` prop where you can specify where the modal gets appended to.

Not sure why it's marked as private though... @jquense?

https://github.com/react-bootstrap/react-bootstrap/blob/00dffcd69cfe0350a77a3037585388298432b32a/src/Modal.tsx#L213-L216

[2021-03-20 06:14] sohamsshah opened #5729 "Bug in the Toast Component Section on the Docs Website"
## Describe the bug

At https://react-bootstrap.github.io/components/toasts/ there is a dismissible toast section. That demonstrates two types of toast dismissals, with Animation and without Animation. In that, when toggled for *with animation* the toast disappears. But when again toggled, due to some reason the Toast Header Image disappears.

The Video demonstrating this:

![ezgif com-gif-maker](

[2021-03-20 12:37] davidnewcomb opened #5730 "Radio group documentation"
## Describe the bug

Bug is in documentation

## To Reproduce

Go to the section on radio buttons.

## Additional context

All the documentation treats checkboxes and radio buttons the same. All the examples use radio and checkbox interchangeably.

The problem is that radio buttons are not the same as checkboxes because they have radio groups, and this is not mentioned at all.

I'm currently hunti

[2021-03-20 12:52] jquense commented on #5730
What is the difference you are looking for? Do the examples not demonstrate how to use radio buttons in a group? I'm not sure I understand the concern here. Yes radios are different in use from checkboxes but their API is exactly the same in HTML (aside from type=radio)

[2021-03-20 13:03] jquense commented on #5730
Ahi see the examples are wrong, they are missing a `name` attribute. You can tie checkboxes and a radios together as a group by giving them the same `name`, note that this an HTML behavior not a react or react bootstrap one

[2021-03-20 13:55] michaelhousman commented on #5728
@kyletsang -- I'm having problems getting CodeSandbox to render the Carousel properly but here's the code I mocked up that reproduces the issue locally:

https://codesandbox.io/s/little-violet-200ol?file=/src/App.js

Will look into whether I can create a public Github repo in order to deploy.

[2021-03-20 14:07] michaelhousman commented on #5728
Ugh.  Finally figured out how to render it and I don't see the issue with the images turning gray.  I think that means it's an issue with my local configuration.  Will try to dig in and figure out what's going on.  Sorry for the wild goose chase!

[2021-03-21 06:22] unit-002 opened #5731 "Popover does not work on mobile browser"
## Describe the bug

Popover does not trigger on button click

## Expected behavior

Popover will show on button click

- Operating System: Android
- Browser, Version [Firefox 86.1.1]
- React-Bootstrap Version [1.5.1]

[2021-03-21 19:49] davidnewcomb commented on #5730
I can see that [Horizontal form](https://react-bootstrap.netlify.app/components/forms/#horizontal-forms) now has a nice radio button example. Thanks.

[2021-03-21 19:49] #5730 closed

[2021-03-22 10:43] achmadk opened #5732 "missing `backdrop` attribute on `ModalProps` when using typescript"
## Describe the bug

I am using react-bootstrap with typescript. I want to prevent modal component from being clicked outside its own element, so I just set `backdrop` props value into `static`. Unfortunately, `backdrop` wasn't show when using vscode intellisense.

## To Reproduce

Steps to reproduce the behavior:

1. Import `ModalProps` from `react-bootstrap`
2. create dummy type variable called

[2021-03-22 12:49] jquense opened #5733 "docs: radio and checkbox examples don't have a 'name' attribute"
the examples are missing name's so the radio example acts unintuitively if you click more than one radio button in some of the examples

e.g.
https://react-bootstrap.github.io/components/forms/#forms-check-inline

[2021-03-22 23:30] manon-pilaud commented on #5733
I can do this one

[2021-03-23 00:02] jquense commented on #5733
awesome!

[2021-03-23 17:33] kyletsang commented on #5732
Looks like `Omit` doesn't play nice with index signatures.  We could use a `Pick` here and redefine the index signature in RB `ModalProps`?  Unsure if there's a cleaner way.

[2021-03-23 17:35] kyletsang commented on #5731
Examples on popover docs work for me in Android and Firefox 86.1.1

https://react-bootstrap.github.io/components/overlays

Do they work for you?

[2021-03-23 17:44] kyletsang commented on #5729
Have a look at the [contributing docs](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md)

The local setup section in the [readme](https://github.com/react-bootstrap/react-bootstrap#local-setup) should get you started with running a local copy of the docs site.

Thanks!

[2021-03-23 17:45] kyletsang commented on #5728
Thanks for the update.  Going to close this issue as it doesn't look like an RB issue.

[2021-03-23 17:45] #5728 closed

[2021-03-23 17:55] sohamsshah commented on #5729
Thanks! Working on it!

[2021-03-23 21:32] michaelhousman commented on #5728
Yea, okay.  Sorry about the false alarm!

[2021-03-24 11:04] ShaMan123 opened #5737 "Popover target virtual reference"
Hi,
I was looking into passing a virtual reference to `Popover` `target` prop as described here: [popper.js](https://popper.js.org/react-popper/v2/virtual-elements/).
Can this be achieved?

Thanks for this incredible repo!

[2021-03-24 17:09] kyletsang commented on #5737
Currently virtual elements are not supported, but there is a PR open for this:
https://github.com/react-bootstrap/react-overlays/pull/887

[2021-03-25 03:09] pastak commented on #5561
Thanks for @jquense and reporters 👍

[2021-03-25 09:43] unit-002 commented on #5731
yeah I just copied the documentation, but I change my layout so I am no longer using the popover since it does not work for me. I used the modal instead.

[2021-03-25 13:51] #5731 closed

[2021-03-25 16:33] ThatCanadianGuy opened #5739 "Allow the Tabs control to have a number eventkey so Typescript enums can be used with it."
## Is your feature request related to a problem? Please describe

After updating my react-bootstrap version and receiving the type files for it, I've found that my tab controls that I had set to have enum eventkey props now fail type check as the enum is a number and the current type in the .d.ts is string or undefined.

## Describe the solution you'd like

I propose that the type for the eventKey

[2021-03-25 17:29] tpcbank opened #5740 "how to use link from lib react-router-dom in button"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Ad

[2021-03-26 08:59] mxschmitt commented on #4323
Seems done I would say!

[2021-03-26 08:59] #4323 closed

[2021-03-26 08:59] #4206 closed

[2021-03-26 13:13] miso-belica commented on #4625
FYI: https://github.com/reactstrap/reactstrap/discussions/2151

[2021-03-28 10:22] #5740 closed

[2021-03-28 13:40] sohamsshah commented on #5729
Hi @kyletsang I suppose this issue is because of importing the image via `src` from `holder.js`. By testing with other images, it turns out that all of those works fine with animation and dismiss events.

I think a workaround for this will be to download the svg file for all placeholders, put it in asset and then import relatively from there. Though, then there will be issues with UX via LIVE EDIT

[2021-03-28 18:05] sohamsshah opened #5742 "[DOCS]: Improper Spacing in Placement section in Toast"
## Describe the bug

There is some minor enhancement required in the docs example section in Toast component.

## To Reproduce
Steps to reproduce the behavior:

1. Go to https://react-bootstrap.github.io/components/toasts/
2. Scroll down to Placement Section
3. See error

## Expected behavior

It should have proper spacing.

## Screenshots

![rb_3](https://user-images.githubusercontent.com/4771749

[2021-03-28 19:35] sohamsshah opened #5743 "[DOCS IMPROVEMENT]: Include the Import Statements in Code Example"
## Is your feature request related to a problem? Please describe

Example Scenarios (which I always face and I suppose most devs also might be facing):

1. Want to use Accordion component. First the dev would search on "How to import Accordion". Has to scroll down to API section for learning how to do that. Then again scrolls up for seeing example on how to implement the Accordion Component. Will

[2021-03-29 05:23] kyletsang commented on #5739
We fixed this for the v2 bootstrap 5 release. We could backport some of that if needed. Interested in sending a PR?

[2021-03-29 05:30] kyletsang commented on #5729
Currently holderjs is initialized whenever the example codeblock is rendered, but not when there are any DOM changes in the example itself. The toast with animation is remounted when it is shown, but holderjs isn't run, so image doesn't appear properly.  Interestingly, the toast is only unmounted when there is an animation.

Here's the relevant code for holderjs initialization:
https://github.com/

[2021-03-29 07:24] sohamsshah commented on #5729
Thanks for taking time to help me resolve my doubt. This makes sense to me :)
Tho I haven't gotten to use Mutation Observer in React yet, but would love to explore. Is this [Mutation Observer API](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver) you are referring to, or is there something else that is generally used in React? If you can provide some references/code examples (when

[2021-03-29 13:47] ThatCanadianGuy commented on #5739
Sure! I can take a look and submit a PR today. Cheers

[2021-03-30 09:09] SubZane opened #5748 "Button active state, turns "on" for no reason"
## Describe the bug

If you're using react-router-dom and using the `<Button>` as `NavLink` the active state will be forced up the element if the path is within the current path (like the previous page page or root page). Even if forced `active={false}` it will still be set to true

## To Reproduce

If your projekt URL is `/something/hey/`
[code]

## Expected behavior

According to the documentati

[2021-03-30 09:23] SubZane commented on #5748
Sorry. I ALWAYS find the error after I post stuff like this. Maybe this can help someone else.

It's the `NavLink` that adds the active state. Use `Link` instead.

[2021-03-30 09:23] #5748 closed

[2021-03-30 15:16] devtayls commented on #4868
@bpas247, I'm happy to take this issue. Can you assign me to assure we don't duplicate work.

I'm quite familiar with Bootstrap, but not with the react-bootstrap package. Is there a good third party source / example of the "as" api to help someone formulate some good documentation?

[2021-03-31 06:59] kyletsang commented on #5729
Yeah that’s the one. I haven’t used it myself yet, so can’t really give pointers, sorry.

[2021-03-31 17:52] wleung85 opened #5749 "Creating new elements inside Carousel tag places them within carousel-inner"
## Describe the bug

I'm trying to create an additional element (an extra button) to the Carousel object but it is placed within the lower carousel-inner div instead of the higher carousel div.

##  Example

In this example code, I am trying to add an <a> object within the Carousel that will act as another button (on the same level as the indicators and next/prev buttons).

[code]

Inspecting the

[2021-03-31 18:12] Jonofat opened #5750 "Sync header and footer active links"
This probably isn't a bug but I don't know how to resolve this. I have a top navbar and navigation in the footer. The top and bottom navs active class work fine independently ie: When I click on a link in the navbar and go to that page, the matching menu item is active and the same goes for the bottom nav.

However, if I click 'contact' in the navbar, the footer menu does not have 'contact' as act

[2021-04-01 05:25] kyletsang opened #5751 "v5: Drop `noGutters` from Row"
`.no-gutters` has been removed in v5.

ref: https://getbootstrap.com/docs/5.0/migration/#grid-and-layout

Tasks
- [ ] Remove `noGutters` from Row
- [ ] Remove associated docs
- [ ] Remove associated tests

[2021-04-01 05:27] kyletsang opened #5752 "v5 docs: Navbars requires containers"
Navbar-related docs/examples need to be fixed

Ref: https://getbootstrap.com/docs/5.0/migration/#navbars

See upstream examples:
https://getbootstrap.com/docs/5.0/components/navbar/

[2021-04-01 05:41] kyletsang opened #5753 "v5: RTL support"
Ref: https://getbootstrap.com/docs/5.0/migration/#rtl
BS5 Cheatsheet: https://getbootstrap.com/docs/5.0/examples/cheatsheet-rtl/

CSS support should be finished, so all we need now is the JS support.

Here are some components that need updating from a quick glance at bootstrap's source:
- [ ] Dropdown
- [x] Carousel
- [ ] Modal
- [ ] Tooltip

Maybe we should add a setting to `ThemeProvider` for RT

[2021-04-01 05:47] kyletsang commented on #5750
NavLinks take an active prop, so you can set that to true based on whatever path you're currently on

[2021-04-01 05:51] kyletsang commented on #5749
Unfortunately no - the `Carousel` component expects all its children to be a `CarouselItem`s.

[2021-04-01 06:15] bravogeorge commented on #5752
Hello, I'm an aspiring technical writer and I would love to contribute in any way I can.

[2021-04-01 13:26] Jonofat commented on #5750
Ah, thanks. So I have that working for the footer now. I did the below which works in that whatever page I go to, the correct footer link is active. This isn't true for the navbar though. If I click 'contact' in the footer for example, 'contact' in the nabber is not active. From the documentation I don't see a way to achieve the same thing as I did with the footer links?

[import { useRouter } fro

[2021-04-01 16:09] kyletsang commented on #5743
I'll take a look later in the weekend

[2021-04-01 16:21] kyletsang commented on #5750
Ah sorry forgot to mention the `activeKey` prop.  You should be able to set that in your `Nav` and that will correctly highlight the corresponding `NavLink`.  This uses the `href` that's passed into your NavLinks as the key to set the active state.  Try setting this in both your header and footer `Nav` components.

[2021-04-01 16:59] wleung85 commented on #5749
I see. Then I'll probably have to build a custom carousel component or import one from another library.
If this were to be enabled in `react-boostrap`, a `Carousel.Inner` component may have to be introduced, or the `Carousel` component becomes smart enough to only place `Carousel.Item`s in carousel-inner.

Closing ticket.

[2021-04-01 16:59] #5749 closed

[2021-04-01 18:34] sohamsshah commented on #5743
Thank you :)

[2021-04-01 22:54] kyletsang commented on #5752
Thanks @bravogeorge, go for it!

[2021-04-02 09:43] kolloch commented on #4131
Thanks! It also works with [basePath](https://nextjs.org/docs/api-reference/next.config.js/basepath)

[2021-04-03 16:10] M-Davies opened #5756 "Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined on Navbar"
## Describe the bug
I am trying to utilise the Navbar component within it's own class and file but recieve this error when navigating to the browser page (the app compiles fine):
[code]

I have checked a [similar issue to this](https://github.com/react-bootstrap/react-bootstrap/issues/3275) but upgrading did not seem to help. My code:

[code]
Have I missed something obvious in my implementation?

[2021-04-03 16:32] davidnewcomb commented on #3431
@tamangsuresh You have to explicitly import the css yourself. It is not automatic because different projects will handle css in different ways.

[2021-04-04 05:25] kyletsang commented on #5756
You have a typo in `<Navbar.Link>`.  It's supposed to be `<Nav.Link>`.

[2021-04-04 05:25] #5756 closed

[2021-04-04 06:38] shreyas-jadhav opened #5757 "Styling not applied to Modal close button"
The close button in `Modal.Header` is showing up as regular html button without any bootstrap styling:

![image](https://user-images.githubusercontent.com/73429007/113500696-b8befc80-953d-11eb-86b4-fb88aedf7f3b.png)

[code]

## Expected behavior

Show bootstrap styled close button
![image](https://user-images.githubusercontent.com/73429007/113500738-0fc4d180-953e-11eb-86a5-01069e5d9083.png)

## En

[2021-04-04 12:45] M-Davies commented on #5756
I feel very dumb 🤦 Apologies for wasting your time 😄

[2021-04-05 10:36] rawandeheliah opened #5760 "Form.Control onChange event"
## Description

 in Form.Control OnChange event listener doesn't fire when =>  **selecting all text and then hitting backspace**

## To Reproduce

[code]

## Expected behavior
onChange should be triggered .<br>
ps : [when I select part of the text and hit backspace --> onChange event listener is triggered ]

## Environment

- Operating System: [macOS]
- Browser, Version [Chrome , Safari 14]
- Reac

[2021-04-05 16:10] #5742 closed

[2021-04-05 16:19] sohamsshah commented on #5757
Can you share a CodeSandbox link for this? Would be helpful

[2021-04-06 05:27] mdctleo commented on #5751
Do you mind if I take this one?

[2021-04-06 06:05] kyletsang commented on #5751
Sure go for it.  Thanks!

[2021-04-06 06:12] kyletsang commented on #5760
Can you provide a repro on CodeSandbox?

[2021-04-08 06:39] AREEG94FAHAD opened #5762 "React bootstrap modal not work in loop it is show me only first item"
I can not now why react bootstrab modal not show me all othere iteam it only first one

[2021-04-08 09:33] apieceofbart opened #5763 "Dropdown "drop" prop does not force Menu show below Toggle"
## Describe the bug

I have Dropdown component that is put inside a container that has `overflow: hidden` set. I have set "drop" prop to "down" but the menu still redners above the toggle.

## Reproducible Example

https://codesandbox.io/s/react-boostrap-dropdown-issue-with-overflow-hidden-issue-c6ee6?file=/src/App.tsx

## Expected behavior

I would like to force dropdown to stay below the toggle.

[2021-04-08 09:56] mmomtchev commented on #5213
@LJuric2604, your example looks very wrong to me - `render` will contain the `props` object and won't have a `scheduleUpdate` function?

[2021-04-08 10:05] mmomtchev commented on #5213
@kyletsang Do you have an idea for a clean way of updating the popup when `children` is another React component that changes while the reference stays the same? Currently as `children` is not modified, the update is not triggered. Something else than carrying the `scheduleUpdate` function down the hierarchy, which requires to modify every component that can be included in a popup?

[2021-04-08 10:14] LJuric2604 commented on #5213
@mmomtchev, this was just the sample code of quick fix to help if someone stumbles on the same problem as me. As you see in [documentation](https://react-bootstrap.github.io/components/overlays/#overlays-dynamic-updates)  you can call `scheduleUpdate` from `popper `object, but in this older version (can't say if the new version fixed this) `scheduleUpdate` is not inside `popper` object. `render` o

[2021-04-08 20:40] kyletsang commented on #5213
You can probably pass scheduleUpdate down via react context, and whichever component needs to use scheduleUpdate can consume the context there.

[2021-04-08 22:06] FlorianCassayre commented on #1588
It seems something has changed in the newer versions that broke the old trick. @simarsenault's suggested workaround does the job (thanks for that by the way!), but is definitely far from optimal. Until someone finds a better alternative perhaps it is best to reopen the issue, WDYT?

[2021-04-08 23:34] bravogeorge commented on #5752
@kyletsang Hey, so sorry about that. Yeah, so I was having trouble locating the file to specifically edit when making the commits/pull request and I selected the github icon directly from the link you provided mistakenly thinking that it was the file that would need to be file to edit (🙉 ).

I think i understand what you were saying about cloning the repository and then editing it locally first. D

[2021-04-09 04:27] kyletsang commented on #5752
When you clone the repo, make sure you clone the `bs5-dev` branch - all our v5 work currently sitting there.  I looked through the bootstrap docs and they don't explicitly mention the requirement of the inner container, so maybe we should omit that as well.

I guess the only real task to do here is update the code examples. All the examples in this [link](https://react-bootstrap-v5.netlify.app/com

[2021-04-09 04:29] kyletsang commented on #5762
Please follow the [issue template](https://github.com/react-bootstrap/react-bootstrap/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) when reporting issues.  There's a lot of information missing here.

[2021-04-09 18:53] kyletsang commented on #5763
I think you can resolve this by rendering the dropdown menu in a portal.  Didn't really test in-depth for side effects, but this should get you started.

See: https://codesandbox.io/s/react-boostrap-dropdown-issue-with-overflow-hidden-issue-forked-tdlji?file=/src/App.tsx

[2021-04-09 19:08] apieceofbart commented on #5763
@kyletsang  Thanks for the example. I can certainly do that or try some other workarounds but I would expect that react-bootstrap handles that for me - after all it's a workaround for something that drodpdown should handle (according to docs, using drop should be rendered below toggle)

[2021-04-09 19:14] jquense commented on #5763
if you want to force a position disable `flip` which will turn off the popper flip modifier

[2021-04-09 19:28] apieceofbart commented on #5763
@jquense  I don't think it changes anything: https://codesandbox.io/s/react-boostrap-dropdown-issue-with-overflow-hidden-issue-c6ee6?file=/src/App.tsx

[2021-04-09 19:31] apieceofbart commented on #5763
Ah, the `flip` has to be on the Menu, so confusing... thanks it seems to work

[2021-04-09 19:42] #5763 closed

[2021-04-11 15:17] sebzapata opened #5764 "How can I set the tooltip popover to either stay in place when swiping in carousel, or disappear when swiping?"
## Describe the bug

Hi,
I have a site which contains several containers set up to form a carousel that can be swiped, using `swiper`.
On the first page, when I click on a calendar tile, it brings up a tooltip popover. When scrolling up & down, the popover stays in the correct place, attached to the date. When I swipe to the next carousel item however, the popover remains in the same place on the

[2021-04-11 22:19] thomasmburke opened #5765 "Module not found: Can't resolve 'react-bootstrap/Offcanvas'"
## Describe the bug

Not completely sure if Offcanvas is added to the alpha yet (just looking to confirm), but it appeared to be based off the [project board](https://github.com/react-bootstrap/react-bootstrap/projects/2). I can successfully import and use other `react-bootstrap` components, but Offcanvas is failing to import.

## To Reproduce

Using the code from the [react-bootstrap-v5 docs](htt

[2021-04-12 00:59] bravogeorge commented on #5752
Hey @kyletsang I added a pull request for this issue. https://github.com/react-bootstrap/react-bootstrap/pull/5766

Thank you again for all your help! Hope you like the changes.

[2021-04-12 02:58] chitalian commented on #3525
I found this worked for me

Just add this to your `<DropDown>`
[code]

In my project I have it like this:

[code]

I hope this helps someone!

Sources:
https://github.com/react-bootstrap/react-bootstrap/issues/4042
https://www.w3schools.com/howto/howto_js_redirect_webpage.asp

[2021-04-12 07:41] amitshahc commented on #2688
This is not typeahead feature. this should be working using `data-live-search` attribute same as there in bootstrap. but how to add it is the question.

[2021-04-12 12:32] Prince-yohannan commented on #5752
can i do this

[2021-04-12 13:29] LB22 commented on #5765
I have the same issue on the same version. There are no exports of it to be found inside the npm package, yet it's published in the [docs](https://react-bootstrap-v5.netlify.app/components/offcanvas/).

Please add this! I really need it.

[2021-04-12 16:29] kyletsang commented on #5765
Currently the docs point to the latest version of the v5 branch, which does contain unreleased code.

I'll release a new alpha with Offcanvas when I get some time later today.

[2021-04-13 02:31] viditrv123 commented on #5733
I tried solving this issue. Please check commit #5768

[2021-04-13 05:40] kyletsang commented on #5765
Published [v2.0.0-alpha.1](https://github.com/react-bootstrap/react-bootstrap/releases/tag/v2.0.0-alpha.1)

[2021-04-13 05:40] #5765 closed

[2021-04-13 11:44] Soukarsha opened #5769 "Tooltip Popover arrow not centered properly in react-bootstrap@1.5.2"
## Describe the bug

Tooltip popover arrow is aligned towards right and not centered properly in `react-bootstrap@1.5.2` but in `react-bootstrap@1.5.0` it's properly centered.

## To Reproduce

Steps to reproduce the behavior:

1. Install react-bootstrap@1.5.2
2. Render an OverlayTrigger component with overlay as popover
3. The popover arrow will appear as not centered properly
4. Downgrade react-

[2021-04-14 07:04] jinkleP opened #5770 "Hide on Scroll"
Hi everyone,
Can some one tell me how to close tooltip on scroll?

[2021-04-14 10:49] LB22 opened #5771 "Carousel Indicators styling and documentation"
There is no documentation nor any styling on the Carousel _**Indicators**_
They are there if you inspect it in chrome, but they are not visible.
I had to do my own styling to .carousel-indicators and the li inside that class to have them appear.

React-Bootstrap version:  2.0.0-alpha.1

[2021-04-14 17:09] sageguy09 commented on #2091
This is still an issue. defaultValue does not show in the select box if <option> children are present. The first option is shown instead.

[2021-04-15 03:39] kyletsang commented on #2091
Works here?

https://codesandbox.io/s/smoosh-dawn-38tfg?file=/src/App.tsx

[2021-04-15 16:23] #5733 closed

[2021-04-15 16:34] #5739 closed

[2021-04-15 23:57] alexandre-cai opened #5772 "Form.Label blocks setState"
## Describe the bug

Buttons within `Form.Label` cannot call `setState` from `useState` hooks.

## To Reproduce

Open the CodeSandbox link below. Click on the button. Notice that the console logs each click, showing that the callback is executed. However, the `setState` within the callback has no effect. Replace `Form.Label` with `"div"` and the problem goes away.

## Reproducible Example

https:/

[2021-04-16 00:01] alexandre-cai commented on #5772
Issue reproducible with any `<label>` tag. Looks like it’s a problem with React itself. Closing.

[2021-04-16 00:01] #5772 closed

[2021-04-19 21:38] #5752 closed

[2021-04-20 10:46] ausmani opened #5775 "Issue with babel , Typescipt React 17.03"
The react-scripts package provided by Create React App requires a dependency:

  "babel-loader": "8.1.0"

 a different version of babel-loader was detected higher up in the tree:

  /var/www/html/projects-ts/node_modules/babel-loader (version: 8.2.2)

This issue comes after i install react bootstrap however it works fine previously

So my findings is react bootstrap is not compaitable with babel 8

[2021-04-20 20:46] kyletsang commented on #5775
I tried this on a newly created CRA project and it works.  `babel-loader` is set to 8.1.0.

Sounds like you have another dependency that's causing the issue for you?

[2021-04-22 09:21] Jay-Techify commented on #2081
There is a arrowClassName which u can use to change the color of arrow of the ToolTip.
For eg <Tooltip  arrowClassName="tooltipArrow"  ..../>
and in css to change the color

 .tooltipArrow::before{
border-top-color: #554df0!important;
}

[2021-04-22 10:14] NeoRu4 opened #5776 "Bug with OverlayTrigger warnings"
## Describe the bug

Warnings with element props

## To Reproduce

Steps to reproduce the behavior:

[code]

## Reproducible Example

![image](https://user-images.githubusercontent.com/2778902/115697549-15634980-a37d-11eb-8e94-32dbb553f85b.png)

Problem with element OverlayTrigger warnings in PhpStorm

## Environment (please complete the following information)

- PhpStorm
"react": "^17.0.2",
"reac

[2021-04-22 11:22] IronsUK opened #5777 "Need to be able to set a title attribute on ProgressBar"
Progress bars are flagged for accessibility by axe-core because they render a div with role="progressbar" without a title.

This can be observed on the progress bar documentation page: https://react-bootstrap.github.io/components/progress/

axe-core reports:

_Ensures every ARIA progressbar node has an accessible name_

axe also suggests a fix

_Fix at least one (1) of these issues_:
 - aria-label

[2021-04-23 16:38] kyletsang commented on #5777
Can you use this?
https://react-bootstrap.github.io/components/progress/#progress-screenreader-label

[2021-04-23 16:44] kyletsang commented on #5776
This is a problem with php storm:
https://youtrack.jetbrains.com/issue/WEB-48161

Note: not all of those props are required

[2021-04-23 16:44] #5776 closed

[2021-04-23 22:05] lblair16 opened #5782 "Radio button appearing next to ToggleButton component when it shouldn't be"
## Describe the bug

I'm using the ToggleButton component as the radio button type and it is no longer working as it should be.

## To Reproduce

Steps to reproduce the behavior:

You can see the issue on my site here: https://fast-circle-click.herokuapp.com/
You'll just have to create a new account to login if you want to see the issue firsthand (no email required, just enter a username and passw

[2021-04-23 23:04] kyletsang commented on #5782
react-bootstrap@next will install the v2 alpha which is only compatible with bootstrap 5.

Use react-bootstrap@latest

[2021-04-24 10:52] thisisamardeep opened #5783 "Toast.tsx file Timer is not cleared."
https://github.com/react-bootstrap/react-bootstrap/blob/664d702231379ed920d2d7bf83978a1f4377997c/src/Toast.tsx#L103

looks like we need to clear timer on unmount.

    useEffect(() => {
      // Only reset timer if show or autohide changes.
      autohideTimeout.set(autohideFunc, delayRef.current);

      return () => {
        autohideTimeout.clear(); --> We need to add this line in useeffect.If

[2021-04-24 17:43] #5782 closed

[2021-04-26 14:40] jquense commented on #5783
hi thanks for jumping in and helping out. You are right that the timer would need to be cleared on unmount. What you may not see is that the `useTimeout` hook we are making use of here does that for us https://github.com/react-restart/hooks/blob/master/src/useTimeout.ts#L55

[2021-04-26 14:46] thisisamardeep commented on #5783
yes i saw that  .it is there. still i would suggest to add it here  for clarity in case you are fine with it.i will pick up some other issue .

[2021-04-27 02:25] jefelewis commented on #3068
This worked for me!

[code]

[2021-04-27 02:25] jefelewis commented on #1859
This worked for me!

[code]

[2021-04-27 02:25] jefelewis commented on #3499
This worked for me!

[code]

[2021-04-27 06:24] nguyenhoavuong commented on #341
In the situation can replace DropDownButton with DropDown, use DropDown and set Dropdown.Toggle bsPrefix attribute with your style class to replace the default style like this:
`<Dropdown>
      <Dropdown.Toggle variant="link" bsPrefix="py-0 pr-1">
         <FontAwesomeIcon icon="ellipsis-v" />
      </Dropdown.Toggle>
      <Dropdown.Menu>
        <Dropdown.Item href="#/action-1">Action</Dropdown

[2021-04-27 15:31] kalyan4github opened #5785 "Lazy Load of Carousel image"
## Is your feature request related to a problem? Please describe

As we use images in slider, the page load times gets increased so,

## Describe the solution you'd like

there should be lazy loading of images so that page load time is reduced.

## Describe alternatives you've considered

I am currently using  a package react-lazy-load-image-component

[2021-04-27 23:28] AlejandroWogelman commented on #3730
Thanks!!!

[2021-04-28 07:30] agnjkafgh commented on #2081
This worked for me (react-bootstrap 0.31.0

`React.js`
[code]

`css`

[code]

[2021-04-29 10:16] keshavwebnware commented on #1258
I need to open all panel from out side

[2021-04-29 13:16] nezriffic commented on #5769
One more thing related to tooltips/overlays positioning - positions are not calculated correctly when eg. BODY has css zoom applied (eg. zoom: 0.5)

[2021-04-30 13:51] radu-cs commented on #3499
Hey there,
you can use:
`bsPrefix='dropdown'`
this will override the class dropdown-toggle getting rid of the caret.

[2021-04-30 14:00] radu-cs commented on #3068
See how to solve this [here](https://github.com/react-bootstrap/react-bootstrap/issues/3499#issuecomment-830110170)

[2021-04-30 15:02] CGenie commented on #5086
I just installed `react-bootstrap` via yarn, version 1.5.2 and I'm still seeing this error. Line 1425 of the file `react-bootstrap.js` looks like this:
[code]
and throws an error.

[2021-04-30 21:44] kyletsang commented on #5086
@CGenie can you provide a minimal reproduction?  This issue is very old now, so it might be caused by something else.

[2021-05-03 12:58] sebammon opened #5788 "Cannot adjust modal transition duration"
## Describe the bug

I want to adjust the duration of the modal's TRANSITION_DURATION and BACKDROP_TRANSITION_DURATION but this is not possible. I've had a look at the source code and it seems that there two properties on the Modal: `Modal.TRANSITION_DURATION` and `Modal.BACKDROP_TRANSITION_DURATION` but changing them produces no results.

It becomes apparent when you adjust the CSS animation for

[2021-05-03 18:41] Popescu-PfeifferMarc opened #5789 "Unnecessary type-definition "@types/classnames" might be no longer required."
After install I got the following npm warning:
[code]
Should I open a pull-request to remove this? Sorry if it's a noob question this is my first "real" issue.

[2021-05-03 19:50] kyletsang commented on #5789
Looks like the types were bundled in classnames 2.3.0.  Feel free to open a PR to update this.

Thanks!

[2021-05-04 04:21] kyletsang commented on #5788
I wonder if it's better to omit the timeout here in the transition since we already use the `addEndListener` handler.  This way, the duration can be controlled directly in the css.

[2021-05-04 04:45] CGenie commented on #5086
Thing is, it's hard to reproduce. I just installed this via `yarn add`.

[2021-05-04 07:37] sebammon commented on #5788
@kyletsang Are you talking about the [animation events](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/animationend_event)? Is it supported enough across browsers?

[2021-05-04 11:11] talkingtab commented on #5086
The original problem I experienced had to do with Parcel. Parcel finds duplicates of  files and removes them. So for example a package contains two files each with the same name and each that says "const name= 'dog'", then Parcel removes one of the files. I was importing two components each of which had the same file with the exact same name and exact same parsed contents. You could work around th

[2021-05-04 16:18] kyletsang commented on #5788
[Transition end](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/transitionend_event) events.  We already hooked up a handler here:
https://github.com/react-bootstrap/react-bootstrap/blob/master/src/Fade.tsx#L103

`Fade` has a default `timeout` value which I believe is causing the animation to cut out early.  I think we can override the default by passing a null or 0 to `Fade` inside

[2021-05-05 01:08] zacharymostowsky opened #5792 "autoComplete='new-password' on Form.Control renders auto-complete='off'"
## Describe the bug

When using the Form.Control component specifying `autoComplete='new-password'` on Form.Control renders `auto-complete='off'` html code. This is not obeyed by google chrome browser and the auto-complete is still enabled.

## To Reproduce

Rendering a component like below will produce the error
[code]
If you inspect the html code in the browser it shows that `autocomple='off'` w

[2021-05-05 09:52] liroliro opened #5793 "NavDropdown enforces margin: 0px"
Is there a workaround for this? It seems to be in-lined on the HTML-element.
This can be found in example here: https://react-bootstrap.github.io/components/navbar/

`<div aria-labelledby="basic-nav-dropdown" class="dropdown-menu show" style="margin: 0px">`

[2021-05-05 12:04] jquense commented on #5792
Please provide a reproduction in codesandbox. RB doesn't touch auto complete it just passes any of you props to the HTML element so im not sure how this could be due to RB

[2021-05-05 14:23] broofa opened #5794 "NavDropdown alignRight does not allow for breakpoints"
## Describe the bug

I'd like to be able to constrain the `alignRight` property of NavDropdown's based on breakpoint, much the same way you can do this with other bootstrap properties (e.g. `dropdown-menu-{breakpoint}-right` classes).

Related to #4994 and #3310?

## To Reproduce

Open https://codesandbox.io/s/naughty-ellis-w4zo1 and play with the drop-down at different page widths.

Notice that w

[2021-05-06 03:05] smikitky commented on #5561
@kyletsang This "last" fix for the 0.x branch (BS3) has not been released yet, right? This is still blocking me from upgrading my project to React 17.

[2021-05-06 03:39] kyletsang commented on #5561
It's been released under `react-overlays` v0.9.3 which `react-bootstrap` depends on.  If you update that, you should be good to go.

[2021-05-06 04:24] kyletsang commented on #5793
Currently no workaround.

Margin is added here:
https://github.com/react-bootstrap/react-bootstrap/blob/413649b3df0de3ddea20509a3fc243a76920cf3c/src/usePopperMarginModifiers.tsx#L44

We should only set this if popper is used

[2021-05-06 04:28] kyletsang commented on #5777
Closed due to inactivity

[2021-05-06 04:28] #5777 closed

[2021-05-06 04:28] kyletsang commented on #5775
Closed due to inactivity

[2021-05-06 04:28] #5775 closed

[2021-05-06 04:28] kyletsang commented on #5762
Closed due to inactivity

[2021-05-06 04:28] #5762 closed

[2021-05-06 04:29] kyletsang commented on #5760
Closed due to inactivity

[2021-05-06 04:29] #5760 closed

[2021-05-06 04:29] kyletsang commented on #5757
Closed due to inactivity

[2021-05-06 04:29] #5757 closed

[2021-05-06 04:31] kyletsang commented on #5783
Since it's already in the hook, no need to duplicate code.

[2021-05-06 04:31] #5783 closed

[2021-05-06 07:36] sebammon commented on #5788
I'm not quite sure I understand how keeping only the end listener will allow the transition to run fully. Maybe I don't fully understand the implementation of the `transitionEndHandler` https://github.com/react-bootstrap/react-bootstrap/blob/master/src/transitionEndListener.ts#L13. What `done` callback is called once the transition is complete?

Either way, I would be happy to work on this issue.

[2021-05-06 07:47] liroliro commented on #5793
Okay! Thanks. Hopefully it gets fixed asap.

[2021-05-06 08:56] liroliro commented on #5793
Found a workaround for now, which involves using !important on the margin-style you want to enforce. But still looking forward to the fix!

[2021-05-06 15:59] kyletsang commented on #5788
The done callback will trigger the next state in `react-transition-group`'s `Transition`.

Pasting that code here:

https://github.com/reactjs/react-transition-group/blob/708ebbf965bf61a44e1493cbb80f00a9346527ca/src/Transition.js#L330-L339

It uses both `timeout` and the `addEndListener` if passed.  So in our case, we do have a default timeout of 300ms in `Fade` and that's going to trigger the nex

[2021-05-06 20:41] FLP13 commented on #3525
@chitalian that does work but the dropdown itself still has an empty href as default, must be a bug?

`<a aria-haspopup="true" aria-expanded="false" id="collasible-nav-dropdown" href="#" class="dropdown-toggle nav-link active" role="button">Top Item</a>`

[2021-05-07 05:30] Anmolreshi opened #5797 "Border of Get Started Button has margin greater in Mobile mode (320 px)"
I could Modify this ! Shall I send a PR

[2021-05-07 10:28] sharunspi opened #5798 "Copy to clipboard option for codes"
A Copy to clipboard option will be very helful for developers to copy an enture snippet of code.

[2021-05-07 21:21] IHIutch opened #5799 "Option for Toast to be position: fixed"
Currently, the toast is `position: absolute` by default, but you lose the benefit of the placement when you scroll down the page. Allowing it to be `position: fixed` would keep the positioning regardless of scroll position. (Seems like maybe this just becomes the default, for the option of `absolute`?)

[2021-05-08 11:18] armenic opened #5801 "Bootstrap 5 gets installed with the default Get Started npm example"
Dear react-bootstrap community,
Please note that the bootstrap 5 is installed when user just follows what is written in the Get Started page: https://react-bootstrap.github.io/getting-started/introduction
[code]
Do you think it is better to clarify in the docs that 4.6 should be installed?
[code]

[2021-05-08 20:02] #5769 closed

[2021-05-09 12:52] sharunspi commented on #5798
I would like to know how the website is made. there is not documentations regrading the development of website.

[2021-05-10 10:16] CGenie commented on #5086
@talkingtab Do you think this is the issue here? How do people work with this code?
I basically just `yarn add`, then I add the `node_modules/react-bootstrap/dist/react-bootstrap.js` file to my scripts in `index.html`.

[2021-05-10 10:24] CGenie commented on #5086
In fact if I just include the script from this page
https://react-bootstrap.github.io/getting-started/introduction/
like this:
[code]
then I get this error:
[code]

[2021-05-10 10:25] CGenie commented on #5086
Ah OK but with fresh `index.html` file with only the contents from the docs, it seems to work. So my guess it's some libs missing on my side...

[2021-05-11 00:09] #5801 closed

[2021-05-12 10:43] kljzndx opened #5810 "Slow loading of vscode's smart tips on low performance devices"
## Describe the bug

Please view the video: https://ftp.bmp.ovh/imgs/2021/05/fb81bd04e2cc2043.gif
and my device is a Raspberry Pi 4B

## Screenshots

https://ftp.bmp.ovh/imgs/2021/05/fb81bd04e2cc2043.gif

## Environment

- Operating System:  Raspberry Pi OS arm64 version
- React-Bootstrap Version 1.6.0

[2021-05-12 14:26] ajaypillay opened #5811 "React Bootstrap Modal fade animation not playing"
## Describe the bug

I've found that React Bootstrap's Modal fade animations do not work on my mobile device. However, the vanilla JS Bootstrap Modal fade animation works fine. Both versions fade on non-mobile devices perfectly fine.

## To Reproduce

Try to open a Bootstrap modal with the fade animation on a mobile device.

## Reproducible Example

The [demo in the docs](https://react-bootstrap.g

[2021-05-12 16:42] kyletsang commented on #5798
There's a bit of info about the docs site here: https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md#documentation

[2021-05-12 20:12] watinha commented on #5729
Hey guys,

I verified that the Mutation Observer does fix this issue.

Can I send a PR for this?

[2021-05-12 22:33] huntjosh opened #5812 "Dropdown overflow issue"
## Describe the bug

Dropdown on the right side of the window triggers flickering horizontal scrolling on the body

## To Reproduce

Steps to reproduce the behavior:

1. Click on the 'd' button (seems to be easier to replicate by first holding down and then releasing)
2. observe the bottom horizontal scrollbar

## Reproducible Example

https://codesandbox.io/s/frosty-swanson-lzk4f

## Expected beh

[2021-05-13 01:04] kljzndx commented on #5810
the source code: https://github.com/kljzndx/Test-Demos/tree/react-bootstrap

[2021-05-14 00:04] kyletsang commented on #5729
Feel free to send a PR.  `useMutationObserver` from `@restart/hooks` might help you here.

[2021-05-14 13:47] watinha commented on #5729
Just sent PR #5814, in regards to this issue.

[2021-05-14 16:25] jessedp opened #5815 "Problems extending/theming via CSS while using Typescript"
## Describe the bug

Apologies if this is a dupe of a discussion/docs I've missed...

The [Theming and customizing styles](https://react-bootstrap.github.io/getting-started/theming/) suggestions worked wonderfully while I was using plain JS. I could and did, for example, easily add a __xs__ size button by adding `.btn-xs{}` in my CSS.

In converting the project to TS, this stops working because __

[2021-05-14 19:53] kyletsang commented on #5815
Yeah we should probably change it to allow customizations.  Only downside is we lose auto-complete (https://github.com/microsoft/TypeScript/issues/29729), but maybe that's ok?

A workaround is to do `size={'xs' as any}`

[2021-05-14 19:55] kyletsang commented on #5810
Isn't this a vscode issue?  Not sure how it relates to react-bootstrap?

[2021-05-14 19:58] kyletsang commented on #5799
The styles come from the bootstrap css - we don't add anything extra on our side.

If you're looking to change the position style, you can manually override the styles in your code.

[2021-05-14 20:00] kyletsang commented on #5797
Seems fine to me.  Is there an issue this is addressing?

[2021-05-14 20:04] kyletsang commented on #5794
This is something we fixed up in v2 if you're interested in using that.

Might be able to backport it.

[2021-05-14 21:41] jessedp commented on #5815
I certainly appreciate and feel silly about that workaround, thanks! I was also unaware/hadn't noticed what my suggestion does to auto-complete - tough choice there.

[2021-05-14 21:41] #5815 closed

[2021-05-14 22:52] IHIutch commented on #5799
I actually don't see where position is explicitly defined at all https://github.com/twbs/bootstrap/blob/v5.0.1/scss/_toasts.scss

From what I can tell, it seems like they have it included in their docs as `position: absolute`, but only as a way to illustrate some of the functionality.

The intended use (at least from my perspective) feels like it's meant to be used in combination with `position: f

[2021-05-15 00:41] kljzndx commented on #5810
问题是好像只有这个库会使 vscode 这么慢，所以我就先来这边碰碰运气了😂
--------------------------- Translate by Google ---------------------
The problem is that it seems that only this library will make vscode so slow, so I will try my luck here first 😂

[2021-05-15 03:24] Anmolreshi commented on #5797
The Button is not fitting the container in 320px . Visit This Link where I have shown the issue of button overflow.
Link : https://drive.google.com/file/d/1gw5R3RA8Qfh1i64qYVEm6YutIIcDiUoH/view?usp=sharing

[2021-05-15 10:08] sharunspi commented on #5798
I got the source code from here [https://github.com/react-bootstrap/react-bootstrap/tree/master/www](https://github.com/react-bootstrap/react-bootstrap/tree/master/www)

[2021-05-15 10:08] #5798 closed

[2021-05-15 12:37] broofa commented on #5794
Thanks for looking at this.  Having upgraded to `react-bootstrap@next`, I have a couple questions ...

* Is there an upgrade guide of some sort?  (I.e. something that might help answer these other, more specific questions...)
* What's the right incantation for using `alignRight` with breakpoints?  It's not immediately obvious from looking at the source.
* What's the recommended pattern JSX pattern

[2021-05-16 05:41] kyletsang commented on #5794
Just realized the `align` changes I mentioned earlier wasn't released yet.  Will push a new alpha tomorrow after I finish up with some other stuff.

Meanwhile, take a look [here](https://react-bootstrap-v5.netlify.app/components/dropdowns/#responsive-alignment) on how to use responsive alignment.  This applies to `NavDropdown`s too.

`classnames` has a PR to remove deprecated types (#5795).

[2021-05-16 06:37] MunnyReol opened #5817 "Can i use properly react-bootstrap latest version 1.6.0 in bootstrap 5"
Can i use properly react-bootstrap latest version 1.6.0 in bootstrap 5

If i can't then please update your...

[2021-05-16 10:58] piakaroa opened #5818 "Can't hit enter to open link/button dropdown items"
I want to make my app more accessible and keyboard friendly, but I have one problem; I have 1 link and 2 buttons in a dropdown menu, and hitting enter on either of these results in nothing. Any suggestions? Using the mouse button works just fine.

[2021-05-16 13:48] jquense commented on #5818
Try hitting space? Drop-down items are usually links (anchors), not buttons so enter traditionally doesn't work to activate them. In any case which key works is more related to the HTML you use than the Dropdown

[2021-05-16 14:43] piakaroa commented on #5818
Nope, doesn't work. It works on every other dropdown included in the app, however...

[2021-05-16 20:16] jquense commented on #5818
you'd need top provide a reproduction then if it's just one dropdown that doesn't work

[2021-05-17 05:43] kyletsang commented on #5817
Use v2 for anything bootstrap 5 related.

https://github.com/react-bootstrap/react-bootstrap/releases/tag/v2.0.0-alpha.2

[2021-05-17 05:43] #5817 closed

[2021-05-17 05:44] kyletsang commented on #5794
@broofa

https://github.com/react-bootstrap/react-bootstrap/releases/tag/v2.0.0-alpha.2

[2021-05-17 06:41] #5818 closed

[2021-05-18 07:32] ckruse opened #5822 "modal: clicking on the backdrop leads to an undefined function error when onHide is omitted"
## Describe the bug

Given a modal without an `onHide` prop leads to an undefined function error when the user clicks on the backdrop:

[code]

But the typing says `onHide` is optional. Setting the prop to `onHide={() => {}}` fixes the problem.

## To Reproduce

Steps to reproduce the behavior:

1. Open a simple modal w/o `onHide` prop
2. Click on the backdrop
3. See error in console

## Reproduci

[2021-05-18 07:53] dietergeerts commented on #5817
Is there any estimate for when v2 that works with Bootstrap 5 will be fully released? I'm currently needing to decide which version we are gonna use on a project, and if it will be out in the near future, we could use the newer bootstrap version instead. I searched the project, but can't find a goal or estimate.

[2021-05-18 11:37] broofa commented on #5794
Just tested this and it looks like it's working.  Thank you!

breadcrumb for anyone who might follow: Installing the latest alpha (above) and adding `align={{ sm: 'end' }}` worked like a charm.

[2021-05-18 11:37] #5794 closed

[2021-05-18 15:08] justinmahar opened #5823 "React-Bootstrap VS Code snippets"
## Is your feature request related to a problem? Please describe

Not sure where else to post this to the community, so I'm adding it as a feature request.

I've built a snippets extension for VS Code that makes using `react-bootstrap` incredibly easy. It supports all components, imports, and even examples from the docs should you need them.

- [React-Bootstrap Snippets](https://marketplace.visual

[2021-05-18 18:35] hrqmonteiro opened #5824 "Badges and pills literally doesn't work"
[code]

Tried every variation of the badges and pills and none of them are showing correctly:

![2021-05-18_15-35](https://user-images.githubusercontent.com/17055027/118705509-b1eb0100-b7ee-11eb-8ff7-c70537e7e2ac.png)

[2021-05-18 19:17] #5751 closed

[2021-05-18 19:29] kyletsang commented on #5817
Currently using [this](https://github.com/react-bootstrap/react-bootstrap/projects/2) for tracking the tasks.  A large majority of the v5 work is done and I think we're also pretty much done with breaking changes so the next release will be a beta to finish up features + polish. Contributions are welcome to speed up the process.  I'd say a lot of the stuff is fairly stable for usage.

Also no plan

[2021-05-18 19:52] jquense commented on #5824
looks like you are missing the necessary CSS, maybe you have a custom Sass build of the bootrastrap css or maybe you're using an incompatible version

[2021-05-18 22:32] pistou opened #5825 "Toast background-color"
It would be great to be abble to configure the `background-color` property of a `<Toast />`

The same solution used in `<Card />` would be great, as such:
[code]

[2021-05-19 00:11] kyletsang commented on #5825
Bootstrap 5 has a color variation in the docs:
https://getbootstrap.com/docs/5.0/components/toasts/#color-schemes

We could add a `bg` prop here for convenience.

[2021-05-19 00:13] kyletsang commented on #5822
From the docs re. `onHide`:
A callback fired when the header closeButton or non-static backdrop is clicked. Required if either are specified.

In your use case, you should be adding the callback.

[2021-05-19 00:13] #5822 closed

[2021-05-19 05:17] ckruse commented on #5822
Ok, thanks for the pointer. I overlooked this.

Different question, shouldn't the typing express this requirement?

[2021-05-20 06:27] Babeev opened #5826 "Error “invalid hook call” when using react-bootstrap"
There is one problematic component when I run the application with it, I encounter an error: "Invalid hook call. Hooks can only be called inside of the body of a function component...". When I comment on this component, the error goes away.

Component:

[code]

Parent container:
[code]
Header:
[code]
I run "npm ls react" and "npm ls react-dom", everything is ok, only one react@17.0.2 and only one

[2021-05-20 11:39] Babeev commented on #5826
I found how to fix: https://github.com/facebook/react/issues/13991#issuecomment-473246217

[2021-05-20 11:39] #5826 closed

[2021-05-20 12:44] shemeshx opened #5828 "Nested ProgressBar with tooltips"
Hey,

when i create tooltip with OverlayTrigger component for nested progressbar it doesnt work and make progressbar blanked.

There is a way  to  make it work?

[2021-05-20 16:05] kyletsang commented on #5822
Yeah typings can be improved.  PRs welcome!

[2021-05-21 09:41] wozzo commented on #2249
For anyone else coming here:
The `<ExternalLink>` element in the example above must accept props for mouse events, such as `onClick` and handle them.

Assuming `<ExternalLink>` was something like

[code]

to fix it would become

[code]

[2021-05-21 10:01] 3atharvkurdukar opened #5830 "Documenatation link for react-bootstrap v2"
Guys, I just want to try out the new `react-bootstrap v2-alpha` . I am so excited about it. However, I could not find the link to its documentation page.

I understand that the project is in alpha stage, but still could you please add documentation page?  I am okay with it being incomplete.

[2021-05-21 15:07] iiLearner opened #5831 "Navbar sticky: bottom"
## Describe the bug

On documentation page (https://react-bootstrap.github.io/components/navbar/) shows `Navbar sticky` has two options: `top` and `bottom`, however in navbar props, only `top` is allowed for `sticky`:
[code]
I'm not sure whether the documentation is outdated or `bottom` was removed for some other reason.

## Expected behavior

Expecting `NavbarProps.sticky` to allow `top` and `bot

[2021-05-22 07:29] thelokeshgoel00 commented on #5812
Tried to reproduce it.
![image](https://user-images.githubusercontent.com/40207268/119218067-eebf3c80-bafb-11eb-9972-94f5bb2bfa8b.png)

See that the whole HTML width is still the size of viewport. Its quite weird actually.
See the scrolled right version
![image](https://user-images.githubusercontent.com/40207268/119218182-b10ee380-bafc-11eb-96ac-f6985ff1fbbe.png)

I also debugged that the main cul

[2021-05-23 03:23] ET-CS opened #5832 "TypeError: children is not a function"
## Describe the bug

Trying to add to react project (v16.14.0) a bootstrap dropdown ("react-bootstrap": "1.5.2") and bootstrap@4.6.0.
Using both the simple 'Single button dropdowns' example at https://react-bootstrap.github.io/components/dropdowns/
and the first simple navbar example from https://react-bootstrap.github.io/components/navbar/

I get an error screen:

[code]

I've tried to put the co

[2021-05-23 08:15] Brawl345 commented on #5830
Here: https://react-bootstrap-v5.netlify.app/

I found it on the releases page: https://github.com/react-bootstrap/react-bootstrap/releases/tag/v2.0.0-alpha.0

[2021-05-23 09:12] 3atharvkurdukar commented on #5830
Thank you very much!

[2021-05-23 09:12] #5830 closed

[2021-05-24 14:09] JJamour commented on #1643
For anyone here from google years later:

<Modal.Body style={{ height: '600px', overflow: 'scroll' }}>

[2021-05-25 05:50] Intelliflex opened #5834 "react-bootstrap will not work with Snowpack bundler"
## Describe the bug

Trying to use Snowpack bundler with React and react-bootstrap.
If you attempt to use navbar with dropdowns (or also modals) your will get an error (This is tested against fresh snowpack build using

`npx create-snowpack-app my-project --template @snowpack/app-template-react`

If you attempt to add a Navbar, eg : from docs
[code]
The following error is produced

[code]

error

[2021-05-25 10:42] JonyZee opened #5836 "Type issues with popperjs"
Hey, sorry if this has been already discussed. I searched but couldn't find my exact problem.

## Describe the bug

I'm having some issues with `popper` in `create-react-app` after updating to `yarn 2`.
When starting the app with `yarn start` the compiler shows a typing issue related with `createPopper` and does not start.

## To Reproduce

Using `react-bootstrap` in yarn 1 then upgrade to yarn 2.

[2021-05-25 11:28] sebammon commented on #5788
I have created a PR for this issue. Please could you provide some feedback on any improvements that might be required.

[2021-05-25 12:18] #5729 closed

[2021-05-25 17:50] Sudhir9026 opened #5838 "OverlayTrigger focus is not working safari"
`<OverlayTrigger
                        **trigger='focus'**
                        key={'bottom'}
                        placement={'bottom'}
                        delay={200}
                        onToggle={(nextShow) => this.setState({ isPopupShowing: nextShow })}
                        overlay={
                            <Popover style={PopoverStyle} id={`popover_class`}>

[2021-05-26 00:13] kyletsang commented on #5836
Seems like you might be using an old version of typescript?  Try updating that.  You should also update react-bootstrap since 1.0.1 is pretty old

[2021-05-26 00:15] kyletsang commented on #5834
Not really familiar with snowpack, but it looks like it didn't include dom-helpers lib which RB depends on.  This issue might be worth filing over at the snowpack git repo.

[2021-05-26 00:15] kyletsang commented on #5832
Can you post a repro on code sandbox?

[2021-05-26 00:20] kyletsang commented on #5831
Sticky bottom actually isn't valid and isn't included with the bootstrap css.  Looks like I accidentally messed up the docs with another PR.

[2021-05-26 00:20] kyletsang commented on #5828
Can you post a repro on code sandbox?

[2021-05-26 09:09] JoseSweetTech opened #5841 "Typescript error in react-bootstrap/esm/NavbarCollapse.d.ts"
## Describe the bug

The console prompts a Typescript error on esm/NavbarCollapse.d.ts when I try to launch my app on my local machine or create a production build.

## To Reproduce

Add react-bootstrap to a project and launch it with npm run start

## Screenshots

![image](https://user-images.githubusercontent.com/78407846/119634081-a8771f80-be12-11eb-8c28-667e7c907e7f.png)

## Environment

- Ope

[2021-05-26 09:57] Alef5750 commented on #4868
Hi - I'm new to open source. Is this issue already being dealt with or can I take a shot at it?

[2021-05-26 11:53] Sudhir9026 commented on #5838
I found the solution. It's not OverlayTrigger, It's a Button issue. :)

[2021-05-26 11:55] Sudhir9026 commented on #1576
`<OverlayTrigger id='ovTrigger' trigger='hover' placement="bottom" overlay={<Popover id="overlay" title="Popover bottom"><strong>Holy guacamole!</strong> Check this info.</Popover>}>
    <Button bsStyle="default">Hover</Button>
  </OverlayTrigger>`

This is not an OverlayTrigger issue. It's Button isuues.  Please change the button to TouchableOpacity.

[2021-05-26 13:18] manid1998 opened #5842 "Error while executing tsc command"
I am getting the following error while executing tsc command in my project

node_modules/react-bootstrap/esm/NavbarCollapse.d.ts(4,18): error TS2320: Interface 'NavbarCollapseProps' cannot simultaneously extend types 'Omit<CollapseProps, "children">' and 'HTMLAttributes<HTMLDivElement>'.
  Named property 'role' of types 'Omit<CollapseProps, "children">' and 'HTMLAttributes<HTMLDivElement>' are not

[2021-05-26 13:52] fazeel-qureshi-mpf commented on #5841
facing the same issue. have you figure out the solution?

[2021-05-26 15:09] Luukdewaaier commented on #5842
same as #5841

[2021-05-26 15:10] Luukdewaaier commented on #5841
Also running into this issue!

[2021-05-26 15:24] workHardCS opened #5843 "Search Box in react-bootstrap doc website"
When you use the search box in the duc website its jump to the alpha doc and not stay in the doc for 4.6

1. Go to react-bootstrap.netlify.app'
2. Click on 'bootstrap v4'
3. use the duc search box
4. See error of jumping to duc for bootstrap v5

[2021-05-26 16:05] #5842 closed

[2021-05-26 16:08] kyletsang commented on #5841
`role` types were changed in `@types/react` that's incompatible with what we currently have:
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/53344

The workaround for now is to downgrade your types version to 16.14.6 and below or 17.0.6 and below

[2021-05-26 17:03] kyletsang commented on #4868
Feel free to take it. Thanks.

[2021-05-26 17:06] devtayls commented on #4868
Yes. Sorry I was slow to get back to you. This is absolutely open. I've sat
on it for far too long.

On Wed, May 26, 2021 at 11:03 AM Kyle Tsang ***@***.***>
wrote:

[2021-05-27 00:19] #5788 closed

[2021-05-27 06:56] poyea commented on #5841
The problem is `CollapseProps.role` is a string type. A quick fix would be to omit `role` from `CollapseProps`, that is to replace
[code]
with
[code]
in `esm/NavbarCollapse.d.ts`.

[2021-05-27 16:55] Yuri6037 opened #5846 "Modal steals focus of form controls when they are inside a Popover component"
## Describe the bug

Modal focus hook steals focus at infinity from any FormControl located in a Popover itself spawned and managed by the Modal.

## To Reproduce

Steps to reproduce the behavior:

1. Create a modal, a Popover + OverlayTrigger in it then finally add a FormControl in this Popover
2. Admire the impossibility to type anything in the FormControl due to focus stolen at infinity

## Exp

[2021-05-28 04:44] kyletsang commented on #5293
Fixed in v2 alpha

[2021-05-28 04:44] #5293 closed

[2021-05-28 04:44] kyletsang commented on #4771
Fixed in v2 alpha

[2021-05-28 04:44] #4771 closed

[2021-05-28 04:45] kyletsang commented on #5519
Fixed in v2 alpha

[2021-05-28 04:45] #5519 closed

[2021-05-28 04:46] kyletsang commented on #5468
Fixed in v2 alpha

[2021-05-28 04:46] #5468 closed

[2021-05-28 04:47] kyletsang commented on #5075
Fixed in v2 alpha

[2021-05-28 04:47] #5075 closed

[2021-05-28 04:48] #5771 closed

[2021-05-28 04:49] kyletsang commented on #5653
Fixed in v2 alpha

[2021-05-28 04:49] #5653 closed

[2021-05-28 04:49] kyletsang commented on #5530
Fixed in v2 alpha

[2021-05-28 04:49] #5530 closed

[2021-05-28 04:54] #5420 closed

[2021-05-28 04:54] kyletsang commented on #5354
Fixed in v2 alpha

[2021-05-28 04:54] #5354 closed

[2021-05-28 06:57] ken604 commented on #5831
sticky bottom was removed in Feb 2021 #5656

@kyletsang new doc release required?

[2021-05-28 09:24] fazeel-qureshi-mpf commented on #5841
already having below version i.e. @types/react version 16.8.19

[2021-05-28 16:19] kyletsang commented on #5831
Changes needed in bs4-dev branch

[2021-05-29 15:20] #5797 closed

[2021-05-30 18:55] #5789 closed

[2021-05-31 10:08] Madejczyk opened #5852 "Incorrect overlaytrigger behaviour"
## Describe the bug

OverlayTrigger triggers tooltip even if not should.

## To Reproduce

Steps to reproduce the behaviour:

1. Create some buttons with icons, some should be disable some enable.
2. Move mouse and see that sometimes we receive 2 tooltips

## Reproducible Example
https://codesandbox.io/s/react-bootstrap-demo-forked-5ldgh

![CPT2105311147-1465x320](https://user-images.githubusercon

[2021-05-31 14:17] dietergeerts commented on #5013
Although this works to show the "custom" react-bootstrap properties for that component with intelli-sense, it does not show all the other properties that can be used for the element defined in `as` , or its default, which would be very useful for a better developer experience.

![image](https://user-images.githubusercontent.com/7393706/120206392-70654780-c22b-11eb-8c5b-ccc7bba0f248.png)

Even the

[2021-05-31 18:46] bajahranks opened #5853 "Sub Components for Accordion produces import error"
## Describe the bug

I am getting this error

Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.

whenever I add any of the sub-components to the Accordion component. eg. <Accordio

[2021-05-31 19:06] kyletsang commented on #5853
You'll need to use v1 if you want to use Bootstrap 5.  Here's the latest:
https://github.com/react-bootstrap/react-bootstrap/releases/tag/v2.0.0-alpha.2

[2021-05-31 19:06] #5853 closed

[2021-05-31 19:09] kyletsang commented on #5852
Can you put this into a codesandbox for us to debug?  Thanks.

[2021-05-31 19:58] bajahranks commented on #5853
Updating to version 2 fixed the issue in the sandbox but I'm still getting the same error on my local machine. Is there something else I need to do? I tried a private browser in case of caching but no luck.

[2021-05-31 20:08] bajahranks commented on #5853
Nevermind I had to restart the server. strangely....

[2021-06-01 06:38] dietergeerts commented on #5013
The problem is with the following:
[code]
And e.g. 'div' is used for the type of card by default, but `'div` itself isn't a `React.ElementType`, and thus it's not working, but due to how the typings are done, you don't see the error. Try to disassemble the typings and you'll see the error.

[2021-06-01 09:48] Madejczyk commented on #5852
![image](https://user-images.githubusercontent.com/11577626/120303465-27ff6580-c2cf-11eb-96f7-9af0296ecd58.png)

Please check: https://codesandbox.io/s/react-bootstrap-demo-forked-5ldgh

[2021-06-01 19:07] JaredReisinger commented on #5834
I've just been investigating this myself, and it appears that there's a bug somewhere between snowpack and react-bootstrap (or its dependencies).  The dom-helpers functions are embedded in the script sent to the browser for react-overlay/Dropdown, but the `interopRequireDefault()` helper ends up wrapping an extra object around the result.  Therefore, instead of `_camelize.default` being the expect

[2021-06-01 20:12] kyletsang commented on #5834
Nice write-up @JaredReisinger.

This sounds like this issue in Snowpack:
https://github.com/snowpackjs/snowpack/issues/2908

[2021-06-02 13:49] broofa opened #5856 ""modal-open" is not defined"
## Describe the bug

**Note:**  This appears to be an issue with the latest react & react-bootstrap buildes.  Specifically:
* bootstrap@5.0.1
* react-bootstrap@2.0.0-alpha.2

When rendering a `Modal`, the body element is assigned the "modal-open" CSS class, however this class is not defined by `bootstrap`.

![image](https://user-images.githubusercontent.com/164050/120491133-b2d67380-c354-11eb-992a

[2021-06-02 13:51] sumukhbharadwaj commented on #2300
By Importing import 'bootstrap/dist/css/bootstrap.min.css'; It Overrides other Custom css files.

[2021-06-02 14:57] jdhalmahapatra opened #5857 "Multi item Carsousel"
Hi,

I am trying to implement multi item carousel using React Boostrap, But I am not able to achieve using <Carousel.item> and the documentation provided.

I am looking something like [(https://w3js.com/react-multi-carousel)](url)

Can someone please help me here that is it possible to implement the above feature using React Bootstrap?

Thanks in advance.

Regards,
Jyotiraditya

[2021-06-03 00:11] #5841 closed

[2021-06-03 02:31] Avasam opened #5858 "Variant type definition is collapsed to just string by TypeScript"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-bootstrap@1.6.0` for the project I'm working on.

When importing the type `Variant`. TypeScript would simplify the type to `string`. The following workaround ensures that TypeScript keeps the type union, allowing autocomplete and a preview of the commonly us

[2021-06-03 03:06] fschenkun22 commented on #5853
I got the same question too
[code]
Then Error occurred：
×
Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.

Check the render method of `Lheader`.
▶ 21 stack frames were collapsed

[2021-06-03 13:19] 08screasey opened #5861 "Custom Dropdown Component: Keyboard Navigation Issue"
I have a setup similar to the custom dropdown component example in the react-bootstrap docs. Since the form control has autofocus enabled the first time the dropdown opens it is focused. However if I use the keyboard arrow keys to move through the dropdown items I can't navigate back up to the input anymore and since it no longer autofocuses I can't find a way to make it accessible. Pressing TAB c

[2021-06-03 13:24] jquense commented on #5861
@kyletsang I think this is fixed restart/ui, not catching the tab correctly. In the meantime I think you can preventPropagation on the even @08screasey to keep the tab from bubbling up

[2021-06-03 13:33] #5861 closed

[2021-06-03 16:07] kyletsang commented on #5857
Bootstrap only supports 1 slide in view at a time.  You can probably create what you're looking for with swiper js.

[2021-06-03 16:07] #5857 closed

[2021-06-03 16:08] kyletsang commented on #5856
Looks like this was removed upstream in 5.0.1:
https://github.com/twbs/bootstrap/pull/33551

[2021-06-03 19:06] kyletsang commented on #5852
We don't support v0.x anymore.

I modded the sandbox for v1 (Bootstrap 4) and don't see the issue anymore on Chrome:
https://codesandbox.io/s/react-bootstrap-demo-forked-50ubj?file=/src/App.js

[2021-06-03 19:13] kyletsang commented on #5858
This is an ongoing issue upstream:
https://github.com/microsoft/TypeScript/issues/29729

Note DT used this trick for `AriaRole`
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/85edc098b05a41528c2db6c9802e8f0ee82b19e4/types/react/index.d.ts#L1739-L1809

Not sure if we should add this workaround, but maybe it's ok if DT uses it?

/cc @jquense

[2021-06-03 19:33] Madejczyk commented on #5852
@kyletsang, The issue is also visible in Bootstrap 4, but you need to use button with an icon.
Please check https://codesandbox.io/s/react-bootstrap-demo-forked-x6ydm?file=/src/App.js
![image](https://user-images.githubusercontent.com/11577626/120701608-53db4080-c4b3-11eb-8af0-dc53e8a4b83d.png)

[2021-06-04 00:06] #5831 closed

[2021-06-04 11:36] 08screasey opened #5862 "Help needed: FormCheck not toggling from keyboard"
I have a custom checkbox component in my app that I can't seem to find a way to make keyboard accessible.
[code]
Since I'm integrating it with React-hook-form I am passing the ref to the register function, but this does not seem to have any impact on the issue.
Versions:
bootstrap - 4.6.0
react-bootstrap - 1.6.1
On the documentation website it seems that pressing space-bar should trigger the check

[2021-06-04 12:56] jquense commented on #5862
Can you put up a codesandbox demostrating? I would check that your Input and Label are being associated together with `for` and `id`

[2021-06-04 13:30] kb3eua opened #5864 "New FormSelect component in v2 beta not setting the "id" attribute."
## Describe the bug

The new `FormSelect` component for Bootstrap v5 is not applying the `controlId` of its parent `FormGroup` component for its `id` attribute.  This prevents the `<label>` from being related to the input as its `htmlFor` property points to a non-existent `id`.

## To Reproduce

Steps to reproduce the behavior:

1. define a `<Form.Group>` element with the `controlId` set
2. nest a

[2021-06-04 13:33] 08screasey commented on #5862
@jquense I did and it worked, but it made me realise that the check is set on the "keyup" event, and there was a bug in my code preventing it from executing. Trying to reproduce in the sandbox helped though, so thanks!

[2021-06-04 13:33] #5862 closed

[2021-06-04 15:56] kyletsang commented on #5864
Good catch.  Same needs to be done for `FormRange`

[2021-06-05 20:54] cyonder commented on #5174
Is it possible to give ETA?

[2021-06-06 05:43] kyletsang commented on #5174
v2 beta is currently out and supports a majority of the Bootstrap 5 features.  You can install that via npm.

Going to close this issue - the remaining tasks can be tracked in https://github.com/react-bootstrap/react-bootstrap/projects/2.  Feel free to send and PRs for missing features and bug fixes.

[2021-06-06 05:43] #5174 closed

[2021-06-06 14:17] mikeyfe6 opened #5865 "Why isn't my slider/carousel visible after the second slide on mobile/responsive [React-Bootstrap]"
## Describe the bug
I use react-bootstrap to create a Carousel. On desktop its showing up like its needs to, **but on mobile it begins to tripp', not showing my slides**. Why is that? I thought something was conflicting with the styles maybe?

**Additional information**: I used React-Slick before this plugin and that plugin had the same issue.. So i definitely think its a conflicting issue somewhe

[2021-06-07 11:48] Karinon commented on #5824
Not sure about the react-bootstrap version @hrqmonteiro is using, but I have the same issue with react-bootstrap@2.0.0-beta.0 and Bootstrap 5.

[code]

Turned into the following HTML
[code]

Shouldn't it be something like this?

[code]

[2021-06-07 16:15] kyletsang commented on #5824
@Karinon, the props have changed.  See the updated examples in the v5 docs here:
https://react-bootstrap.netlify.app/components/badge/

[2021-06-07 16:15] #5824 closed

[2021-06-07 16:22] kyletsang commented on #5865
Try updating to v2 beta 0 for react-bootstrap.  v1 is not compatible with bootstrap 5.  If that doesn't work, see if you can create a minimum reproducible example.

[2021-06-07 22:46] IndxgoYT opened #5867 "Accordion.Item doesn't work on NextJS"
## To reproduce
1. Use nextjs
2. Use "npm install react-bootstrap bootstrap"
3. Use accordion.item to see for yourself

## The error
[code]

## My code
[code]

[2021-06-07 22:53] dekhaus opened #5868 "Table cell containing links"
Hi

I need to allow links within a table data cell to appear / function as normal links.

Is that possible ?  If so - how ?

Thanks
Dave

[2021-06-07 22:56] kyletsang commented on #5867
Using that command listed in step 2 won't install v2 beta, since it's still considered a pre-release.  Change the version in your package json to v2 beta, install, and you should be good to go.

[2021-06-07 22:56] #5867 closed

[2021-06-07 23:09] IndxgoYT commented on #5867
Thanks so much, I was indeed good to go - I'm glad I got it fixed by the end of the day. Good day to you sir.

[2021-06-08 00:20] kyletsang commented on #5868
You can add anchors to table cells?  React bootstrap just wraps the table and adds classes, so it would work as any other normal table.

[2021-06-09 09:19] BCaspari opened #5871 "Type issue with @types/react@17.0.10"
## Describe the bug

tsc fails with
node_modules/react-bootstrap/esm/NavbarCollapse.d.ts:4:18 - error TS2320: Interface 'NavbarCollapseProps' cannot simultaneously extend types 'Omit<CollapseProps, "children">' and 'HTMLAttributes<HTMLDivElement>'.  Named property 'role' of types 'Omit<CollapseProps, "children">' and 'HTMLAttributes<HTMLDivElement>' are not identical.

## To Reproduce

use react-b

[2021-06-09 11:46] bedamatta05 commented on #4936
@shreya-bhatnagar  hey did u solve that? im facing the same issue now.

[2021-06-09 20:41] kyletsang commented on #5871
Dupe of #5841.  This is fixed in 1.6.1

[2021-06-09 20:41] #5871 closed

[2021-06-09 22:01] erkanisuf opened #5872 "Module not found: Can't resolve 'react-bootstrap/Offcanvas'"
Hello !
Not sure why i cant import Offcanvas Elements.
I tried  : Module not found: Can't resolve 'react-bootstrap/Offcanvas'  but seems like node_modules/react-bootstrap hasnt this folder.
I use create-react-app
typescript v4.3.2 ,
"react": "^17.0.2",
"bootstrap": "^5.0.1",
"react-bootstrap": "^1.6.1",

[2021-06-09 22:18] erkanisuf commented on #5872
Ah just found this : https://github.com/react-bootstrap/react-bootstrap/releases/tag/v2.0.0-alpha.1
i guess it will be avaible soon . Thanks.

[2021-06-09 22:18] #5872 closed

[2021-06-10 06:46] vishalqss opened #5874 "React bootstrap dropdown stopped working after updating react"
I am using dropdown from react bootstrap and it has stopped working as nothing is happening after clicking the dropdown button also there are no error coming on console for any click event.

I have been facing this issue after updating react from version 16.12.0 to 17.0.2, for confirmation I even went to the previous react version and it was working fine then.

Current version of my react-bootstra

[2021-06-10 18:37] jasonjoh opened #5875 "NavDropdown with align="end" still left-aligned in NavBar"
## Describe the bug

Setting `align="end"` on a `NavDropdown` has no effect in a `NavBar`

## To Reproduce

Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/festive-bash-qvyot?file=/src/App.js
2. Click on the **User** dropdown item in the nav bar
3. Note that the menu is aligned to the left-hand side of the **User** dropdown

## Reproducible Example

https://codesandbox.io/s/fes

[2021-06-10 20:00] kyletsang commented on #5875
Looks like we're missing the `data-bs-popper` attribute in the navbar case.  Interested in sending a PR?

[2021-06-10 20:01] kyletsang commented on #5874
Dupe of https://github.com/react-bootstrap/react-bootstrap/issues/5561.  Update your react-overlays transitive dependency and it should work.

[2021-06-11 04:24] namhong2001 opened #5876 "ModalProps not works well in vscode because of [other: string]: any and Omit"
## Describe the bug

Omit uses keyof type operator but when it comes with computed property llike [other: string]: any, then keyof makes everything [x: string]: any.
I don't know it is intended or not in typescript area, but the remained fact is that ModalProps not works well currently, so I suggest if it is ok then how about remove [other: string]: any in ModalProps. I think if there are some mis

[2021-06-12 00:12] #5825 closed

[2021-06-12 00:17] #5875 closed

[2021-06-12 15:21] mikeyfe6 commented on #5865
@kyletsang thanks for your advice, i've swithed over to Slider.js for now.... I agree with you that Bootstrap5 could be the conflicting problem.

[2021-06-12 15:21] #5865 closed

[2021-06-12 22:07] golota60 commented on #5856
I'd happily pick this up, but I'm not entirely sure how this should be fixed. Any suggestions? Should I just remove applying `modal-open` class and that's all?

[2021-06-13 07:19] Allandy opened #5881 "xxl xxxl suport for Col?"
Any chance of supporting xxl xxxl for Col?

[2021-06-13 18:21] golota60 commented on #5811
Can't reproduce on
- Android 10 on a Xiaomi POCO X3
- Chrome 91.0.4472.101
- React-Bootstrap Version 1.6.1

Tried bumping down chrome all the way to 83.0.4103.101 and still nothing.
I've also tried going back to commits before & after 1.6.0 release (commits https://github.com/react-bootstrap/react-bootstrap/commit/238d8f90e3c61bf9dbc2076836f0a6e77f7837c2 and https://github.com/react-bootstrap/reac

[2021-06-13 18:57] kyletsang commented on #5881
xxl is already available in v2 beta 0.  xxxl isn't a part of bootstrap, so that won't be available.

[2021-06-13 18:57] #5881 closed

[2021-06-13 18:57] #5874 closed

[2021-06-13 18:59] kyletsang commented on #5876
Let's track this in #5732.

For v2, we'll fix when we integrate [@restart/ui](https://github.com/react-restart/ui)

[2021-06-13 18:59] #5876 closed

[2021-06-13 19:04] ajaypillay commented on #5811
Hi, thank you for your response.

Not sure if this information is helpful but I face this exact issue here: [stipsan/react-spring-bottomsheet#129](https://github.com/stipsan/react-spring-bottom-sheet/issues/129).

It's really odd because these are two completely different libraries, where the latter relies on React Spring and Reach UI. The [Reach UI Modal with animation](https://reach.tech/dialog/

[2021-06-13 19:07] kyletsang commented on #5856
@golota60, try removing the class see if the vertical scrollbar is removed correctly when modal is open.  I think we already handled the scrollbar on our side, but good to double check.  Thanks!

[2021-06-13 19:07] kyletsang commented on #5836
Closing due to inactivity

[2021-06-13 19:07] #5836 closed

[2021-06-13 19:07] kyletsang commented on #5832
Closing due to inactivity

[2021-06-13 19:07] #5832 closed

[2021-06-13 19:08] kyletsang commented on #5828
Closing due to inactivity

[2021-06-13 19:08] #5828 closed

[2021-06-13 19:09] kyletsang commented on #5792
Closing due to inactivity

[2021-06-13 19:09] #5792 closed

[2021-06-13 19:10] #5864 closed

[2021-06-13 19:22] golota60 commented on #5811
Hi 😄 , thanks for the additional info

Just to confirm - when you updated react-bootstrap to 1.6.1 and checked it, what version of chrome you were on? Still 90.0.4430.210? Or did you update it aswell?

Also, I feel really out of place giving you advice here as I've never encountered similar issues - I think it's best to ask @kyletsang  or other core contributors who have more experience

[2021-06-13 20:01] ajaypillay commented on #5811
Oh sorry, here's the updated versions:

Android 11; Pixel 3 XL Build/RQ3A.210605.005
Chrome 91.0.4472.88
React-Bootstrap Version 1.6.1

These should be the latest versions as there aren't any Chrome updates available on the Play Store and there aren't any system updates available as of this post (and as of testing it in the previous post).

[2021-06-15 05:44] basantech89 commented on #5852
@kyletsang  Can I work on this?

[2021-06-15 16:56] kyletsang commented on #5852
@basantech89, sure go for it.  Thanks!

[2021-06-15 21:10] mburakkalkan commented on #2081
react-bootstrap 1.6.1

[code]

[code]

[2021-06-16 06:14] xkomiks opened #5883 "Focus error in Dropdown"
## Describe the bug
If, when navigating with Tab and several `Dropdown` components are located one after another, we get an error
`Cannot read property 'contains' of null`

## To Reproduce

Steps to reproduce the behavior:

1. Go to [demo](https://codesandbox.io/s/priceless-noether-3l33m?file=/src/App.css)
2. Focus on first Dropdown
3. Keydown Tab
4. See error

## Reproducible Example

Minimal exa

[2021-06-16 12:50] prince272 opened #5884 "Boostrap 5 Support"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Ad

[2021-06-16 16:16] golota60 commented on #5884
@prince272  i think you forgot to write anything at all in the ticket

[2021-06-16 17:32] golota60 commented on #5883
Tried to reproduce it, this is what i found:

I downloaded code from codesandbox and ran it locally and everything works normally.

I thought it might be an issue with codesandbox but there's the same issue on stackblitz(https://stackblitz.com/edit/react-gq3fgy?file=src%2FApp.js) so it might be a thing on their side? I'm not too sure about that though

[2021-06-16 19:48] kyletsang commented on #5884
Going to guess this is asking about Bootstrap 5 support?  If so, see https://github.com/react-bootstrap/react-bootstrap/releases/tag/v2.0.0-beta.0

[2021-06-16 19:48] #5884 closed

[2021-06-17 07:25] xkomiks commented on #5883
@golota60 I do not know how it can be reproduced locally for you, can you try to run this code in Next js app?

[2021-06-17 07:32] golota60 commented on #5883
Thanks for additional info! Can confirm, this reproduces when using next.js
![image](https://user-images.githubusercontent.com/37072867/122351910-eb7a6d80-cf4e-11eb-9a0d-28bdf8296f26.png)

[2021-06-18 19:15] jotoh98 opened #5885 "autoClose for dropdowns is mandatory"
## Describe the bug

The autoClose property in the interface `DropdownProps` is mandatory though the specification states an implicit standard value. Upon working with `NavDropdown`, I stumbled across this.

## Expected behavior

The autoClose property should not be mandatory. If not defined, the standard value `true` should be used.

[2021-06-18 21:30] golota60 commented on #5732
@kyletsang  I got around to fixing it by using `Pick`, but an idea came to my mind, but I'd like to get it confirmed before implementing, cause it would require changes in `react-overlays`.

So, in `react-overlays`, instead of having `ModalProps` we could split them like so:
[code]

Doing that would allow us to import `ModalPropsWithoutIndexSignature as BaseModalProps` instead of `ModalProps as Ba

[2021-06-19 00:02] #5885 closed

[2021-06-19 00:20] kyletsang commented on #5732
@golota60 yeah, I think fixing it in `react-overlays`/`@restart/ui` is the better option.  `Pick` was just a quick fix 😛

[2021-06-19 07:51] jotoh98 commented on #5883
The source of the error lays in [react-overlays](https://github.com/react-bootstrap/react-overlays): [Dropdown.tsx #281](https://github.com/react-bootstrap/react-overlays/blob/1c8688d215092bf5de33fd3043c538f7e96c6a7b/src/Dropdown.tsx#L281)
`!menuRef.current!.contains(e.target as HTMLElement)`

I'm not sure if the non-null assertion failing should be prevented or if the state of `current` being nul

[2021-06-19 22:45] AliSafari-IT commented on #2225
you may add:

`import { Glyphicon } from 'react-bootstrap';
import 'bootstrap/dist/css/bootstrap.min.css';`

[2021-06-20 05:36] kyletsang commented on #5883
By default, dropdowns do not render the menu until the button toggle is clicked.  So in this case, since there is no menu, the ref isn't valid yet.  We'll need to check if `menuRef.current` exists before calling `contains()`

[2021-06-20 21:23] lapaz17 opened #5887 "React-easy-crop does not work with Modal"
## Describe the bug

I try to implement zoom-in and crop feature with images by using [this](https://www.npmjs.com/package/react-easy-crop) package. I even opened a [bug report](https://github.com/ricardo-ch/react-easy-crop/issues/269) in that repository but problem is definitely related to modal.
## To Reproduce

Steps to reproduce the behavior:

Just run the example at my repo.

## Reproducible

[2021-06-21 06:21] kyletsang commented on #5887
This is a styling issue. Modals use `position: relative` so you'll need to add your own height to the modal body if you want the cropper to be larger.

[2021-06-21 18:20] cyonder opened #5889 "Carousel .active class name removes programatically added class names"
I need to add images to the indicators in the carousel component. However, I need to do it programatically because I receive image paths in a JSON. Anyway, here is the code showing how I add images:

[code]

There is an announcements wrapper div around the carousel. I get a reference to the node and query all "button" elements, which are indicators. By using forEach, I add background images. This

[2021-06-21 18:59] lapaz17 commented on #5887
Thanks.

[2021-06-21 18:59] #5887 closed

[2021-06-21 21:09] mikebridge commented on #4193
It would have saved me a lot of time debugging a non-issue if this had been documented on the Form page.  I inherited an older version of `react-bootstrap` and couldn't figure out whether the syntax differences were due to my version being deprecated or some other reason.

[2021-06-22 18:54] golota60 commented on #5732
Once both of those ^^ are reviewed & merged I'll make a PR that re-attaches index signatures

[2021-06-23 07:12] carautenbach commented on #5065
This worked for me:
[code]

[2021-06-23 10:55] onurarpapay commented on #5561
My project has react-bootstrap 1.2.2, but no react-overlays in its packages.json. I tried to install latest react-overlays, but this action didn't solve the problem. Still, after opening and closing a Modal, all my dropdowns stop working.

[2021-06-23 11:36] codingstill commented on #5561
@onurarpapay  this fix is for 0.x versions of react-bootstrap (Bootstrap 3).

[2021-06-23 15:55] xkomiks commented on #5883
@kyletsang When can you fix this?

[2021-06-23 22:45] golota60 commented on #5732
might also need a release of `react-overlays` 🙏 no rush though

[2021-06-23 23:36] kyletsang commented on #5889
This isn't really a supported use case here since the carousel handles all the rendering for the indicators.  Since it sounds like you're aiming for something pretty custom, you can probably make use of `onSelect` and `activeIndex` and render your own set of indicators on top of the carousel and avoid the document mutations.

[2021-06-23 23:56] #5883 closed

[2021-06-24 08:23] cyonder commented on #5889
Okay, thanks for your answer. I just want to mention one more thing! Hierarchically "carousel-indicators" appear before "carousel-inner". I think it should be opposite. Because people can just add "position: relative" to the indicators and have indicators appear under the carousel. And this is usually the design people choose to use. Since indicators positioned "absolute"-ly it doesn't matter if i

[2021-06-24 09:57] JonathanMSifleet opened #5890 "Using Navbar template causes multiple renderer error"
## Describe the bug
When using the [navbar found here](https://react-bootstrap.github.io/components/navbar/#navbars-overview), I get this message:

After removing multiple sections the error occurs when "NavDropdown" is used.

[Log](https://pastebin.com/CLigkkVi)

[React Component](https://github.com/JonathanMSifleet/ReactProject/blob/main/client/src/components/shared/Header/Header.tsx)

## To Rep

[2021-06-25 00:09] kyletsang commented on #5883
@xkomiks

`react-overlays` 5.1.0 includes the fix for this.  Update the transitive dependency and you're good to go 👍

[2021-06-25 08:31] xkomiks commented on #5883
Thanks

[2021-06-25 15:01] jestrickler commented on #5777
No, that does not fix the accessibility violation. The accessible name has to appear on the element with role='progressbar'. I'm seeing the error in Storybook on the accessibility tab. It points [here](https://dequeuniversity.com/rules/axe/4.1/aria-progressbar-name?application=axeAPI) for more info

[2021-06-25 17:46] jestrickler commented on #5777
So, part of the issue is if I add an aria-label

`<ProgressBar aria-label='label' ...\>`

it gets applied to the outer wrapper rather than the element with role='progressbar'

`<div class="mb-2 progress" aria-label="label"><div role="progressbar" ...></div></div>`

The label with srOnly creates a new span, but is also not applied as an accessible name to the div with role='progressbar'

[2021-06-25 18:00] jestrickler commented on #5777
Ok, got a workaround!!! If you nest the ProgressBar, it basically generates the same html, but applies the aria-label to the inner div with role='progressbar' which cleans up the accessibility violation!

`<ProgressBar><ProgressBar aria-label={label} ... /></ProgressBar>`

[2021-06-26 11:37] basantech89 opened #5891 "Form.Control prop innerRef passed to Dom element and causes React to throw error"

[2021-06-26 11:40] #5891 closed

[2021-06-26 14:36] rossm6 opened #5892 "Show Prop For DropdownMenu doesn't work"
## Describe the bug

Passing 'false' as the value of the 'show' prop to the DropdownMenu component does not work.

E.g.

[code]

## To Reproduce

Steps to reproduce the behavior:

Create the component as described above.  Click on the toggle and the menu still shows.

## Reproducible Example

Minimal example by using [CodeSandbox](https://codesandbox.io/s/angry-keldysh-e84j5).

## Expected behavio

[2021-06-27 07:44] rjworks commented on #2653
How do i specifiy a transition component?

[2021-06-27 07:45] rjworks commented on #2653
did you find a fix?

[2021-06-27 07:51] rjworks opened #5893 "[Modal] onExit, onExited, onExiting do not work"
I can't get 3 functions onExit, onExited, onExiting working on Modal. Any help?

onEnter, onEntering, and onEntered works.

[code]

[2021-06-27 12:22] golota60 commented on #5892
Hello!

I think you sent the wrong link to codesandbox cause it shows a toast component instead of what you described.

Anyways, I think you might be misunderstanding how `show` works. `show` describes if the modal is visible or not. If you pass `false` to it, it means that *initially* the menu won't be visible. But when you click on it(`Dropdown.Toggle`), `onToggle` is being fired, which changes

[2021-06-27 12:33] golota60 commented on #5893
Hello!

 I've recreated your issue using codesandbox and everything seems to be working fine - https://codesandbox.io/s/morning-dawn-e5st9?file=/src/App.js . I think this might be an issue with your code. If I'm mistaken, please post a link with a codesandbox example.

[2021-06-27 12:40] golota60 commented on #5890
Hello!

Could you please provide a codesandbox where this issue occurs? I took a stab at it and wasn't able to recreate it https://codesandbox.io/s/restless-snowflake-1gp80?file=/src/App.js

[2021-06-27 13:05] yelkar-snehal commented on #4868
Hi, I'm new to open source. Is this issue still open for grabs?

[2021-06-27 13:06] yelkar-snehal commented on #4952
Hi, I'm new to open source. Is this issue still open for grabs?

[2021-06-27 13:08] devtayls commented on #4868
Yes, it is.

On Sun, Jun 27, 2021, 07:06 Snehal Yelkar ***@***.***> wrote:

[2021-06-27 14:28] rjworks commented on #5893
I’ve made MyModal as component

[2021-06-27 14:38] golota60 commented on #5893
I've modified the codesandbox to also have a `MyModal` component(whether it's a separate component or not shouldn't affect this issue though I think). Please check it out and link a sandbox where issue occurs. Thanks!

[2021-06-27 18:24] snowinmars commented on #5038
But controlling it with a simple boolean property is much easier to a user.
Yea, I can find a workaround, but should I?

[2021-06-27 19:32] kyletsang commented on #5892
You'll have to provide your own `onToggle` function to the `Dropdown` component since you're looking manage the show state of the dropdown.  In your case, by omitting `onToggle`, you're using the dropdown in an uncontrolled manner, so the show prop on the dropdown menu will be overridden.

Use something like:
[code]

[2021-06-27 21:13] golota60 commented on #5753
Hi,

I wanted to pick up `Modal` changes and I've noticed that there *might* be a few more things to change for RTL.
- `dismissible` prop for `Alert` should have close icon aligned to the left
- `Offcanvas` - also close icon should be aligned to the left
- `Toast` - also close icon should be aligned to the left

All of above boil down to `CloseIcon` to be aligned to the left when RTL is true

- `A

[2021-06-28 06:29] kyletsang commented on #5753
Those are actually handled by the css, so if you import the `bootstrap.rtl.min.css` instead of the original, you'll see the changes. I think I've gotten all the css bits working already.  Only thing missing is anything JS related.

For the remaining RTL tasks, I think we would need to integrate `@restart/ui` prior to finishing them.  These are the things left to do:

- Modal - Add padding/margin t

[2021-06-28 06:31] Mizan-Rifat opened #5896 "ToggleButtonGroup onChange is not working"
ToggleButtonGroup onChange is not getting called on button clicked.
not even in example page: https://react-bootstrap-v5.netlify.app/components/buttons/#controlled
version : "2.0.0-beta.2"

[2021-06-28 10:59] rossm6 commented on #5892
Hi guys,

Can't believe I submitted the wrong sandbox!

Ok, I will look into onToggle.

And thanks for pointing out the discord channel.  Cheers!

[2021-06-28 11:56] randima-s commented on #5143
I had a similar issue with bootstrap 5.0.2 and react-bootstrap 1.6.1. Current item disappears and makes a white space instead of sliding away with the new item.
I noticed that react is applying a .css style ".carousel-item-left" (or ".carousel-item-right") to the carousel item. But such styles were not there in the bootstrap.css file.
I temporary fixed it by adding those styles (and overriding tra

[2021-06-28 15:54] kyletsang commented on #5143
@randima-s use react-bootstrap v2 beta for bootstrap 5.  1.6.1 is meant for bootstrap 4 only.

[2021-06-28 16:53] JonathanMSifleet commented on #5890
I've ended up using mdbreact instead as its somewhat time-sensitive.

[2021-06-28 16:53] #5890 closed

[2021-06-29 00:38] kyletsang commented on #5896
Each `ToggleButton` needs a unique id now in bootstrap 5 due to changes in the markup.  The docs example is currently missing that so it doesn't work.

Interested in sending a PR?

[2021-06-29 02:17] ooo2003003v2 opened #5897 "CSSTransition isnt working for dropdown menu close"
Hello there. I'm using csstransition for my dropdown menu animation. It works fine when the menu opens however it dosent add the exit class when I click outside the menu. Any idea why?

![image](https://user-images.githubusercontent.com/55082067/123726730-09d35800-d8c3-11eb-85ea-28e0590aa28a.png)

component
[code]

scss
[code]

[2021-06-30 01:01] DerekFei opened #5898 "Form.Select and Form.Range are not defined"
## Describe the bug

Form.Select and Form.Range are not defined in 1.6.0 and 1.6.1  (JS)

## To Reproduce
1. Import Form
2. use From.Select and Form.Range you will get an error

## Reproducible Example

Minimal example by using [CodeSandbox](https://codesandbox.io/s/github/react-bootstrap/code-sandbox-examples/tree/master/basic).

## Expected behavior

They should be defined in Form

## Screenshot

[2021-06-30 15:56] kyletsang commented on #5898
These components are available in the v2 beta only.  If you want to use the v1 versions of them, they have different syntax and can be found in the docs:  https://react-bootstrap.github.io/components/forms

[2021-06-30 15:56] #5898 closed

[2021-07-01 04:31] Beyazatli opened #5899 "findDOMNode is deprecated in StrictMode"
## Describe the bug

Error caused by using Overlay and OverlayTrigger. I searched for other problems to solve the error, but I could not find a result for me, it may be because of the beta version.

## To Reproduce

Steps to reproduce the behavior:

Using Overlay and OverlayTrigger only

## Reproducible Example

## Screenshots
Code:
![image](https://user-images.githubusercontent.com/39380337/12406

[2021-07-01 05:09] markdost commented on #3730
That does work but what about custom validation with `noValidate` on the `<Form noValidate ref={formRef}  validated={validated} onSubmit={handleSubmit}>`?

I am trying to figure out how to handle the form reset:
[code]
  And the form:
[code]

[2021-07-01 08:55] basantech89 commented on #5896
@kyletsang I've raised a PR for this -
[https://github.com/react-bootstrap/react-bootstrap/pull/5900](url)

[2021-07-02 04:07] spino17 opened #5902 "Disable menu toggle when 'outside of menu' click triggers"
I am new to this amazing framework. I am making custom toggle and custom menu and I want that my menu does not close when I click outside it (I want to handle that logic using my local states). I looked into the documentation where I did not find this kind of prop, I also tried using useRootClose hook from react-overlays library but It is not working with `<Dropdown>`. My code is something like th

[2021-07-02 05:41] #5896 closed

[2021-07-02 19:54] jac-bah commented on #5127
YES PLEASE!  I am running into the same issue and cannot figure out how to get a reference to the dropdown's popper instance to call scheduleUpdate.  I can wrap a <Popover> with a custom forwardRef to access to props.popper, but that didn't work for <Dropdown>.  Exposing scheduleUpdate directly would be a fantastic option!

[2021-07-02 21:53] kyletsang commented on #5897
Not sure what's happening here.  It is adding the `slide-exit-done` class, but not the ones for exit and exiting.  This looks like an issue somewhere in react-transition-group.

[2021-07-02 21:56] kyletsang commented on #5899
For v1 and bootstrap 4, this is an option to remove the warning in overlay: https://react-bootstrap.github.io/components/overlays/#customizing-trigger-behavior

Other components like the transitions will still show a warning in strict mode though.  This is fixed in v2 beta for bootstrap 5 if you're interested in using that.  Also xxl is only part of bootstrap 5 and does not exist in bootstrap 4.

[2021-07-02 21:58] kyletsang commented on #5902
You can use the `onToggle` prop in `Dropdown`.  See docs:  https://react-bootstrap.github.io/components/dropdowns/#dropdown-props

[2021-07-03 15:57] aaa-manuelhe opened #5904 "findDOMNode error in console when clicking tabs."
## Describe the bug

Im using the Tabs and Tab elements from react-bootstrap and  find that even with stripped down basic JSX inside Tab elements I get a findDOMNode erro whenever I click on a tab. The functionality itself works well, but the error message displays. in the browser dev tools console.

## To Reproduce

Steps to reproduce the behavior:

1. Go to tabs container
2. Click on tab

4. See

[2021-07-03 17:29] Beyazatli commented on #5899
@kyletsang how can i install v2?

[2021-07-03 23:12] catamphetamine opened #5905 "Closing Offcanvas when opening a Modal removes vertical scrollbar"
https://codesandbox.io/s/xenodochial-andras-08551

* Open the demo. See the vertical scrollbar.
* Open the menu, then click "Open Modal", then close the modal.
* See that the vertical scrollbar has disappeared.

[2021-07-04 06:07] kyletsang commented on #5899
`npm i react-bootstrap@next`

[2021-07-04 06:09] kyletsang commented on #5904
Dupe of #5075

This is fixed in v2 beta for bootstrap 5 if you want to use that

[2021-07-04 06:09] #5904 closed

[2021-07-06 13:32] #5902 closed

[2021-07-06 15:06] bay-jacewhitten commented on #5905
I have this same issue, its due to the check for the body class in the overlay system, it sees its and doesn't know to remove the class since the modal function didn't apply it. It came from the offcanvas component. I been meaning to report this on my personal account. Basically, the overlay remove function needs to be remove all class instances and return the body back to having an overflow auto

[2021-07-06 15:09] nick4fake commented on #5107
There is no "multiple" property in typescript definition

[2021-07-06 15:19] bay-jacewhitten opened #5910 "Offcanvas 'top' placement"
## Is your feature request related to a problem? Please describe

No - N/A

## Describe the solution you'd like

Add the 'top' option to the offcanvas component as per the Bootstrap docs

## Describe alternatives you've considered

Using custom css until implemented

## Additional context

See docs => https://getbootstrap.com/docs/5.0/components/offcanvas/#placement

[2021-07-07 00:20] kyletsang commented on #5910
This is available in v2 beta 2:  https://react-bootstrap.netlify.app/components/offcanvas/#placement

[2021-07-07 00:20] #5910 closed

[2021-07-07 00:20] #5899 closed

[2021-07-07 16:06] enosh15dev opened #5912 "v2.0.0-beta Property 'Row' does not exist on type"
## Describe the bug
i'm using typescript and when i upgraded the version to use OffCanvas feature, but this error happens:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Upgrade v2.0.0 beta2
2. This error occured.

## Environment (please complete the following information)

- Operating System: [macOS]
- Browser, Version [Chrome]
- React-Bootstrap Version [2.0.0-beta.2]

[2021-07-07 16:31] kyletsang commented on #5912
FormRow has been dropped in v2.  See the [migration guide](https://react-bootstrap.netlify.app/migrating/) for the full list of breaking changes.

[2021-07-07 16:31] #5912 closed

[2021-07-07 20:51] booherbg opened #5913 "Controlled <Form.Select /> component improperly hides the drop-down arrow with Bootstrap 5 (Bootstrap 4 works fine)"
## Describe the bug

Can't create a 'standard looking' controlled `<select>` component with the latest react-bootstrap and Bootstrap 5.x, however it works fine with Bootstrap 4.x (see sandbox)

`<Form.Control>` works as expected with `value` and `onChange` props, BUT the CSS has `appearance: none;` which makes the control drop the down arrow (makes the select look more like an input box rather tha

[2021-07-07 20:53] booherbg commented on #5913
Alternatively, can someone create a working example of a controlled select? I can't get `<Form.Select>` to work properly with `value` and `onChange` props (webpack throws a weird non-descript type error)

[2021-07-07 22:08] kyletsang commented on #5913
You'll need to upgrade to react-bootstrap v2 beta in order to use Bootstrap 5.  v1.x is not compatible

[2021-07-07 22:08] #5913 closed

[2021-07-08 04:24] illiteratewriter commented on #5905
You can add `scroll={true}` to `OffCanvas` component which will make the content scrollable even when `OffCanvas` is shown. This will prevent the above bug. I think the bug occurs because when the OffCanvas closes, the scroll toggle is not getting triggered.

[2021-07-08 14:09] VibhorJaiswal opened #5914 "Feature to copy code at the click of the button in documentation."
As of currently there is no easy way to copy code from the documentation without manually selecting and copy the code.

I would like to contribute this feature by which code can be copied by a single click of a button.

[2021-07-08 17:27] kyletsang commented on #5914
Sure go for it, thanks!

[2021-07-08 17:35] VibhorJaiswal commented on #5914
ok! I already started working on it!

[2021-07-09 00:18] kyletsang commented on #5905
The ssue is caused because the `ModalManager` from `Modal` is saving the wrong container styles prior to opening the modal.  The offcanvas hasn't fully closed yet, so the modal is saving a container style that doesn't contain the overflow style.

Here's the timeline:
1. Open offcanvas
2. Offcanvas manager saves the container style including the overflow
3. Open modal
4. Modal manager saves the cur

[2021-07-09 03:44] chimit commented on #2709
The problem still exists. I need a simple behavior: on desktop show it on hover, on mobile show it on tap. To make it possible I set:
[code]
On desktop it works, but on mobile a popover appears only after the second tap.

The same behavior if I set all 3 events:
[code]

@taion please reopen this.

[2021-07-09 11:19] fazeelzama20 opened #5915 "Get list of data currently displayed on screen"
## Is your feature request related to a problem? Please describe
I want to know the list of data that is currently displayed on the screen if I am using a react-bootstrap-table.
Of course, there is a prop available for the default data. But that is concise of the whole bunch of data which we will be going to populate inside the table.

A clear and concise description of what the problem is. Ex. I'

[2021-07-09 15:42] VibhorJaiswal commented on #5914
How do I run it on my local machine? It is giving me this error.
![image](https://user-images.githubusercontent.com/69683278/125103881-65d78100-e0fa-11eb-84ca-5e14c45ca69b.png)

[2021-07-09 18:03] kyletsang commented on #5914
https://github.com/react-bootstrap/react-bootstrap#local-setup

`yarn run bootstrap` will install all the deps for the lib + docs site

[2021-07-09 18:06] kyletsang commented on #5915
You should post this in the `react-bootstrap-table` github project since that is separate from `react-bootstrap`

[2021-07-09 18:06] #5915 closed

[2021-07-09 21:53] jkhoffman opened #5916 "Unable to extend `ModalProps` interface in TS"
## Describe the bug

In my project, I need to extend from the `ModalProps` interface. Unfortunately, I only see the props from the immediate parent (`ModalProps`) but none beyond that (`BaseModalProps` or `TransitionCallbacks`.)

This is due to an interaction between the `Omit` utility type and the index type (`[other: string]: any`) defined on `ModalProps` in `react-overlays`.

I went looking in

[2021-07-09 22:10] jkhoffman commented on #5916
Here's the simplest example I could come up with showing the problem with `Omit` and index types:

[code]

[2021-07-09 23:01] kyletsang commented on #5916
Same as #5732

Fix incoming in #5894

[2021-07-09 23:09] jkhoffman commented on #5916
Ahh, @kyletsang, I did not notice this was a duplicate issue. Sorry about that, thanks for the fix!

[2021-07-10 11:36] quantrpeter opened #5918 "SharePoint SPFX project"
[code]

[code]

[2021-07-10 13:28] VibhorJaiswal commented on #5914
Hey! The code is ready but, Can you please tell where should be the related css?

[2021-07-10 14:21] #5918 closed

[2021-07-12 06:02] xkomiks commented on #5883
It looks like this is not fixed in version 2.0.0-alpha.2

[2021-07-12 09:40] golota60 commented on #5883
Yes, that's because `react-overlays` needs to be updated to atleast `5.1.0`. I think next release should have it 👍

[2021-07-12 18:30] jetamartin commented on #4193
FWIW, As a new user to react-bootstrap, I also found this VERY confusing and in my opinion this should be clearly documented somewhere up front in react-bootstrap documentation...maybe I missed it????

[2021-07-13 00:09] #5732 closed

[2021-07-13 17:57] mrazzari commented on #5423
Even though a router component might do it, the existing active prop, which renders an "active" class name in the `<a>`, would map 1-1 to `aria-current`. Like you're doing with tabs and aria-selected.

[2021-07-14 02:49] bheithaus opened #5923 "Carousel slide wrap animation playing backwards"
## Describe the bug
I am using react-bootstrap carousel, experiencing what seems to have been a known bug.
"In StrictMode, Carousel does not scroll inifinitely, final transition goes backwards."
https://github.com/react-bootstrap/react-bootstrap/issues/5365

The behavior I am seeing is exactly that.  The wrap around animation (from last to first slide) sporadically slides in from the left side, in

[2021-07-14 13:53] erycson opened #5924 "[Modal] Uncaught TypeError: (0 , _scrollbarSize.default) is not a function"
## Describe the bug

I can't use Modal

## To Reproduce

[code]

## Screenshots
https://prnt.sc/1b2q5rd

## Environment (please complete the following information)

- Operating System: Windows 10 Pro 20H2
- Browser: Chrome 91.0.4472.124
- React-Bootstrap Version: 2.0.0-beta.2
- Snowpack Version: 3.0.1

[2021-07-14 14:42] dotamir opened #5925 "Use rc-table instead of html table"
## Is your feature request related to a problem?
I'm working a lot with tables in our platform and we were using HTML tables before but since we're using rc-table, I don't have any headaches about tables. I can write them much faster using rc-table. It has a rich API and many features that are hard to implement with HTML tables. Also using this, you don't have to write so much code.

## Describe t

[2021-07-14 15:01] evgeny-ykm opened #5926 "Property 'Body' does not exist on type 'Popover'"
## Describe the bug

Try to use popover with react project initiated with typescript, but get this error: **"Property 'Body' does not exist on type 'Popover'"**

## To Reproduce

Steps to reproduce the behavior:

[code]

## Screenshots

![image](https://user-images.githubusercontent.com/70572236/125644306-f5763977-e56e-45d3-94aa-57e231031a8a.png)

## Environment (please complete the following info

[2021-07-14 15:23] evgeny-ykm commented on #5926
Seems like the documentation is outdated.
Should use <Popover.Content> instead of <Popover.Body>

[2021-07-14 15:23] #5926 closed

[2021-07-14 17:41] golota60 commented on #5924
Possible duplicate of: https://github.com/react-bootstrap/react-bootstrap/issues/5834

[2021-07-14 21:54] gfiury opened #5927 "Form Control Validation"
## Describe the bug
I'm trying to validate two password controls. The two of them are required and the second one has an additional condition of been an exact match with the first one.

I used the isInvalid property to validate the controls, but the submitting is showing the tick icon and the invalid message at the same time

## To Reproduce
Link showing the example: [validation passwords](https:/

[2021-07-14 22:37] booherbg commented on #5913
The same bug exists with v2 beta. I have updated the sandbox project accordingly.

@kyletsang can we re-open? This bug report is still valid.

[2021-07-14 23:56] kyletsang commented on #5913
@booherbg, the syntax around the select is now different, you don't use `<Form.Control as="select">` anymore.

See https://react-bootstrap.github.io/components/forms/#forms-select

[2021-07-15 00:00] kyletsang commented on #5924
@erycson can you try on the latest version of snowpack?  If it still occurs, please file an issue in the snowpack repo

[2021-07-15 02:49] cZeaushe opened #5928 "Accordion defaultActiveKey not working"
I am setting up an accordion with a defaultActiveKey but is not working. I am using React-Bootstrap 1.6.1.
Here's the code I use to set an active class when an item is clicked. Where `useState("2")` is what should be the defaultActiveKey.
[code]
I am then rendering it like so:
[code]
`faq.questions` is an array which holds some data. I also had to add +1 to each index `{index + 1}` to make it work

[2021-07-15 05:31] fabian-techhighway opened #5929 "Carousel not rendered properly"
If you look at the [Bootstrap Carousel with Indicators](https://getbootstrap.com/docs/5.0/components/carousel/#with-indicators), they clearly mention to add the indicators as button. I think this plugin should follow the same process i.e. render it as **div (carousel-indicators) > button** instead of **ol (carousel-indicators) > li**

Also, please have a look at the indicator parameters. This shou

[2021-07-15 12:02] erycson commented on #5924
I updated the snowpack to version 3.8.2, but the error continues

[2021-07-15 15:59] bay-jacewhitten commented on #5925
This is a nice library, and a great suggestion. But from my personal experience I think this choice should be left to the developer and their project in terms of how that table get printed and maintained.

For example I use [react-table](https://react-table.tanstack.com/docs/api/useTable) over other grid libraries for a variable list of personal reasons. Ultimately, for me - when it comes to table

[2021-07-15 16:03] #5905 closed

[2021-07-15 16:09] kyletsang commented on #5929
Sounds like you're using react-bootstrap 1.x.  This is not compatible with bootstrap 5.  Please use the 2.x beta instead

[2021-07-15 16:09] #5929 closed

[2021-07-15 16:12] hussnainwithss opened #5930 "Accordion Example in the Docs produces error"
## Describe the bug

When i used the example from the docs of creating an Accordion the one with <Accordion.Item> react throws an error.

## To Reproduce

Steps to reproduce the behavior:

1. Create a simple component
2. copy the first example on the react-bootstrap Accordion component page
3. run application and open in browser
4. See error

## Reproducible Example

https://codesandbox.io/s/affec

[2021-07-15 16:16] kyletsang commented on #5924
Going to consolidate this issue with #5834 since it's the same cause.

[2021-07-15 16:16] #5924 closed

[2021-07-15 16:20] kyletsang commented on #5930
This accordion example has new markup that's only available in v2 beta.

For v1, see the docs here: https://react-bootstrap-v4.netlify.app/components/accordion/

[2021-07-15 16:20] #5930 closed

[2021-07-16 10:28] dotamir commented on #5925
@bay-jacewhitten I agree with you, it's best to be on developer's decision. But I've been thinking about Developer experience here. I've been working with `rc-table` for almost 2-years now and haven't had issues with it. It's giving you a rich API to deal with. You can build a table from simple to advanced type in my experience.

I think it's better to give a powerful component instead of a simple

[2021-07-16 12:40] jquense commented on #5725
`container` on Modal isn't intended to be configurable, the propType  i think is a left over from when we had a HOC that injected it (moved upstream). Bootstrap modals use position `fixed` which really requires that they be close to the top of the document, and vanilla bootstrap basically requires the body be the scrolling container for the modal.

In terms of fixes the form thing. you may want to

[2021-07-17 06:09] pradeea commented on #5765
Can't resolve 'react-bootstrap/Offcanvas' the offCanvas is not installing .

[2021-07-17 06:10] pradeea commented on #5765
Can't resolve 'react-bootstrap/Offcanvas' the OffCanvas is not installing   @kyletsang

[2021-07-17 20:05] cyonder opened #5933 "Modal's container prop doesn't work"
## Describe the bug
I am trying to have a modal open inside a specific div, which is the parent div. In order to do that I use container prop. Just like this  `<Modal container="shopping-cart"></Modal>` I am guessing container prop is used to make Modal open up in specific container. Because that's also how it is in reactstrap.

This is the error I am getting: Cannot use 'in' operator to search fo

[2021-07-18 06:35] zluo01 opened #5934 "Modal Types of property 'children' are incompatible."
## Describe the bug

Modal shows following error when use in typescripts using example copy the documentations in next.js. The error does not show up if only one child exists. (i.e. only Modal.Header or Modal.Body as child). If multiple of them occurs together. It shows the error.
[code]

[code]

## Expected behavior

No error in typescripts.

## Environment (please complete the following informat

[2021-07-18 13:54] esrakartal opened #5935 "Form.Select is NOT working and giving import/export error for rendering"
## Describe the bug

When I used the `<Form.Select>` tag in my project, I received an import/export error for my component. I thought I did a mistake while writing import/export. But, when I deleted everything in my component file and rewrote myself without copypasting, It gave an error on `<Form.Select>` tag.

## To Reproduce

Steps to reproduce the behavior:

1. Go to https://react-bootstrap.net

[2021-07-18 16:44] #5928 closed

[2021-07-18 16:45] cZeaushe commented on #5928
Use number instead of string in `useState`

[2021-07-18 17:45] kyletsang commented on #5765
@pradeea did you install react-bootstrap v2 beta?

[2021-07-18 17:47] kyletsang commented on #5935
What's the react-bootstrap version in your package.json?

[2021-07-18 17:49] esrakartal commented on #5935
It is:
`"react-bootstrap": "^1.6.1"`

[2021-07-18 17:54] kyletsang commented on #5935
Change that to `2.0.0-beta.2`.  The main docs site is currently referencing the v2 beta release.

[2021-07-18 17:54] #5935 closed

[2021-07-18 18:04] esrakartal commented on #5935
Thank you so much. It worked.

[2021-07-19 08:37] FunctionDJ opened #5937 "Website snippet is missing @next"
The ["Installation" segment](https://react-bootstrap.github.io/getting-started/introduction#installation) has a command to install currently incompatible versions of `react-bootstrap` and `bootstrap`, resulting in this `package.json`:
[code]

Since the guide mentions `@next` further down, i assume this is also missing here (since it's 2.0 beta docs for BS5).

[2021-07-19 08:42] Mizan-Rifat opened #5938 "`<Form.Check>` and `<Form.Check.Label>` should add `form-check` and `form-label` class automatically."
`<Form.Check>` and `<Form.Check.Label>` should add `form-check` and `form-label` class automatically.

https://react-bootstrap-v5.netlify.app/components/forms/#forms-check-api

[2021-07-19 09:02] pradeea commented on #5765
@kyletsang ya i have installed the latest Version of the react-bootstrap it did worked , tq so much

[2021-07-19 09:03] giovannipiller commented on #5938
I was about to open a similar issue.
Looks like `<Form.Check>` will only print the class `form-check` if a label is provided:
https://github.com/react-bootstrap/react-bootstrap/blob/47df950afc2777cc3635bfd538c64d90634cec4a/src/FormCheck.tsx#L173

Sometimes it makes sense to not provide a `label`, for example when an aria-label/aria-labelledby is provided in its place.

[2021-07-19 13:54] jquense commented on #5933
`container` needs to be a ref or a DOM element, not a selector

[2021-07-19 17:23] cyonder commented on #5933
@jquense thanks for your answer. The documentation was saying "any" so, I thought a selector would be okay. However, I still didn't get it working. I think it's because I use Offcanvas component and ref is not defined when it's not mounted. Although, I created a simple app to test ref, it works. But not with Offcanvas.

[2021-07-19 19:31] booherbg commented on #5913
@kyletsang thank you. That explains it. With the upgrade to the latest react-bootstrap, the syntax works as expected with controlled components. Thanks!
![image](https://user-images.githubusercontent.com/159698/126216407-d3051c2c-ed1d-4510-91e3-6b7bf44c4fdc.png)

[2021-07-19 19:40] kyletsang commented on #5937
Yeah we should add `@next` there to clear any confusion.  Interested in sending a PR?

[2021-07-19 19:41] #5934 closed

[2021-07-19 19:48] kyletsang commented on #5938
So the issue here is that in the custom rendering scenario, the container is missing the `form-check` class?

[2021-07-19 23:58] hrqmonteiro opened #5939 "TypeError: Cannot read property 'Header' of undefined"
![1](https://user-images.githubusercontent.com/17055027/126242107-665f0f2c-1b72-4210-acd6-5670f193dd59.png)

I'm trying to use the Offcanvas and this error is persistent, no matter what i do.

Code:

[code]

[2021-07-20 00:14] kyletsang commented on #5939
Double check your installed react-bootstrap version in package.json and make sure it's 2.x and not 1.x

[2021-07-20 08:14] giovannipiller commented on #5938
Yes.

As a simple example:
[code]

Will produce:
[code]
Which doesn't include the `form-check` class.

----
On the other hand, simply adding a `label`:
[code]

Will produce:
[code]

----

I think that the class `form-check` should be displayed regardless of the presence of `label`.

Reproducible also on 2.0.0-beta-4: https://codesandbox.io/s/zen-silence-7uxg1?file=/src/App.js

[2021-07-20 08:21] giovannipiller commented on #5938
(Re-reading it, I might have misunderstood the original issue. I can create a separate one if you'd like.)

[2021-07-20 10:42] Creative-Lee commented on #5765
help me.... @kyletsang
how can i update react-bootstrap v2.0.0 T_T
[ npm show react-bootstrap ]  --->  it shows me that the last version is 1.6.1
I really want to use Offcanvas component.

[ npm install react-bootstrap bootstrap@5.0.2 ]  ----> it only updates bootstrap to V5.0.2   Not a react-bootstrap (still 1.6.1)

plz help newbie......

[2021-07-20 13:13] andrewlow opened #5942 "Allow aliases to be created with comments"
## Is your feature request related to a problem? Please describe

I love aliases. Almost no one has my actual email address, I will create an alias for every single request for a new email. My love of aliases is only matched by my love for password managers (shout out to bitwarden).
With many, many aliases  (~300) - it gets difficult to know what the heck they are for.

With my old server I had ad

[2021-07-20 13:17] andrewlow commented on #5942
wow.. total finger fumble.. added this to the wrong gitrepo entirely.

apologies for the noise.

[2021-07-20 13:17] #5942 closed

[2021-07-20 14:07] VibhorJaiswal commented on #5914
@kyletsang reminder that I have opened a pull request with all the features discussed in this issue. It has passed all the checks and is completely bug free so please review the code.

[2021-07-20 17:05] JosephVoid commented on #5824
I'm trying to use badges like this:

<Badge bg="warning">Warning</Badge>

But it says " Property 'bg' does not exist on type 'IntrinsicAttributes... "
'variant' exists but it doesn't style anything.

i am using react-bootstrap 1.6.1 and bootstrap 5.0.2

[2021-07-20 17:25] kyletsang commented on #5824
update react-bootstrap to v2 beta.

1.6.1 is not compatible with bootstrap 5

[2021-07-20 17:26] kyletsang commented on #5765
@Creative-Lee run `npm install react-bootstrap@next`

[2021-07-20 18:33] JosephVoid commented on #5824
@kyletsang it worked, thanks.

[2021-07-20 19:26] hpaul-reputation opened #5943 "isInvalid prop doesn't work for a custom component in Form Control"
## Describe the bug

For the code below,
[code]

The `Feedback` is **not activated** even though the `Form.Control` has the `isInvalid` prop set to true. I've noticed that it only happens if I pass a custom component using `forwardRef()`.

Image of output:
<img width="714" alt="Screen Shot 2021-07-20 at 2 26 19 PM" src="https://user-images.githubusercontent.com/85559065/126383855-6fd9c0c3-b9de-4a6

[2021-07-20 20:02] kyletsang commented on #5914
@VibhorJaiswal  Sorry a bit tied up with other tasks at the moment.  Will review when I get a chance.

[2021-07-20 20:59] kyletsang commented on #5938
@giovannipiller checkboxes without labels don't need the wrapping element with `.form-check`.  This is referenced here: https://getbootstrap.com/docs/5.0/forms/checks-radios/#without-labels

[2021-07-20 23:35] Creative-Lee commented on #5765
@kyletsang
when I got out of bed, I typed    [ npm install react-bootstrap@next ]

but... react-bootstrap still  V1.6.1 .....

why.... 😥
I'm sorry I kept asking....... There's no way but to ask you....
google can't help me for 3days

[2021-07-21 00:07] kyletsang commented on #5765
@Creative-Lee

You can also try going into package.json and manually changing the version to `2.0.0-beta.4`

Then run npm install

[2021-07-21 00:08] #5937 closed

[2021-07-21 05:43] rkgallaway opened #5944 "CardColumns renders a single column"
## The Bug

### Result

v2.0.0-beta.4 (using Bootstrap 5.0.2) renders a single column.  20 cards were present, all in one column and regardless of card width. neither mention of change in [documentation](https://react-bootstrap.github.io/components/cards/#card-columns), nor property(s) necessary to achieve multiple columns. Docs do show an example of a single column, implying a change to CardColum

[2021-07-21 10:33] giovannipiller commented on #5938
@kyletsang thanks!

[2021-07-21 10:34] marknorrapscm opened #5945 "Use of <Form.Select> throws error"
## Describe the bug

The `<Form.Select>` component seems to break in whatever circumstance it is used. I cannot find any mention of this being a known bug.

## To Reproduce

Steps to reproduce the behavior:

1. Create a `<Form.Select>` component inside a `<Form>`
2. See error:

## Reproducible Example

Reproducible example: https://codesandbox.io/s/affectionate-butterfly-mvrro?file=/src/App.js

If

[2021-07-21 13:34] marknorrapscm commented on #5945
Got around this by using `<Form.Control as="select">` rather than `<Form.Select>`.

If the select component isn't working the docs ([here](https://react-bootstrap.github.io/components/forms/#forms-select)) should really advise users to use the aforementioned code rather than `<Form.Select>`.

[2021-07-22 03:58] Creative-Lee commented on #5765
GOD @kyletsang
you save my life!!!!!!!

[2021-07-22 04:34] kyletsang commented on #5944
Looks like this was removed upstream in favor of a 3rd party component:
https://github.com/twbs/bootstrap/pull/28922
https://getbootstrap.com/docs/5.0/components/card/#masonry

We should remove this component and related docs.

[2021-07-22 04:36] kyletsang commented on #5945
FormSelect is a v2 component.  You need to select the correct docs for the version you're using from the dropdown in the navbar.

[2021-07-22 04:36] #5945 closed

[2021-07-22 04:58] kyletsang commented on #5943
Your custom component needs to apply the `className` prop to your element.

[2021-07-22 04:58] #5939 closed

[2021-07-22 05:00] kyletsang commented on #5933
@cyonder, can you share a codesandbox showing the issue?

[2021-07-22 05:12] kyletsang commented on #5927
Remove the `validated` prop from your `Form`.  That's used if you're using HTML5 validation.

[2021-07-22 07:05] pradeea commented on #5765
@kyletsang why cant we build an seperate community forum  for react-bootstrap users where in that the users of react-bootstrap can interact and have their queries cleared .instead of commenting in the github page what do u think? bcz the react bootstrap community is growing and having an seperate community forum is an added advantage for the users instead of depending on github comments

[2021-07-22 18:19] LB22 opened #5946 "Carousel issues & feature requests"
Carousel-indicators are generated (in html) above the carousel-inner like so:

`<div class="carousel slide">
  <div class="carousel-indicators" />
  <div class="carousel-inner" />
  <a class="carousel-control-prev" />
  <a class="carousel-control-next" />
</div>`

I believe that indicators are usually put below the actual carousel. In my case - I would like to just change .carousel-indicator `posi

[2021-07-22 18:21] kuhlaid opened #5947 "Badges not styling with Bootstrap 5.0.2 and react-bootstrap ^2.0.0-beta.4"
Test at:
https://codesandbox.io/s/github/react-bootstrap/code-sandbox-examples/tree/master/basic-ts

In the App.tsx file:
Change
```import Jumbotron from 'react-bootstrap/Jumbotron';```
to
```import Badge from 'react-bootstrap/Badge';```

Change
[code]
to
```<h2><Badge pill variant="success">test badge</Badge></h2>```

At this point you should see a big green badge in the output. Now go into the p

[2021-07-22 18:40] kuhlaid commented on #5947
I suppose Badges are pointless with react-bootstrap v2 since you can simply create a badge using a variation of:
```<span className="small p-1 bg-info text-light rounded-pill">test badge</span>```

[2021-07-22 18:50] kyletsang commented on #5947
Change `variant` prop to `bg`.  It's been renamed in v2 due to upstream changes in the class, but we forgot to add this to the migration guide.

[2021-07-23 14:08] jefmsmit opened #5948 "`Pagination.Item` generates valid markup, but links do not work"
## Describe the bug
I am using `react-bootstrap` 1.6.1, with `react-router-bootstrap` 0.25. I am building a pagination component. My expectation is that I can do the following:

`<Pagination.Item as={Link} to="/mypage?page=2" key={2}>{2}</Pagination.Item>`

This produces the markup I expect:

[code]

However the link is suppressed.

Is this expected? Am I suppose to add a specific `onClick` handle

[2021-07-23 23:56] kyletsang commented on #5946
We're following upstream bootstrap for their carousel markup - the indicators are placed at the top:
https://getbootstrap.com/docs/5.0/components/carousel/#with-indicators

For your custom indicators, you might be able to do it by setting `indicators` to false, implement the custom control below the carousel, then controlling the carousel via `activeIndex` and `onSelect` props.

[2021-07-24 13:51] devanada commented on #3730
You can do something like this
[code]

[2021-07-24 19:07] markdost commented on #3730
@devanada Thanks that is working perfectly!
The only thing I had to add was `handleReset();` so the form resets after submitting it.
[code]

[2021-07-26 23:56] #5947 closed

[2021-07-26 23:56] #5868 closed

[2021-07-26 23:57] kyletsang commented on #5893
Closing due to inactivity

[2021-07-26 23:57] #5893 closed

[2021-07-27 09:34] daniel-ilan commented on #2627
I also tackled with this and found the solution was to use React.forwardRef as a wrapper for the custom popover component.
This is my code:
`
const CustomPopover = React.forwardRef((props, ref) => {
  return (
    <Popover id='popover-basic' {...props} ref={ref}>
      <Popover.Title as='h3'>Popover right</Popover.Title>
      <Popover.Content>
        And here's some <strong>amazing</strong> cont

[2021-07-27 19:40] charkour opened #5950 "Unable to add custom styles to PageItem Component"
## Describe the bug

There is incomplete API to allow adding custom styles to the `<Component>` inside the `<PageItem>`. Looking at the [source code](https://github.com/react-bootstrap/react-bootstrap/blob/d91fbf1c443b230cc7f4852ea4f5e43814da99f8/src/PageItem.tsx#L60), there there is no `className` or `style` prop that is passed to the `<Component>` to allow for custom styles to be applied.

Curre

[2021-07-27 20:00] charkour opened #5951 "Unable to pass custom component to PageItem"
## Describe the bug

A `<PageItem>` is always a `<li>` that contains a `<span>` or `<SafeAnchor>` depending on if the props `active || disabled` are truthy. You can view the source code [here](https://github.com/react-bootstrap/react-bootstrap/blob/d91fbf1c443b230cc7f4852ea4f5e43814da99f8/src/PageItem.tsx#L53).

## Expected behavior

I'd like to pass a `Component` prop to `<PageItem>` to set a cus

[2021-07-28 07:54] Madejczyk commented on #5852
@basantech89, @kyletsang do you have any updates?

[2021-07-28 13:01] Styopchik opened #5952 "Warning: findDOMNode is deprecated in StrictMode using Modal component"
## Describe the bug

React-bootstrap version 1.6.1

## To Reproduce
- Use React.StrictMode
- add modal Component to page.
- Click on link to open it
- Warning appears in console

## Reproducible Example

Minimal example by using [CodeSandbox](https://codesandbox.io/s/adoring-snowflake-7m3ef).

[2021-07-28 14:33] jithin-quintet commented on #5127
As the scheduleUpdate/update is not exposed, a hacky way is to trigger a resize when the items are changed, so that popper will position it correctly.

https://codesandbox.io/s/laughing-newton-6ived

[2021-07-29 09:19] dualcyclone opened #5953 "ARIA role="dialog" must have an accessible label"
(moved from https://github.com/react-bootstrap/react-overlays/issues/965 & https://github.com/react-bootstrap/react-overlays/issues/964)

## Describe the bug

Related to https://github.com/react-bootstrap/react-overlays/issues/964

Adding any `aria` attributes to the `Modal` adds these to the child DOM element, which means the main parent element still does not have an accessible label.

## To Rep

[2021-07-29 09:45] gauravgupta98 opened #5954 "Popover not working"
## Popover is crashing

Popover has some issue with the rendering. After clicking the button it is throwing error.
Please go through the code sandbox for the issue - https://codesandbox.io/s/angry-meninsky-4k4f8?file=/src/App.js

## Reproducible Example

[CodeSandbox](https://codesandbox.io/s/angry-meninsky-4k4f8?file=/src/App.js).

## Expected behaviour.

Popover should be displayed without any e

[2021-07-29 11:27] gauravgupta98 commented on #5954
I was able to fix this one. Actually `<Popover.Header>` and `<Popover.Body>` should be changed to `<Popover.Title>` and `<Popover.Content>` and this will fix the issue.

Kindly raise a documentation bug to fix the [documentation](https://react-bootstrap.netlify.app/components/overlays/#popovers)

<img width="909" alt="Screenshot 2021-07-29 at 4 56 03 PM" src="https://user-images.githubusercontent.

[2021-07-29 12:29] Sarper-Ekinci commented on #5480
This issue need to be considered.This update will help project integrity.

[2021-07-29 15:56] kyletsang commented on #5954
React-bootstrap supports many versions of Bootstrap and there are breaking changes between each version.  You need to make sure you're reading the correct version of the docs for the version of react-bootstrap you are installing.  You can choose the correct version from the dropdown in the right side of the navbar.

[2021-07-29 15:56] #5954 closed

[2021-07-29 15:56] kyletsang commented on #5952
This is fixed in v2 for bootstrap 5.

[2021-07-29 15:56] #5952 closed

[2021-07-29 16:14] kyletsang commented on #5948
Can you try adding `href` in addition to `to`?  I believe the underlying `SafeAnchor` component is suppressing the link behavior due to a missing href prop.

[2021-07-29 16:17] jefmsmit commented on #5948
@kyletsang that fixed it. Thanks so much.

[2021-07-29 16:30] kyletsang commented on #5948
Thanks for confirming.  Going to close this one in favor of #5951 to track the potential fix.

[2021-07-29 16:30] #5948 closed

[2021-07-29 22:22] SamsAgency commented on #2300
I am getting a module not found when i type import 'bootstrap/dist/css/bootstrap.min.css';

[2021-07-30 12:13] taatiq882 commented on #5765
Hi, My bootrstrap version is 2.0.0-beta.4 but still offcanvas module not found error is coming.

[2021-07-30 22:57] DanielFlaum commented on #3499
I'm using Bootstrap 5, but this solution for 4 worked for me: https://stackoverflow.com/questions/38576503/how-to-remove-the-arrow-in-dropdown-in-bootstrap-4/44577512#44577512. They say:

So shouldn't it be possible for the `noCaret` option to be added back by having it control whether the `dropdown-toggle` class is used?

[2021-08-01 05:48] kyletsang commented on #5852
Sorry no updates here - been tied up with other things.  Can you check if this behavior exists in v2 beta?

[2021-08-01 12:58] esbb48 commented on #541
Control open/close myself
[code]

[2021-08-01 15:15] ilyasbelfar opened #5955 "How to disable keyboard navigation for react bootstrap tabs"
## Describing the problem

React bootstrap tabs are working well but I need to disable keyboard navigations between tabs NavLinks with keyboard arrows, I tried tabIndex but didn't work, So how to do that?

[2021-08-01 22:55] Pookacz commented on #2300
It works 💪thank you very much

[2021-08-02 17:28] jkinley opened #5956 "Nested ListGroups with Collapse?"
Anyone know if its possible to use ListGroups with Collapse. I have not been able to make it work. Any ideas would be greatly appreciated. Thanks!

[2021-08-02 19:04] hpaul-reputation commented on #5943
@kyletsang what do you mean?

[2021-08-02 20:18] kyletsang commented on #5943
In order for your custom component to get styling, react-bootstrap applies classes to the element.  In your case

[code]

this doesn't forward `className` to the element so it won't inherit any styles.

Try:

[code]

[2021-08-03 05:22] ricebun opened #5957 "react-bootstrap v0.28.5 - Custom open state for Dropdown component"
This is a long shot as I'm aware that my react-bootstrap version is really old! :)

Is there a way to add custom styles for the open state of a Dropdown component? By default, the Dropdown.Toggle background is grey (see the pic below), and I'd like to change it to another color.
<img width="192" alt="Screenshot 2021-08-03 at 12 44 05 PM" src="https://user-images.githubusercontent.com/65060295/1279

[2021-08-03 08:51] presencewebdesign commented on #928
Can do it like this with react icons

import { BsTools } from "react-icons/bs"

<NavDropdown
              title={
                <span>
                  <BsGrid size="25" /> Items
                </span>
              }

[2021-08-03 21:12] U-4-E-A opened #5958 "Ability to animate dropdowns intrinsically"
This is not possible with the current repo (although I may be wrong).

I would love the ability to intrinsically animate the height of a dropdown, especially in a responsive nav. Technically you can do this yourself with CSS but it's pretty much a workaround thing with CSS as only max-height appears to work and you have to manually assign the max-height of the element, which is annoying. Could the

[2021-08-04 08:07] Bazze commented on #5651
Adding `onClick={(e) => e.stopPropagation()}` did the trick for me in IE11 and older versions of Firefox 👍

[2021-08-04 13:44] alor opened #5959 "Missing Collapse documentation on the website"
## Describe the bug

The Collapse component does not appear in the components list on https://react-bootstrap.github.io/components/alerts

initially I thought it was not implemented, but looking at the code it is. it's just missing from the online documentation.

[2021-08-04 14:28] #5959 closed

[2021-08-05 05:56] kyletsang commented on #5955
Try using the `onSelect` prop in tabs.  The callback gets passed the keyboard event so you should be able to detect when the user presses the keyboard arrows.

[2021-08-05 05:58] kyletsang commented on #5957
Try creating a style for `.toggle.open` in your css

[2021-08-05 08:53] ilyasbelfar commented on #5955
any example of what you said, please!

[2021-08-05 09:44] ilyasbelfar commented on #5955
Thank you a lot, I did it right.
`<TabContainer onSelect={(k, ev) => {
              if (ev.type === 'click') {
                setKey(k);
              }
            }}
            activeKey={key}>`

[2021-08-05 09:44] #5955 closed

[2021-08-05 13:35] adameska opened #5960 "Title attribute doesn't work on disabled buttons"
I would like to have a hover info box show why a button is disabled but the hover only works on buttons that are not disabled. Is there a work around for this?

[2021-08-05 14:32] basvk commented on #5757
I have the same issue. See here: https://codesandbox.io/s/morning-sun-ooqld

[2021-08-05 20:53] kyletsang commented on #5960
See https://react-bootstrap.github.io/components/overlays/#overlays-disabled

[2021-08-05 21:04] #5960 closed

[2021-08-08 12:58] PRA-developer-TIK commented on #3245
What if  i have three buttons ?what changes will i need to make ?

[2021-08-09 03:21] jtrenaud1s opened #5963 "NavDropdown has no menuVariant prop"
## Describe the bug

Using TypeScript, I get an error stating that menuVariant doesn't appear in the props interface for NavDropdown. I'm using a dark navbar and just want the dropdown to be dark as well.

[code]

## To Reproduce

Steps to reproduce the behavior:

Create react app with `--template typescript`

make a navbar with `variant="dark"`

make a NavDropdown and attempt setting `menuVariant

[2021-08-09 04:05] hieu-htv commented on #2398
Year: 2021.
Still no solution.

[2021-08-09 10:02] ELopQ opened #5964 "Module parse failed"
## Describe the bug

After migration from 1.6.1 to 2.0.0-beta.4 when I try to start the project I get the error:
`./node_modules/react-bootstrap/esm/NavbarBrand.js
Module parse failed: Unexpected token (9:2)
You may need an appropriate loader to handle this file type.
|   className,
|   as,
|   ...props
| }, ref) => {
|   bsPrefix = useBootstrapPrefix(bsPrefix, 'navbar-brand');
 @ ./node_modules/r

[2021-08-09 22:07] U-4-E-A commented on #5958
This can easily be achieved by adding [react-animate-height](https://www.npmjs.com/package/react-animate-height) as a decadency and wrapping `DropdownMenu` with it.

[code]
New props: -
[code]

Wrapper in DropdownMenu: -
[code]

This also entirely negates the need for the Bootstrap .dropdown-menu.show class

[2021-08-10 15:20] Kepro commented on #5952
@kyletsang but we are not going to update whole app to bootstrap 5 just like that... can you please support also BS4???

[2021-08-10 16:33] kyletsang commented on #5952
There are breaking changes required to support StrictMode, so that's why it was deferred to react-bootstrap v2 and bootstrap 5.

[2021-08-10 21:34] elohanlon opened #5966 "<Collapse> component breaks when it has more than one child element"
## Describe the bug

When you put more than one child JSX element inside of a `<Collapse>` component, it results in an error:

[code]

(See code sandbox example in "Reproducible Example" section for full error.)

## To Reproduce

Put more than one element inside of a `<Collapse>`:

[code]

## Reproducible Example

https://codesandbox.io/s/collapse-error-example-j320i?file=/src/App.js

## Expected

[2021-08-11 00:09] #5753 closed

[2021-08-11 05:10] kyletsang commented on #3357
NavDropdowns support align prop now in v2

[2021-08-11 05:10] #3357 closed

[2021-08-11 05:11] kyletsang commented on #3754
Code is different now.  Might not be an issue anymore

[2021-08-11 05:11] #3754 closed

[2021-08-11 05:12] kyletsang commented on #2954
Closing since bs3 is no longer supported

[2021-08-11 05:12] #2954 closed

[2021-08-11 05:12] #3398 closed

[2021-08-11 05:12] kyletsang commented on #3983
Closing since bs3 is no longer supported

[2021-08-11 05:12] #3983 closed

[2021-08-11 05:12] kyletsang commented on #4158
Closing since bs3 is no longer supported

[2021-08-11 05:12] #4158 closed

[2021-08-11 05:17] kyletsang commented on #5016
Sounds like a bs3 issue and this is no longer supported.  This should work in later versions

[2021-08-11 05:17] #5016 closed

[2021-08-11 05:20] kyletsang commented on #5325
Closed due to inactivity

[2021-08-11 05:20] #5325 closed

[2021-08-11 05:26] #5611 closed

[2021-08-11 05:27] kyletsang commented on #5571
Closing since bs3 isn't supported anymore

[2021-08-11 05:27] #5571 closed

[2021-08-11 05:28] #5750 closed

[2021-08-11 05:30] kyletsang commented on #5889
The markup was done this way to mimic that in Bootstrap

[2021-08-11 05:32] kyletsang commented on #5925
Thanks for the suggestion, but we'll pass.  If the user needs something as rich as rc-table, then they can integrate that themselves and apply the bootstrap styling.

[2021-08-11 05:32] #5925 closed

[2021-08-11 05:32] #5927 closed

[2021-08-11 05:32] #5892 closed

[2021-08-11 05:33] #5943 closed

[2021-08-11 05:41] kyletsang commented on #5951
@jquense, I guess we could expose some props here, but I wonder if we should just split the component and require the user to enter PageItem and PageLink separately?

[2021-08-11 05:41] #5957 closed

[2021-08-11 05:42] kyletsang commented on #5964
Can you provide a repro on CodeSandbox?

[2021-08-11 05:43] kyletsang commented on #5963
Can you provide a repro on CodeSandbox?

[2021-08-11 05:45] kyletsang commented on #5966
All the transitions (Fade/Collapse) require a single react element as the child.  Fragments can't be used

[2021-08-11 05:49] elohanlon commented on #5966
Thank you for the answer, @kyletsang.  Is that documented somewhere on the react-bootstrap.github.io documentation site and I just missed it?

[2021-08-11 06:18] kyletsang commented on #5966
Not explicitly, but we should add it into the props table below to make it more clear.  Interested in sending a PR?

[2021-08-11 07:37] mattywong opened #5967 "Offcanvas is hidden behind modal-backdrop due to z-index, change to use offcanvas-backdrop"
## Describe the bug

It looks like there is a new class for offcanvas specific backdrops, which should now be .offcanvas-backdrop instead of .modal-backdrop (https://github.com/twbs/bootstrap/pull/34149).

.modal-backdrop has a higher z-index (1050) than .offcanvas (1045) by default, and so the offcanvas sidebar is hidden behind the backdrop.

## Reproducible Example

https://codesandbox.io/s/frie

[2021-08-11 16:09] kyletsang commented on #5967
Nice catch.  We can drop modal prefix var since it's only used for the modal-open class.

[2021-08-11 17:17] RMiroedov opened #5968 "TypeScript Error Cannot find module 'react-bootstrap/Offcanvas'"
Hello. I have this bug.
<img width="649" alt="Снимок экрана 2021-08-11 в 20 16 25" src="https://user-images.githubusercontent.com/23060733/129073973-3d8661f6-5ef9-4cba-bbae-57d440450994.png">

[2021-08-12 22:37] elohanlon commented on #5966
Glad to!

https://github.com/react-bootstrap/react-bootstrap/pull/5970

[2021-08-13 00:05] #5966 closed

[2021-08-13 20:34] DvoeglazovIlya commented on #5782
The same problem. Radio and checkbox buttons not working properly.
I have installed the latest versions of react-bootstrap and bootstrap:
"bootstrap": "5.0.2",
"react-bootstrap": "^2.0.0-beta.4",
![image](https://user-images.githubusercontent.com/15049055/129415020-3bdab58c-f29b-4324-af0a-87b81a5fcde0.png)

The code I'm use:
[code]
I think html not correct
![image](https://user-images.githubuserco

[2021-08-13 21:06] kyletsang commented on #5782
@DvoeglazovIlya are you sure you have beta 4 installed?  The code doesn't even produce that HTML

https://github.com/react-bootstrap/react-bootstrap/blob/5bd99640e19e48ca3f6d88dff723b4e06ea4be9d/src/ToggleButton.tsx#L98-L117

[2021-08-14 05:54] evantrimboli commented on #5444
This no longer seems to be the case.

[2021-08-14 05:54] #5444 closed

[2021-08-14 15:27] pngo-makershub commented on #5115
I'm trying to do exactly this. I'm using version 1.6.1 and offset modifier does not offset the dropdown menu. Could you please elaborate on how this issue was resolved?

[2021-08-14 16:40] AnimeAllstar opened #5971 "Tooltip position not updated when tooltip text is updated using a useState hook"
## Description

I tried to create a button that shows a tooltip when hovered over and changes its text once it is clicked. I updated the text using a useState hook and the text changes, but the position of the tooltip fails to update.

## Reproduce

Use the component below to reproduce.

[code]

## Reproducible Example

Minimal example by using [CodeSandbox](https://codesandbox.io/embed/solitary-w

[2021-08-14 21:39] TomasKuruc opened #5972 "react-bootstrap/Col - missing attribute xxl"
## Describe the bug

I noticed that in documentation, section Layout -> grid -> Col - you provided all attributes it could accept, but there is one mistake, in documentation is mentioned xxl brakpoint props attribute but in types interface is not included (only included props attributes are: xs, sm, md, lg and xl). So when you are try pass xxl props to Col it throws an error.

## To Reproduce

Ste

[2021-08-15 11:40] DvoeglazovIlya commented on #5782
@kyletsang, I'm sorry, after restart project or "yarn clear cache". The problem was resolve.

[2021-08-15 20:43] thenoctus commented on #5765
npm install react-bootstrap@next bootstrap@5.0.2

I went to the react bootstrap main site and installed the latest above and it solved the issue for me.

[2021-08-16 05:58] Lishenga opened #5975 "Failed to compile error"
Am getting this error when i use the React Boostrap
[code]

What could be the issue?

- Operating System: macOS
- Browser, Version: Chrome 74
- React-Bootstrap Version: 2.0.0-beta.4

[2021-08-16 12:01] kzha0 opened #5976 "Modal close button improper class name"
## Describe the bug
I'm using react-bootstrap 1.6.1 on a component in Storybook.

I used the Modal component in my code like so:
[code]
When specifying the `closeButton` prop for the Modal Header, the modal displays the button improperly. The modal only renders the close button with the classname `close` which results in the button looking like so:
![image](https://user-images.githubusercontent.co

[2021-08-16 12:28] aksdevac commented on #5972
`xxl` is available in bootstrap 5, & its support is added in React-Bootstrap v2. & it seems you are using v1.6.x

[2021-08-16 13:30] jquense commented on #5971
this is expected, we don't attempt to update position on every render since it's expensive: https://react-bootstrap.github.io/components/overlays/#overlays-dynamic-updates

[2021-08-16 13:30] #5971 closed

[2021-08-16 15:30] willd-i2o opened #5977 "Collapse - Horionztal animation"
As of v5.1 Bootstrap now supports horizontal collapse animations with the `.collapse-horizontal` class https://getbootstrap.com/docs/5.1/components/collapse/#horizontal

I'm guessing the Collapse component will need to be updated to use this when the `dimension` prop === `width`? (`<Collapse dimension="width"></Collapse>` )

[2021-08-16 16:01] kyletsang commented on #5976
If you want to use bootstrap 5, you must use react-bootstrap v2 beta.  1.6.1 is only compatible with bootstrap 4

[2021-08-16 16:01] #5976 closed

[2021-08-16 16:04] kyletsang commented on #5975
Probably an issue with your babel config.  Can you provide a minimal repro on codesandbox?

[2021-08-16 16:11] kyletsang commented on #5977
Sounds reasonable.  Currently, when computedDimension, it adds a `.width` class though, but I don't see that in the bootstrap docs.  Maybe we can replace that class?

cc @jquense

We'd be happy to take a PR to add this feature.

[2021-08-16 17:53] natashagigcasters opened #5978 "ToastContainer will not import from 'react-bootstrap/ToastContainer'"
## Describe the bug

Cannot import ToastContainer

## To Reproduce

Steps to reproduce the behavior:

1. npm install react-bootstrap
2. include the following in your app: import ToastContainer from 'react-bootstrap/ToastContainer';
3. Error: Module not found: Can't resolve 'react-bootstrap/ToastContainer'

## Reproducible Example

import react-bootstrap and then try to import ToastContainer

## Ex

[2021-08-16 18:21] kyletsang commented on #5978
You need to install react-bootstrap v2 beta.  This is not available in 1.6.1.

[2021-08-16 18:21] #5978 closed

[2021-08-16 18:26] natashagigcasters commented on #5978
Thank you that worked!

[2021-08-16 19:48] jquense commented on #5977
yeah that was the placeholder from v4. we should update it to whatever is actually supported

[2021-08-17 08:33] jlp-io opened #5979 "Changing Dropdown.Toggle text via onClick in Dropdown.Item"
Is it possible to modify the Dropdown title in Dropdown.Toggle through an onClick function in Dropdown.Item? Has anyone changed the title from an onClick function inside the dropdown menu?

Here is a code sample:

[code]

[2021-08-17 11:54] devanshu-jotwani commented on #2081
just add
!important;
after the color you used

[2021-08-17 16:42] anandjaisy commented on #51
`Attempted import error: 'ScrollSpySection' is not exported from 'react-bootstrap'.`

How did you import scroolSpySection

[2021-08-18 07:06] Madejczyk commented on #5852
@kyletsang in v2 beta version, all works fine - https://codesandbox.io/s/wonderful-curran-2xrv6

[2021-08-18 08:35] johndzilva commented on #5979
you can use onSelect() function to capture the dropdown item value and use setState to change the drop down title

[2021-08-18 12:47] jerome-diver opened #5980 "invalid DOM property 'for'"
## Describe the bug

inside a Form.Group, with a Form.Label, there is a warning about an invalid property 'for' when using it. It should not.
But what if you want to customize your "input type='file'" view ? A solution is to add a label with a "for" tag to refer to input of the id. It should not have a problem with that.

## To Reproduce

Steps to reproduce the behavior:

1. add a React Component

[2021-08-18 17:39] jefmsmit commented on #5948
@kyletsang this appears to be causing another issue as mentioned here:
https://github.com/remix-run/react-router/issues/7931#issuecomment-893094830

[2021-08-18 18:10] kyletsang commented on #5980
In React, you need to use `htmlFor` instead of `for`

https://reactjs.org/docs/dom-elements.html#htmlfor

[2021-08-18 22:37] hellowhirl commented on #3965
I had this error because I had a dependency installed at the top of my project, but I only needed that dependency in my `client` folder. I uninstalled the package at the top level and reinstalled into my `client` folder and then the error message went away. Hope that helps someone!

[2021-08-19 01:12] jerome-diver commented on #5980
thank you.

[2021-08-19 04:22] #5980 closed

[2021-08-19 11:01] #5979 closed

[2021-08-19 12:17] ELopQ commented on #5964
Seem to be related to:
https://github.com/twbs/bootstrap/issues/33472
 the babel and webpack version, tried with a newer version and it works as expected.

[2021-08-19 14:02] nsi319 commented on #5967
Hi @kyletsang
Can I work on this issue?

[2021-08-19 15:57] kyletsang commented on #5967
@nsi319 sure go for it.  Thanks!

[2021-08-19 17:31] gtwilliams03 opened #5985 "Tabs In Modal Lose Formatting"
## Describe the bug

Placement of `<Tabs>` in a `<Modal.Body />` lose the tab formatting.

## To Reproduce

Steps to reproduce the behavior:

Place:

[code]

## Reproducible Example

Result in `<Modal />`:

![image](https://user-images.githubusercontent.com/1564628/130115997-50d2b25a-8f7a-4d08-b7e4-889ca712b509.png)

## Expected behavior

Result in body:

![image](https://user-images.githubusercon

[2021-08-19 17:39] gtwilliams03 commented on #5985
This seems to happen because in the body, the `<Tabs>` component renders as:

[code]

but in the `<Modal.Body />`, the `<Tabs>` component renders with the `navbar-nav` class instead of the `nav` class:

[code]

Have not figured out why this happens yet.

[2021-08-19 18:50] rzorzal opened #5986 "How to prevent position changing after scroll at OverlayTrigger and Popover?"
I'm trying to avoid re-position of Popover after a scroll. I tried out container props, modifiers props but everytime it is re-positioning. How can I avoid it ?

Sorry if it wasn't the correct place to ask for this kind of help, but I really tried all solutions.

[2021-08-19 20:22] kyletsang commented on #5985
Guessing your modal code is inside a navbar.

Can you try setting the prop `navbar={false}` in your `Tabs`?

[2021-08-19 23:03] kyletsang commented on #5986
Are you referring to the popover flipping to the other side when you scroll?

[2021-08-20 05:46] nsi319 commented on #5977
Hi @kyletsang
Can I work on adding horizontal collapse to Collapse component?

[2021-08-20 15:58] kyletsang commented on #5977
@nsi319 feel free to take on any of the issues here.

[2021-08-20 16:10] Durai46 commented on #5944
@kyletsang is this issue has still open?

[2021-08-20 17:08] kyletsang commented on #5944
@Durai46 yes, feel free to take it.  Thanks

[2021-08-20 19:06] gtwilliams03 commented on #5985
That did the trick.  Thank you!

[2021-08-20 19:06] #5985 closed

[2021-08-20 19:45] nsi319 commented on #5977
@kyletsang Should there be a new Component which does horizontal animation (similar to `Fade`) or should it come in Collapse when `dimension` prop === width?

[2021-08-21 07:33] nsi319 commented on #5977
Hi @kyletsang. When the `dimension` prop === `height`, the existing Collapse component is sufficient. When the value is `width`, we need to make the updates. Could you guide me on how to introduce horizontal animations to it?

[2021-08-21 17:17] kyletsang commented on #5977
@nsi319

We can replace the `.width` class that's added here with `.collapse-horizontal`:
https://github.com/react-bootstrap/react-bootstrap/blob/74894de1b50e005280d0270719a4a36e2bf4026c/src/Collapse.tsx#L248

ie.

[code]

[2021-08-21 17:17] #5967 closed

[2021-08-21 21:50] MaxiSantos commented on #5966
It also failed for me when I tried to render just `{children}` thinking I was doing ok by just sending one child . It gave me an error related with `ref`. I solved it by sending
`<div> {children} </div>`

[2021-08-22 12:45] noam-g4 opened #5988 "dropdown-menu inside input-group: inaccurate position translation"
## the bug

Hi, there's a problem with the ```transform: translation()``` of the dropdown-menu inside of an input-group,
when rendered, **its position is inaccurate relative to its ```DropdownButton```**, until a window ```resize``` or ```scroll``` events are being emitted and then it re-renders itself to the correct position.

## To Reproduce

Steps to reproduce the behavior:
you can see this in

[2021-08-23 04:30] kyletsang commented on #5988
Looks like this was reported upstream: https://github.com/popperjs/popper-core/issues/1339

This affects dropdowns with `renderOnMount=true`.  We'll need to call `update` on popper to reposition the menu.

[2021-08-23 05:21] igorsantos07 opened #5990 "[Docs] Is the library still not tree-shakable?"
## Describe the bug

By oversight, we used `import { X, Y, Z } from 'react-bootstrap'` in a new file. This was caught during the PR, but _surprisingly_ fixing that (back into individual imports) didn't change the build size. I thought we had that somewhere else but found no other place.... Then I decided to include on that line a component we're not using (`Breadcrumb`) and voilà, 409b included in

[2021-08-23 06:35] Amanporwal510 commented on #5659
Hi @kyletsang , Have a look on my PR, i have added "AS" prop in AccordionCollapse Component.
https://github.com/react-bootstrap/react-bootstrap/pull/5991#issue-976682630

[2021-08-23 13:23] jquense commented on #5990
The suggestion is still valid. However, it's not being made because RB doesn't support tree shaking. RB should be tree shakeable. The issue is that tree shaking as an optimization is unreliable, and less effective than cherry picking imports. We don't think it's good to encourage users to depend on it, but consider it nice additional optimization for production fields if it happens.

[2021-08-23 13:52] igorsantos07 commented on #5990
Hmmmm got it.
Our files got pretty ugly (tons of imports from the same library), and
we're really considering depending on tree shaking to get back some sanity.

Do you think these considerations you said could be somehow summarized and
included in the docs, as a "full disclosure" of the suggestion?

On Mon, Aug 23, 2021, 10:23 Jason Quense ***@***.***> wrote:

[2021-08-23 19:25] malipetek commented on #5954
Hi, I am trying same example and what you point out is not relevant. You see this example appears in Bootstrap 5.x docs.
![image](https://user-images.githubusercontent.com/13527277/130436841-dbc17acc-cf99-4f2d-93c8-101647a9d608.png)

My bootstrap version is 5.1
![image](https://user-images.githubusercontent.com/13527277/130436907-e861d037-000d-46b0-8ec2-7ab040b363f1.png)

and react bootstrap versi

[2021-08-24 19:19] #5988 closed

[2021-08-24 19:32] #5659 closed

[2021-08-25 03:48] RalphK66 opened #5994 "With backdrop={true}, offcanvas is covered by backdrop"
## Offcanvs behind backdrop when backdrop set to false

The backdrop covers the offcanvas preventing any interaction of any elements in offcanvas.

[code]
current behaviour:
![Screen Shot 2021-08-24 at 20 42 51](https://user-images.githubusercontent.com/59516497/130722840-72cb36fa-5432-4b3c-bd27-57132826326b.png)

expected behaviour:
![imgonline-com-ua-twotoone-cqqUutCU450](https://user-images.git

[2021-08-25 04:50] renovate[bot] opened #5995 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update all non-major dependencies](../pull/5973) (`@typescript-eslint/eslint-plugin`, `@typescript-eslint/parser`, `dtslint`, `eslint-import-resolver-node`, `eslint-plugin-import`, `eslint-plugin-prett

[2021-08-25 08:04] boristian opened #5996 "Submit-Button as child of InputGroup does not trigger form-submission"
## Describe the bug

I am trying to implement a search field where the user can submit either by clicking on an appended button or pressing the enter key.

While with react-bootstrap version 1.6.1 it worked as desired by setting the `type`-prop on the button to `submit`, in version 2.0.0-beta.5 the form submission gets not triggered. Neither by clicking the button nor by pressing enter.
I can trig

[2021-08-25 09:12] simzikov opened #5997 "The Badge component won't allow custom colors."
I have a customized Bootstrap stylesheet with an extended `$theme-colors` variable (Bootstrap v5.x). Unfortunately, none of the custom colors I have added work for a React Bootstrap Badge component:

[code]
It only plays nice with the default colors. Would love to see this fixed.

[2021-08-25 09:14] #5997 closed

[2021-08-25 18:50] bryancresswell opened #5998 "Toast animations do not work with the latest build"
## Describe the bug

Currently, setting `animation={true}` or relying on the default setting does not trigger any form of animation for `<Toast>`.

## To Reproduce

https://react-bootstrap.netlify.app/components/toasts/#dismissible - this example clearly indicates the issue.

## Expected behavior

The animation should work by default.

## Screenshots

N/A

## Environment (please complete the follo

[2021-08-26 20:44] ishields opened #6001 "ListGroup.Item no longer getting the "active" class when active in 2.0.0-beta.5"
## Describe the bug

Between versions 2.0.0-beta.4 and 2.0.0-beta.5, the behavior of defaultActiveId seems broken.  When used correctly, the attribute should render an "active" class on the active ListGroup.Item.  This no longer appears to be the case.

## To Reproduce

In version versions 2.0.0-beta.4:
[code]

will render the following html:
![image](https://user-images.githubusercontent.com/3834

[2021-08-28 09:10] philipp985 opened #6003 "How to render a button as React-Router-Link in beta.6"
## Describe the bug

Hello,
I updated from beta.4 to beta.6 and my current implementation of router-link buttons is not working anymore.

Before the update I did
[code]

After the update I could ignore the error and it will still work
[code]

Is this related to this change?
[https://github.com/react-bootstrap/react-bootstrap/commit/73a559ee345bc4033c66fc97858163a6a200126d#diff-9ea0e3c40430fd17705f

[2021-08-29 11:29] Radhesh-Sarma commented on #5843
@kyletsang @EtielYakira  I investigated this issue and found that this is because the index "react_bootstrap_v4" leads to bootstrap v5 and creating a new docsearch key for v4 docs could fix this issue.
Is this a good first issue, if you could provide the new docssearch key with v4 docs index?