[2017-10-21 19:08] ninja- commented on #2841
I've got the same issue, is there a good solution?

[2017-10-21 20:08] meteorplus commented on #2829
I think what you have now in the props format is very good otherwise if you follow reactstrap it will just bad and confusing since the color props isn't actually a color it's just the type of the button success or error ...

better keep it as you did here and IMO it's very well done :)

[2017-10-21 20:10] meteorplus commented on #2829
and what's awesome too is the documentation! so neat! so keep it up!

[2017-10-22 08:19] SamuelOcampo commented on #963
I had same issue.
My solution:

1. Delete node_modules directory
2. Run npm install

[2017-10-22 17:50] zhanwenchen commented on #2365
For future reference, [here's the ongoing PR](https://github.com/react-bootstrap/react-bootstrap/pull/2711)

[2017-10-23 00:02] ninja- commented on #2841
looks like it's fixed properly on master, at least the part that @gigobyte taked about. (internal crash from react-bootstrap)
as for what @lvpro tries to do where you use "your own" refs, it looks like a proper fix - using a function with bind - as mentioned here https://github.com/facebook/react/issues/11258#issuecomment-337379350

I think we can close this?

@lvpro could you clarify whether you

[2017-10-23 16:35] James2516 opened #2853 "FormControl doesn't pass autoComplete, maxLength etc props to input"
I can't use autoComplete, maxLength etc on a FormControl as they are not passed to `<input>`. How should this be fixed?

[2017-10-23 16:54] jahlela commented on #2812
Hey folks! I'm upgrading to React16 and also ran into the `Cannot read property 'contains' of undefined` error when trying to open a react-bootstrap modal. I followed the aboveadvice to delete  package-lock.json and reinstall `react-bootstrap@^0.31.3`. Now my modal opens as expected, but the onHide is no longer working for click events (Close button, x in the corner, and outside the modal). Using

[2017-10-23 17:09] taion commented on #2853
They do get passed down. Make sure you use the correct casing on the props.

[2017-10-23 17:09] #2853 closed

[2017-10-23 17:31] lvpro commented on #2841
@ninja my sincere apologies for my ignorance on this, but how can I use master via package.json in my project to test?  I tried `"react-bootstrap": "git+https://git@github.com/react-bootstrap/react-bootstrap.git" `as well as` "react-bootstrap": "github:react-bootstrap/react-bootstrap#master"`, but get a Webpack error of: `Module not found: Can't resolve 'react-bootstrap'` after deleting node_modul

[2017-10-23 17:36] ninja- commented on #2841
@lvpro
easiest way would be like

[code]

before you run ``` npm install``` please use this patch as there are deps missing on master that will break babel compile

[code]

[2017-10-23 17:48] microdou commented on #2812
@jahlela
I got the same issue.

It appears that upon React 16, a click on Modal's close sign (or a click outside Modal) that should have triggered `this.closeModal` only, now triggers not only `this.closeModal` in Modal component, but also the `this.openModal` in the outer wrapper of Modal.

I temporarily fixed it by moving Modal out of its wrapper by returning an array of both the wrapper/trigger

[2017-10-23 18:41] lvpro commented on #2841
Okay, I followed your instructions.  I then used bound functions to set the ref:

[code]

componentDidUpdate sadly still bombs with an undefined reference to this.setInputRef unless I use a timeout.

[2017-10-23 18:42] ninja- commented on #2841
@lvpro try with {this.setInputRef.bind(this)} ?

[2017-10-23 18:42] ninja- commented on #2841
sorry didn't notice you used the bind already

[2017-10-23 18:45] ninja- commented on #2841
you can try

[code]

I would assume this api change is to prepare you for async rendering in react which means that refs will become ready at random time

[2017-10-23 18:48] lvpro commented on #2841
I think the problem is that, although setInputRef may be called multiple times per Dan's explanation, componentDidUpdate is only called once, and during that single call, the ref is still null.  For various reasons, I need to do more logic within componentDidUpdate which utilizes the refs.

[2017-10-23 19:35] ninja- commented on #2841
Yes, I've had similiar things in my codebase i.e. this.refs.textbox.focus(), I commented it out until there is more info on the official way to do this on react 16+. As I said you might be able to move all of your ref logic(like focus() on componentDidUpdate) to setInputRef. The refs won't be null inside i.e. button click handlers by the way so that part of the logic can stay intact.

[2017-10-23 19:48] gaearon commented on #2841
If you have issues with React 16 please file them in React repo. We do support using refs in componentDidUpdate. I don't know where the information that it's unsupported is coming from, but now people will see this thread and quote it further spreading this.

It is hard to guess what went wrong and why without a minimal reproducing case. Please file it in React repo and we can discuss there.

[2017-10-23 19:52] gaearon commented on #2841
In other words: if something wasn't mention in "breaking changes" in 16 blog post, then it being broken is probably a bug. Please report such bugs to us, don't just try to work around them or assume it's meant to be broken.

[2017-10-23 20:08] lvpro commented on #2841
At this point, I'm not sure if the issue is within react-bootstrap itself, or an issue with React 16.  I personally use refs in the above manner all over the place and they work fine. This erroneous case seems specific to react-bootstrap's modal implementation, thus I filed the issue here.  Whether or not this is indeed a React specific issue is outside of my purview, so I'll leave moving this dis

[2017-10-23 20:12] taion commented on #2841
We just moved offices and have a few major deadlines coming up, so we're a bit limited on time right now.

Per https://github.com/react-bootstrap/react-bootstrap/issues/2841#issuecomment-338311644, can you log what you're seeing for the ref, including with or without an instance-bound method rather than an inline function?

[2017-10-24 03:37] dlangerm commented on #2841
I can confirm that I also started getting this bug as soon as I moved from React 15.6.2 to 16. Anywhere that I used a modal began to throw this error.

[2017-10-24 06:41] geminiyellow commented on #2841
same error, please fix it.

[2017-10-24 08:25] jahlela commented on #2812
@microdou Worked like a charm! I'll count that as our first array return implemented with React 16 :)

[2017-10-24 09:11] tukkajukka opened #2854 "Broken react-overlays dependency breaks forms in Modals"
We are using `redux-form` with `react-bootstrap`'s Modal component. Unfortunately Modal uses a broken version of `react-overlays` that won't let the form inputs get focus.

Related issue in `react-overlays`: https://github.com/react-bootstrap/react-overlays/issues/217

Workaround: downgrading `react-overlays` to e.g. 0.7.0 in `npm-shrinkwrap.json` (or installing it as a dependency in your project)

[2017-10-24 14:17] RKushnir commented on #2774
@kamote Probably, because react-BS adds a `data-toggle="buttons"` attribute, and BS attaches its handler to the elements that have those.

[2017-10-24 14:25] taion commented on #2774
@jquense Should we drop the `data-toggle` prop?

[2017-10-24 14:27] taion commented on #2854
Effectively a dupe of https://github.com/react-bootstrap/react-overlays/issues/223, will sort out soon

[2017-10-24 14:27] #2854 closed

[2017-10-24 16:04] #2824 closed

[2017-10-24 17:39] #2831 closed

[2017-10-24 17:44] taion commented on #2841
We just pushed through v0.31.4 with some fixes. Please take a look; if it's still broken, please log out the order of the ref values and the lifecycle callbacks.

[2017-10-24 18:34] lvpro commented on #2841
@taion, v0.31.4 bombs webpack, had to revert back to v.0.31.3

[code]

[2017-10-24 18:53] daredevil82 opened #2857 "How to use Tooltips with Tabs?"
With a Tab component, how can I add a Tooltip overlay to the button component?

[code]

but all that occurs is this particular tab not rendering.  It would help, when building a dashboard-style application, to be able to add tooltips to layout components like this.

[2017-10-24 19:09] maxosl opened #2858 ""ReferenceError: exports is not defined" after upgrading to 0.31.4"
Got this error after upgrading from 0.31.3 to 0.31.4:

[code]

Using latest version of node.

[2017-10-24 19:09] karlshea opened #2859 ""ReferenceError: exports is not defined" after updating from 0.31.3 to 0.31.4"
in react-bootstrap/es/utils/createChainedFunction.js

    export default createChainedFunction;
    module.exports = exports['default']; <----

What additional information would be helpful?

[2017-10-24 19:11] karlshea commented on #2859
#2858 beat me

[2017-10-24 19:11] #2859 closed

[2017-10-24 19:12] jharris4 opened #2860 "version 0.31.4 es build exports are broken"
I just tried out `0.31.4` and I get the error:

[code]

The last 2 lines of `react-bootstrap/es/CloseButton.js` look like this:

[code]

Same seems to be true of all the `.js` files in the `es` directory.

Perhaps this is related to the `add-module-exports` babel plugin???

[2017-10-24 19:13] jharris4 commented on #2858
I just posted the same issue in #2860.

[2017-10-24 19:20] #2858 closed

[2017-10-24 19:20] maxosl commented on #2858
See #2860

[2017-10-24 19:29] karlshea commented on #2860
Looks like this is being worked on in #2856

[2017-10-24 19:30] jharris4 commented on #2860
@karlshea was just going to comment with the same thing. Does indeed look like it's in progress

[2017-10-24 19:33] PalermoD commented on #963
Did you call you're navigation component Nav? That's probably why you are seeing the error

[2017-10-24 20:11] richtera commented on #2860
Same problem here.
![image](https://user-images.githubusercontent.com/708186/31965641-f617eda0-b8d5-11e7-9c48-5414a39df20b.png)

[2017-10-24 20:22] richtera commented on #2860
I can't get add-module-exports to work, no.

[2017-10-24 20:39] richtera commented on #2860
NOTE: Maybe unpublish the npm since ^0.31.3 will pull it in the next time someone does npm install?

[2017-10-24 21:02] taion commented on #2857
Use the lower-level tab API; don't use `<Tabs>` if you need to customize the nav.

[2017-10-24 21:02] #2857 closed

[2017-10-24 23:52] taion commented on #2860
Merged and published as 0.31.5

[2017-10-24 23:52] #2860 closed

[2017-10-25 00:06] taion commented on #2841
fixed the v0.31.4 issue

[2017-10-25 00:07] richtera commented on #2860
Works! Thank you.

[2017-10-25 10:28] sadovnychyi commented on #2841
Didn't use any refs, but modals were broken. The latest release (0.31.4) fixed the issue.

[2017-10-25 12:52] changLiuUNSW opened #2861 "Will react-bootstrap support Bootstrap 4 in near future?"
We really like this library especially the awesome accessibility support and we want to use it in our new Bootstrap 4 project.
We have reviewed another React library for Bootstrap 4 but we cannot use it because the accessibility does not meet accessibility requirement of our company (Bank).
We know react-bootstrap is highly customizable and some components may be compatible with Bootstrap 4. Howev

[2017-10-25 13:00] lvpro commented on #2841
@taion, upgraded to v0.31.5 and added logging as you requested and used bound functions for setting the refs.

componentDidUpdate() fires 1 time when the modal shows.  At this time, the refs are undefined.  The ref setting functions then run AFTER that (on the initial modal show).  componentDidUpdate() is not called again after the refs are set on the initial modal show, thus simply checking for u

[2017-10-25 14:25] jquense commented on #2861
we are working on it long term. We are a bit limited in personpower though so its a bit slow

[2017-10-25 14:25] #2861 closed

[2017-10-25 17:51] taion commented on #2861
See https://github.com/react-bootstrap/react-bootstrap/issues/1187, https://github.com/react-bootstrap/react-bootstrap/issues/2829, and https://github.com/react-bootstrap/react-bootstrap/pull/2752.

[2017-10-26 13:58] gavingregory opened #2863 "Open Modal within a ListGroupItem causes ListGroupItem onClick to fire when clicking anywhere on screen."
Please refer to [jsfiddle](https://jsfiddle.net/gavingregory/ufrcwwgt/1/).

When using `react@16.0.0`, I have encountered a bug when a Modal is nested within a ListGroupItem and the ListGroupItem has an onClick property bound. Once the Modal has been opened, clicking anywhere on the screen causes the ListGroupItem's onClick event to fire.

In the jsfiddle example, the ListGroupItem's onClick event

[2017-10-26 16:07] taion commented on #2863
This is the intended behavior: https://reactjs.org/docs/portals.html#event-bubbling-through-portals

[2017-10-26 16:07] #2863 closed

[2017-10-26 16:18] gavingregory commented on #2863
Wonderful, thanks for that!

[2017-10-27 02:56] xAKLx commented on #983
If the panel-title class use case is when the developer wants to use h1-h6 headings, the API should provide a way to choose only those elements. Some ways to do it:
`
<Panel>
    <Panel.Title.h1> title </Panel.Title.h1>
</Panel>`

`
<Panel>
    <Panel.Title size="h1"> title </Panel.Title>
</Panel>`

`
<Panel h1Title="title">
</Panel>`

But just ignoring the header attribute would be wrong, as the

[2017-10-28 08:51] wzup commented on #2081
@jquense
Nope, `className` doesn't work.

@colleenpurcell12
What does that mean you have written? Is it possible to change CSS of a tooltip or not?
Your snippet doesn't work, BTW. Even if custom `.id` is set.

[2017-10-30 10:38] hussainsaify17 commented on #2519
Agree on removing "collapseOnSelect" prop from the Navbar. Its working absolutely fine.
And thanks yangaobo for resolving this issue.

[2017-10-30 12:55] Jaikant opened #2865 "Modal touch events"
The touch events does not seem to work on the Modal. Does anyone know why?

[2017-10-30 13:05] gmarathi-nisum-com opened #2866 "displaying content based on trigger event"
Hi,

Can we Display the content in overlay based on event triggered.

For example,   if trigger=[{'hover','focus'}],  overlay="focussed content"
if trigger={'click'} overlay="clicked content"

thanks.

[2017-10-30 16:31] taion commented on #2865
Please be more specific.

[2017-10-30 16:32] taion commented on #2866
No; `<OverlayTrigger>` is meant to be relatively simple. If need be you use two triggers, or else write the logic yourself.

[2017-10-30 16:32] #2866 closed

[2017-10-30 17:04] colleenpurcell12 commented on #2081
I just checked how my app looks in the browser and that the JSX and the CSS I've provided in July still matches my code. I can verify that both the inner color and the arrow color are being set with this code.

[2017-10-30 21:15] PSPanesar opened #2867 "React-Bootstrap Carousel Animaton works on Chrome but not on Safari OS X with blank during slide"
I am developing a web app using Next.js and React as the front end. I have install React-Bootstrap to use in my app and I've added a bootstrap carousel to my home page. It displays four slides with images from my static folder plus captions. I've followed the instructions on the react-bootstrap carousel page:

https://react-bootstrap.github.io/components.html#carousels

When I load the home page i

[2017-10-30 22:45] taion commented on #2867
This works fine for me in Safari on our components page. You should verify that there are no problems with your CSS.

[2017-10-30 22:45] #2867 closed

[2017-10-30 23:49] PSPanesar commented on #2867
Hi, I have checked the CSS and I'm using the base CSS for bootstrap 3.3.7 with no theme in minified form. I've still got the slider issue on safari OS X 11. Is there any advice you could give to look at with this? The problem does not exist on chrome.
Bw
P

[2017-10-31 01:37] Jaikant commented on #2865
I am using react-rating. I use a modal to get the user rating. It works fine on a laptop with a mouse. But when I try it on a mobile device it doesn't work. The issue is on the modal as it works alright on a mobile device when not on the modal.

[2017-10-31 03:27] taion commented on #2865
Please post a minimal reproducible example. We can't really help if it's some complex interaction with a separate library.

[2017-10-31 16:30] jquense commented on #2829
If we try the single `variant` prop, do we just not care about invalid combinations? e.g. `variant="outline-primary secondary lg sm"`

[2017-10-31 17:27] taion commented on #2829
We already said we weren't going to validate?

[2017-10-31 17:31] jquense commented on #2829
yeah, just wondering if it's ergonomic...

[2017-10-31 17:42] taion commented on #2829
Maybe we can make validation opt-in somehow.

[2017-11-01 02:40] geminiyellow commented on #2734
`react-bootstrap: 0.31.5` not working.
i just copy the sample **Controlled** code from [here](https://react-bootstrap.github.io/components.html#btn-groups-checkbox-radio),
and change type to `radio` add `name`.

[2017-11-01 05:26] GoChartingAdmin opened #2868 "Modal to appear when div on Fullscreen"
Hi,

I have a div which is currently on full screen mode.  The modal can appear on top of the div on full screen only if the modal is appended as a child to the div.  By default, modals get appended to the document body.  Below is a solution implemented in angular

https://github.com/angular-ui/bootstrap/issues/3686

Was wondering how do I replicate the same in react-bootstrap.

The use case also

[2017-11-01 05:28] GoChartingAdmin commented on #2868
Same is the case when Popovers as well

[2017-11-01 06:10] GoChartingAdmin commented on #2868
Got it hidden in the private props.  Many thanks for this wonderful package

[2017-11-01 06:10] #2868 closed

[2017-11-01 19:46] jniederm opened #2869 "'rootClose' attribute of 'OverlayTrigger' doesn't work on iOS Safari"
Code like this:

[code]

([official demo][1]) leaves popup opened when clicking aside of OverlayTrigger children on iOS Safari.

Applies to versions: 0.31.2, 0.31.2

[1]: https://react-bootstrap.github.io/components.html#popovers-trigger-behaviors

[2017-11-02 01:19] mongakshay opened #2870 "Inconsistent handling of disabled in onClick"
This is exactly similar to => https://github.com/Semantic-Org/Semantic-UI-React/issues/1964

Which was fixed in https://github.com/Semantic-Org/Semantic-UI-React/pull/2006/commits/0f111c3c9141eae5b4b29ce3d3b4ea5238b739f0

Can this be fixed in react-bootstrap as well ?

[2017-11-02 01:41] taion commented on #2870
We're not quite consistent here across `<Button>`, `<NavItem>`, and `<MenuItem>`. We should probably pick one convention and stick to it.

[2017-11-02 02:22] michelson opened #2871 "question: how can toggle popover programmatically"
Hello guys, awesome project!

just a question,  how can toggle popover programmatically?

cheers

[2017-11-02 02:36] taion commented on #2871
Use `<Overlay>` and set the `show` prop.

[2017-11-02 02:36] #2871 closed

[2017-11-02 03:18] michelson commented on #2871
Hi @taion , there is an option to handle display on the OverlayTrigger component ?

[2017-11-02 23:27] antonmills opened #2872 "Documentation for onClick and onSubmit"
Hi there,
I'm essentially trying to keep the React-Bootstrap validation in place but prevent the page refreshing as I'm building a SPA.
![image](https://user-images.githubusercontent.com/522013/32311660-ebb9623e-bfed-11e7-99a3-28fa1ec5954c.png)

I found the documentation a bit lacking and ended up going down a path which led to this:
Gist here: https://gist.github.com/antonmills/0d04b1d90cd6889ed7

[2017-11-02 23:38] antonmills opened #2873 "Correct use of Form/Button/ validation and no refresh"
import React, { Component } from 'react';
import { BrowserRouter as Router, Route, Link } from 'react-router-dom';
import ReactDOM from 'react-dom';

import { Button, Jumbotron, Form, Col, FormGroup, FormControl, ControlLabel, InputGroup, Overlay, Tooltip, Popover } from 'react-bootstrap';

class ViewHome extends Component {
	constructor(props) {
		super(props);
		this.state = {};

		// bind this

[2017-11-03 01:19] #2873 closed

[2017-11-03 04:58] #2872 closed

[2017-11-03 17:02] reaganscofield opened #2874 "Hi Can anyone help"
I need card style in my projects i have look in the documentation i can't find anything i use the card from normal bootstrap but it won't show the i expected

[2017-11-03 17:30] taion commented on #2872
I don't think this makes sense here – it's not a React-Bootstrap thing. This is how `<input>`s and `<form>`s and `<button>`s work in normal React too.

[2017-11-03 17:48] taion commented on #2874
Card is a TWBSv4 thing – currently we're only targeting v3.

[2017-11-03 17:48] #2874 closed

[2017-11-03 17:54] reaganscofield commented on #2874
className please

[2017-11-04 18:36] sw-yx commented on #2861
would be happy to help.

[2017-11-05 07:08] nloui opened #2875 "fixedTop breaks scroll restoration?"
Hi there, I've found that by adding fixedTop to my Navbar breaks scroll restoration on page changes.  I'm using React Router.  Anyone else notice this?

[2017-11-05 11:33] Ogglas opened #2876 "React Bootstrap Checkbox in Nav -> NavItem does not rerender on click"
I have a peculiar problem with using a `Nav ` and `NavItem` with a `Checkbox ` or `input type=checkbox`  from React Bootstrap. The thing is that if I click directly on the checkbox and not the NavItem button the checkbox will not re-render correctly but my state has updated.

Example: Given the code below I render the component and click directly on the checkbox. In this case showMap will be set t

[2017-11-05 15:34] ArslanShakoor commented on #2497
you can change the color of MenuItem or NavItem here

     .navbar-default .navbar-nav > li > a {
          color: white;
        }

Basic trick is going to dev-tool and check the css properties and you can do anything.

[2017-11-06 12:09] AndrewStobie commented on #1626
I am having a similar problem removing container={this} makes it so my overlays appear in the same place and don't resize.

[2017-11-06 17:52] taion commented on #2876
This looks like a bug with React. This happens with just:

[code]

[2017-11-06 17:52] #2876 closed

[2017-11-06 17:53] taion commented on #2876
It seems like it has to do with the `preventDefault`. I'd file an issue upstream.

[2017-11-06 18:14] taion commented on #2875
This just renders markup. If you have issues with scroll restoration, file an issue against the package implementing scroll restoration.

[2017-11-06 18:14] #2875 closed

[2017-11-08 20:24] taion commented on #2869
This is a dupe of https://github.com/react-bootstrap/react-overlays/issues/158

[2017-11-08 20:24] #2869 closed

[2017-11-08 20:35] taion commented on #2841
Moving this to https://github.com/react-bootstrap/react-overlays/issues/224.

[2017-11-08 20:35] #2841 closed

[2017-11-08 20:37] taion commented on #2365
Fixed in `next` with https://github.com/react-bootstrap/react-bootstrap/pull/2790

[2017-11-08 20:37] #2365 closed

[2017-11-08 20:38] taion commented on #1680
The `block` prop shouldn't be used on `<DropdownButton>`. Closing this issue given pending deprecation of that prop in https://github.com/react-bootstrap/react-bootstrap/pull/2850.

[2017-11-08 20:38] #1680 closed

[2017-11-08 20:40] taion commented on #1570
Per the discussion above, I don't think this is a bug here – the trigger is behaving as expected, it's just that the node in question isn't focusable.

[2017-11-08 20:40] #1570 closed

[2017-11-08 20:41] taion commented on #2774
It sounds like the resolution here is that users must not include the Bootstrap JS when using toggle groups here.

This would be a great addition to the docs, if anybody cares to PR.

[2017-11-09 19:09] iancullinane commented on #2774
I am still having this problem with the BootstrapJS removed. Is there another fix?

[2017-11-09 23:37] parissge opened #2879 "Multple errors summarized to Interface x incorrectly extends interface y."
I have 8 errors in my project all related with the below message:
Error	TS2430	(TS) Interface 'PopoverProps' incorrectly extends interface 'Pick<HTMLProps<Popover>, "title" | "accept" | "acceptCharset" | "action" | "allowFullScreen" | "a...'.
  Types of property 'title' are incompatible.
    Type 'ReactNode' is not assignable to type 'string'.
      Type 'number' is not assignable to type 'string'

[2017-11-09 23:37] taion commented on #2879
The TS defs don't live in this repo. Follow up in the appropriate place.

[2017-11-09 23:37] #2879 closed

[2017-11-09 23:51] parissge commented on #2879
Sorry, what is the appropriate place?
I am new to this.

[2017-11-10 03:48] taion commented on #2879
Try https://github.com/react-bootstrap/react-bootstrap-typescript

[2017-11-10 15:04] Ogglas commented on #2876
Hello @taion

This is not an issue with React. If I remove `event.preventDefault();` it works in React but not in React Bootstrap. Please re-open this.

Not working example with react bootstrap:

[code]

Working example with only react:

[code]

[2017-11-10 17:04] taion commented on #2876
You'd never want to use code like that in practice, though. You need to call `preventDefault` in `<a onClick>` to prevent the link from scrolling your page to the top.

[2017-11-13 06:59] Ogglas commented on #2876
@taion That's true. Created an issue with React. https://github.com/facebook/react/issues/11539

[2017-11-14 08:15] cowCrazy opened #2880 "Shouldn't it be here <Form> instead of <form>"
https://github.com/react-bootstrap/react-bootstrap/blob/d0fb4d316f0c8f79b8c89368d508fc5a458ce910/docs/examples/FormInputAddons.js#L2

[2017-11-14 16:03] antmdvs opened #2881 "TypeScript type declaration for AccordionProps is missing `activeKey` and other properties"
AccordionProps is missing `activeKey`, `defaultActiveKey` and `onSelected` per [the docs](https://react-bootstrap.github.io/components.html#panels-props-group). Related to #2639

[2017-11-14 16:45] taion commented on #2881
Typings don't live in this repo – please file this against https://github.com/react-bootstrap/react-bootstrap-typescript.

[2017-11-14 16:45] #2881 closed

[2017-11-14 16:46] taion commented on #2880
It's fine actually – `<Form>` doesn't do anything unless you specify either `horizontal` or `inline`.

[2017-11-14 16:46] #2880 closed

[2017-11-14 17:04] LarryZhao0616 opened #2882 "Tabs' content overlap in Modal"
Hi,

I'm a new front-end developer. Here I want to make a login page. But I found my tabs' content shows in a wrong place, overlap with the tabs. like this:
<img width="509" alt="screen shot 2017-11-14 at 10 59 31" src="https://user-images.githubusercontent.com/6835509/32793294-1ade1e74-c92b-11e7-8ef4-bfd8f1f17460.png">
this is my code:

[code]

I can use some 'br' in content to solve this :
[code

[2017-11-14 18:33] taion commented on #2882
This doesn't happen when we drop this into our component examples page. As such I think it's an issue with your CSS.

[2017-11-14 18:33] #2882 closed

[2017-11-16 15:04] zaraustra commented on #2736
Hello, I read the topic as I'm having the error as well. I double checked the packages of each module and react-bootstrap@0.31.5 still uses react-overlays: "^0.7.4".
Is there a specific reason the package is not updated to the latest 0.8.3 ?

[2017-11-16 21:40] ycbayrak opened #2883 "Uncaught TypeError: Cannot read property 'bool' of undefined."
I'm getting this error on runtime.

    at Object.defineProperty.value (home.bundle.js:26353)
    at __webpack_require__ (home.bundle.js:20)
    at Object.defineProperty.value (home.bundle.js:25996)
    at __webpack_require__ (home.bundle.js:20)
    at Object.<anonymous> (home.bundle.js:25687)
    at Object.exports.__esModule (home.bundle.js:25957)
    at __webpack_require__ (home.bundle.js:20)

[2017-11-16 21:42] taion commented on #2883
You don't have a repro, and you don't have anything that even indicates that this is an issue here, nor any way to trace further.

Closing as non-actionable.

[2017-11-16 21:42] #2883 closed

[2017-11-17 20:03] acroyear opened #2884 "update license for src/utils/TransitionEvents.js?"
Currently you have the BSD(+Patents) License embedded in that file. React as of 15.6.2 is now MIT. Can you update this file to reflect and reference the appropriate License?

[2017-11-17 21:09] taion commented on #2884
We should probably stop using it entirely...

[2017-11-17 21:57] jquense commented on #2884
yes I only copied it for strict v1 compat when we moved the repo here. we should stop using it  or replace it with dom-helpers

[2017-11-18 14:47] jansohn opened #2885 "Release a v0.32 alpha"
I want to use one of the bug fixes available in the `next` branch. How can I switch to the `next` branch easily in my `package.json`?

I've tried `"react-bootstrap": "react-bootstrap/react-bootstrap#next"` followed by an `npm install` but it does not download any JS sources.

[2017-11-19 18:33] taion commented on #2885
We'd need to cut a release. It'd be the prereleases for the next minor release.

[2017-11-19 18:44] jansohn commented on #2885
I'd definitely appreciate it!

[2017-11-20 07:11] knnemade99 opened #2886 "Modal in case of backdrop={'static} or false"
I used the property backdrop='static' or false for a modal, but with that the fields inside a modal can be focused from the outside click on modal
area clicked outside modal is shown by black circle.

![untitled](https://user-images.githubusercontent.com/20987636/33006281-cb7906e0-cdef-11e7-90f1-53fa05b91743.png)

[2017-11-20 08:23] kenzouno1 opened #2887 "[BUG] Child element Panel"
I wan't custom panel with #1769 but throw to erros
###My Render Method
[code]
````Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.````

[2017-11-20 19:02] taion commented on #2887
This was merged to `next`, not `master`. We don't have a release cut from that branch yet. You can track https://github.com/react-bootstrap/react-bootstrap/issues/2885.

[2017-11-20 19:02] #2887 closed

[2017-11-20 19:03] taion commented on #2886
That doesn't have anything to do with the backdrop property as far as I'm aware. The modal does capture focus, though, for a11y.

[2017-11-20 19:03] #2886 closed

[2017-11-20 22:21] bill-dubay commented on #2239
<ReactBootstrap.FormControl componentClass="textarea" rows={4} />

[2017-11-21 10:31] geminiyellow opened #2888 "cannot open `select` on `Overlay` on `Modal` on iPhone/iPad"
here is my code

[code]

and what is happend

![select-on-popover](https://user-images.githubusercontent.com/929878/33067731-6e4e3892-cef2-11e7-8865-b5800cc61866.gif)

[2017-11-21 10:45] geminiyellow commented on #2888
and i change my code, let `Modal` side by side `Overlay`, but same problem.

[code]

[2017-11-21 23:14] jeffcstock commented on #2513
It looks like this issue was closed without any resolution. Alternatively, there is no visible animation to the entering of the overlay, just the exit, as shown here: https://react-bootstrap.github.io/components.html#custom-overlays

Is there any way to access the duration of the animation without setting `animation={false}`?

I need to access the `onEntered` callback, but setting animation to `fa

[2017-11-21 23:39] kajmagnus opened #2889 "Supporting React-Router v4?"
Hi, looks to me as if React-Router v4 is not yet supported, right? Are there any plans to upgrading to v4 now the nearest month(s) or so?

Details:  `"react-router": "^2.6.1",` is in `packaes.json`, which I would think in practice means that React-Bootstrap works with v2 and v3 of React-Router. At least I've been using React-Router v3 with React-Bootstrap and it's been working fine. In v4, though,

[2017-11-22 00:35] taion commented on #2889
That's a development-only dependency used for generating our docs page, and it will go away with https://github.com/react-bootstrap/react-bootstrap/pull/2818. React-Bootstrap works with your choice of routing framework, and doesn't have any compat issues.

[2017-11-22 00:35] #2889 closed

[2017-11-22 00:36] taion commented on #2513
There is a small animation there. It's just quick.

[2017-11-22 01:10] kajmagnus commented on #2889
Thanks! I just noticed that yes, it works for me with v4 too, and I was going to go here and close this issue.

[2017-11-22 01:37] geminiyellow commented on #2888
@taion can you show me how to do this?

[2017-11-22 03:09] orenssm commented on #2884
I wanted to upvote this request. When Wordpress posted the blog article about blacklisting React due to BSD+Patents, this causes some stirs. We are in the process of updating to latest 15.X of React (or possibly 16) with the goal of not having any BSD+Patent references. One reference in the JS bundle is coming from TransitionEvents. It is not even clear if this license applies anymore since where

[2017-11-22 04:56] taion commented on #2884
Feel free to PR this.

[2017-11-22 12:00] robinprashanth opened #2890 "Unknown prop `active` on <div> tag. Remove this prop from the element."
I am using following code
`<NavDropdown eventKey={2} title="User 1" id="basic-nav-dropdown" className="navbar-name">
              <RadioGroup
                name="userroles"
                selectedValue={this.state.currentUser}
                onChange={this.handleRoleChange}

                <div className="userList"><Radio className="radioB" value="HeadOfficials" /> Headquarters Officials </d

[2017-11-22 18:54] taion commented on #2890
You can't put `<div>`s directly under `<Nav>`. Use `<NavItem>`.

[2017-11-22 18:54] #2890 closed

[2017-11-23 10:41] originaltimster commented on #2787
Hi,
I am having similar issue, how did you resolve. Is it in your public repos somewhere?

[2017-11-23 14:07] DennisOosterling opened #2891 "rootCloseEvent doesn't work on custom dropdown"
Exactly what the title says,

I found this issue: https://github.com/react-bootstrap/react-bootstrap/issues/2762
Pointing out that the logic is implemented in DropdownMenu.

It is at least confusing that the documentation shows rootCloseEvent as a property in the Dropdown Component. See:
![image](https://user-images.githubusercontent.com/31688709/33176595-de472442-d05f-11e7-961e-ec83e06f78ce.png)

[2017-11-23 15:45] jquense commented on #2891
Care to PR a tweak to the docs?

[2017-11-24 09:02] YouNoCanNoBB commented on #2891
i have the same confusion

[2017-11-25 20:10] DNAngeluS commented on #2570
@babycannotsay I don't get how you end up solving it, I think I'm having the same issue. Did you add the class .fade.in to you modal component???

[2017-11-27 12:42] otakueadwine opened #2892 "NavDropdown does not get active class when NavDropdown is clicked"
For some reason my NavDropdown button does not get the active class when selected. The activeKey remains the previously selected NavItem. I'm fairly new to react and typescript, perhaps I'm doing something wrong?

I have the following navbar setup:
[code]

With the following select handler:
[code]

![schermafbeelding 2017-11-27 om 13 41 19](https://user-images.githubusercontent.com/8110976/3326715

[2017-11-27 16:09] Hespen opened #2893 "NavDropdown doesn't expand when clicked, but does expand on `TAB + Arrow key`"
I've just started implementing React-Bootstrap in my site, but the NavDropdown component will not expand when clicking on it.

What I did:
`npm install -s react-bootstrap`

Added `css` to html: `<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">`

Created my `Navigation` component:

[code]

[2017-11-27 19:32] taion commented on #2893
That's odd. It works just fine in https://react-bootstrap.github.io/components.html#navbars-basic.

Can you produce a standalone repro in a code playground rather than a full GH repo?

[2017-11-27 19:33] taion commented on #2892
This was partially addressed in https://github.com/react-bootstrap/react-bootstrap/pull/2423, though that PR didn't sort out into a mergeable state. It would be great if someone could pick up on it, though.

[2017-11-27 19:41] otakueadwine commented on #2892
@taion That is really too bad :( Is there a way to get the eventKey property of that dropdown when using an onclick event for example? It would be nice if I could just reset the activeKey state and possibly set it to the eventKey

[2017-11-27 19:42] taion commented on #2892
It's a bug in `<NavDropdown>`. The code in the PR above mostly resolves it. It can't really be addressed by doing stuff from outside.

[2017-11-27 22:42] hdpinto commented on #360
FWIW:

I've been able to set the value of an input this way:

[code]

[2017-11-27 23:02] sfeldkamp opened #2894 "Modal element not removed from DOM after transition"
The Modal element used to be removed from the DOM after the Fade transition was completed.  After upgrading from 0.30.9 to 0.31.5 the element remains in place.

This causes the screen to be unclickable because the inline style display:block overrides the display:none from the .modal class.

Also upgraded to react@16.1.1 and react-dom@16.1.1

[2017-11-27 23:10] robertdown opened #2895 "Unrecognized activeKey prop on DOM elements"
Receiving this error in the console

[code]

if this is really a bug in react-bootstrap I'll gladly work on it; just wanted to bring it up here first to confirm this is an issue and not just a side effect.

[2017-11-27 23:16] taion commented on #2895
dupe of a bunch of other issues; don't nest DOM nodes directly under `<Nav>`. instead use nav items

[2017-11-27 23:16] #2895 closed

[2017-11-29 07:58] VicoErv opened #2897 "Cannot add dragable=false attribute to Thumbnail element"
[code]

how to add draggable attribute to img in `Thumbnail` element?

[2017-11-29 18:42] Hespen commented on #2893
I wouldn't know how to create an express app on a sandbox, with the exact webpack config I'm using. Just copying the nav elements, as is, to a sandbox works fine, so that doesn't really help.

I only know that the dropdown closes itself instantly, I don't know how I could reproduce it on something 'online'.

[2017-11-30 16:35] sfeldkamp commented on #2894
It turns out a (vendor) script was moving any .dialog elements and appending them to the body.  Thus it was not removed from the DOM and continued to block the screen.

inspinia.js if anyone else is experiencing this.  Comment near the offending code says that it was to "Fix Bootstrap backdrop issue with animation.css".

[2017-11-30 16:36] #2894 closed

[2017-12-01 13:08] raghuth commented on #988
good

[2017-12-03 02:43] aaronbeall commented on #2829
This will not play nicely with type systems, either. At least TypeScript, which currently has excellent support for React-Bootstrap, has no real way to describe a property that contains a mashup of various substrings. Separating out each value as an enum is the solution. I can say for myself (using TypeScript) this mashup "variant" property would be very annoying to work with.

[2017-12-03 03:51] taion commented on #2829
How do you make that work with custom styles or sizes? Part of the thought here is that our current validation is too strict.

[2017-12-05 03:38] aaronbeall commented on #2829
@taion I probably don't really understand the use-case where you want a custom style that you pass *as a bootstrap style* -- ie wouldn't that just be a `className`?

In any case, I would expect the type-defs for those properties to describe the styles and sizes that bootstrap supports, and if you want to customize that it's on you to augment the definitions. But, again, maybe I don't understand so

[2017-12-05 04:45] hanquf1 commented on #1517
`maxLength` good godd thanks

[2017-12-05 06:01] reduxdj commented on #2763
Wiping  out the  modules does not solve this problem

[2017-12-05 09:11] otakueadwine commented on #2892
Allright ended up creating a custom onClick listener for the nav dropdown in which I send the correct active key. Probably not the prettiest, but it works ;)

![schermafbeelding 2017-12-05 om 10 05 36](https://user-images.githubusercontent.com/8110976/33598700-01cc31b2-d9a4-11e7-93f3-3d53f27435b3.png)

[code]

[code]

[2017-12-05 09:55] #2892 closed

[2017-12-06 04:14] reduxdj commented on #2774
Same here

[2017-12-06 11:04] mike-kelly opened #2898 "Error when viewing code in components documentation"
When clicking 'show code' on examples at the documentation page, [https://react-bootstrap.github.io/components#](https://react-bootstrap.github.io/components#), an error results:
`Uncaught Error: Minified React error #34` and the code is not displayed.

[2017-12-06 18:26] taion commented on #2898
Interesting. This will go away once we merge #2818 though.

[2017-12-06 20:59] jquense commented on #2898
lets merge #2818 i jsut need to solve the dang local package thing GRRR

[2017-12-06 23:37] taion commented on #2829
@aaronbeall

The goal right now is to let people do stuff like `<Button bsStyle="custom">` and get the class `.btn-custom`, or do something like `<Button bsClass="my-btn" bsSize="large">` and get `.my-btn-large`.

I agree that, when working with stock TWBS, it'd be nice to have type checks on the values, but it is a goal here to support custom extensions of TWBS in a nice way, and it's nice to hav

[2017-12-07 01:11] aaronbeall commented on #2829
Sorry I didn't mean "pretend" in a derogatory way, I just mean with a property like `bsStyle` I would think that to mean a "bootstrap enumerated style" not my own custom style. But clearly this isn't how everyone thinks! Since its not an actual bootstrap style, all you are getting by passing it through the `bsStyle` is a prefix of `btn-`, right?

[2017-12-07 01:18] jquense commented on #2829
I think if we allow an array of strings as well as the one string that should be typeable? Honestly tho the reason I'm considering a single prop is that the method we have no doesn't actually work as neatly as one would imagine. There are many basic modifiers that don't fit the mold well, e.g. justified and block vs size and style.

I understand the perspective that just mimicking the classnames a

[2017-12-07 13:38] zxzl commented on #2812
@microdou You saved me !!

[2017-12-08 10:19] Domiii commented on #2895
`NavItem` must be anchor, however Bootstrap support all kinds of HTML elements by default, doesn't it? There must somehow be a way to add anything but `NavItem` and `NavDropdown` into the `Navbar`, no?

[2017-12-08 10:20] Domiii commented on #2895
I suppose the easiest way is to wrap custom elements in something that just gobbles up `activeKey` and `activeHref`, [just like `NavItem` does](https://github.com/react-bootstrap/react-bootstrap/blob/master/src/NavItem.js#L48)...

[2017-12-08 20:28] aljesusg opened #2900 "Glyphicon have not social icon (ex github) or spin option"
Is it possible to have this features ?

[2017-12-08 20:39] aaronbeall commented on #2829
@jquense Yeah an array of strings would go a long way to making it more typeable. It won't provide the best experience to have something like `(BsStyle | BsSize | BsDisplay | BsDirection)[]` (or whatever you all `block | vertical | horizontal` etc)... personally I much prefer explicit component props over a space delimited string directive.

BTW thank-you guys for all the awesome work on this libr

[2017-12-08 23:34] taion commented on #2900
Set `bsClass` to whatever you need. Otherwise it's out of scope here

[2017-12-08 23:34] #2900 closed

[2017-12-11 01:59] gnapse commented on #2592
A different issue, but why the title is required for a DropdownButton? I think is legit to want to render a dropdown button where the button shows only the caret. And this library's DropdownButton already works ok without a title, except for the warning about the prop being required.

[2017-12-11 06:42] harshayburadkar commented on #627
Were you able to get a good alternative? I am also looking for a way to do submenus, have you found anything that works similarly.

[2017-12-11 16:13] acthp commented on #627
@harshayburadkar No.

[2017-12-11 16:19] harshayburadkar commented on #627
Oh, I actually got one after posting here. So if anyone is looking, this one works.
react-menu-list
https://github.com/StreakYC/react-menu-list

You need to add your styling and documentation is decent.

[2017-12-11 21:37] kevinzwhuang commented on #2884
I'll take a look at this later today. (Saw this note on the top of `CarouselItem`, the only instance I found where `TransitionEvents` is used):
https://github.com/react-bootstrap/react-bootstrap/blob/d8cf4f46d59cf417173dd9e158a295d7133b2f08/src/CarouselItem.js#L7-L8

I'll test if simply using timeout is sufficient to replace it and PR tonight.

[2017-12-11 21:57] acroyear commented on #2884
I saw there was some discussion over at facebook/react requesting them opening up ReactTransitionEvents so react-bootstrap wouldn't need this internal copy...but they didn't accept it.

[2017-12-11 22:22] jquense commented on #2884
folks if anyone wants to jump in on this. we can swap out ReactTransitionEvent stuff for the stuff in `dom-helpers`

[2017-12-12 19:09] kevinzwhuang commented on #2884
@jquense @taion Just opened #2902 to swap out TransitionEvents w/ `dom-helpers`'s `transition` helper

[2017-12-12 19:28] #2884 closed

[2017-12-12 21:53] kevinzwhuang commented on #2891
Just opened #2903 to add this to the docs.

[2017-12-14 07:18] carpben opened #2904 "Handeling a click on the radio buttons, where there is no change of the selected button"
I'm using a toggleButtonGroup of type radio. This component uses the function onChange to which it passes the value of the new selected button upon change. While I'd like it to act as a radio button, and allow only one selected button at a time, I also want an action to fire when there is a click on the button. I tried using the onClick property. The problem it passes a proxy to the given function

[2017-12-14 12:56] isaachinman commented on #451
@jquense Still accepting PRs for this?

[2017-12-14 20:13] taion commented on #2904
You'll need to implement it yourself. If it's not something you get out-of-the-box with standard radio buttons in React (and I don't think it is), it's not something we're going to provide here.

[2017-12-14 20:13] #2904 closed

[2017-12-15 14:29] nth-chile commented on #2002
My issue is that `<Row className='class'>` does not add the class at all, _until_ the page gets live-updated by making a change to the document (within the returned html tags) and saving it.

[2017-12-15 17:19] mreishus commented on #2774
There's also a workaround of setting an `onClick` handler on each individual `ToggleButton`.  This worked for me (I'm working on an app where removing the bootstrap JS is not an option).  This would be good to document as well.

[2017-12-16 20:20] ekropotin commented on #2248
Hello. Have the same issue with 0.31.5 and React 16. Any known workaround for this?

[2017-12-17 06:07] taion opened #2906 "Don't always inject active-related props to Nav children"
What if we gate this on `bsRole` like for `<Dropdown>`?

[2017-12-17 06:08] taion commented on #2898
Seems to work fine now

[2017-12-17 06:08] #2898 closed

[2017-12-17 06:08] taion commented on #2893
Unfortunately there's nothing we can do here without a repro

[2017-12-17 06:08] #2893 closed

[2017-12-18 00:01] #2891 closed

[2017-12-18 09:32] DennisOosterling opened #2907 "FormControl (select), placeholder and selected value don't show"
When using a FormControl of the select type the placeholder and selected value don't show in the selectbox.

example:
![image](https://user-images.githubusercontent.com/31688709/34098942-4730569a-e3de-11e7-8a50-1dd32a66dae5.png)

When selecting a value the onChange gets triggered with the correct value.

[code]

even the example code has the same effect:

[code]

[2017-12-18 13:35] jquense commented on #2907
This would a limitation of the native select component. RB (or React for that matter) doesn't implement placeholder, so what you see is just how the browser input works unfortunately

[2017-12-18 15:13] #2907 closed

[2017-12-18 22:29] glosee commented on #1699
It would be really nice if the component could handle this itself...

[2017-12-18 22:33] taion commented on #1699
You can calculate the value of `trigger` and pass down whatever is appropriate for the current render context

[2017-12-19 09:40] DennisOosterling commented on #2907
Ok so apparently it's my mistake, but still nice to know for other people I think.
So when you override the padding of a select component with something like:

[code]

The padding somehow pushes away the text, this is only in select component and not in the other form components.

As an alternative you can use:

[code]

Thanks @jquense for your help

[2017-12-19 22:48] coreybrown89 commented on #2825
I'd love to have accessibility support for `<Collapse>` as well!

[2017-12-19 22:53] taion commented on #2825
We're definitely open to PRs here.

[2017-12-20 04:13] jdonzet commented on #1700
Use like this:
`required="true"`

[2017-12-20 12:03] alexandresebrao commented on #983
Im having problems when trying to use a <a> inside the panelheader when it's collapsible, any thoughts on what can I do to fix this, ps: the link is required to be there so removing the link from there is not gonna work for me.

[2017-12-20 20:57] jcestibariz opened #2909 "The fallback property in handleMouseOverOut should be different depending on the event"
The current fallback for `relatedTarget` in `handleMouseOverOut` is always `toElement`, but this is not correct for the `mouseover` event,which should use `fromElement` instead (see [the documentation for relatedTarget](https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/relatedTarget)).

This bug causes the overlay to not be triggered when tested under chromedriver since `relatedTarget` c

[2017-12-21 04:13] ethankong113 opened #2910 "Tooltip Anchoring Issue"
The tooltip seems to be anchoring from top left corner instead of the tail of the tooltip. This causes an issue when the tooltip content changes from a very short text to a very large text. The size of the tooltip gets changed but the positioning of it stays the same. Is there anyway to fix this issue?

[2017-12-21 07:02] taion commented on #2910
Can you elaborate? This seems to work fine on our components pag

[2017-12-21 07:09] ethankong113 commented on #2910
Let's say you have a button that shows the tooltip when you hover over it. And when you click the button, the tooltip message changes. This is not a problem when the message length before and after are about the same. But if you do something like "ok" first and then changes to "this is a really really really really really really really really really really really really really really really really

[2017-12-21 16:57] taion commented on #2910
It's not "anchoring", that's just how absolute positioning for this sort of thing works. Turn on position recalculation if you're changing contents

[2017-12-21 16:57] #2910 closed

[2017-12-21 21:04] ethankong113 commented on #2910
i have seen this issue reported before: https://github.com/react-bootstrap/react-bootstrap/issues/1229

But position recalculation is not documented.. Where can I find the related info?

[2017-12-22 01:43] ethankong113 commented on #2910
Actually I found it after digging it into the source code, there's this `shouldUpdatePosition` for react-overlay and I'm able to fix it. Thanks for the hint.

[2017-12-24 06:21] natashache commented on #2883
@ycbayrak Did you find a solution for this? I'm facing the same issue after upgrading to react v16.

[2017-12-26 07:08] krazi3 opened #2911 "Consider moving away from `ReactDOM.unstable_renderSubtreeIntoContainer`?"
This is more of a suggestion than an issue.

I was trying to use the `OverlayTrigger` component and found that my `mouseover` and `mouseout` events did not bubble properly. By looking at the code i discovered that the overlays were added to the dom through the `unstable render` function. Although i found this approach quite interesting but the event bubbling was an issue for me ... i have solved t

[2017-12-26 10:02] owzzyozz opened #2912 "npm run build error"
Please assist me in solving this issue

$ npm run build

Creating an optimized production build...
Failed to compile.

./src/containers/Master.js
1:2268-2276 "export 'default' (imported as 'firebase') was not found in './../config/database'

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! fireadmin@0.1.0 build: `react-scripts build`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the fireadm

[2017-12-26 14:39] taion commented on #2912
This appears to have nothing to do with React Bootstrap.

[2017-12-26 14:39] #2912 closed

[2017-12-26 18:03] jquense commented on #2911
If you use react v16 it will use the newer `createPortal` api, which will have events buble through as if they were actually sub elements, prior versions tho really have top use renderSubtreeIntoContainer though

[2017-12-26 18:03] #2911 closed

[2017-12-26 18:23] Justplayit opened #2913 "Compatibility with Bootstrap v4 beta2"
Hey guys, I was wondering if this package is compatible with Bootstrap v4 beta 2, because I've tried using the Modal component, only to find out that it does not show on the screen, because its using CSS classes ```fade in``` instead of ```fade show```(which is now in Bootstrap v4). Thanks.

[2017-12-26 21:59] taion commented on #2913
see https://github.com/react-bootstrap/react-bootstrap/pull/2752

[2017-12-26 21:59] #2913 closed

[2017-12-27 05:27] ycpatel813 opened #2914 "Unable to resolve some modules react-bootstrap/lib/ToolTip"

[2017-12-27 05:45] max-litv commented on #2460
Documentations are not as clear as it could be. Just realized that you can use `className="my-funky-button"` to add an extra class to existing list.
ex:

`<Button bsStyle="danger" onClick={} className={"marginTop20"}><Glyphicon glyph="minus"/></Button>`

[2017-12-27 05:59] taion commented on #2914
That’s capitalized wrong.

[2017-12-27 05:59] #2914 closed

[2017-12-27 09:59] karuppasamy commented on #2897
@VicoErv `react-bootstrap` is not supporting draggable events. You could try this [react-draggable](https://github.com/mzabriskie/react-draggable).

#2260 #2685

[2017-12-27 12:52] k-stasevich commented on #473
+ 1 for this thing [2]

[2017-12-27 21:01] DeanDro opened #2916 "Accordion collapses immediately after it is selected"
Hi everyone! I am new to react and I have a problem with Accordion. I am building a recipe app using react js and when I click on an element in the panel the sub-content appears for half a second before it closes up again. I must have missed some prop but I can't find out what it is from the documentation or other issues. Below is my code. Thank you!

[code]

[2017-12-27 22:09] taion commented on #2916
This works fine in the component playground:

[code]

Check that there isn't some conflicting JS, or else an issue with your CSS.

[2017-12-27 22:09] #2916 closed

[2017-12-28 02:57] simonguo opened #2917 "git conflict not handled"
https://github.com/react-bootstrap/react-bootstrap/blob/next/package.json#L132

[2017-12-28 15:58] VicoErv commented on #2897
I mean, if I drag an image, there will be shadow of image following my mouse, I want to disable that using draggable=false argument. maybe there is an alternative for this?

[2017-12-28 16:03] VicoErv commented on #2897
![untitled](https://user-images.githubusercontent.com/26959883/34415835-4f539240-ec23-11e7-8d55-bd19e4b0d4d2.png)
if I drag image like that, there will be a shadow following, so I need to make it not draggable

[2017-12-29 02:07] thomaseuget commented on #1890
@thotruong-allyo is it good practice to use refs for all `FormControls` to get the value when submit?
If we don't want to use the standard Submit button.

[2017-12-29 11:50] karuppasamy commented on #2897
Oh. yeah. there is no support for this (and any extra) attribute;  only these attributes [ {src, alt, onError, onLoad} ](https://github.com/react-bootstrap/react-bootstrap/blob/master/src/Thumbnail.js#L46) will be accepted in the `img` tag.

But, you could do this by CSS.

[code]

Ref: https://developer.mozilla.org/en-US/docs/Web/CSS/user-select#CSS

[2017-12-29 17:43] pertrai1 opened #2918 "Ability to not remove markup from DOM?"
Is there a way that if a modal is closed it does not remove the markup from the DOM and rather just hides it? We are using a library that will only load once so when we close the modal and then open again, the library will not load. So I want to have the markup still in the DOM and just display none or block depending on if I open or close the modal. Any ideas on how to do this?

[2017-12-29 18:00] dozoisch commented on #2918
@pertrai1 the best way in my opinion would be to use react lifecycle functions like (componentDidMount) to call the function that needs to run on that library. componentDidMount also lets you access references so it makes it easy to pass the dom node to the library too.

It seems brittle to rely on the fact that dom is not unmounted.

[2017-12-29 18:13] pertrai1 commented on #2918
@dozoisch thank you for the quick reply. What is happening is that the library has one method exposed that calls a private function to only load the library once. So when the modal is closed, the library removes from the DOM and will not open again. If you don't mind having a look that would be very helpful as I am still in progress of getting up to speed with React. If you don't have time, I appr

[2017-12-29 18:19] taion commented on #2918
dupe of https://github.com/react-bootstrap/react-bootstrap/issues/2655

[2017-12-29 18:19] #2918 closed

[2017-12-29 18:22] pertrai1 commented on #2918
Thank you for the help @taion. I am guessing this is getting closed with very little help because it is not a react-bootstrap issue.

[2017-12-29 19:14] taion commented on #2918
It's a missing feature in React Overlays. We'd welcome a PR to add it.

[2017-12-29 19:15] pertrai1 commented on #2918
@taion  - awesome. will work on that and put in a PR. thank you

[2018-01-02 11:42] croraf opened #2919 "[OverlayTrigger] Does not hide when view is scrolled away"
react-bootstrap [v0.31.5]
The issue is primarily noticeable on mobile devices (that is touchscreen devices) - I'm using mobile phone with Android and Chrome.

Consider for example this page: http://provjeriplacu.herokuapp.com
To the left there are _info_ glyphs that show tooltip when hovered.

They are implemented using OverlayTrigger component.

Checking the compnent https://github.com/react-boot

[2018-01-02 19:16] taion commented on #2919
You need to set the container in that case, so that the overlay can be positioned relative to the correct parent.

[2018-01-02 19:16] #2919 closed

[2018-01-02 23:00] sschenk commented on #1553
@jquense

I don't understand your answer. When I use:
`import Navbar from 'react-bootstrap/lib/Navbar'`

 I get undefined when I try to do <Navbar.Header />

[2018-01-02 23:12] kirill-konshin commented on #1553
It’s because you import default as Button, if you want to import all as button you need to write

‘’’js
import * as Navbar from 'react-bootstrap/lib/Navbar';
‘’’

[2018-01-03 00:16] jquense commented on #1553
You shouldn't need to do that. The sub components aren't named exports they are static properties on the default exported class

[2018-01-03 12:35] croraf commented on #2919
@taion OK, I see. _container_ prop should be added to: https://react-bootstrap.github.io/components.html#overlays-trigger-props.

Unfortunatelly I ran into some other trouble when using container, so I decided I won't use it and will hide the `Overlay` on container scroll instead (using a hack of `OverlayTrigger`) . I see https://github.com/react-bootstrap/react-bootstrap/blob/master/src/OverlayTr

[2018-01-03 19:54] taion commented on #2917
fixed now

[2018-01-03 19:54] #2917 closed

[2018-01-03 19:56] taion commented on #2909
fixed in #2908

[2018-01-03 19:56] #2909 closed

[2018-01-03 23:21] niknokseyer commented on #451
I'm trying to trace this one as well.

So far here's what I found in the logic of doing the auto placement from *bootstrap.js*:

[code]

[2018-01-04 10:38] vinodsantharam commented on #2774
@mreishus this workaround makes my day. As you, I can't remove bootstrap JS.
If this bug will be still there in the 1.0, it would be nice to document it (official doc, release notes, ...).

[2018-01-04 14:04] searchMeOut commented on #2736
s

[2018-01-04 19:39] TeoTN opened #2924 "Documentation is dead"
https://react-bootstrap.github.io/ returns 404 File not found

[2018-01-04 19:48] jquense commented on #2924
yup its back up now

[2018-01-04 19:48] #2924 closed

[2018-01-04 20:03] TeoTN commented on #2924
Nope, it's not :P
![404](https://user-images.githubusercontent.com/5840198/34581980-b5613a96-f192-11e7-8041-5f00ff381567.PNG)

[2018-01-04 20:28] taion commented on #2924
Works fine for me. The URLs are changed around, though. Instead of https://react-bootstrap.github.io/components.html, it's now e.g. https://react-bootstrap.github.io/components/alerts/.

[2018-01-04 20:29] BarthesSimpson opened #2925 "Docs page is down"
[This commit](https://github.com/react-bootstrap/react-bootstrap/commit/3737e0f37a258b06d40fab826682f8aee332b672) broke the documentation page. GitHub Pages is returning 404.

[2018-01-04 20:29] #2925 closed

[2018-01-04 22:10] leviwheatcroft opened #2926 "Accordions allow more than one panel open as of 0.32.0"
Previously, the behaviour with a PanelGroup accordion was that when you expanded one panel, the previous panel would collapse. This no longer occurs. You can see this behaviour [in the docs](https://react-bootstrap.github.io/components/panel/#panels-accordion).

I note that previously the example in the docs used `<Accordion>` where now the docs are using `<PanelGroup accordion>`, but I'm not sure

[2018-01-05 03:59] ErwinALX commented on #1533
<Carousel>
                    <Carousel.Item>
                        <img className="img-responsive center-block" width={400} height={400} src={Blartenix} />
                        <Carousel.Caption>
                            <h3>Blartenix</h3>
                            <p>New Game Company In Colombia</p>
                        </Carousel.Caption>
                    </Carousel.Item>

[2018-01-05 04:00] ErwinALX commented on #1533
`<Carousel>
                    <Carousel.Item>
                        <img className="img-responsive center-block" width={400} height={400} src={Blartenix} />
                        <Carousel.Caption>
                            <h3>Blartenix</h3>
                            <p>New Game Company In Colombia</p>
                        </Carousel.Caption>
                    </Carousel.Item>

[2018-01-05 04:08] tetsushiawano opened #2927 "https://react-bootstrap.github.io/components.html is 404."
As title.

Previously it was accessible.
Now it is not.

[2018-01-05 04:17] taion commented on #2927
Instead of https://react-bootstrap.github.io/components.html, it's now e.g. https://react-bootstrap.github.io/components/alerts/.

[2018-01-05 04:17] #2927 closed

[2018-01-05 05:02] rkpatel33 opened #2928 "How to toggle a DropdownButton programmatically?"
How can I a toggle `DropdownButton` programmatically? I intend to do it via Electron shortcut but not sure what to hook into.

I tried setting `defaultOpen` to a state variable that I can then toggle like so:

`defaultOpen = { this.state.defaultOpen }`

But this does not seem to work.

Could not find anything in the documentation or the issues regarding this so sorry if its a repeat.

[2018-01-05 05:42] taion commented on #2928
Pass in `open` as a prop:

[2018-01-05 05:42] #2928 closed

[2018-01-05 11:42] asaarnak opened #2929 "0.32.0 Typescript support"
I bumped into this when updating dependencies.
Is this repo the right place to create this issue or shoud it be in DefinitelyTyped repo?

Here are the Typescript definitions for 0.31.x version only. https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react-bootstrap

[2018-01-05 14:58] tetsushiawano commented on #2927
thanks!
I can access it.

[2018-01-05 16:41] ljones87 opened #2930 "Panel elements not available (Heading Body etc)"
Hello,
 If I'm not mistaken, the docs for react-bootstrap have very recently changed.
I'm trying to use the (newly?) available .Heading and .Body off of the Panel, for example:

[code]

However, I receive the following error in the console:

"Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefine

[2018-01-05 17:00] jquense commented on #2930
How are you importing them?

[2018-01-05 17:02] ljones87 commented on #2930
import { FormGroup, Col, Panel, Radio } from 'react-bootstrap';

[2018-01-05 17:14] jquense commented on #2930
that' looks right i'd make sure you have the right version installed, maybe something didn't upgrade as you expected?

[2018-01-05 17:17] taion commented on #2929
They're in https://github.com/react-bootstrap/react-bootstrap-typescript, not here.

[2018-01-05 17:17] #2929 closed

[2018-01-05 17:17] ljones87 commented on #2930
This is what's in my pacakge.json after the update (it did show that it react-bootstrap was updated after running npm update)  "react-bootstrap": "^0.31.5".

[2018-01-05 18:18] jquense commented on #2930
yeah the new panel components are in `0.32.0` looks like it just upgraded to the latest minor

[2018-01-05 18:18] #2930 closed

[2018-01-05 19:01] ljones87 commented on #2930
Follow up: I have manually updated the package.json version to 0.32.0, npm install'd, and now new features are working properly. Thank you. Feel free to close the issue as you see fit.

As an aside, it does look like the example is broken in your docs under

# Supported controls
### Checkbox, Radio, FormControl.Static, HelpBlock

Examples of standard form controls supported in an example form layo

[2018-01-05 21:13] mreishus commented on #2926
Running into the same problem.  If I copy and paste the `PanelGroupControlled.js` example ( https://github.com/react-bootstrap/react-bootstrap/blob/5ff1962588facf4a51d59ac9aea558330133cc3c/docs/examples/PanelGroupControlled.js ) I can open multiple panels.

[2018-01-05 22:00] jquense commented on #2926
anyone want to take a stab at a fix?

[2018-01-06 01:08] flaviut opened #2931 "validationState not being rendered"
See https://react-bootstrap.github.io/components/forms/

Type two characters in the first example.
Expected result: the control somehow indicates the input is invalid
Actual result: the control does not change

Reproduced on
- Chromium 63.0.3239.108 (Developer Build) (64-bit)
- Firefox 57.0.3 (64-bit)

[2018-01-06 10:40] VonTran opened #2933 "Forms supported controls example"
![error](https://user-images.githubusercontent.com/15680299/34638941-1701dd48-f2a4-11e7-8f4c-cb28787de801.png)

[2018-01-06 11:00] hemantnahar commented on #2092
class Example extends React.Component {
  constructor(...args) {
    super(...args);
    this.state = {
      open: false
    };
  }

​   collapse = () => {
    this.state.open = true;
    this.setState(this.state);
    }

  render() {
    return (
        //If you ,ake this open by-defaut use
        //<Panel header="my-title" defaultExpanded collapsible>
        // </Panel>
      <div>
        <

[2018-01-06 11:07] hemantnahar commented on #2092
[code]

[2018-01-06 12:53] #2931 closed

[2018-01-06 14:00] alexander-ignatow opened #2934 "Cannot type 'space' symbol into FormControl shown in the Modal, when it is rendered in the `Nav`"
I can type space in using the same code outside of the Modal
ctrl-c/ctrl-v works - the space is pasted into the FromControl

Using `keyboard={false}` for the Modal did not help

Layout looks like this:
[code]

[2018-01-06 14:23] androidand commented on #373
This is an old thread but I stumbled upon this inconsistency today. I am conditionally rendering a react-bootstrap ListItem or a custom component containing a react-bootstrap Card component. The ListItem works with onClick, the other does not. I ended up wrapping them both in a div and putting the onClick in it, worked for me:

<div onClick={props.onClick}>
	<CustomComponentThatMayOrMayNotHandleCl

[2018-01-06 15:04] alexander-ignatow commented on #2934
The workaround:

Do not wrap Modal in the MenuItem:
[code]

[2018-01-06 15:04] chongdog83 opened #2935 "Where did the components page go?"
There used to be great documentation on all the components but it's gone now.

https://react-bootstrap.github.io/components.html

[2018-01-06 15:37] jquense commented on #2935
https://react-bootstrap.github.io/components/alerts/

There are new docs, so new urls.

[2018-01-06 15:37] #2935 closed

[2018-01-06 15:39] jquense commented on #2934
don't put the modal in the navitem. I think this is due to the new event bubbling behavior in react 16 portals. The navitem if catching the key events and intercepting them, not thinking they are coming form in a modal.

We should maybe consider not using createPortal for Modals, it's not really the right tool for the job :/

[2018-01-06 18:40] zquintana opened #2936 "Window object in utilities causes not defined error in server side rendering"
While attempting to convert an app to isomorphic architecture I ran into an issue with this module because it was attempting to use the global window object. That causes an issue with server side rendering because it’s not defined. That in turn breaks the entire rendering engine. Anyway this module can be updated to shim the window? I used a module called window-or-global to shim my project module

[2018-01-06 19:08] jquense commented on #2936
Do you have any info one what specifically is accessing window? We already attempt to make sure this doesn't happen, and test that components are SSR-able. More than likely the error is coming from something else, or there is a regression we don't know about

[2018-01-06 20:48] mengwong commented on #2933
farther up the page, https://react-bootstrap.github.io/components/forms/?#forms gives this error in the console:

[code]

[2018-01-06 23:08] taion commented on #2933
Seems like this is happening because React Live uses Buble v0.15, which doesn't support object rest properties.

@jquense Can we get them to upgrade to a more recent Buble version? It looks like Buble added support here in v0.17: https://github.com/Rich-Harris/buble/blob/master/CHANGELOG.md#0170.

[2018-01-06 23:33] taion commented on #2933
PRed https://github.com/FormidableLabs/react-live/pull/51. Let's see how that goes.

[2018-01-06 23:33] taion commented on #2933
We fixed the error up the page in https://github.com/react-bootstrap/react-bootstrap/pull/2932.

[2018-01-07 04:19] zquintana commented on #2936
It was my mistake. The problem was in the bootstrap javascript not in react-bootstrap. Sorry for the confusion.

[2018-01-07 04:19] #2936 closed

[2018-01-08 01:13] hdon opened #2937 "Website Components Documentation Gone"
Not sure if this is the right repo for this issue...

This page has gone missing:

https://react-bootstrap.github.io/components.html

Is there a replacement or a new URL?

[2018-01-08 01:22] jquense commented on #2937
Please check the issues before posting new one thanks!

[2018-01-08 01:22] #2937 closed

[2018-01-08 01:33] hdon commented on #2937
I did search the issues for components.html. Wasn't sure what else to look for.

Could you point me to the relevant issue(s)?

Thanks :)

[2018-01-08 02:37] jquense commented on #2937
Any of the 4 issues closed this week about the same thing. The url changed with new documentation

[2018-01-08 08:45] tomscott1 commented on #2774
@taion I'm happy to create a PR to update this documentation I can't see `ToggleButtonGroup` in the documentation anywhere. Am I missing something?

[2018-01-08 15:10] eran-or opened #2938 "components link doesn't work any more"

[2018-01-08 15:46] #2938 closed

[2018-01-08 16:24] taion commented on #2774
@jquense did this get dropped from the new docs?

[2018-01-08 16:31] jquense commented on #2774
It's definitely possible

[2018-01-08 19:28] ganesharulanantham commented on #2248
@ekropotin I have the issue for Dropdown do u have solution?

[2018-01-08 19:28] ganesharulanantham commented on #2248
@taion Issue exist for React 16 can you reopen this?

[2018-01-08 23:36] cclifford3 commented on #2883
Same issue here

[2018-01-09 19:12] henriquejensen commented on #2883
the same issue here after upgrading to React 16
`VM348 mainfb6d056a5a0885108304.js:72171 Uncaught TypeError: Cannot read property 'bool' of undefined
    at Object.defineProperty.value (Transition.js:259)
    at __webpack_require__ (bootstrap fb6d056a5a0885108304:659)
    at fn (bootstrap fb6d056a5a0885108304:85)
    at Object.<anonymous> (ReactPropTypesSecret.js:12)
    at __webpack_require__ (bo

[2018-01-09 19:24] henriquejensen commented on #2883
I solved my problem changing updating some depencies in my package.json
[code]

[2018-01-10 00:53] patsissons commented on #2781
The main problem is that `DOMAttributes<T>` is using the same generic type param as `ClassAttributes<T>` which is technically incorrect. While it is sensible to do this for very simple components, any composite components may nor longer make any sense as you cannot presume that all DOM events are generated by the react component, instead of a sub element bubbling events up to the react component,

[2018-01-10 09:27] ekropotin commented on #2248
@ganesharulanantham In my particular case the problem was that I used react-bootstrap with bootstrap 4. I switched to bootstrap 3 and the problem gone.

[2018-01-11 21:14] patsissons commented on #2929
@taion are you suggesting https://github.com/react-bootstrap/react-bootstrap-typescript is the official typings repo for `react-bootstrap`?

[2018-01-11 21:21] taion commented on #2929
I believe so, yes.

[2018-01-11 22:06] mattblackdev commented on #2774
So I was looking for this component, didn't see it in the docs. I typed ```import { Toggle...``` in vs code and saw it does exist. Then I started to lose my mind wondering why my onChange was not getting called. I read the source code and didn't see any reason. Moral of the story, never forget that ```Github issues >= documentation```.

[2018-01-11 23:15] patsissons commented on #2929
it is extremely outdated compared to the DT typings, doesn't appear to even support TS 2.x, and isn't consumable via npm?

[2018-01-12 14:23] mobilutz commented on #2774
I looked a little bit into the issue as I also have the need to have `bootstrap.js` and `react-bootstrap` in my application.

These are the problematic lines in (at least) boostrap-3.3.7:
https://github.com/twbs/bootstrap/blob/v3.3.7/js/button.js#L66

Here `checked` is being change and with that, `react-bootstrap` does not see any change.

And in combination, this line is affecting the outcome as

[2018-01-12 21:22] meghna-saxena commented on #2599
Has this feature no longer in use with the updated react-bootstrap version?

[2018-01-12 21:31] taion commented on #2599
There was a regression in the latest version.

[2018-01-12 21:31] taion commented on #2599
See https://github.com/react-bootstrap/react-bootstrap/issues/2926

[2018-01-12 21:31] taion commented on #2934
Or perhaps explicitly stop propagation? Either way, not much we can do right away.

[2018-01-12 21:31] #2934 closed

[2018-01-12 23:07] niknokseyer commented on #451
Do you have a fork / pull request on this @isaachinman / @leojh? I can help in testing. @jquense

[2018-01-13 09:22] isaachinman commented on #451
@niknokseyer I believe @jquense's point was that any future PR should go to [react-overlays](https://github.com/react-bootstrap/react-overlays).

[2018-01-14 10:33] JanKaifer opened #2941 "Bug in exemplary code on web in section forms."
There is custom function which doesn't work properly:
[code]
It throws this error:
[code]
However, when I remove this one by using props as an argument:
[code]
It works.

So if someone could tell why react-live doesn't support this function({arg1, arg2, arg3, ...args}) {...} feature.

Link to playground: https://react-bootstrap.github.io/components/forms/?radioGroup=on#forms-controls

[2018-01-14 10:42] Yanipo5 opened #2942 "Responsive Navbars display broken - (0.32, firefox 57.0.4 (64-bit))"
Hi,
just tryied coping the example form the docs,
doen't seem to work :(

[code]

![image](https://user-images.githubusercontent.com/29729128/34915100-4377254c-f928-11e7-8ff1-917adda907c7.png)

[2018-01-14 18:09] taion commented on #2942
You're missing the CSS

[2018-01-14 18:09] #2942 closed

[2018-01-14 18:52] taion commented on #2941
dupe https://github.com/react-bootstrap/react-bootstrap/issues/2933

[2018-01-14 18:52] #2941 closed

[2018-01-14 22:36] hoodsy opened #2944 "Unable to import Panel.X"
[code]

Throws errors that `Panel.Heading` and `Panel.Body` aren't components – I can only import `Panel`. Attempting to collapse `Panel` throws errors: `TypeError: cannot read property 'style' of null`

[2018-01-14 22:41] taion commented on #2944
Make sure you have the right version of React-Bootstrap installed. You're probably on an older version.

[2018-01-14 22:41] #2944 closed

[2018-01-14 23:07] hoodsy commented on #2944
I'm on the latest, 0.32.0... working around using `lib/X` imports

On Jan 14, 2018 5:41 PM, "Jimmy Jia" <notifications@github.com> wrote:

[2018-01-15 09:06] vamshi9666 opened #2945 "how can i have scroolviews in any direction( horizantal or vertical)"

[2018-01-15 10:52] frees11 opened #2946 "Input element in Tab title - spacebar is not registered"
Hi, with input element in Tab title, spacebar is not registered, but every other key works.

Here is example of this markup
`<Tab eventKey={i}   title={<Input value={} onChange={} />}></Tab>`

It seems that, problem is similar to this one https://github.com/atlassian/react-beautiful-dnd/issues/149, but I wasn't able to repair it with their solution, could you please help me?

[2018-01-15 14:39] taion commented on #2945
This isn't a Bootstrap thing I don't think.

[2018-01-15 14:39] #2945 closed

[2018-01-15 14:39] taion commented on #2946
If you're looking to customize the nav items for a tab group, use the lower-level components instead of `<Tabs>` and `<Tab>`.

[2018-01-15 14:39] #2946 closed

[2018-01-15 16:07] adrian3d opened #2947 "New Pagination component doesn't properly documented"
Hey !

How can I get value of PaginationItem I click ? This doesn't appear on [documentation](https://react-bootstrap.github.io/components/pagination/#pagination). onSelect worked on the old Pagination Component.

Thanks.

[2018-01-15 18:03] jquense commented on #2947
There isn't an `onSelect` anymore, the component is purely presentational, to better match the "real" bootstrap. You'll have to implement login on top of it or use something like this: https://github.com/react-bootstrap/pagination/blob/master/stories/experiment.js

[2018-01-15 18:03] #2947 closed

[2018-01-16 01:25] leviwheatcroft commented on #2944
Are you using any webpack loaders to manipulate your jsx ? For example, I use react-pug so I can't use dot notation. I need to deconstruct like:

[code]

`Panel.Heading` and `Panel.Body` definitely work, maybe try logging the `Panel` object to the console to see what you're getting.

[2018-01-16 01:34] hoodsy commented on #2944
I've wiped `node_modules`, etc at this point... can use `Panel.Body` and the rest with no issue.

But I get an error pointing to `Transition` whenever `Panel.Collapse` is triggered. Separate issue, but maybe related.

[2018-01-16 02:18] Phuhwei commented on #1626
Same issue here, removing the container={this} is not a perfect solution.

[2018-01-16 03:19] trops commented on #2081
In case this wasnt clear you can use the className just replace the id selector in the example above from @colleenpurcell12 like so:

[code]

Styles
[code]

[2018-01-16 12:41] frees11 commented on #2946
It's not solved, because even with custom layout spacebar is still eaten when there is input in tab title

I need to mimic excel sheet, that's reason why I need this behaviour

`<Tab.Container id="left-tabs-example" defaultActiveKey="first">
	<Row className="clearfix">
		<Col sm={4}>
			<Nav bsStyle="pills" stacked>
				<NavItem eventKey="first"><Input value={} onChange={} /></NavItem>
				<NavIte

[2018-01-16 18:05] I2oy opened #2948 "Example in Documentation over 'Supported Controls' for Forms displays 'TypeError'."
Going through the examples for creating Forms and viewing the different examples, there seems to be an issue in one section that is currently displaying an error instead.

`TypeError: Cannot read property 'line' of undefined`

The location of the error is located in this section:
[https://react-bootstrap.github.io/components/forms/#forms-controls](https://react-bootstrap.github.io/components/forms

[2018-01-16 18:10] taion commented on #2948
dupe https://github.com/react-bootstrap/react-bootstrap/issues/2933

[2018-01-16 18:10] #2948 closed

[2018-01-17 08:34] SergeyAlexeev opened #2949 "Pagination.Item onSelect doesn't work"
Hi, after upgrade to the `0.32.0` version I can't handle an event when the current page is changed.

Previously, I used the `onSelect` prop of the `Pagination` component. I found the similar [prop](https://github.com/react-bootstrap/react-bootstrap/blob/master/src/PaginationItem.js#L11) for `Pagination.Item` but it [doesn't work](https://stackblitz.com/edit/react-ffk9qy?file=index.js). So, how do

[2018-01-17 08:52] Aiso786 commented on #2944
I'm having the same issue but looks like the typescript definition file is not up to date.

[2018-01-17 13:11] #2949 closed

[2018-01-17 13:15] SergeyAlexeev opened #2950 "Inconsistent behavior of disabled pagination and pager items"
Disabled pagination item has the related 🚫 icon as a mouse cursor. But pager disabled item doesn't.

This [sample](https://stackblitz.com/edit/react-npdsa4?file=index.js) shows it in action.

According to [Bootstrap docs](https://getbootstrap.com/docs/3.3/components/#pagination), both items in disabled state should have the same behavior and use 🚫 icon as a mouse cursor.

[2018-01-17 16:25] xurei opened #2951 "[Web] bsStyle is wrong"
In Alert and Buttons (probably elsewhere also) :
![screenshot from 2018-01-17 17-24-09](https://user-images.githubusercontent.com/621695/35053760-49017c80-fbab-11e7-92c8-6e8839a81868.png)

It should be "danger", "warning", "info", "success".

[2018-01-17 19:04] gytisgreitai commented on #2929
IMHO DefinitelyTyped is the way to go.

[2018-01-17 21:39] davisford commented on #2944
also cannot use panel subcomponents.

[code]

[2018-01-17 21:44] taion commented on #2944
They’re not in that version.

[2018-01-18 21:17] DhawalRank opened #2952 "No "dropright" prop for <Dropdown /> component"
No "dropright" prop for <Dropdown /> component for opening dropdown on right of the dropdown button. Bootstrap has class "dropright" for it.

Are you going to add that to this?

[2018-01-18 21:36] taion commented on #2952
That's a TWBS4 thing; currently this targets TWBS3. If you need extra classes, you can add them yourself

[2018-01-18 21:36] #2952 closed

[2018-01-18 21:57] DhawalRank commented on #2952
I am sorry! I realized that later that it is only provided by BS4.

[2018-01-19 01:38] EdwaRen opened #2953 "Submit Bootstrap Form Programmatically?"
I have been trying to find a submit to submit forms programmatically with React-Bootstrap similar to how in JavaScript we could write
[code]

I have tried using refs in React however the form does not appear to be submitting. Is there a way to do this using React-Bootstrap, or would I have to rethink the interface to only support button-based form submission?
[code]

[2018-01-19 01:41] dozoisch commented on #2953
@EdwaRen I'm not sure why you would put an anchor instead of a input[type=submit] or button[type=submit] given that they are more accessible and allow for keyboard base submission. Also on mobile browsers will change the carriage return button to a submit button instead.

[2018-01-19 01:50] EdwaRen commented on #2953
@dozoisch I see, I suppose it is much easier to just do everything with a button type submit. However, a client requirement is to have custom invalid input error messages be rendered when the user *clicks* the submit button. Currently, the Form's onSubmit() function does work however it gets instantly redirected to the POST request without displaying an error message for invalid inputs.

Or maybe

[2018-01-19 01:51] dozoisch commented on #2953
If you don't want the redirection to happen, you need to prevent default on the event.

[2018-01-19 01:54] EdwaRen commented on #2953
Hmmm, I'll take a nice look at manipulating the defaults on the submission event. Thanks for taking the time to help!!

[2018-01-19 01:59] dozoisch commented on #2953
I'll go ahead and close this issue. Ping me if there is anything and we can reopen it.

[2018-01-19 01:59] #2953 closed

[2018-01-19 18:32] sboudouk commented on #2951
Is this why I've an error when I follow the Utilities example for custom CSS ?

Exemple: `<Button bsSize="large" bsStyle="custom-register">Register</Button>` generate a Warning in Chrome console.

[2018-01-20 15:55] hoodsy commented on #2763
@reduxdj I'm experiencing this as well for `Modal` and `Accordion` – did you find a fix/workaround?

[2018-01-20 16:12] sermustang opened #2954 "Panel's descendants ignores "bsClass" prop"
Panel's descendants such as <Panel.Heading> ignores "bsClass" prop.
There is no prop "bsClass" for Panel itself but it can implements it in incorrect way.

Here is a [jsfiddle](http://jsfiddle.net/jecj38h2/3/)

[2018-01-22 15:31] heatherbooker commented on #2951
I tried to find the docs code to update this but I am having no luck - if anyone can point it out, maybe we can get it fixed faster!

[2018-01-22 15:42] RKushnir commented on #1187
[It's here!](https://blog.getbootstrap.com/2018/01/18/bootstrap-4/)

[2018-01-22 15:43] jquense commented on #1187
if anyone is interesting in contributing there is plenty of things to do on v4 support please feel free to jump in and help with #2752

[2018-01-22 18:46] taion commented on #2885
We released v0.32.0.

[2018-01-22 18:46] #2885 closed

[2018-01-22 18:51] taion commented on #2954
Well, we do want them to share the `bsClass` on `<Panel>`, as the alternative API would be a bit of a pain to use. Are you trying to override the `bsClass` on just the heading/&c. elements in a way inconsistent with the parent? That seems a bit odd.

[2018-01-22 20:15] justbill2020 commented on #2933
this is still an issue... and #2932 still hasn't fixed the isssue on the page

[2018-01-22 20:25] taion commented on #2933
I pinged the React Live maintainers again.

[2018-01-23 07:55] toolaugh opened #2958 "is it compatible with new version v16 of react ?"
- I found that It  has problems with modal ? Is it resolved ?

[2018-01-23 08:07] sermustang commented on #2954
I've override `bsClass` prop just for example. I also tried it together with default class names.
I think it's possible to use `bsClass` in `<Panel.Heading>` and others like in `<Modal>` components for example. [Here](http://jsfiddle.net/jmrd4wLt/1/) is an example what I mean with `<Modal.Header>`.

Maybe I'm wrong in something.

[2018-01-23 08:12] sermustang commented on #2951
@heatherbooker I think it in this [part](https://react-bootstrap.github.io/components/buttons/#buttons-props) of docs.

[2018-01-23 09:02] Shadowman4205 opened #2959 "Panel - Cannot read property 'toLowerCase' of undefined"
Hello trying to use panel but getting this error

[code]

[2018-01-23 15:37] jquense commented on #2958
its compatible with v16, yes

[2018-01-23 15:37] #2958 closed

[2018-01-23 15:38] #2933 closed

[2018-01-23 17:40] taion commented on #2959
There's nothing to go off of here.

[2018-01-23 17:40] #2959 closed

[2018-01-23 17:42] taion commented on #2954
Right, we're not fully consistent here. Overall, though, it seems like it would be better to have components inherent the class from the parent, no?

If you have `bsClass="custom-panel"` on the parent, then it seems reasonable to have `.custom-panel-heading` on a heading child.

[2018-01-23 17:52] shamas opened #2961 "Missing prop in modal component docs"
Search the modal docs https://react-bootstrap.github.io/components/modal/
for the prop dialogClassName

There is an example, but no description of the prop in the table below
dialogClassName

[2018-01-23 18:45] jrkoch commented on #2081
I am using `react-css-modules` so the above didn't quite work for me as my CSS class names are generated at compile time.  I could still do it with attribute selectors, commenting here in case it helps anyone else:

[code]

[code]

[2018-01-23 21:04] sermustang commented on #2954
So, if child components inherit the class from parent it's needed to remove prop `bsClass` of `<Panel.Heading>` and others from docs.

And on my opinion, in some cases it's usefull to have possibility to add some extra class only to child component like in `<Modal>` components. But it's not necessary, we can add needed styles in CSS with default classes.

Anyway, thank you for responses and for yo

[2018-01-23 21:44] heatherbooker commented on #2951
@sermustang Can you find the code that is behind those parts of the docs?

[2018-01-23 23:14] alexkrolick commented on #2763
[code]

[2018-01-24 00:17] alexkrolick commented on #2763
I'm seeing this issue after upgrading to 0.32.

Here's the error when running Webpack in production mode:

[code]

- The only package in the react-bootstrap folder in node_modules is react-transition-group, all the other ones are hoisted up a level.
- RTG 1.x is also a dep for other modules in the project

<img width="1145" alt="screen shot 2018-01-23 at 3 44 36 pm" src="https://user-images.github

[2018-01-24 01:34] taion commented on #2763
Are you using something for deduping in webpack?

[2018-01-24 01:34] taion commented on #2954
It's hard to say what the right thing is.

I think the resolution order should be:
1. Explicit `bsClass` on child component
2. Something calculated from `bsClass` on parent component
3. Default `bsClass`

How does that sound?

[2018-01-24 03:43] toolaugh commented on #2958
when update v16 . I got a problem like this :
![errr](https://user-images.githubusercontent.com/15774100/35313501-456c4102-00f3-11e8-8d30-2ae784d76d39.PNG)
-  How can I resolve ?. thanks a lot

[2018-01-24 03:43] toolaugh commented on #2958
@jquense

[2018-01-24 04:40] alexkrolick commented on #2763
No, we aren't. I commented out anything related to module splitting or concatenation and it still fails.

[2018-01-24 10:07] GTDunk opened #2962 "Tooltip's arrow position"
Discovered an incorrect behavior of tooltips with 'OverlayTrigger'. It can be found also on a page with examples: https://react-bootstrap.github.io/components/tooltips/#tooltips-overlay-trigger. In case of a resized window, the arrow of a tooltip is shifted and is not centered anymore:
![image](https://user-images.githubusercontent.com/31467161/35326348-7464402c-0107-11e8-85de-497d2cd1d8ea.png)

[2018-01-24 10:54] sermustang commented on #2954
For me it's the best solution.

[2018-01-24 11:09] sermustang commented on #2951
@heatherbooker Sorry, I don't know where to search code of the docs.

[2018-01-24 13:40] aterreno commented on #1308
Not sure why @taion reply got a downvote, that's exactly why the popup doesn't get the html styling, you need a jsx variable

[2018-01-24 14:13] sboudouk commented on #2951
@sermustang This is what you're looking, I guess : https://github.com/react-bootstrap/react-bootstrap/blob/master/src/utils/bootstrapUtils.js

[2018-01-24 16:30] taion commented on #2962
You'd need to enable recalculating position in these cases.

[2018-01-24 16:30] #2962 closed

[2018-01-25 03:17] taion commented on #2951
I'm not sure why, but the problem went away when I republished the docs.

[2018-01-25 03:17] #2951 closed

[2018-01-25 03:18] taion commented on #2961
We seem to be missing the props table for `Modal.Dialog` entirely.

[2018-01-25 03:23] taion commented on #2926
This was fixed in #2940

[2018-01-25 03:23] #2926 closed

[2018-01-25 03:32] tomscott1 commented on #2961
If I get a chance over the weekend I will fix this

[2018-01-25 15:30] janpauldahlke commented on #2527
still relevant ...

[2018-01-25 20:24] tenso2006 commented on #1258
We can use ref on accordion to get access to all the state and props
Example
<accordion ref='acco'>
And on componentWillReceiveProps, update the state like so

This.ref.acco.setState({activeItems: [] })

activeItems being array of index of all opened accordion

Hope this helps

[2018-01-25 20:26] tenso2006 commented on #1258
On accordion pass in ref=acco

[2018-01-25 21:42] Kimahriman opened #2963 "React Hot Loader v4 causes ProgressBar prop type warning"
I am trying to upgrade my project from React Hot Loader v3 to v4, and it's causing me to have a prop type warning with the ProgressBar component. It looks like the ProgressBar checks that all children are also ProgressBars, but I guess RHLv4 basically wraps every component, so this check fails even though the child is actually a (proxied) ProgressBar.

Is there a way make this check more lenient a

[2018-01-25 22:43] taion commented on #2963
Yes, RHLv4 exposes a way to check for this. I guess you can PR a fix to use that check? @jquense do you think that's reasonable?

[2018-01-25 23:02] taion opened #2964 "Make it easier to find the documentation for a given component"
Right now, if all you have is a component name, it's not always straightforward to find the docs for that component, unless I'm missing something.

It'd be nice if there were a easy way to find that.

[2018-01-26 13:59] Kimahriman commented on #2963
If that's acceptable I can work on that

[2018-01-27 08:13] Temmermans opened #2966 "Collapsable Panel animation jumps when opening and closing"
Hard to explain so check out this little video (I'm using chrome):

![gif](https://user-images.githubusercontent.com/14975555/35470046-0df205c6-0342-11e8-85e1-15fecd66d068.gif)

Notice how for the collapsable panel with larger content, the last part jumps. The smaller content panel does not animate at all when opening.

I tried to remove the padding from my element but it still behaves the same wa

[2018-01-27 15:18] taion commented on #2966
see https://github.com/react-bootstrap/react-bootstrap/pull/1463

[2018-01-27 15:18] #2966 closed

[2018-01-28 20:52] captain-igloo opened #2969 "Tooltip remains visible after disabling element"
See #1432 which has been closed but the problem still exists.  When you click on the button it becomes disabled and the tooltip remains visible.

I am using React 16.2.0 and react-bootstrap 0.32.0.

[code]

[2018-01-29 03:13] lorenwrightdesign commented on #2964
Would it be helpful to have an index of all of the components on https://react-bootstrap.github.io/getting-started/introduction with links to each component? If so, I could work on that!

[2018-01-29 07:10] taion commented on #2964
Maybe. A manual list would get out of sync, though. What can Gatsby do for us?

[2018-01-29 13:13] jquense commented on #2964
I think there a few search plugins as well

[2018-01-29 13:31] mayacode commented on #648
Hi any update?

      checkboxFormatter(cell, row) {
        return (<Checkbox
          name="weekDisplay"
          value={row.week}
          defaultChecked
          onChange={this.handleChange}
          style={{ marginLeft: '20px' }}
        />);
      }

      handleChange(event) {
        console.log('event.target.name', event.target.name);
        console.log('event.target.value', event.t

[2018-01-29 16:03] taion commented on #2969
Is this another side-effect of our disabling pointer-effects?

[2018-01-29 20:01] jquense commented on #2969
i don't think so the `pointer-events` thing merely mimics the behavior of a native `button` element, and only for anchor elements which the example above isn't rendering right?

[2018-01-30 20:29] destruc7i0n opened #2970 "Cannot have a Panel inside a Panel in a PanelGroup"
This is because of the new check (#2940)... You cannot expand the `Panel` inside another `Panel`.

Error: ```Warning: Specifying `<Panel>` `expanded` in the context of an accordion `<PanelGroup>` is not supported. Set `activeKey` on the `<PanelGroup>` instead.```

React-Bootstrap 0.32.1
React 16.2.0
[code]

[2018-01-31 17:12] ecabrera1 opened #2971 "Accordion not working using code from documentation"
ERROR: Warning: React.createElement: type should not be null, undefined, boolean, or number. It should be a string (for DOM elements) or a ReactClass (for composite components). Check the render method of `Accordion`.

CODE:
import React, { Component } from 'react';
import { Panel, PanelGroup } from 'react-bootstrap';

export default class Accordion extends Component {
    constructor(props, conte

[2018-01-31 17:24] mwaz opened #2972 "Modal does not work in React 16.2.0"
I am using modal boxes and my version of react does not render them using the react strap  bootstrap, here is my . code

what could the problem be?

<img width="1436" alt="screen shot 2018-01-31 at 20 23 18" src="https://user-images.githubusercontent.com/10160787/35637213-9f4a4c38-06c4-11e8-8c75-64b849ab43dd.png">

[2018-01-31 17:53] kjrocker commented on #2971
I'm having the same problem with Panels more generally. Logging out `Panel.Body` or any other Panel sub-component shows they're undefined.

[2018-02-01 15:07] lal12 opened #2973 "Dropdown does not open"
Hello,

I have a Nav and in it a NavDropdown, but when I click on it, the child menu is not popping up. So I did some debugging and found that it actually is opened, but directly afterwards closed again, due to the rootClose eventListener. So I guess there should be an event.stopPropagation() in the dropdown onClick Handler anyway. I would create a PR myself, but I cannot exactly see where this sh

[2018-02-01 15:37] taion commented on #2973
Works fine on our docs example: https://react-bootstrap.github.io/components/navs/#navs-dropdown

[2018-02-01 15:37] #2973 closed

[2018-02-01 15:54] lal12 commented on #2973
It seems that this issue somehow related to preact, because with react it works.

[2018-02-01 21:49] rimatla commented on #2559
Thank you @chongdog83

[2018-02-02 02:53] mahongquan commented on #2972
I use react 16.2.0 and react-bootstrap 0.32.0, it is ok for me.
 "dependencies": {
    "bootstrap": "^3.3.7",
    "chart.js": "^2.3",
    "flux": "^3.1.3",
    "immutability-helper": "^2.6.4",
    "moment": "^2.20.1",
    "react": "^16.2.0",
    "react-autosuggest": "^9.3.2",
    "react-bootstrap": "^0.32.0",
    "react-chartjs-2": "^2.6.4",
    "react-datetime": "^2.11.1",
    "react-dom": "^16.2

[2018-02-02 16:46] taion commented on #2972
Works fine on our docs page as well.

[2018-02-02 16:46] #2972 closed

[2018-02-02 18:29] qtbit opened #2974 "Modal closed on mouse up"
1. go to https://react-bootstrap.github.io/components/modal/
2. click `Launch demo modal` button in `Basic example` section.
3. start selecting text inside the shown modal by pressing the left mouse button and hold
4. move the mouse outside the modal window and release the mouse button

**desired behavior**: the modal is not closed, since you select text inside
**actual behavior**: the modal close

[2018-02-02 18:44] qtbit opened #2975 "Can't specify place where modal is appended"
The Modal component always adds elements to `body` element and it cannot be changed.
This causes issues with styling.

E.g. you have a section element with class="settings" in an app.
Define a CSS style for it: `.settings .modal { font-size: 30px }`
Render a react component to the section element displaying a popup by using the React-Bootstrap Modal component.

However, the Modal component appends

[2018-02-02 18:54] jquense commented on #2975
The modal won't work correctly if it's appending to the a nest component like that, because css `position: fixed` is weird. Warning a aside you can control this by changing the `container` prop

[2018-02-02 18:54] #2975 closed

[2018-02-03 06:08] taion commented on #2974
Dupe https://github.com/react-bootstrap/react-bootstrap/issues/1785

[2018-02-03 06:08] #2974 closed

[2018-02-04 09:46] zortunipsi opened #2977 "How to run code from folder react-bootstrap/src/DropdownMenu.js"
Hi! How to run code from folder react-bootstrap/src/DropdownMenu.js? which run npm command? thank

[2018-02-04 10:58] taion commented on #2977
See https://react-bootstrap.github.io/getting-started/introduction

[2018-02-04 10:58] #2977 closed

[2018-02-04 20:45] rimatla opened #2978 "Fix Bootstrap CSS version in CDN link in documentation"
Navigation broke the UI out of the blue without me touching any of the files with the navigation code using react-bootstrap "^0.32.1"

In one page refresh the site went from:
![screen shot 2018-02-04 at 2 39 42 pm](https://user-images.githubusercontent.com/14306250/35782145-5c726074-09b9-11e8-9139-ccac6f8a1040.png)

to:
![screen shot 2018-02-04 at 2 41 46 pm](https://user-images.githubusercontent.

[2018-02-04 21:01] VonTran commented on #2978
same issue a long with misalignment of columns
![firefox](https://user-images.githubusercontent.com/15680299/35782361-b1b922ec-09c4-11e8-9533-0129d26ec367.png)
![jan24](https://user-images.githubusercontent.com/15680299/35782363-b3c5290a-09c4-11e8-81dd-3d0b450173c0.png)

[2018-02-04 21:04] rimatla commented on #2978
How's possible to have all broken after I had the library version locked into my package.json?

[2018-02-04 21:11] VonTran commented on #2978
It probably doesn't have much to do with the actual package. You use a required cdn in your head to pull down the styles it's something wrong with that.

[2018-02-04 21:23] rimatla commented on #2978
You're right, updating the CDN worked. But... That's a vulnerability, my question to the developers here is how can I prevent such issue after my app is shipped to prod?

[2018-02-04 21:39] taion commented on #2978
Seems unrelated to this package then. In general if these things matter, either use hashes or don’t use third party CDNs.

[2018-02-05 00:20] Planeshifter commented on #2978
While the issue was not caused by the react-bootstrap package, it can be reproduced by loading the stylesheets from the CDN suggested in the documentation:

[code]

I suggest you change these as otherwise many more users will run into this issue. Thanks!

[2018-02-05 03:52] rimatla commented on #2978
My case exactly. I used that cdn per documentation's instructions.

[2018-02-05 04:26] taion commented on #2978
Thanks. I updated the issue topic to reflect the actual problem. Feel free to submit a PR.

[2018-02-05 10:25] NikhilVerma commented on #2978
We have this same issue with our application as well, the CSS has completely broken the layout. It seems like the CDN is pointing to https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css which is Bootstrap version 4.

[2018-02-05 11:14] apelsina commented on #2978
I've replaced "latest" to "3.3.7" in the link in my index.html and everything seems back to normal for now.
Thank everyone for investigation.

[2018-02-05 14:05] Warkst commented on #1510
If you keep the button but remove `type='Submit'`, the behavior is also avoided (onSubmit is never called). You can define your behavior by registering an `onClick` handler.

[2018-02-05 17:33] RyanNerd commented on #2978
Are the docs somewhere I can fork, fix and submit a PR? Spent the last 3 hours pulling my hair out trying to figure out why the bootstrap styling for Tabs went stupid. Here's my fix (in `styles.scss` -- see @apelsina comment as well):

`@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");`

[2018-02-05 18:52] jquense commented on #2978
🙄  ya'll last few folks could have sent a PR fixing this in the time it took to complain about it. this has been fixed (not sure about deployed)

[2018-02-05 18:52] #2978 closed

[2018-02-05 22:28] wy19900814 opened #2982 "React BootStrap is not compatible with Bootstrap 4.0.0"
I have to downgrade css from 4.0.0 to 3.5.5 and make it working.
Do we have plan to support Bootstrap 4.0.0 css in the future?

[2018-02-06 02:16] wijhuang opened #2983 "Bootstrap 4 makes react-bootstrap break"
In react-bootstrap getting started section, we must include stylesheet in order to work
[code]
but it didn't work, I tried and the problem is because Bootstrap in the CDN is 4.0.0
If I change to Bootstrap 3.3.7 it works
[code]

I wonder if Bootstrap 4 is unsupported for now?
or
do you have solution to migrate to bootstrap 4?

[2018-02-06 03:37] jquense commented on #2983
Please see the other issues, RB is bootstrap v3 at the moment, we love help getting to v4 compatible, check out the discussion and PR

[2018-02-06 03:37] #2983 closed

[2018-02-06 10:24] wijhuang commented on #2983
Thank you very much

[2018-02-06 11:51] shaieis opened #2984 "Navbar doesn't work correctly on Bootstrap 4"
In the [getting stated page](https://react-bootstrap.github.io/getting-started/introduction)
It is said to include latest styles from CDN:
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

**This already points to Bootstrap 4** which causes problems with <Navbar>

Even the example: "Navbar Basic Example" doesn't work correctly.

[2018-02-06 12:16] robertsonmcclure commented on #2984
Don't use the latest styles. I just spent an hour debugging this in my own code. Fixed by changing

`<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">`

to

`<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">`

as I learned in https://github.com/react-bootstrap/react-bootstrap/issues/2978

[2018-02-06 13:46] #2984 closed

[2018-02-06 13:49] florentcuret commented on #2984
same issue here

[code]

here the output with latest
![latest](https://user-images.githubusercontent.com/1671431/35862499-2c8d80e8-0b4c-11e8-8c20-715f3e3fdaab.png)

here the output with 3.3.7
![3 3 7](https://user-images.githubusercontent.com/1671431/35862500-2ca1f4ba-0b4c-11e8-976b-8b6af8be23e2.png)

you can see in that the .col-xs classes are not available anymore

![screen shot 2018-02-06 at 14

[2018-02-06 15:05] robbiemilejczak opened #2985 "Dropdowns not expanding in browser (CDN)"
I have an app that uses React Bootstrap. Afaik 30 days ago it was working without any issue. It is running on react 15.6.1, reactDOM 15.6.1, react-bootstrap 0.32.1, and using bootstrap 4.0 styles with no theme.

I am receiving no errors, and when I inspect the element the "open" class does toggle on click and aria expanded is set to true, which leads me to believe it's a stylesheet issue. From wha

[2018-02-06 15:18] #2985 closed

[2018-02-06 15:23] robbiemilejczak commented on #2985
The stylesheet listed in your docs:

[code]

was the problem. I had to switch to bootstrap 3.3.7 to make it work. Here's a link for anyone who ends up here with the same issue: https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css

[2018-02-06 16:11] jquense commented on #2984
We don't support v4 please read the docs and other issues

[2018-02-06 17:03] taion commented on #428
Fixed in https://github.com/react-bootstrap/react-bootstrap/pull/2980

[2018-02-06 17:03] #428 closed

[2018-02-06 17:04] #2961 closed

[2018-02-06 18:07] taion commented on #2971
It's likely that you either have the wrong version installed, or else it's something weird with TypeScript.

[2018-02-06 18:07] #2971 closed

[2018-02-06 18:12] taion commented on #2978
We updated the docs page.

[2018-02-07 12:20] Warkst opened #2989 "Checkbox in Navbar.Form vertical alignment not correct when there are no other elements in the Form"
I am working on a React app in which I use react-bootstrap for styling. I am using a `Navbar` with only 2 elements, a `Navbar.Header` (with nested `Navbar.Brand`) and a `Navbar.Form`. Inside the form, I placed only a `Checkbox`. In the browser, the resulting label and input are not vertically aligned on the baseline of the brand.

A quick fix is to add a `Button` with `style={{visibility: 'hidden'

[2018-02-07 13:53] JanezStupar commented on #2879
@parissge how did you work around this issue?

[2018-02-07 17:04] taion commented on #2989
That sounds like purely a CSS issue. We don't manage the CSS here, so it's possible that combination just isn't supported by your CSS.

[2018-02-07 17:04] #2989 closed

[2018-02-07 17:33] tatmanblue commented on #2248
how do I downgrade to bootstrap 3?

and Im not sure why this should be closed.  its a problem with bootstrap 4

[2018-02-07 18:31] toonikolai commented on #2559
@chongdog83 what a catch thanks

[2018-02-08 07:35] AOHUA opened #2990 "Glyphicon is now showing on android chrome"
Android version: 8.0.0
Chrome version: 64.0.3282.137

The icon is showing correctly on desktop chrome. But not showing on my mobile.

[2018-02-08 16:13] philest opened #2991 "Latest styling from CDN causes breaking changes"
Following the docs, I'm pulling in the stylesheets via CDN:

[code]

Sometime over the past few days, the `latest/` CDN import caused breaking changes on styling, mostly by changing `_reboot.scss` to have new default styles.

Importing instead from `3.3.7` fixed the breaking changes:

[code]

Here's the original view, as well as the breaking change:

<img width="1280" alt="screenshot 2018-02-08 11

[2018-02-08 17:24] qtbit commented on #1785
It seems all the sub-issues are closed after a year. Is it fixed to be ready to release?

[2018-02-08 17:57] taion commented on #2990
We just control rendering the HTML... this sounds like a CSS issue

[2018-02-08 17:57] #2990 closed

[2018-02-08 18:02] taion commented on #2991
We updated the docs page to recommend pinning TWBS v3  https://react-bootstrap.github.io/getting-started/introduction

[2018-02-08 18:02] #2991 closed

[2018-02-10 09:12] YuliyaGor opened #2992 "Transition stopped working"
Ubuntu 16.04
Used to work properly, suddenly stopped, no new libraries added, no software updates were done.

Example:
When open modal, overlay appears but not modal due to fade having opacity: 0 and transition not increasing opacity.

react: 15.6.1
tried a few versions of react-bootstrap from 0.31.3 to 0.32.1

Popover is not working as well, cursor: pointer is not showing too on bootstrap buttons

[2018-02-10 10:46] YuliyaGor commented on #2992
MacBook got this problem too o_O

[2018-02-10 12:02] YuliyaGor commented on #2992
Fixed.
Used https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css and it switched from 3x to 4x

[2018-02-10 12:02] #2992 closed

[2018-02-11 12:33] GustavoHGS commented on #2248
For me it worked simply downgrading bootstrap version from v4 to v3.

[2018-02-12 07:53] sm1990 commented on #2883
I set up the codebase and tried again. @henriquejensen 's solution worked. Thanks :)

[2018-02-12 09:47] Abhay07 opened #2993 "Have a copy paste code feature"
It would be really helpful to have a copy paste the examples using a copy button.

[2018-02-12 09:49] Abhay07 opened #2994 "Title of the pages can be better"
Currently the title on the pages are same as url.

[2018-02-12 16:09] taion commented on #2993
I don't think that's really worth adding here. The examples aren't really meant to be used as-is; they're more for illustration purposes.

[2018-02-12 16:09] #2993 closed

[2018-02-12 16:19] jquense commented on #2993
they really can't be copy and pasted anyway, there is a lot of hidden environement to running them (for the sake of illustrating the api)

[2018-02-12 18:22] ddelrio1986 opened #2995 "Overlay, container, and target"
I am trying to setup a custom overlay and am having a bit of trouble understanding how the overlay component works. On the documentation page I see a container and target prop referenced in some places but they are not listed in the list of props at the bottom. What are these props for?

[2018-02-12 20:04] taion commented on #2995
see https://react-bootstrap.github.io/react-overlays/

[2018-02-12 20:04] #2995 closed

[2018-02-14 11:01] FrancescoSaverioZuppichini opened #2996 "'react-bootstrap' does not contain an export named 'Input'."
Import { Input }  generates this error:

[code]

[2018-02-14 13:33] jquense commented on #2996
Yes there is no Input component, its been a long time (maybe a year) since there was one. Please see the documentation for what components there are

[2018-02-14 14:38] FrancescoSaverioZuppichini commented on #2996
oh, sorry! I was hired to fix a badly made web app with lots of old dependencies so this is why!

[2018-02-14 15:51] ghidosoft opened #2997 "Custom overlays requires passing down className to enable transitions"
I was implementing a custom overlay but I cannot make the `Fade` (that's the default) transition work.

I later discovered that I have to pass down the `className` prop to my custom div. I think that the Custom overlays documentation (https://react-bootstrap.github.io/components/overlays/#custom-overlays-overlay) should reflect this, the edit is pretty simple, just add `className` and `className={

[2018-02-14 16:36] jquense commented on #2997
Happy to take PR improving the example!

[2018-02-14 17:25] Itachi-Uchiha78 commented on #1820
404

[2018-02-14 18:17] ghidosoft commented on #2997
Hi @jquense, PR opened!

[2018-02-14 19:50] #2997 closed

[2018-02-15 16:19] ddelrio1986 commented on #2995
Thank you so much!!!

[2018-02-16 12:34] hanspoo opened #2999 "Tab samples don't set state because aren't defined with arrow functions"
I've just doing copy paste with the samples of the Tab component, i noticed that state didn't get updated after setState, then i double looked at the event handlers definition and noticed they are not defined with arrow functions and then "this" is not binded to the component (but eventually to the window  object), the best solution was to redefine handlers as arrrow functions. I guess  in the new

[2018-02-16 20:26] taion commented on #2999
Our playground environment doesn't support class properties. The `ControlledTabs` example does have the `.bind(this)` in the constructor, though, so it is correct.

[2018-02-16 20:26] #2999 closed

[2018-02-18 21:48] weisssean commented on #2083
If you do this:

`    componentDidMount(){
        this.setState({activeIndex:0})
    }
`

It will start the sycle.

[2018-02-19 07:15] MadLord80 opened #3000 "addStyle from bootstrapUtils warning in 2.13.0"
I updated react-bootstrap from 2.8.0 to 2.13.0 and get warning for addStyle.
This code (i used typescript)
[code]
create the warning: "Warning: Failed prop type: Invalid prop `bsStyle` of value `my` supplied to `Panel`, expected one of ["success","warning","danger","info","default","primary"]."

But class in HTML added:
`<div class="panel panel-my"><div class="panel-heading">Test</div></div>`

[2018-02-19 16:15] taion commented on #3000
@jquense This looks like a glitch with uncontrollable. Should it be `Panel.ControlledComponent` here, or should we change the order of wrapping?

[2018-02-19 17:53] drews256 commented on #1820
@Itachi-Uchiha78

Looks like an updated link is at:

https://react-bootstrap.github.io/components/forms/#forms

And the valid Bootstrap Form Control Types are here:

https://v4-alpha.getbootstrap.com/components/forms/#textual-inputs

[2018-02-19 20:39] walshe opened #3001 "date picker ?"
whats the easiest date picker to integrate with this ?

[2018-02-19 20:53] jquense commented on #3001
React-widgets, but I'm biased

[2018-02-19 21:06] #3001 closed

[2018-02-19 21:18] walshe commented on #3001
anything a bit simpler to install ?

[2018-02-19 23:47] nelhage opened #3002 "`DropdownButton` should blur on selection."
I maintain a [project](https://github.com/nelhage/crossme/) that uses `react-bootstrap` and also a global keydown listener. A user recently reported a bug that, after selecting an option from a dropdown (created via a `DropdownButton`), keyboard focus remained on the dropdown, and arrow key events were consumed by the menu, instead of the app's keyboard handler.

I [fixed the issue](https://github

[2018-02-20 03:02] MadLord80 commented on #3000
I think need to change the order of wrapping, because addStyle should work for all components with bsStyle property.

[2018-02-20 03:04] jquense commented on #3002
This isn't a bug, focus should return to the button once a menu item is selected, that's the correct focus behavior as outlined by the w3c accessability guidelines. Dropping focus from the document is generally very bad behavior and poor UX for anyone not using a mouse/finger to use your site, I'd consider an alternative for your user's sake :)

[2018-02-20 03:04] #3002 closed

[2018-02-20 12:30] sschenk opened #3003 "navbar-collapse collapse in is not removed when window is resized"
It's been reported in [2014 here](https://github.com/twbs/bootstrap/issues/13245) and closed, yet I don't find a solution.
[here's a jsfidle
](http://jsfiddle.net/tZXTv/)

[2018-02-20 16:05] taion commented on #3003
It doesn't actually do anything, though.

Just use a media selector if you specifically want to style those.

[2018-02-20 16:05] #3003 closed

[2018-02-20 18:34] wangytangy opened #3004 "OverlayTrigger 'show' prop does not actually hide the tooltip overlay if passed in as 'false'"
I'm attempting to wrap a OverlayTrigger with a tooltip around a button to display error messages. However I want to hide the tooltip entirely if there are no errors. If I pass in `show` as false to the OverlayTrigger just as the docs indicate, the tooltip still appears.

[code]

[2018-02-20 20:03] taion commented on #3004
see https://github.com/react-bootstrap/react-bootstrap/issues/155

[2018-02-20 20:03] #3004 closed

[2018-02-21 05:26] s-nesbigall opened #3005 "CDN react-bootstrap/0.32.1/react-bootstrap.min.js is not minimized"
Hi,

it seems the CDN
https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.32.1/react-bootstrap.min.js

is not minimized.

[2018-02-21 18:23] boompig opened #3006 "Generated docs not clear for OverlayTrigger?"
Are there any docs for OverlayTrigger? It's mentioned in both [Tooltip](https://react-bootstrap.github.io/components/tooltips/) and [Popover](https://react-bootstrap.github.io/components/popovers/) but it's unclear exactly what all the parameters do.

Here is the most comprehensive documentation of OverlayTrigger, found on the Tooltip page:

![screen shot 2018-02-21 at 10 19 41 am](https://user-im

[2018-02-21 18:46] jquense commented on #3006
you can look at the code for the examples on the doc site for more usage examples, or the tests here: https://github.com/react-bootstrap/react-bootstrap/blob/master/test/OverlayTriggerSpec.js

We are happy to take improvements to the docs if you are up for sending a PR thanks!

[2018-02-21 18:47] jquense commented on #3006
actually, gonna keep this open because the doc generation is clearly bugged here.

[2018-02-21 19:18] boompig opened #3007 "Passing target element to Overlay component"
In the docs for [Overlay](https://react-bootstrap.github.io/components/overlays/), it seems the standard way to pass a target is via DOM node. This requires doing something like

[code]

(basically the code from the first example).

That seems to be the minimum amount of code to specify a target for an overlay. Would it be possible to instead do:

[code]

? As an aside, while the `target` prop see

[2018-02-21 19:30] taion commented on #3007
No that doesn't work because `btn` in this case is just another React Element, and we can't infer what it's supposed to be. You could do:

[code]

[2018-02-21 19:30] #3007 closed

[2018-02-21 19:37] boompig commented on #3007
@taion I don't understand. You're saying to not include the Overlay?

[2018-02-21 19:54] taion commented on #3007
I’m saying your example proposed syntax literally doesn’t work. A React element does not uniquely identify a rendered React component.

[2018-02-22 08:09] timrichd commented on #2506
Also encountered this issue, is there a work around yet?

[2018-02-22 09:06] RKushnir commented on #2506
@timrichd Do you have `animation` enabled? Otherwise it doesn't work.
https://github.com/react-bootstrap/react-bootstrap/blob/08af669075b3576110e2e1801313bb96ca522cd7/src/TabPane.js#L262
https://github.com/react-bootstrap/react-bootstrap/blob/08af669075b3576110e2e1801313bb96ca522cd7/src/TabPane.js#L228

[2018-02-23 21:21] webpepper commented on #3005
It's actually the same story when it's included as an npm dependency.

`node_modules/react-bootstrap/dist/react-bootstrap.min.js` is not minified.

[2018-02-25 18:05] yug95 commented on #2930
i did same but even though issue remains same , i faced same problem with pagination also

[2018-02-26 14:32] #2963 closed

[2018-02-26 20:12] gradyasher opened #3009 "Offset not working"
Hi there, trying to offset a column and having no luck.
`import React from 'react';
import { connect } from 'react-redux';
import { Grid, Row, Col } from 'react-bootstrap'

import { getEntitiesFromApi } from '../../actions/entities';

export class LandingPage extends React.Component {
    render() {
        return (
            <Grid className="home">
                <Row>
                    <Col

[2018-02-26 20:15] taion commented on #3009
Your code sample is unreadable.

[2018-02-26 20:16] gradyasher commented on #3009
sorry just changed it

[2018-02-26 20:44] FutureKode opened #3010 "overlaytigger tooltip position is off sometimes"
Here is a video of issue:
![screen recording 2018-02-26 at 08 42 pm](https://user-images.githubusercontent.com/332387/36694244-ab88af8c-1b35-11e8-9e0d-047dccafd84e.gif)

code:
[code]

"bootstrap": "^3.3.7",
"react-bootstrap": "^0.31.5", also tried "0.32.1"

Any ideas?

[2018-02-27 09:43] AndyCJ commented on #2930
@yug95 Are you using TypeScript, and if so did you update the typings?

I just updated react-bootstrap to 0.32.1, and @types/react-bootstrap to 0.32.4.
That's fixed the issue for me, hopefully it fixes it for you too.

[2018-02-28 05:21] eliram9 opened #3011 "how to change the navbar background color?"
<img width="641" alt="screen shot 2018-02-28 at 12 15 21 am" src="https://user-images.githubusercontent.com/28363124/36771245-3b8fc376-1c1d-11e8-82d2-9309c6dc856b.png">

[2018-02-28 06:32] taion commented on #3011
Use `style` or `className`

[2018-02-28 06:32] #3011 closed

[2018-02-28 06:34] eliram9 commented on #3011
somehow calssName doesn't work, can you please give me an example how to write style?

[2018-02-28 12:55] jquense opened #3012 "v4: Tabs and Nav components Proposal"
bootstrap v4 allows for simpler Nav markup, using just `<nav><nav-link></nav>` You can still use the `ul` but the extra `li` isn't needed except when it's relevant semantically.

This makes the focus logic in Nav a bit harder to handle because we need to map `eventKey` to index to increment/decrement as you use the arrow keys, and having two ways to define markup is hard to handle in that case (so

[2018-02-28 21:43] binarykitchen opened #3013 "Do not toggle when just selecting text"
Within a Panel that has a toggler, sometimes I just want to select text and copy it. Without toggling.

For example

[code]

Pressing mouse and selecting that panel title text unfortunately toggles it.

Can event handling be a bit smarter here and distinguish whether I am after selecting text before toggling?

Using v0.32.1 here

[2018-02-28 22:43] taion commented on #3013
It's semantically correct to just handle `onClick` here. You can do what the upstream TWBS examples do and e.g. put the `onClick` handling on the text itself rather than making the entire heading a toggle.

[2018-02-28 22:43] #3013 closed

[2018-03-01 00:18] taion commented on #3012
Do we necessarily care which component holds the `eventKey`? Can we require that the `eventKey` be defined on whatever is the direct descendant of `<Nav>`?

[2018-03-01 00:36] jquense commented on #3012
Ahh, yeah that's true!  I guess we can also handle state passing via context as well, since the active state needs to make it to the nav-link other the item

BTW can we come up with a better name for that prop? I want to just call it `value` but that's also sort of weird

[2018-03-01 00:52] taion commented on #3012
Hah, I mean, it is sort of an "event key", but I agree the name is awful. Maybe `itemKey`? Changing APIs too much is going to make migration harder for users though \:

[2018-03-01 00:58] jquense commented on #3012
itemKey is better, I don't mind these sort of name changes so much tho since they are really easy to grep and replace

[2018-03-01 01:33] DarkArtistry opened #3014 "NavItem is not displaying on desktop browser. but works fine in mobile"
Hi I revised a website that I created with react bootstrap, and suddenly the navItem is no longer working.

![screen shot 2018-03-01 at 9 31 48 am](https://user-images.githubusercontent.com/25150257/36822515-674db1f0-1d33-11e8-9fa0-2e2698de3326.png)

https://www.kennethgzh.com/
https://degoldenspoon.com/

any advice ? I updated the packages. "react-bootstrap": "^0.31.0"

[2018-03-01 05:50] taion commented on #3014
Sounds like a CSS issue. Make sure you have an appropriate version of TWBS CSS installed (i.e. v3, not v4).

[2018-03-01 05:50] #3014 closed

[2018-03-01 06:25] PuneetSingh-Batra opened #3015 "Documentation Bug"
Hello,
Seems like a documentation bug, Just want to report it. Close it, once confirmed.
![screenshot_1](https://user-images.githubusercontent.com/9452175/36829919-4913965a-1d47-11e8-8ae1-cc58de19b64b.png)

[2018-03-01 12:53] DarkArtistry commented on #3014
hi sorry where can i cehck for the css version ? when the website was created months ago it was working fine... =/

[2018-03-01 12:59] DarkArtistry commented on #3014
OH i see i get it , i just copied the updated minified css link thank you @taion

[2018-03-01 15:12] zacharybergmann opened #3016 "Input and FormFeedback components boolean/string inconsistency"
Input and FormFeedback components are taking a mix of boolean and string properties. valid property on Input was expecting a boolean but invalid property on FormFeedback is requiring a string value of "true" or "false"

[2018-03-01 16:00] #3010 closed

[2018-03-01 16:09] taion commented on #3016
It's an enum-like string communicating the actual state, not a boolean

[2018-03-01 16:09] #3016 closed

[2018-03-02 00:08] ajalbani1 commented on #1985
$toggle-btn-width-x: 25px;
.login-container{
    .dropdown{
        width: 100%;
        .btn-default{
            &:not(.dropdown-toggle){
                width: calc(100% - #{$toggle-btn-width-x});
            }
        }
        .dropdown-toggle{
            width: $toggle-btn-width-x;
        }
    }
    .dropdown-menu{
        width: 100%;
    }
}

[2018-03-02 00:08] ajalbani1 commented on #1985
`$toggle-btn-width-x: 25px;
.login-container{
    .dropdown{
        width: 100%;
        .btn-default{
            &:not(.dropdown-toggle){
                width: calc(100% - #{$toggle-btn-width-x});
            }
        }
        .dropdown-toggle{
            width: $toggle-btn-width-x;
        }
    }
    .dropdown-menu{
        width: 100%;
    }
}`

[2018-03-02 01:21] binarykitchen commented on #3013
nope @taion, i tried with onClick on Panel.Title but that doesn't help nor solve the issue here

[2018-03-02 03:12] ChrisLFieldsII commented on #3015
![screenshot 2](https://user-images.githubusercontent.com/30332608/36881692-12509ae8-1d95-11e8-9e37-28ca5870f38a.png)

I also noticed a typo in 2nd the Navbar example. There is no starting <Navbar.Toggle> which might throw off some copy-pasters lol.

[2018-03-02 09:44] wwardaww opened #3017 "react-bootstrap github page is not in production"
**why react-bootstrap github page is using an unminified build of React ?**

![react-bootstrap github page](https://lh3.googleusercontent.com/-GJJ7qJvVWFQ/WpkbtZHxLuI/AAAAAAAAAZg/s6btroIX5qALYSDEOZUUOiUDPKIMPazCQCL0BGAYYCw/h744/2018-03-02.png)

[2018-03-02 12:06] david-forster10 opened #3018 "Suggestion: Allow prev and next controls to be toggled on and off independently for the carousel component"
Business Case: While on the first slide, I can toggle to not display or disable the previous control but have the next control visible and active, meaning the user can't go to the last slide instantly and must navigate through to reach the final view.

While on the final slide, I can toggle the next control off (so it's disabled or not displayed) so the user can't go back to the first slide withou

[2018-03-02 14:12] smandavia commented on #2404
I have also encountered this issue. Has anyone found a fix for this?

[2018-03-03 06:43] sharma02gaurav commented on #1880
You cannot update react component properties just like that. React does have it's own DOM handling.
If you are using redux you can handle that via actions. I was facing the same issue and I solved it by dispatching a state change notifying unavailability of image and setting the state to use the default image.

Actions.js
[code]
Reducer.js
[code]
And the image error handler in JSX.
[code]

Here i

[2018-03-03 08:19] taion commented on #3018
It's not part of upstream TWBS, so we're not going to go out of our way to add it. Feel free to make a PR, though.

[2018-03-03 08:19] #3018 closed

[2018-03-03 17:09] BoyWithSilverWings commented on #2964
A search plugin on top of the sidebar should help

[2018-03-03 21:05] jquense commented on #3012
Slight complication. the `disabled` state is nested as well, which we need to know to skip over the element when tabbing...

I think that the Nav component is sort of annoyingly complicated with all the tab focus logic...I still think we'll end up with simplified components splitting the explicit "I'm using this as an actual tab list" from any other case? Idk i guess that doesn't cover something l

[2018-03-03 23:31] jquense commented on #3012
ok yeah I don't think it makes sense to have so many Tab containers. the "high level" one doesn't offer much value i don't think. Lets cuts some stufffff

[2018-03-04 15:19] jquense opened #3021 "v4: Internal api trimming, style context"
So we have ended up accumulating a bunch of bootstrapUtils around the variaous props apis, I think we should simplify a bit and try and drop some of the stuff that was more important in the past and take advantage of the newer language features like string interpolation :P

I am thinking something like this leaveraging the new Context api, Here is the `Button` component without bootstrap utils.

[

[2018-03-04 20:43] saberprashant commented on #2248
Hey, if anyone wants to downgrade from v4 to v3 OR simply want that grid button to work,
then go to your public/index.html of you react project and paste this bootstrap CSS link for v3:

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

Jus

[2018-03-04 23:55] jquense opened #3023 "v4: Alerts"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/components/alerts/)

- [ ] new variants
- [ ] Heading component
- [ ] Link component

[2018-03-04 23:57] jquense opened #3024 "v4: Carousel"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/components/carousel/)

- [ ] Update from v3
- [ ] Support page visibility api
- [ ] Sub components

[2018-03-04 23:57] jquense opened #3025 "v4: Cards"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/components/cards/)

[2018-03-04 23:58] jquense opened #3026 "Forms"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/components/forms/)

sort of in progress

[2018-03-04 23:58] jquense opened #3027 "v4: List Group"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/components/list-group/)

- [ ] New sub component API

[2018-03-04 23:59] jquense opened #3028 "v4: Dropdown"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/components/dropdowns/)

- [x] update classes
- [ ] POPPER support in react-overlays

[2018-03-05 00:24] jquense opened #3029 "v4: Layout component?"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/layout/utilities-for-layout/)

v4 contains a ton more helper and utility classes for layout, flexbox, margins, padding, etc. It

[2018-03-05 00:25] jquense opened #3030 "v4: Tabs"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/components/navs/#javascript-behavior)

The below is still TBD, but my current thinking:

- [ ] Get rid of the current high leve

[2018-03-05 00:26] jquense opened #3031 "v4: Tooltips & Popovers"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/components/tooltips/)

- [ ] clean up existing components
- [ ] get POPPER support upstream in react-overlays (see also #3028 )

[2018-03-05 00:35] jquense opened #3032 "v4: Modals"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/components/modal/)

[2018-03-05 00:35] jquense opened #3033 "v4: Progress bars"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/components/progress/)

[2018-03-05 00:36] jquense opened #3034 "v4: Fade and Collapse"

[2018-03-05 00:36] jquense commented on #3034
done!

[2018-03-05 00:36] #3034 closed

[2018-03-05 00:55] taion commented on #3021
You added the prefixing helpers :p I'd be fine with dropping them.

Do you think the single `variant` array is too generic? What about type checking/&c. for the variants? Do them in `render`?

[2018-03-05 00:56] taion commented on #3030
I feel like we see enough people complain about `<Tab>` and `<Tabs>` that it might be worth keeping. What about a `<TabNav>` or something?

[2018-03-05 01:40] jquense commented on #3030
I think naming will be subpar here for most any other name. Idk I'm sure some ppl will complain but this component is weird in the current context of the rest of the library, full of many components and sub components. I'm fine keeping if it's not getting in the way of better apis elsewhere, I'm still not sure how to handle the nav case with the nested components

[2018-03-05 01:44] jquense commented on #3021
O yeah the helpers are all my fault :P I'm annoyed at past me. Idk about the single variant field. I'm starting to think there isn't a ton of value in have this super unified approach, I don't know that it offers much more over individual, semantically relevant names. Plus most libraries seem to do the 'variant', 'color', 'size' etc. It's also an easier migration path. I would stop prefixing the p

[2018-03-05 01:48] jquense commented on #3021
how do you feel about the above for the internal style management and variant prefix customization? maybe worth making it a decorator?

[2018-03-05 13:36] prasadbe commented on #2883
@henriquejensen what you mean codebase.could you please explain that

[2018-03-05 14:16] jquense opened #3036 "v4: Jumbotron"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/components/jumbotron/)

[2018-03-05 14:17] jquense opened #3037 "v4: Input Group"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/components/input-group/)

[2018-03-05 14:17] jquense opened #3038 "v4: Navs"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/components/inavs/)

[2018-03-05 14:18] jquense opened #3039 "v4: Breadcrumb"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/components/breadcrumb/)

- [ ] Update markup to use a `nav` element
- [ ] Auto add `aria-current`? I'm not sure about this one

[2018-03-05 14:19] jquense opened #3040 "v4: Badge"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/components/badge/)

Badge in v4 is the `Badge` and `Label` combined. Label should be renamed to Badge and the other Badge remov

[2018-03-05 14:33] jquense opened #3041 "Documentation design!"
Our documentation could use a facelift! We've recently updated it to a Gatsby js site, and could definitely benefit from some design work.

- [ ] Clean up all the forked bootstrap doc css, removing unused stuff
- [ ] Update from LESS to Sass

[2018-03-05 14:36] jquense opened #3042 "Documentation Search"
We need search in the documentation! The reactjs site has a nice one maybe we can borrow it ;)

[2018-03-05 14:38] jquense opened #3043 "Documentation landing page, getting started guide, and other non-API pages"
We really should update, and expand the non-api pages to better reflect the current React ecosystem. A lot of the info here hasn't been updated since React was a much smaller ecosystem

[2018-03-05 15:29] #3017 closed

[2018-03-05 15:45] AnderssonChristian commented on #3040
@jquense I can take this one, as well as #3039 if they are not taken

[2018-03-05 15:50] jquense commented on #3040
go for it! the v4-support branch is a bit broken with tests right now (working on it!)

[2018-03-05 15:57] jquense commented on #3040
oops it likes this might mostly be done 😳 already I may have messed with it earlier in the process.

[2018-03-05 15:58] jquense commented on #3040
it does look like tests and probably documentation still need to be updated if you are up for it!

[2018-03-05 16:08] taion commented on #2964
I guess we'll track https://github.com/react-bootstrap/react-bootstrap/issues/3042 instead

[2018-03-05 16:08] #2964 closed

[2018-03-05 16:24] jquense commented on #2829
Ok current thinking:

we maintain the general `bsClass`, `bsStyle`, `bsSize` breakdown (but rename them to `bootstrapPrefix`, `variant`, and `size`). We worry a bit less about uniformity across all components, I don't think it's a big deal that things likes `block` or `vertical` are technically also variants but different props. There seem to be less of them in general in v4, delegating instead to

[2018-03-05 16:29] kendaganio commented on #3039
I can take this @jquense if it's still available

[2018-03-05 16:32] jeffreyroshan commented on #3039
I am interested to take this up, if still available.

[2018-03-05 16:32] jeffreyroshan commented on #3036
I am interested to take this up, if still available.

[2018-03-05 16:32] jeffreyroshan commented on #3032
I am interested to take this up, if still available.

[2018-03-05 16:37] jquense commented on #3039
@AnderssonChristian  and @jeffreyroshan lets let @kendaganio take since @AnderssonChristian already has Badge and @kendaganio was first on the issue here :)

@kendaganio All yours

[2018-03-05 16:38] jquense commented on #3032
@jeffreyroshan lets stick with one at the time for now to give folks a chacne to jump in! Would you prefer this one or the #3036 ?

[2018-03-05 16:38] kendaganio commented on #3039
thanks @jquense!

[2018-03-05 16:52] zshnr commented on #3024
Hi @jquense I would be happy to help with this :)

[2018-03-05 16:53] jquense commented on #3024
All yours!

[2018-03-05 16:58] BoyWithSilverWings commented on #3042
react docs is using algolia for search

[2018-03-05 17:31] jeffreyroshan commented on #3032
@jquense I'll take this

[2018-03-05 17:32] jquense commented on #3032
done!

[2018-03-05 17:41] taion commented on #3005
fixed in https://github.com/react-bootstrap/react-bootstrap/pull/3044

[2018-03-05 17:41] #3005 closed

[2018-03-05 17:45] taion commented on #2774
this was fixed in #2956

[2018-03-05 17:45] #2774 closed

[2018-03-05 17:53] maaz93 commented on #3041
I'd like to take this up. I'm experimenting with Gatsby, so this would be a fun experience I hope. Could you elaborate a bit on the first task?

[2018-03-05 17:57] jeffreyroshan commented on #3032
I should start from v4-support branch, right?

[2018-03-05 18:21] jquense commented on #3041
Awesome! thanks for helping out.

Yes, a lot of the styling you'll see in `www/src/css/` is a complete copy/paste of the v3 bootstrap docs styles and then heavily modified. We don't use a lot of it and the current docs site structure isn't even similar to the v3 docs. I'd love if we could essentially "start over" with the style files and build something up with a bit more modern of a style archite

[2018-03-05 18:22] jquense commented on #3032
yes :) !

[2018-03-05 19:25] jquense opened #3047 "v4: Custom form inputs (checkbox, select, radio, file)"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/components/forms/#custom-forms)

- [x] Checkbox
- [x] Radio
- [x] File input
- [x] Select
- [x] Range

[2018-03-05 19:27] jquense opened #3048 "v4: Figures"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/content/figures/)

I think the only thing needed here is the `figure-img` bits? Maybe it's worth rolling into Images

[2018-03-05 19:28] jquense opened #3049 "v4: Images"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/content/images/)

[2018-03-05 19:32] jquense opened #3051 "v4: Media Object"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/layout/media-object/)

I think this one is mostly deleting things, like MediaList and updating the markup

[2018-03-05 19:55] AnderssonChristian commented on #3040
@jquense I can do documentation, sure. I'd like some code too though, what about #3047 ?

btw, do we want an alias component for Label -> Badge (that maybe logs a deprecation warning)?

[2018-03-05 19:59] jquense commented on #3040
Definitely can have #3047 just mention tho in that issue so folks can see.

No need for depreciation warnings, this will already be a hard break for anyone upgrading so there isn't a ton of value in aliasing the components

[2018-03-05 20:01] AnderssonChristian commented on #3047
I can take this.

[2018-03-05 21:52] AnderssonChristian opened #3052 "Storybook issues"
I'm trying to get storybook to work on my fork but I am getting:

`ERROR in ./.storybook/config.js. Module build failed: Error: Plugin/Preset files are not allowed to export objects, only functions.`

I have tried installing dependencies a few times but it doesn't help. What could be the issue?

[2018-03-05 21:56] jquense commented on #3052
oops looks like i may have broken the storybook recently i've been use the docs directly (`npm run develop` in the `www` directory) to do component visual testing.

[2018-03-05 22:03] iamnapo commented on #3048
I'd like to work on this

[2018-03-05 22:05] jquense commented on #3048
go for it!

[2018-03-05 22:24] grady-lad commented on #3033
@jquense I can take a look at this one

[2018-03-05 22:35] jquense commented on #3033
great! thanks :)

[2018-03-05 23:54] iamnapo commented on #3049
I guess I'll take this as well as #3048

[2018-03-06 00:00] jquense commented on #3049
good call they seem related 👍

[2018-03-06 00:41] stephanieinez commented on #3036
@jquense I can take a look at this one

[2018-03-06 01:28] jquense commented on #3036
all yours! thanks :)

[2018-03-06 01:32] jquense opened #3053 "v4: Navbar"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/components/navbar/)

Blocked by #3038

[2018-03-06 01:33] jquense opened #3054 "v4: Remove Glyphicons components"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md )

These are v3 only!

[2018-03-06 01:35] jquense opened #3055 "v4: Tables"
**Read first!** [Contributing](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md) | [Structuring a PR](https://github.com/react-bootstrap/react-bootstrap/blob/v4-support/V4-Contributing.md ) | [Bootstrap docs](https://getbootstrap.com/docs/4.0/content/tables/)

Need to support `responsive` breakpoints!

[2018-03-06 02:20] taion commented on #3021
so as discussed, i think we should either use a HoC, or have a separate helper for creating context-styling-aware components, to minimize the required code contortions

[2018-03-06 02:21] taion commented on #2829
`bsPrefix` for less typing? :p and keep `bsRole` of course. but those sounds good.

[2018-03-06 02:46] jquense commented on #3021
Updating coming!

[2018-03-06 03:42] perry0105 commented on #2418
Thanks, really helps!

[2018-03-06 04:15] astronomersiva commented on #3055
I would like to take this up!

[2018-03-06 07:19] fhavrlent opened #3056 "Popover not closing when holding cmd or Shift"
I am not sure if this is a bug, since boostrap example works, or this is a correct and intended, but when using "Click w/rootClose", the popover will not close. Or am I just missing something? 😶

[2018-03-06 12:24] sliw commented on #3051
@jquense

I have attempted to this issue - https://github.com/react-bootstrap/react-bootstrap/pull/3057

But I am not sure about the markup bit you mentioned.

Feel free to give me feedback.

[2018-03-06 13:38] alacroix commented on #3027
Hi @jquense ! I would like to take this one :)

[2018-03-06 13:47] taheerahamed commented on #2868
@GoChartingAdmin  how you fixe this issue ?

[2018-03-06 14:02] jquense commented on #3027
👍 awesome all yours.

[2018-03-06 14:03] jquense commented on #3027
This one will involve some API changes, because the API we have now is not great, we want something more along the lines of the Panel api

[2018-03-06 14:34] jeffreyroshan commented on #3032
I need some help setting up local module for development.

I cloned my repo locally, pointed it to v4-support branch and installed the module locally on my react project as follows:

`sudo npm install ./react-bootstrap --save
`

I can see it in the package.json

`"react-bootstrap": "file:react-bootstrap",`

However, when I run my code by importing the module using `import { Alert, Button } from 'r

[2018-03-06 15:06] jquense commented on #3032
I'm not sure there, I would use the docs as a playground for testing personally. We also recommend using `yarn` instead of `npm`

so:
- `yarn install` in react-bootstrap/
- `yarn install` in react-bootstrap/www
- `yarn run develop` in react-bootstrap/www

The docs will always use whatever is in your local `src/` directory

[2018-03-06 16:05] manishsaraan commented on #3025
I would like to take this.

[2018-03-06 16:17] keul opened #3058 "[Feature Request] having a "disabled" control on Dropdown buttons and dropdown command"
This is the same issue already reported at #2684.

As suggested I'm using directly the `Dropdown`components and subcomponents (and not the `SplitButton`).
In this way I'm able to have a disabled Button, but seems there's no way to disable the dropdown arrow (in an independent way from the button). Looking at `DropdownMenu` I see no way to pass a `disabled` props.

[2018-03-06 16:23] abdullahtariq1171 commented on #3023
I would love to take this.

[2018-03-06 16:32] keul commented on #3058
Sorry, found how to do this (not easy to understand due to nesting, but it works):

[code]

* To disable the dropdown arrow, use disabled on the `Dropdown` component
* To disable the button, use disabled on the `Button` component

[2018-03-06 16:32] #3058 closed

[2018-03-06 16:36] manishsaraan commented on #3015
Thanks @PuneetSingh-Batra . Will look into it.

[2018-03-06 16:36] jquense commented on #3023
all yours 👍

[2018-03-06 16:36] jquense commented on #3025
awesome thanks!

[2018-03-06 16:56] taion commented on #3056
intentional per https://github.com/react-bootstrap/react-overlays/issues/68, https://github.com/react-bootstrap/react-overlays/issues/69

[2018-03-06 16:56] #3056 closed

[2018-03-06 17:22] tgfbikes commented on #3054
@jquense, I can give this a shot if you'd like.

[2018-03-06 17:28] jquense commented on #3054
go for it!

[2018-03-06 19:09] manishsaraan opened #3060 "There is no 'npm run docs' npm script in package.json"
There is mention of `npm run docs` in readme but no script with name in package.json. @jquense can provide the script which is used to create docs. Thanks.

[2018-03-06 19:17] jquense commented on #3060
To start the docs run `yarn install && yarn run bootstrap-docs` to set everything up, and then navigate to `www` and run `yarn run develop`

I'll update the readme to make this easyier!

[2018-03-06 19:19] manishsaraan commented on #3060
Ok cool. Thanks

[2018-03-06 22:21] AnderssonChristian commented on #3047
@jquense Looking at the official bs4 docs, all examples have the input-label association done with the `for` and `id` attributes. The other method of wrapping each input inside a label isn't documented and doesn't seem to work. Unless I am missing something, this is really a shame since it would be easier to implement that approach with React.

Now we would need some creative way of generating a u

[2018-03-06 22:50] jquense commented on #3047
Do you have any specific examples that you mean? Checkboxes and Radios are semantically valid inside of a label but i don't know if the styles work.

[2018-03-06 22:51] taion commented on #3047
I think we should either have a component that just corresponds to e.g. `.form-check` and handles rendering both the `.form-check-input` and the `.form-check-label`, or else have the component corresponding to `.form-check` work like the current `<FormGroup>` as a context provider that takes a `controlId` (or perhaps better `inputId`) prop.

[2018-03-06 22:52] jquense commented on #3047
I think in this case we mean the custom inputs, which need a different markup than the normal `form-check` and input case :/ https://getbootstrap.com/docs/4.0/components/forms/#checkboxes

I'd say in this cases we should just accept an id, and thread it to both the label and input

[2018-03-06 22:54] jquense commented on #3047
ugh i ddin't even realize the normal inputs do this as well, sorry @taion we're on the same page :P

[2018-03-06 22:57] taion commented on #3047
i mean this is good, this means that checkboxes are more like normal form groups... just need a slightly different API is all... `<FormCheck>`, `<FormCheck.Input>`, and `<FormCheck.Label>` perhaps?

[2018-03-06 22:58] jquense commented on #3047
well sort of? the label is still in a different place. I've actually already started the normal form inputs @AnderssonChristian (not the custom style ones noted here tho!)

maybe I sohuld push that branch so folks can see what i was thinking?

[2018-03-06 22:58] taion commented on #3047
We could do something cute with functional components, e.g.

[code]

[2018-03-06 23:00] AnderssonChristian commented on #3047
@jquense right. Semantically correct but the styles don't seem to work.

I guess we could implement a required id prop, this would reflect the framework anyway... just kind of a bummer.

[2018-03-07 00:03] jquense commented on #3047
@AnderssonChristian i'd say leave the id not required, we don't require for other inputs, but if it's there we can put it in the right place. We can revist tho when the PR hits!

[2018-03-07 02:38] jquense commented on #3055
go for it!

[2018-03-07 02:39] #3060 closed

[2018-03-07 02:39] jquense commented on #3060
fixed everywhere!

[2018-03-07 02:51] maaz93 commented on #3041
When you say _modern style architecture_, you mean the way the styles are organized or written?

Also honestly, when I first read the issue description, I got the impression that it's more of a clean-up (as in remove unused things, format the CSS to a way it is more readable etc.) task than a re-design the website task. Sadly, I won't have the time to do a new website from scratch 😞 But, I can def

[2018-03-07 02:54] jquense commented on #3041
That would be great! We probably do need a bunch of redesign eventually, but a great first step would be to clean up the css that's there and update the existing styles to not be broken with the new bootstrap v4 css. If you're up for that please go for it 👍

[2018-03-07 04:03] maaz93 commented on #3041
Awesome! I'll start it off and come back if I have any questions.

[2018-03-07 17:55] sekharp commented on #2985
Robbie, thank you so much for finding this! I had some solid trouble figuring out the issue here for a small app I built. This was super helpful :fireworks:

[2018-03-07 19:57] dayangxiang commented on #2248
Looks like @saberprashant missed the link
[code]
I copied it from https://react-bootstrap.github.io/getting-started/introduction/#install.

This works for me.

[2018-03-08 11:12] etedesco commented on #2532
I have this issue.
You can reproduce the issue, using this link
http://www.gulamshakir.com/apps/s3calc/

Problem found using "react-bootstrap": "0.32.1"
Anybody can help me ?

[2018-03-08 11:44] RKushnir opened #3066 "Broken examples in the grid documentation"
This is what https://react-bootstrap.github.io/layout/grid/ looks like for me(Mac, Firefox/Chrome/Safari). Also, if I try to edit the code, it goes all crazy by adding these chars `">">">` for each key pressed.

<img width="880" alt="screen shot 2018-03-08 at 12 39 27 pm" src="https://user-images.githubusercontent.com/205906/37149291-cbea5ede-22cd-11e8-9c38-10dfdcfcc22d.png">

[2018-03-08 12:58] qtbit opened #3067 "Button in MenuItem"
Have a problem with creating a button in a menu item.

Two possibilities how to implement it:
1. `<MenuItem>[icon] item1 <Button>Remove</Button></MenuItem>`
2. `<MenuItem>[icon] item2 </MenuItem><Button>Remove</Button>`

Two results:
1. `<li><a>[icon] item1 <button>Remove</button></a></li>`
2. `<li><a>[icon] item2 </a></li><button>Remove</button>`

However, none of those is correct :-(

*Expected

[2018-03-08 16:09] jeffreyroshan commented on #3032
@jquense Thanks that works.

[2018-03-08 16:25] functionalStoic commented on #2930
Upgrading to 0.32.1 fixed the issue for me as well. Thanks!

[2018-03-08 18:22] astronomersiva commented on #3055
Hi @jquense , I have pushed some changes [here](https://github.com/astronomersiva/react-bootstrap/commit/e9b9604de908d10d65c4074519e2727a4b1328c0).

Just wanted to make sure I am going on the right track especially with responsive-breakpoints.

[2018-03-08 19:20] chsir17 commented on #1641
I am really late to this but in case someone else is looking for an answer like I was, here's what fixed it for me: [link](https://stackoverflow.com/questions/18963881/bootstrap-3-panel-header-with-buttons-wrong-position/23831762#23831762)

[2018-03-08 21:48] patrickmcelwee commented on #3038
The problem seems to be when `&addOnPanel` is the final url param and the page is loaded. An extra slash is being appended to the URL.

I believe it is most likely caused when running `python -m SimpleHTTPServer`. I get this error when running python 2.7.5. I do not get it with python 2.7.13. I believe it is most likely caused by this issue: https://bugs.python.org/issue23112, which was resolved a

[2018-03-08 23:25] jquense commented on #3055
Hey awesome looking good. feel free to push a PR even if it's not finished,it's easier to comment on that way

[2018-03-09 02:38] redmerten opened #3068 "dropdownButton noCaret is not working"
"react-bootstrap": "^0.32.1",
"react": "^16.2.0",
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

`render() {
    const item=this.props.navItem
    return (
      <Nav>
        <DropdownButton
          title={item.label}
          onMous

[2018-03-09 03:41] Binhngoc opened #3069 "xs={6} xsOffset={6} => (Offset) - fail"
<Row className="show-grid">
    <Col xs={6} xsOffset={6}>
      <code>&lt;{'Col xs={6} xsOffset={6}'} /">&gt;</code>
    </Col>
</Row>

[2018-03-09 03:59] taion commented on #3069
offsets work fine in https://react-bootstrap.github.io/layout/grid/. check your css

[2018-03-09 03:59] #3069 closed

[2018-03-09 03:59] taion commented on #3068
works fine in our examples https://react-bootstrap.github.io/components/dropdowns/#btn-dropdowns-nocaret

[2018-03-09 03:59] #3068 closed

[2018-03-09 04:00] taion commented on #3067
a menu item is a list item with a link in it, so it's possible you just can't do this with `<MenuItem>`

[2018-03-09 04:00] #3067 closed

[2018-03-09 04:50] redmerten commented on #3068
Maybe, but it doesn’t work in my example.

Sent from my iPad

[2018-03-09 05:29] Binhngoc commented on #3069
@taion thanks pro :D

[2018-03-09 14:10] jeffreyroshan commented on #3032
@jquense I started working on it. Got some errors fixed and got the modal working on v4.

![basic-modal](https://user-images.githubusercontent.com/2136271/37211337-95f19ed2-23d1-11e8-8dbd-9a68fe1d31cd.png)

I am now trying to add **vertically centered** modal. I need to add the class "modal-dialog-centered" to the ModalDialog component. What's the recommended way to do this?

![vertically-centered

[2018-03-09 14:39] jquense commented on #3032
I'd say make the prop `centered` and pass it through to the Modaldialog component where we add the class

[2018-03-09 15:56] redmerten commented on #3068
Here is my new example. It does not work. It also displays a caret.  What css link are you using?  What is bsstyle='default'?

`return (
        <ButtonToolbar>
        <DropdownButton
          bsStyle="default"
          title={item.label}
          onMouseEnter = { this.handleOpen }
          onMouseLeave = { this.handleClose }
          open={ this.state.isOpen }
          noCaret
          id

[2018-03-09 16:01] redmerten opened #3071 "issue 3068 is not resolved. Still shows caret"
Updated code per your recommendation.  Still shows caret.  What css link are you using?  What is bsStyle ="default"?

`render() {
    const item=this.props.navItem
    return (
        <ButtonToolbar>
        <DropdownButton
          bsStyle="default"
          title={item.label}
          onMouseEnter = { this.handleOpen }
          onMouseLeave = { this.handleClose }
          open={ this.state

[2018-03-09 16:09] jquense commented on #3071
please check the docs. you need the v3 css.

[2018-03-09 16:19] redmerten commented on #3071
"react-bootstrap": "^0.32.1",
"react": "^16.2.0”,

from docs = not working

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

Not working
render() {
  const item=this.props.navItem
  return (
      <ButtonToolbar>
      <DropdownButton

[2018-03-09 16:33] qtbit commented on #3067
So, the advice is to go to the source code of MenuItem, copy it and change it as I need? :-D

[2018-03-09 17:48] jquense commented on #3067
Mostly, bootstrap v3 doesn't really support anything other than links in menus so your in uncharted territory. The v4 does allow this by and RB will update to facilitate that when we get there

[2018-03-09 17:51] jquense commented on #3071
I'm not sure what to tell you..it works in our docs which are using the latest version. I think you probably have the bootstrap v4 case somewhere. if you could post something that reproduces what your seeing in jsfiddle or codesandbox that would be the most helpful

[2018-03-09 17:54] #3071 closed

[2018-03-09 17:55] redmerten commented on #3071
You must get a free lunch if you close things regardless of whether they are actually resolved.

[2018-03-09 18:17] jquense commented on #3071
please provide a reproduction demostrating that it's not resolved and we'll be happy to help!

[2018-03-09 18:20] redmerten commented on #3071
https://github.com/redmerten/BeautyCounts <https://github.com/redmerten/BeautyCounts>

[2018-03-09 18:26] jquense commented on #3071
hey, that's not super helpful, no one here has time to figure out how to deploy your website. Please use jsfiddle or codesandbox (like i noted above) to show a **minimal** reproduction of the issue. Please respect maintainers time by doing at least the minimum amount of work to help us help you.

[2018-03-09 18:28] redmerten commented on #3071
clone cd server and type nom run dev

[2018-03-09 18:38] jquense commented on #3071
good luck!

[2018-03-10 18:37] jeffreyroshan commented on #3032
@jquense I've added the `centered` prop and updated the doc page with an example.

![centered-modal](https://user-images.githubusercontent.com/2136271/37245559-fa499828-24bf-11e8-91ba-5c1728b83367.png)

Now, to update the **tests** should I append it to `test/ModalSpec.js` or create a new test file?

Latest commit: [https://github.com/jeffreyroshan/react-bootstrap/commit/d140d7bf7aea7025a1e05aa6cc

[2018-03-10 18:57] jquense commented on #3032
You can keep adding to ModalSpec.js 👍

[2018-03-11 19:20] highskillzz commented on #3029
Could you please explain more what do you mean?

[2018-03-11 21:08] AhmedFat7y commented on #2748
It seems that adding tabIndex="0" to the labels makes it focusable when you press TAB. However, when you press Space, nothing happens. You need to press another TAB (to focus the child input) then you can press Space to toggle the button.
To avoid focusing the input with the next TAB, we can add tabIndex="-1" to it.

I think we can add another handler for onKeyUp to check for space press on the la

[2018-03-12 03:40] BoyWithSilverWings commented on #3042
https://community.algolia.com/docsearch/
This is the URL for docsearch from algolia that React and Bootstrap uses. The owner of the site needs to fill in the details and receive the key.

[2018-03-12 17:51] highskillzz commented on #3066
Can I take this issue

[2018-03-14 06:40] grady-lad commented on #3028
Hey @jquense this one still available to work on ?

[2018-03-14 15:07] jquense commented on #3032
@jeffreyroshan Also feel free to open a PR while your working on it if you want feedback

[2018-03-14 15:08] jquense commented on #3028
hey @grady-lad I've actually already started this one since it involves a lot of back and forth between react-overlays. I should have added the taken issue

[2018-03-14 17:37] timhwang21 opened #3076 "V4: Update documentation for DropdownButton to clarify behavior of splitComponentProps"

[2018-03-14 17:39] timhwang21 opened #3077 "V4: Update documentation for DropdownButton to clarify behavior of splitComponentProps"
I was using `<DropdownButton/>` and wanted to attach a handler for when the dropdown closed. I saw in the docs that this prop was supported on `<Dropdown/>`, and thought that I had to implement the more complex approach described in section "Custom Dropdown Components." However, looking in the source, the `splitComponentProps` util intelligently applies props where they need to be. This makes my l

[2018-03-14 17:42] #3076 closed

[2018-03-15 11:27] jeffreyroshan commented on #3032
@jquense sure, thanks.

[2018-03-15 15:34] saramberr12 commented on #2285
@superdev810 currently experiencing the same issue, that doesn't seem to be working for me

[2018-03-16 00:24] chenesan commented on #3029
Hi @jquense I'd like to take this one 😄

[2018-03-16 07:19] highskillzz commented on #3066
I am sorry, but where can I find the documentation to edit it

[2018-03-16 11:16] jquense commented on #3066
It's in this repo in the www/ folder

[2018-03-16 13:39] jquense commented on #3029
@chenesan go for it! Setting expectations a bit first though so we are on the same page. I'm not sure what this component should/would look like, so there will probably be a lot of back and forth on the api and structure. It's not entirely clear yet whether adding it is even a good call, but we'd love to see some exploration!

[2018-03-16 15:37] chenesan commented on #3029
@jquense Thanks! I'll read through the utility api docs and try to write some possible usage examples in the next few days.

[2018-03-17 15:43] ESTEBANMURUZABAL opened #3079 "Warning: Each child in an array or iterator should have a unique "key" prop. in PanelGroup"
Hi guys, Could you give me a hand on this one please:

I am getting a unique key warning because I am putting a PanelGroup inside a map so the keys if each child are the same.. How could I pass a unique key to each PanelGroup component? I have already tried passing "key={idx}".

Warning:
<img width="776" alt="screen shot 2018-03-17 at 12 47 30" src="https://user-images.githubusercontent.com/982503

[2018-03-17 19:25] jquense commented on #3079
The key prop needs to go on the return value of the map,the PanelGroup

[2018-03-17 20:52] #3079 closed

[2018-03-18 07:10] chenesan commented on #3029
Hi @jquense

I think we can have a `wrapLayoutUtil` hoc to handle all the utility className for internal use:

[code]

With this way, It's easy to map all the utility class onto all library components. Also it's less error prone than using className directly.

The con is that all the components will be wrapped with the util hoc class, which makes it a little verbose in the react developer tool.

A

[2018-03-18 15:53] VinodLouis commented on #1551
Keeping overlay container as  document.body and passing the magical param enforceFocus as enforceFocus={false} in Modal resolved my issue :)

[2018-03-18 16:41] jquense commented on #3029
Hey, thanks for writing this up. I think the HoC approach is good generally, but I'm not sure it's a good fit here. We aren't sure  yet if we _want_ to allow the built-in components to provide layout props like that. There are a bunch of potential issues that make that a bit challenging. The big one is that it adds a huge amount of prop surface area to many components, which may conflict with exis

[2018-03-18 17:47] zshnr commented on #3024
@jquense: Hey Jason, sorry for the slow progress on this issue but I am slowly making my way through it :) I had a couple of questions:

1. At some point I may need some guidance, would someone have capacity to help me in that case?
2. How do you feel about using class properties rather than setting state and binding functions in the constructor?

Thanks!

[2018-03-18 18:00] jquense commented on #3024
Yeah definitely, I recommend opening up a WIP (work in progress) pull request, as a start then it's easier to discuss specific bits of the code as well as provide a place to talk about it.

Yeah go for it, we are generally using them on new dev, sometimes you see them as the normal `.bind` because we haven't updated the code in a while

[2018-03-19 14:54] chenesan commented on #3029
Hmm, It's indeed a problem that HOC override lots of props in this way. Maybe we can try to wrap all the layout utitlity bool props to one single object prop like:

[code]

So we can write `<Button layoutUtil={{ dFlex: true }}></Button>`. It becomes a little longer, though.

And I think it's fine to make all library component support the Layout hoc. Yes it's strange to have a `display: flex` on a

[2018-03-19 15:20] jquense commented on #3029
The big reason we want a plan Layout component, is that it's useful generally. Think of it as something that can replace general usage  of `'div'` in an app using RB. That is a lot more annoying if I have to wrap all my components in an HOC to get that. The other thing a HoC provides is the ability to transform or introspect the props coming in below the the HOC, we don't really need that here sin

[2018-03-19 15:29] taion commented on #3029
Function children? :D

[2018-03-19 15:32] chenesan commented on #3029
Oh ok @jquense  I got what you want for the `Layout` component now 😁

So should I start to work on the normal `Layout` component or you have worked on it? I think we can simply start from wrapping all utility class into boolean prop?

[2018-03-19 16:07] jquense commented on #3029
I have not so go for it 👍

We can start there, but i'd like this to be more intentional and nicer than a simple mapping to the classes, but instead build a pleasant react-ish api over the classes. I'm totally sure waht the means practically, though something like `mr="1|2|3|auto"` is preferable to `mr3 mrAuto` etc

[2018-03-19 17:28] stuphys1729 commented on #155
Just in case anyone is looking at this later, it seems `OverlayTrigger` now only accepts set inputs for `trigger` and 'manual' isn't one of them. A workaround is to use null instead and still use the show/hide methods.

[2018-03-19 18:42] bootrino opened #3081 "Should Bootstrap 4 be a separate project?"
There are so many differences between Bootstrap 3 and 4, perhaps it should be a separate project.

I am anticipating that putting them both into this project is going to make things painful and complex to use.  Is this possibly right or an unfounded concern?

[2018-03-19 19:07] jquense commented on #3081
I don't think it's probably manageable to make the seperate projects. I mean we aren't planning on supporting both at the same time, but instead take teh same appraoch as bootstrap, bump a major version and that will be react-bootstrap, bootstrap v4 components  built for react. Past versions targeting v3 will still work and be as stable as they are now, but we won't be actively adding new stuff to

[2018-03-19 19:29] bootrino commented on #3081
Hmmm.

It's worth thinking about.

Bootstrap 4 is more for newer browsers and there's going to be a long term need for BS3.

It might get confusing to be sorting through V3 and V4 of this project.

Sounds like it might have been a good time for this project to fork itself and let the current project remain as the long term stable BS3 React implementation.

Even the fact that I am asking this quest

[2018-03-19 19:45] jquense commented on #3081
I'm not sure why we would do that if upstream bootstrap is not. It's going to be more maintainable longer term to match how they work vs trying to something different. Regardless of how much people will continue to use v3, upstream bootstrap is not updating that version at all anymore (and hasn't for months) I don't think there is a ton of value in trying to be more nimble in that regard than the

[2018-03-20 01:39] chenesan commented on #3029
I may send a PR for this in this week 😄

OK I'll try to group those class names into some meaningful props. I'm not sure what they will be and will be back if we need some discussion. Thanks for your guidance!

[2018-03-20 21:18] WinWinHost opened #3084 "MultiSelect keeps selected first or last element"
Hi,

I tried this with a raw select, and I got the same result.
So I am sure that this is not something isolated to react-bootstrap, but I didn't know where else to post my question.

Here is how I am generating it:

        <FormGroup controlId="formControlsSelectMultiple">
           <ControlLabel>Sensors</ControlLabel>
           <FormControl componentClass="select" multiple onChange={this.hand

[2018-03-20 21:55] dozoisch commented on #3084
Have you tried using `selected={true}` or `selected={false}` instead of string values. React probably passes the properties as is if they are string which means it's gets the selected attribute and HTML only check if that attribute is present or not..

[2018-03-20 21:55] #3084 closed

[2018-03-21 19:12] shivam-tripathi opened #3085 "Using react-bootstrap cdn gives `TypeError: Cannot read property 'version' of undefined`"
Using react-bootstrap CDN gives
`TypeError: Cannot read property 'version' of undefined
    at Object.eval
    at __webpack_require__
    at Object.exports.__esModule
    at __webpack_require__
    at Object.eval
    at __webpack_require__
    at Object.eval
    at __webpack_require__
    at module.exports
    at eval`
I am using [https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.32.1/react

[2018-03-21 23:57] nickmccurdy opened #3086 "Update Bootstrap 4 issue label"
I see the `bootstrap v4` label is currently only on two issues, even though there are many issues prefixed with `v4:` https://github.com/react-bootstrap/react-bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue+v4.

Please label these issues to make contribution easier and update the readme and site to point to this instead of https://github.com/react-bootstrap/react-bootstrap/pull/2752.

[2018-03-22 00:14] jquense commented on #3086
V4 issues are tagged to the v4 support project. Feel free to search by that. I'll love the label when I get a chance

[2018-03-22 00:35] nickmccurdy commented on #3086
Are you suggesting that issues added to the project should be labelled? Because it seems like there are some issues in the project that start with `v4:` but aren't labelled as such.

[2018-03-22 00:46] jquense commented on #3086
I'm saying that the project functions as the label in this case: https://github.com/react-bootstrap/react-bootstrap/issues?q=is%3Aopen+is%3Aissue+project%3Areact-bootstrap%2Freact-bootstrap%2F1

[2018-03-22 01:10] nickmccurdy commented on #3086
I see thanks, I didn't realize you could filter projects in issues! 😄

Could we remove the label to reduce confusion then? Since it's just a subset of this project.

[2018-03-22 02:02] #3086 closed

[2018-03-22 02:02] jquense commented on #3086
yup done

[2018-03-22 02:05] nickmccurdy commented on #3086
Thanks! I guess we could delete the label too right?

[2018-03-22 10:55] sag1v commented on #1482
shame that there is no way to globally prefix all classes (to avoid conflicts with other libraries for example).

[2018-03-23 01:30] iamnapo commented on #3049
You can close this now

[2018-03-23 01:30] iamnapo commented on #3048
You can close this now

[2018-03-23 01:53] iamnapo commented on #3048
You can close this now :smiley:

[2018-03-23 01:54] iamnapo commented on #3049
You can close this now :smiley:

[2018-03-23 04:00] #3048 closed

[2018-03-23 13:05] #3049 closed

[2018-03-23 19:09] #3030 closed

[2018-03-23 19:09] #3038 closed

[2018-03-23 19:09] #3053 closed

[2018-03-23 23:48] c0d3ster commented on #2758
I believe this issue should be reopened because as of right now, I can see no way to modify the value attribute of the <Radio> wrapper.  I don't see how this component can be useful without any way of propagating the value attribute down to the element for the click event handler.  Is there something I'm missing here?

[2018-03-24 00:10] chaseholdren commented on #320
Still confused by this in 2018.

[2018-03-24 00:12] jquense commented on #2758
What are you trying to do? There is no logic in this component it just forwards all props to the underlying input. you can `value` and that will be the value

[2018-03-24 00:17] c0d3ster commented on #2758
ahhh, my mistake. I'm not sure why it wasn't passing down the value initially, but it worked after rebuilding my project.

[2018-03-24 00:26] c0d3ster commented on #2758
One more question about the `<Radio>` component though.  Why do we need to rely on `{' '}` to provide spacing between the radio buttons?  It seems to me as though it would be cleaner to apply a class with margins as opposed to manually entering in this whitespace.  Thoughts?

[2018-03-24 00:57] jquense commented on #2758
We don't control the styles in react-bootstrap since it's just the upstream bootstrap css. What your seeing tho is sort of a quirk of JSX vs HTML, html the whitespace would almost always exist naturally via a line break but jsx it's all collapses, hence needing to add it manually.

[2018-03-24 01:13] c0d3ster commented on #2758
okay, that makes sense.  Thanks for the fast and clear responses by the way, love the communication on this repository.

[2018-03-24 01:54] jquense commented on #2758
we try!

[2018-03-24 02:41] #3081 closed

[2018-03-24 02:52] iamnapo commented on #3085
Hi there, that's because you need to include `react` and `react-dom`. Check [this](https://react-bootstrap.github.io/getting-started/introduction/).

[2018-03-24 02:52] iamnapo commented on #3085
Hi there, that's because you need to include `react` and `react-dom` as well. Check [this](https://react-bootstrap.github.io/getting-started/introduction/).

[2018-03-24 02:52] #3085 closed

[2018-03-24 17:56] shivam-tripathi commented on #3085
@iamnapo Sorry for not explaining the problem in full detail before (thought it wasn't necessary). I am trying to write a userscript where I am including all the relevant scripts, and I get the above error.
I just tested what you said in a html file and it works great. I am unsure how to do it with userscripts though 😞
By any chance, do you know how to do it with userscripts (I know it's a pretty

[2018-03-24 20:16] jquense commented on #3085
@shivam-tripathi you need to make sure that React and ReactDom are loaded first i think

[2018-03-25 05:49] chenesan commented on #3029
Have sent a [PR](https://github.com/react-bootstrap/react-bootstrap/pull/3089).

[2018-03-26 00:04] #3039 closed

[2018-03-26 00:36] #3036 closed

[2018-03-26 00:40] iamnapo commented on #3042
@jquense If you request a key from algolia, I can work on this

[2018-03-26 01:13] jquense commented on #3042
you bet 👍

[2018-03-26 01:38] she1991 commented on #2825
Are you still taking PRs here, would love to make it happen.

[2018-03-26 01:44] jquense commented on #2825
yup! please go for it 👍

[2018-03-26 05:59] xiaozhu123123123 opened #3092 "how the value of open in dropdown component is changed?I read in the source code, but I'm very confused。please help me"

[2018-03-26 07:31] kendaganio commented on #3092
Hi, please see the Issues section of [CONTRIBUTING.md](https://github.com/react-bootstrap/react-bootstrap/blob/master/CONTRIBUTING.md#issues)

[2018-03-26 07:34] #3092 closed

[2018-03-26 11:45] kendaganio commented on #3025
Hi @manishsaraan just checking in if you're still interested in this issue. I can pick this up if you're a bit busy. Thanks!

[2018-03-26 12:30] astronomersiva commented on #3015
Hi @manishsaraan , just wanted to know if you are still working on this. I would like to take this up if you are held up with something.

[2018-03-26 12:31] astronomersiva commented on #3066
Hi @highskillzz, just wanted to know if you are still working on this. I would like to take this up if you are held up with something.

[2018-03-26 12:48] highskillzz commented on #3066
I am working on it but it is my first open source so it's not getting done as fast as normal.

[2018-03-26 13:03] jquense commented on #3066
No worries @highskillzz , no rush. If it's helpful feel free to open up the pull request as as a WIP (work in progress) if you need feedback as you're doing it. Pull requests don't need to be "done" to open, since you can always make changes to it by pushing more updates to your branch

[2018-03-26 13:38] manishsaraan commented on #3015
@astronomersiva Thanks for asking. I am bit busy right now. You can take this issue :)

[2018-03-26 14:43] spentacular commented on #2532
I'm having the same problem. Our current dropdown structure looks like this:

[code]

I'm on `0.31.3`, but have tried upgrading to `0.32.1` and I'm getting the same thing.

The menu items in the DOM all have a `tabindex="-1"`

Ours functions the same way as @etedesco and it's only arrowing on the odd ones, not the even ones.

I've tried using the custom dropdown format and putting everything in ei

[2018-03-26 16:05] spentacular commented on #2532
I'm seeing that the next menu item is being moved to _then_ this is triggered:

https://github.com/react-bootstrap/react-bootstrap/blob/master/src/DropdownMenu.js#L48

So the active element is moving +1 before any of the internal next/previous has been calculated.

[2018-03-27 06:02] KararBarcha commented on #995
Bootstrap modal vertically centre align - CSS only

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

[2018-03-27 11:18] highskillzz commented on #3066
I made some changes and I am trying to run it but it shows me this error
![Uploading image.png…]()
I been stuck here unable to solve this. Can someone help

[2018-03-27 12:14] jquense commented on #3066
picture seems broken!

[2018-03-27 17:12] highskillzz commented on #3066
ohh sorry
![image](https://user-images.githubusercontent.com/20688709/37983131-25a0ec6c-3210-11e8-83d4-9b7a027126ac.png)

[2018-03-27 17:16] iamnapo commented on #3066
You need to use Node >= 8.3.0

[2018-03-27 17:46] jquense commented on #3066
yes, we should add that to the "engines" field

[2018-03-27 19:37] jktravis opened #3095 "Do I need to manually position custom overlays?"
Hi. I'm trying to create, what's in effect, something near identical to a `<OverlayTrigger/>` by using the `<Overlay/>` component as recommended in the docs. The only thing different I want is to be able to more finely control when it is shown, potentially by passing in some callbacks.

I can get the custom Overlay to open, but the positioning is all wrong.

[code]

And my target looks like this

[2018-03-28 03:48] astronomersiva commented on #3015
@jquense , I am not able to reproduce this in both the master and v4-support branch. However, the documentation at https://react-bootstrap.github.io/components/buttons/ has this. Can you please check once?

[2018-03-28 07:18] Kielan commented on #1700
why can't we just pass required ?

[2018-03-28 17:56] highskillzz commented on #3066
Thank you @iamnapo  and @jquense. It has compiled successfully

 But there is another another error popping up
![image](https://user-images.githubusercontent.com/20688709/38046153-7ff73c76-32dc-11e8-8a69-fb77e88fd5ee.png)

But i do not think that react is not defined could be an error as it has been compiling in your computers.

I looked around and it said fix webpack file or import react properly

[2018-03-28 21:07] jquense commented on #3066
I'm not sure maybe the docs are set up right? have you followed the instructions here: https://github.com/react-bootstrap/react-bootstrap#local-setup

[2018-03-28 23:13] zsayenko commented on #2808
Ran into the same issue, super inconvenient, since having a search bar in the header is a fairly common scenario.

There is a hacky workaround though.
It seems that <input> stops working when being nested inside <NavItem>.
One way is to simply use a simple <li> instead of <NavItem> and put your text field there, keeping the rest of the Navbar the same.
Something like:

<Nav>
        <NavItem class

[2018-03-28 23:16] jquense commented on #3042
this sort of done. We do need to eventually update it for the v4 docs once those are live

[2018-03-28 23:18] jquense commented on #3054
@tgfbikes you still working on this, or should we move it back to the pile, no rush, but wanted to check in

[2018-03-29 02:18] jjwallace commented on #2418
this doesnt work for me :(

[2018-03-29 02:52] tgfbikes commented on #3054
@jquense I am still planning on getting it done.  Sorry for the delay.  Life and stuff.  Would I be able to PM you some questions...actually just clarifications?  Thank you.

[2018-03-29 03:43] jquense commented on #3054
No worries, ya feel free to reach out as well with any questions

[2018-03-29 10:29] highskillzz commented on #3066
Yeah exactly as told
![image](https://user-images.githubusercontent.com/20688709/38084307-fea6725c-3369-11e8-9402-5c55fa8a5761.png)
Can you notice anything wronrg? I even updated the node

I will clone the repo and try again

[2018-03-29 10:35] iamnapo commented on #3066
maybe delete the two `yarn.lock` files and try again?

[2018-03-29 12:58] jquense commented on #3027
hey @alacroix just a friendly ping to see if you're still up for this. No problem either way, i want to know if someone else could work on it or if you're still planning on it 👍

[2018-03-29 12:59] #3021 closed

[2018-03-29 12:59] #3012 closed

[2018-03-29 14:31] #3033 closed

[2018-03-29 18:13] ammmze commented on #2135
I realize this is an old thread, but I was looking for this ability and this was the first thread on the issue. I did find some styles we could apply to make them stackable though...

I had to bump the react-bootstrap version a little bit. I left the react version as-is.
https://jsfiddle.net/v8fmfmjk/4/

So the styles are:
[code]

Though in my own scenario using a newer version of react, react-boo

[2018-03-29 19:20] iamnapo commented on #3042
what needs to be done to update it? You mean add it to (maybe changed) `NavMain` accordingly?

[2018-03-30 08:19] kendaganio commented on #3025
Hi @manishsaraan following up if you're still interested! 😺

[2018-03-30 12:36] jquense commented on #3025
@kendaganio I think it's safe for you to work on this if you'r interested.

[2018-03-30 13:12] kendaganio commented on #3025
Thanks @jquense, i'll take this one.

[2018-03-30 13:29] manishsaraan commented on #3025
Sorry for the late reply guys. I am little busy these days so @kendaganio you can work on it. :)

[2018-03-30 13:31] jquense commented on #3025
No problem.feel free to come one back if you get some time, plenty of other stuff to do

[2018-03-30 13:41] manishsaraan commented on #3025
Sure will do.

[2018-03-30 15:00] MidnightJava commented on #1643
The link is broken. Is there an explanation available elsewhere, or is this no longer supported? Lots of time searching, and I see may reporting this issue but no fix that works. I need to create a custom width for a Modal, and it seems to not be possible.

[2018-03-30 15:07] jquense commented on #1643
Save yourself a lot of time search next time and head directly to the documentation page for the component you are interested in ;) https://react-bootstrap.github.io/components/modal/#modal-custom-sizing

[2018-03-30 15:49] MidnightJava commented on #1643
Thanks. I actually have spent a lot of time on that page. Lots of helpful info there, but I cannot find a way to have the width css property respected. I tried a couple ways:

`<Modal dialogClassName='custom-dialog'...>`
with CSS: `.custom-dialog {width:80%; top:20%;}`

The top is offset as expected, but the width is still whatever bsSize is set to. I'm not successful at setting a width other than

[2018-03-30 16:03] rulyotano commented on #1643
@MidnightJava check by making `.custom-dialog {width:80% !important; top:20%;}`

[2018-03-30 16:19] MidnightJava commented on #1643
Yes, that works. Thanks. The width is relative to the viewport width in that case, so I had to set it lower than 80% to get it to 80% of the width of the underlying Modal. But I can get the effect I need with this override.

[2018-03-30 16:44] jquense commented on #1643
you're running into css cascade issues ,you can use `important` or a more specific selector to override the bootstrap styles

[2018-03-30 18:48] michaelcbl opened #3101 "Collapse was not found in react-bootstrap"
Hi,
I tried the example and React got an error saying that Collapse was not found. Thanks for your help.

Here's the error:
./src/App.js
168:96-104 "export 'default' (imported as 'Collapse') was not found in './bootstrap/Collapse'

Here's the code.
import React from "react";
import { Link } from "react-router-dom";
import { Button, Well } from "react-bootstrap";

import { Collapse } from "react-bo

[2018-03-30 19:00] #3101 closed

[2018-04-01 16:51] jsmiley208 opened #3102 "404 Not Found: react-boostrap@latest"
When I run `npm install --save react-boostrap` I get a 404 not found error. That is all it says to do in the installation guide.

Am I missing something?

[2018-04-01 17:03] jsmiley208 commented on #3102
`npm i react-bootstrap` worked for me

[2018-04-01 17:03] #3102 closed

[2018-04-02 17:38] dperetti commented on #2361
In my experience:
1. It's not unmounted.
2. `unmountOnExit` doesn't work on `Modal`.

[2018-04-02 19:22] dperetti commented on #2841
The issue is still there in 0.32.1.

[2018-04-02 22:48] RyanNerd commented on #1587
So this is "done" where are the docs for how to use this?

[2018-04-02 22:55] jquense commented on #1587
https://react-bootstrap.github.io/components/button-group/#btn-groups-checkbox-radio

[2018-04-03 00:52] jquense opened #3103 "v4: `Col` API discussion"
I wanted to quickly layout and discuss some options for the `Col` component api as we add v4 support. There are only a few things here, the `col-*` spans, `order-*` (flex order), and `offset-*` classes, each with a breakpoint option as well (`col-8`, `col-lg-8`, etc)

potential options:

### The current approach

[code]
**pros:** Nice and flat
**cons:** a bit hard to parse overall

### Breakpoint

[2018-04-03 16:20] melwynfurtado commented on #2763
I am facing the same problem and this looks to me like the transitive dependency issue. `react-transition-group` hoisted/installed at top level of `node_modules` is different/lower to what `react-bootstrap` expects. Check the versions of `react-transition-group` under `node_modules` of your project and the one installed under `node_modules/react-transition-group/node_modules/...`. they should be d

[2018-04-04 07:42] aelex91 commented on #2239
@bill-dubay where do I write this <ReactBootstrap.FormControl componentClass="textarea" rows={4} />?

I basically have a textarea like this:
<textarea value={this.state.message} rows='8' cols='50' name='message' placeholder='message' onChange={this.handleChange} />

I thought the "rows" and cols" would work fine?

[2018-04-04 08:15] JonyTek opened #3104 "[Question] V4 release date"
Hi guys,

I wanted to ask about the expected release date for the move up to V4 of Bootstrap.

Thanks in advance.

[2018-04-04 15:14] xiaolin99 opened #3105 "Events fired inside a Modal get hijacked by parent"
Version: react@16.3.0, react-bootstrap@0.32.1

Symptom: Let's say I have a Dropdown MenuItem that pops up a Modal, the events fired inside the Modal will propagate to the parent (the Dropdown in this case and cause unintended behaviors such space key does not work inside the input):
[code]

I'm guessing this is caused by the new Portal API, but apparently React does not think this is a bug: https:

[2018-04-04 15:30] jquense commented on #3105
I do think we should probably provide a workaround for this in the Modal case, since it's almost never the intended behavior. The general problem with a workaround tho is the "React Way" to implement it would be a ModalProvider component at or near the root of the app, which i don't love.

[2018-04-04 16:03] taion commented on #3105
Meh. I don't suppose React would consider adding some sort of extension to the portal API that would kill event bubbling?

[2018-04-04 16:05] taion commented on #3104
Take a look at https://github.com/react-bootstrap/react-bootstrap/pull/2752#issuecomment-378223315

We don't have an exact date set, but you can keep tabs on the progress fairly easily.

[2018-04-04 16:08] JonyTek commented on #3104
Appreciate the response. I look forward to it.

[2018-04-04 16:08] #3104 closed

[2018-04-04 16:09] jquense commented on #3105
probably not soon. There is a lot of discussion around it tho, but very little movement.

[2018-04-04 19:55] #3023 closed

[2018-04-04 19:55] #3037 closed

[2018-04-04 19:55] #3040 closed

[2018-04-04 19:55] #3051 closed

[2018-04-05 07:54] alacroix commented on #3027
Hey @jquense, sorry for the delay. I just changed job so I won't have free time to work on this, sorry 😕

@kendaganio it's all yours.

[2018-04-05 21:42] jquense opened #3111 "rename `componentClass` -> `as`"
[Semantic UI](https://react.semantic-ui.com/views/card) does this and I think it's super nice, short and intuitive 👍

[2018-04-06 01:14] taion commented on #3103
This will break pure-render style optimizations, though, no?

[2018-04-06 01:45] jquense commented on #3103
Yes, but we aren't doing pure render here anyway? It's easy enough to hoist the prop values tho

[2018-04-06 07:09] maaz93 commented on #3041
@jquense I've started looking at this. Is the docs site broken in the v4-support branch? I get this error after doing `yarn run bootstrap` and then `yarn start` from the project root.

    at Basic.js:10
    at Array.map (<anonymous>)
    at Object.C:\Users\i317212\oss\react-bootstrap\www\node_modules\babel-loader\lib\index.js??ref--0-0!C:\Users\i317212\oss\react-bootstrap\www\src\examples\Alert\B

[2018-04-06 10:46] jquense commented on #3041
It shouldn't be maybe try removing node_modules in the root and in www and reinstalling

[2018-04-06 12:57] jquense commented on #3041
its totally a windows path, issue. Sorry fix incoming

[2018-04-06 13:52] maaz93 commented on #3041
I can confirm it's working after your fix. Thank you so much! 🎉 It really means a lot when OSS maintainers support cross OS dev environments.

[2018-04-06 19:58] dperetti opened #3114 "Reloaded: React 16 – Modal.Body input refs no longer usable from componentDidUpdate() in parent"
The [original issue](https://github.com/react-bootstrap/react-bootstrap/issues/2841) was closed when it was [moved](https://github.com/react-bootstrap/react-overlays/issues/224) to and [fixed](https://github.com/react-bootstrap/react-overlays/pull/229) in `react-overlays` `0.8.3` but the fix has not been incorporated back into react-bootstrap, which is still using [0.8.0](https://github.com/react-

[2018-04-06 21:03] taion commented on #3114
The dependency isn't pinned; you can just reinstall.

[2018-04-06 21:03] #3114 closed

[2018-04-06 21:13] jquense commented on #3114
we should prolly bump it tho

[2018-04-06 22:56] dperetti commented on #3114
OK, re-installed react-bootstrap with react-overlays 0.8.3... and alas **the issue is not fixed**. Please re-open !

[2018-04-07 05:29] maaz93 commented on #3041
I was wondering how I could get a quick start on clean up and figure out what is really unused. I stumbled upon the [Chrome coverage](https://developers.google.com/web/updates/2017/04/devtools-release-notes#coverage) feature. The cool part about this is it tracks coverage even when you're interacting with the site. I basically ran this coverage and went through the entire RB site thrice (for diffe

[2018-04-07 07:01] maaz93 commented on #3041
@jquense I had a few queries

1. What are the differences between `docs.css` and `styles.less`? Is it like `docs.css` is a Bootstrap docs copy with some modifications and `styles.less` is meant to override stuff in `docs.css`?
1. And `examples.less` is another file which has a few styles related to the examples only?

[2018-04-07 08:48] astronomersiva commented on #2994
@jquense, shall I start working on this?

[2018-04-07 16:22] BellaMay95 opened #3116 "Modals not scrolling"
By default, the 'overflow' property is set to "hidden" on the outside div created by Modal.Dialog, which prevents scrolling of the Modal when the modal overflows the screen. Using the tab key brings into focus the hidden fields but that's obviously not a real solution.

I fixed the scrolling in my code by adding `style={{ overflow: 'auto' }}` to the Modal.Dialog tag in my component as a temporary

[2018-04-09 11:32] cedricwalter opened #3117 "bootstrap"

[2018-04-09 12:18] #3117 closed

[2018-04-09 15:34] taion commented on #3116
See https://react-bootstrap.github.io/components/modal/#modals-live. Works fine on our examples.

[2018-04-09 15:34] #3116 closed

[2018-04-09 17:03] bradwayne commented on #1587
I have a survey question with choices a, b, c, d or e. They can select a though d but e will override other selections. How do I combine checkbox and radio buttons . The catch is that I need to do it in React.

[2018-04-10 20:32] AndersDJohnson opened #3118 "docs: html entities not rendered in code blocks"
https://react-bootstrap.github.io/layout/grid/

![screen shot 2018-04-10 at 3 31 57 pm](https://user-images.githubusercontent.com/615381/38582098-53ceefac-3cd4-11e8-8b2e-bdde96c83d40.png)

[2018-04-11 06:35] vivex commented on #2605
I got this error when i was using react version `15.1.0` upgrading to `15.6.0` solved this for me.

[2018-04-11 07:20] vivex opened #3119 "Option to pass name in FormControl fields"
There should be some way to pass input name property to FormControl fields, it will help in autocomplete.